<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="OrganizationSearchResultsLV">
    <Require
      name="Organizations"
      type="gw.api.database.IQueryBeanResult&lt;Organization&gt;"/>
    <RowIterator
      editable="false"
      elementName="Organization"
      pickValue="Organization"
      value="Organizations"
      valueType="gw.api.database.IQueryBeanResult&lt;entity.Organization&gt;">
      <Row>
        <TextCell
          id="Name"
          label="DisplayKey.get(&quot;Web.Admin.OrganizationSearch.Name&quot;)"
          sortOrder="1"
          value="Organization.Name"/>
        <TypeKeyCell
          id="Type"
          label="DisplayKey.get(&quot;Web.Admin.OrganizationSearch.Type&quot;)"
          value="Organization.Type"
          valueType="typekey.BusinessType"/>
        <TextCell
          id="ContactName"
          label="DisplayKey.get(&quot;Web.Admin.OrganizationSearch.ContactName&quot;)"
          value="Organization.Contact.Name"/>
        <TextCell
          id="ContactCity"
          label="DisplayKey.get(&quot;Web.Admin.OrganizationSearch.ContactCity&quot;)"
          value="Organization.Contact.PrimaryAddress.City"/>
        <TypeKeyCell
          id="ContactState"
          label="DisplayKey.get(&quot;Web.Admin.OrganizationSearch.ContactState&quot;)"
          value="Organization.Contact.PrimaryAddress.State"
          valueType="typekey.State"/>
        <TextCell
          id="ContactPostal"
          label="DisplayKey.get(&quot;Web.Admin.OrganizationSearch.ContactPostal&quot;)"
          value="Organization.Contact.PrimaryAddress.PostalCode"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>