<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="FixPropContentItemDetailsDV">
    <Require
      name="AssessmentContentItem"
      type="AssessmentContentItem"/>
    <InputColumn>
      <Label
        label="DisplayKey.get(&quot;NVV.Incident.FixedProperty.ContentItem.Summary&quot;)"/>
      <TypeKeyInput
        editable="true"
        id="Schedule"
        label="DisplayKey.get(&quot;NVV.Incident.FixedProperty.ContentItem.PropertySchedule&quot;)"
        value="AssessmentContentItem.ContentSchedule"
        valueType="typekey.ContentLineItemSchedule"/>
      <TypeKeyInput
        editable="true"
        id="Category"
        label="DisplayKey.get(&quot;NVV.Incident.FixedProperty.ContentItem.Category&quot;)"
        value="AssessmentContentItem.ContentCategory"
        valueType="typekey.ContentLineItemCategory"/>
      <TextInput
        editable="true"
        id="NumberOfItems"
        label="DisplayKey.get(&quot;NVV.Incident.FixedProperty.ContentItem.NumberOfItems&quot;)"
        value="AssessmentContentItem.NumberOfItems"
        valueType="java.lang.Integer"/>
      <TextInput
        editable="true"
        id="Brand"
        label="DisplayKey.get(&quot;NVV.Incident.FixedProperty.ContentItem.Brand&quot;)"
        value="AssessmentContentItem.Brand"/>
      <TextInput
        editable="true"
        id="Description"
        label="DisplayKey.get(&quot;NVV.Incident.FixedProperty.ContentItem.Description&quot;)"
        required="true"
        value="AssessmentContentItem.Description"/>
      <DateInput
        editable="true"
        id="DateAcquired"
        label="DisplayKey.get(&quot;NVV.Incident.FixedProperty.ContentItem.DateAcquired&quot;)"
        value="AssessmentContentItem.DateAcquired"/>
      <TypeKeyInput
        editable="true"
        id="Action"
        label="DisplayKey.get(&quot;NVV.Incident.FixedProperty.ContentItem.Action&quot;)"
        value="AssessmentContentItem.Action"
        valueType="typekey.AssessmentContentAction"/>
      <RangeInput
        editable="true"
        id="AssessmentSource"
        label="DisplayKey.get(&quot;NVV.Incident.FixedProperty.ContentItem.RelatedSource&quot;)"
        value="AssessmentContentItem.AssessmentSource"
        valueRange="AssessmentContentItem.Incident.SourceLine"
        valueType="entity.AssessmentSource"/>
      <DateInput
        id="CreateTime"
        label="DisplayKey.get(&quot;NVV.Incident.FixedProperty.ContentItem.CreateTime&quot;)"
        value="AssessmentContentItem.CreateTime"/>
      <TextInput
        editable="true"
        id="Comment"
        label="DisplayKey.get(&quot;NVV.Incident.FixedProperty.ContentItem.ItemComment&quot;)"
        value="AssessmentContentItem.ItemComment"/>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;NVV.Incident.FixedProperty.ContentItem.Financials&quot;)"/>
      <CurrencyInput
        editable="true"
        formatType="currency"
        id="PurchaseCost"
        label="DisplayKey.get(&quot;NVV.Incident.FixedProperty.ContentItem.PurchaseCost&quot;)"
        value="AssessmentContentItem.PurchaseCost">
        <PostOnChange/>
      </CurrencyInput>
      <CurrencyInput
        editable="true"
        formatType="currency"
        id="Depreciation"
        label="DisplayKey.get(&quot;NVV.Incident.FixedProperty.ContentItem.Depreciation&quot;)"
        value="AssessmentContentItem.Depreciation">
        <PostOnChange/>
      </CurrencyInput>
      <CurrencyInput
        editable="true"
        formatType="currency"
        id="Salvage"
        label="DisplayKey.get(&quot;NVV.Incident.FixedProperty.ContentItem.Salvage&quot;)"
        value="AssessmentContentItem.Salvage">
        <PostOnChange/>
      </CurrencyInput>
      <CurrencyInput
        boldLabel="true"
        formatType="currency"
        id="ItemValue"
        label="DisplayKey.get(&quot;NVV.Incident.FixedProperty.ContentItem.ItemValue&quot;)"
        required="false"
        value="AssessmentContentItem.contentItemValue()"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>