<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <ListViewPanel
    id="EditableRecoveryReservesLV">
    <ExposeIterator
      flags="Removeable"
      valueType="entity.TransactionEditWrapper"
      widget="EditableRecoveryReservesLV"/>
    <Require
      name="WizardHelper"
      type="gw.api.financials.RecoveryReserveWizardHelper"/>
    <RowIterator
      checkBoxVisible="WizardHelper.isTransactionFullyEditable(RecoveryReserveWrapper.Transaction)"
      editable="true"
      elementName="RecoveryReserveWrapper"
      pageSize="5"
      toCreateAndAdd="WizardHelper.addNewTransactionWrapper()"
      toRemove="WizardHelper.removeTransaction(RecoveryReserveWrapper)"
      value="WizardHelper.TransactionWrappers"
      valueType="entity.TransactionEditWrapper[]">
      <Variable
        initialValue="RecoveryReserveWrapper.Transaction.Exposure.DisplayName"
        name="valueVariable"
        type="String"/>
      <ToolbarFlag
        condition="WizardHelper.isTransactionFullyEditable(RecoveryReserveWrapper.Transaction)"
        name="Removeable"/>
      <Row>
        <TextCell
          editable="WizardHelper.isTransactionFullyEditable(RecoveryReserveWrapper.Transaction)"
          footerLabel="WizardHelper.ReservingCurrenciesMatch ? DisplayKey.get(&quot;LV.Financials.Total&quot;) : null"
          hideIfEditable="true"
          id="Exposure_Readonly"
          label="DisplayKey.get(&quot;LV.Financials.RecoveryReserveSet.Exposure&quot;)"
          outputConversion="VALUE == null ? DisplayKey.get(&quot;Web.Financials.Exposure.ClaimLevel&quot;) : VALUE"
          required="false"
          sortOrder="1"
          value="valueVariable"
          wrapLabel="true"/>
        <RangeCell
          editable="WizardHelper.isTransactionFullyEditable(RecoveryReserveWrapper.Transaction)"
          footerLabel="WizardHelper.ReservingCurrenciesMatch ? DisplayKey.get(&quot;LV.Financials.Total&quot;) : null"
          hideIfReadOnly="true"
          id="Exposure"
          label="DisplayKey.get(&quot;LV.Financials.RecoveryReserveSet.Exposure&quot;)"
          noneSelectedLabel="DisplayKey.get(&quot;Web.Financials.Exposure.ClaimLevel&quot;)"
          optionLabel="VALUE.DisplayName"
          required="false"
          sortOrder="1"
          sortValueRange="false"
          value="RecoveryReserveWrapper.Transaction.Exposure"
          valueRange="WizardHelper.getValidExposures(RecoveryReserveWrapper.Transaction)"
          valueType="entity.Exposure">
          <PostOnChange
            onChange="WizardHelper.updateWrapperOnChangePost(RecoveryReserveWrapper)"/>
        </RangeCell>
        <TypeKeyCell
          id="Coverage"
          label="DisplayKey.get(&quot;LV.Financials.RecoveryReserveSet.Coverage&quot;)"
          sortOrder="2"
          value="RecoveryReserveWrapper.Transaction.Exposure.PrimaryCoverage"
          valueType="typekey.CoverageType"/>
        <RangeCell
          editable="WizardHelper.isTransactionFullyEditable(RecoveryReserveWrapper.Transaction)"
          id="CostType"
          label="DisplayKey.get(&quot;LV.Financials.RecoveryReserveSet.CostType&quot;)"
          required="true"
          sortOrder="3"
          value="RecoveryReserveWrapper.Transaction.CostType"
          valueRange="WizardHelper.getValidCostTypes(RecoveryReserveWrapper.Transaction)"
          valueType="typekey.CostType">
          <PostOnChange
            onChange="WizardHelper.updateWrapperOnChangePost(RecoveryReserveWrapper)"/>
        </RangeCell>
        <RangeCell
          editable="WizardHelper.isTransactionFullyEditable(RecoveryReserveWrapper.Transaction)"
          id="CostCategory"
          label="DisplayKey.get(&quot;LV.Financials.RecoveryReserveSet.CostCategory&quot;)"
          required="true"
          sortDirection="descending"
          sortOrder="4"
          value="RecoveryReserveWrapper.Transaction.CostCategory"
          valueRange="WizardHelper.getValidCostCategories(RecoveryReserveWrapper.Transaction)"
          valueType="typekey.CostCategory">
          <PostOnChange
            onChange="WizardHelper.updateWrapperOnChangePost(RecoveryReserveWrapper)"/>
        </RangeCell>
        <RangeCell
          editable="WizardHelper.isTransactionFullyEditable(RecoveryReserveWrapper.Transaction)"
          id="RecoveryCategory"
          label="DisplayKey.get(&quot;NVV.Financials.SubView.EditRecoveryReserve.Transaction.RecoveryCategory&quot;)"
          required="true"
          value="(RecoveryReserveWrapper.Transaction as RecoveryReserve).RecoveryCategory"
          valueRange="WizardHelper.getValidRecoveryCategories(RecoveryReserveWrapper.Transaction)"
          valueType="typekey.RecoveryCategory"
          wrapLabel="true">
          <PostOnChange
            onChange="WizardHelper.updateWrapperOnChangePost(RecoveryReserveWrapper)"/>
        </RangeCell>
        <RangeCell
          editable="WizardHelper.isTransactionFullyEditable(RecoveryReserveWrapper.Transaction)"
          id="ReservingCurrency"
          label="DisplayKey.get(&quot;LV.Financials.RecoveryReserveSet.ReservingCurrency&quot;)"
          required="true"
          sortDirection="descending"
          sortOrder="5"
          value="RecoveryReserveWrapper.Transaction.ReservingCurrency"
          valueRange="WizardHelper.getValidReservingCurrencies(RecoveryReserveWrapper.Transaction)"
          valueType="typekey.Currency"
          visible="gw.util.CCConfigUtil.AllowExplicitReservingCurrency">
          <PostOnChange
            onChange="WizardHelper.updateWrapperOnChangePost(RecoveryReserveWrapper)"/>
        </RangeCell>
        <CurrencyCell
          enableSort="false"
          formatType="currency"
          id="OpenRecoveryReserves"
          label="DisplayKey.get(&quot;LV.Financials.RecoveryReserveSet.OpenRecoveryReserves&quot;)"
          value="WizardHelper.getOpenRecoveryReservesReservingAmount(RecoveryReserveWrapper.Transaction)"
          valueType="gw.api.financials.IMoney"
          wrapLabel="true">
          <ColumnFooter>
            <TextCell
              formatType="currency"
              id="OpenRecoveryReservesSum"
              value="WizardHelper.OpenRecoveryReservesSum"
              valueType="gw.api.financials.IMoney"/>
          </ColumnFooter>
        </CurrencyCell>
        <CurrencyCell
          editable="true"
          enableSort="false"
          footerSumValue="RecoveryReserveWrapper.NewAmountInReservingCurrency"
          formatType="currency"
          id="NewOpenRecoveryReserves"
          label="DisplayKey.get(&quot;LV.Financials.RecoveryReserveSet.NewOpenRecoveryReserves&quot;)"
          numCols="12"
          required="true"
          value="RecoveryReserveWrapper.NewAmountInReservingCurrency"
          valueType="gw.api.financials.IMutableMoney"
          wrapLabel="true">
          <PostOnChange
            target="DATA_ONLY"/>
        </CurrencyCell>
        <BooleanRadioCell
          action="NewRecoveryReserveMultiCurrencyPopup.push(WizardHelper, RecoveryReserveWrapper)"
          available="RecoveryReserveWrapper.Transaction.ReservingCurrency == RecoveryReserveWrapper.Transaction.Claim.Currency"
          icon="&quot;calculator.png&quot;"
          iconLabel="gw.util.CCConfigUtil.AllowExplicitReservingCurrency ? DisplayKey.get(&quot;LV.Financials.RecoveryReserveSet.RecoveryReserves.MultiCurrency.ToolTipWhenExplicitReservingCurrencyEnabled&quot;) : DisplayKey.get(&quot;LV.Financials.RecoveryReserveSet.RecoveryReserves.MultiCurrency.ToolTip&quot;)"
          id="MultiCurrencyPopup_link"
          showHeaderIcon="false"
          value="true"
          valueType="boolean"
          visible="gw.api.util.CurrencyUtil.isMultiCurrencyMode()"/>
        <CurrencyCell
          enableSort="false"
          footerSumValue="WizardHelper.getChangeReservingAmount(RecoveryReserveWrapper)"
          formatType="currency"
          id="ChangeAmount"
          label="DisplayKey.get(&quot;LV.Financials.RecoveryReserveSet.ChangeAmount&quot;)"
          value="WizardHelper.getChangeReservingAmount(RecoveryReserveWrapper)"
          valueType="gw.api.financials.IMoney"/>
        <TextCell
          editable="true"
          enableSort="false"
          id="Comments"
          label="DisplayKey.get(&quot;NVV.Financials.SubView.EditRecoveryReserve.Transaction.Comments&quot;)"
          value="RecoveryReserveWrapper.Transaction.Comments"
          wrapLabel="true"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>