<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Page
    canEdit="false"
    canVisit="perm.Incident.view(fixedPropertyIncident)"
    id="FixedPropertyIncidentDetailPrint"
    parent="ClaimLossDetails(fixedPropertyIncident.Claim)"
    title="DisplayKey.get(&quot;Web.EditFixedPropertyIncident.Title&quot;)">
    <LocationEntryPoint
      signature="FixedPropertyIncidentDetailPrint(fixedPropertyIncident : FixedPropertyIncident)"/>
    <Variable
      name="fixedPropertyIncident"
      type="FixedPropertyIncident"/>
    <Screen
      id="FixedPropertyIncidentDetailScreen">
      <Toolbar/>
      <PanelRef
        def="FixPropIncidentDetailDV(fixedPropertyIncident, new java.util.HashSet&lt;ServiceRequest&gt;())"/>
    </Screen>
  </Page>
</PCF>