<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Page
    canEdit="false"
    canVisit="true"
    id="TripRUPrint"
    parent="ClaimPrintout(aClaim)"
    title="DisplayKey.get(&quot;Web.ClaimPolicy.Trips.TripPopup&quot;)">
    <LocationEntryPoint
      signature="TripRUPrint(aClaim : Claim, aTripRUParam : TripRU)"/>
    <Variable
      name="aClaim"
      type="Claim"/>
    <Variable
      initialValue="aTripRUParam"
      name="aTripRU"
      type="TripRU"/>
    <Variable
      name="aTripRUParam"
      type="TripRU"/>
    <ScreenRef
      def="TripRUScreen(aClaim, false, aTripRU, aTripRUParam)"/>
  </Page>
</PCF>