<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canVisit="perm.Claim.own and perm.System.viewdesktop and ClaimVacationView.finder.areOpenVacationClaims()"
    id="VacationClaims"
    title="DisplayKey.get(&quot;Web.Vacation.Claims&quot;)">
    <LocationEntryPoint
      signature="VacationClaims()"/>
    <Variable
      initialValue="ClaimVacationView.finder.findVacationClaims() as gw.api.database.IQueryBeanResult&lt;ClaimVacationView&gt;"
      name="ClaimVacationViewList"
      recalculateOnRefresh="true"
      type="gw.api.database.IQueryBeanResult&lt;ClaimVacationView&gt;"/>
    <Variable
      initialValue="&quot;VacationClaimsLV&quot;"
      name="PrintTargetLV"
      type="java.lang.String"/>
    <Screen
      id="VacationClaimsScreen">
      <TitleBar
        appendListViewPaging="true"
        title="DisplayKey.get(&quot;Web.Vacation.Claims&quot;)"/>
      <Toolbar>
        <CheckedValuesToolbarButton
          allCheckedRowsAction="AssignClaimsPopup.push(new gw.api.claim.ClaimAssignmentPopup(CheckedValues))"
          default="true"
          flags="any ClaimVacationView"
          id="VacationClaims_Assign"
          iterator="VacationClaimsLV.VacationClaimsLV"
          label="DisplayKey.get(&quot;Web.DesktopClaims.Assign&quot;)"
          shortcut="G"/>
        <ToolbarDivider/>
        <ToolbarDivider/>
        <ToolbarDivider/>
        <ToolbarButton
          action="gw.api.print.ListViewPrintOptionPopupAction.printListViewWithOptions(PrintTargetLV)"
          available="perm.User.printlistviews"
          id="VacationClaims_Print"
          label="DisplayKey.get(&quot;Java.ListView.Print&quot;)"
          shortcut="N"/>
      </Toolbar>
      <PanelRef
        def="VacationClaimsLV(ClaimVacationViewList)"/>
    </Screen>
  </Page>
</PCF>