<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <PanelSet
    id="CatastropheHeatMapFilterPanelSet">
    <Require
      name="criteria"
      type="gw.api.heatmap.CatastropheSearchCriteria"/>
    <Require
      name="allowCatastropheSelection"
      type="boolean"/>
    <PanelRef>
      <DetailViewPanel
        columnDivider="false">
        <InputColumn>
          <RangeInput
            editable="allowCatastropheSelection"
            id="catastrophe"
            label="DisplayKey.get(&quot;JSP.ClaimSearch.Search.ClaimSearch.Catastrophe.Catastrophe&quot;)"
            noneSelectedLabel="DisplayKey.get(&quot;JSP.ClaimSearch.Search.ClaimSearch.Catastrophe.PleaseChooseCatastrophe&quot;)"
            required="false"
            value="criteria.SelectedCatastrophe"
            valueRange="gw.api.database.Query.make(entity.Catastrophe).compare(&quot;Active&quot;, Equals, Boolean.TRUE).select()"
            valueType="entity.Catastrophe">
            <PostOnChange/>
          </RangeInput>
        </InputColumn>
        <InputColumn>
          <RangeInput
            editable="true"
            id="ImageToDisplay"
            label="DisplayKey.get(&quot;JSP.ClaimSearch.Search.ClaimSearch.Catastrophe.MapView&quot;)"
            noneSelectedLabel="return DisplayKey.get(&quot;JSP.ClaimSearch.Search.ClaimSearch.Catastrophe.Claims&quot;)"
            optionLabel="VALUE.FilterOptionLabel"
            value="criteria.HeatMap.MapViewDropdown"
            valueRange="criteria.HeatMap.MapViews.AvailableViews"
            valueType="gw.api.heatmap.CatastropheHeatMapViews.CatastropheHeatMapView">
            <PostOnChange/>
          </RangeInput>
        </InputColumn>
      </DetailViewPanel>
    </PanelRef>
    <PanelRef>
      <DetailViewPanel
        columnDivider="false">
        <InputColumn>
          <RangeInput
            editable="true"
            id="ClaimStatus"
            label="DisplayKey.get(&quot;JSP.ClaimSearch.Claims.ClaimStatus&quot;)"
            required="false"
            value="criteria.HeatMap.ClaimState"
            valueRange="gw.api.claim.ClaimUtil.getAvailableClaimStates()"
            valueType="typekey.ClaimState"
            visible="criteria.HeatMap.hasClaims()">
            <PostOnChange/>
          </RangeInput>
        </InputColumn>
        <InputColumn>
          <RangeInput
            editable="true"
            id="ReportedDate"
            label="DisplayKey.get(&quot;JSP.ClaimSearch.Search.ClaimSearch.Catastrophe.ReportedDate&quot;)"
            required="false"
            value="criteria.HeatMap.ReportedDateRange"
            valueRange="criteria.dateFilterChoices()"
            valueType="typekey.DateRangeChoiceType"
            visible="criteria.HeatMap.hasClaims()">
            <PostOnChange/>
          </RangeInput>
        </InputColumn>
        <InputColumn>
          <GroupInput
            editable="true"
            id="AssignedToGroup"
            label="DisplayKey.get(&quot;JSP.ClaimSearch.Claims.AssignedToGroup&quot;)"
            required="false"
            value="criteria.HeatMap.AssignedToGroup"
            valueRange="criteria.groupFilterChoices()"
            valueType="java.lang.Object"
            visible="criteria.HeatMap.hasClaims()">
            <PostOnChange/>
          </GroupInput>
        </InputColumn>
        <InputColumn>
          <RangeInput
            editable="true"
            id="PolicyLocationFilter"
            label="DisplayKey.get(&quot;JSP.ClaimSearch.Search.ClaimSearch.Catastrophe.PolicyLocationsFilter&quot;)"
            noneSelectedLabel="DisplayKey.get(&quot;JSP.ClaimSearch.Search.ClaimSearch.Catastrophe.PolicyLocationsAll&quot;)"
            value="criteria.HeatMap.PolicyLocations"
            valueRange="criteria.policyLocationFilterChoices()"
            valueType="gw.api.heatmap.CatastropheSearchCriteria.PolicyGroupFilter"
            visible="criteria.HeatMap.hasPolicyLocations()">
            <PostOnChange/>
          </RangeInput>
        </InputColumn>
      </DetailViewPanel>
    </PanelRef>
  </PanelSet>
</PCF>