<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <!-- The next area controls the Claim Search -->
  <DetailViewPanel
    id="ClaimSearchDV">
    <Require
      name="ClaimSearchCriteria"
      type="ClaimSearchCriteria"/>
    <Require
      name="archiveSearchEnabled"
      type="boolean"/>
    <InputHeaderSection>
      <RangeInput
        editable="true"
        id="ClaimSearchType"
        label="DisplayKey.get(&quot;JSP.ClaimSearch.Claims.Source&quot;)"
        required="true"
        value="ClaimSearchCriteria.ClaimSearchType"
        valueRange="gw.api.claim.ClaimUtil.getAvailableClaimSearchTypes()"
        valueType="typekey.ClaimSearchType"
        visible="archiveSearchEnabled">
        <PostOnChange
          onChange="gw.api.util.SearchUtil.resetResultOnly()"/>
      </RangeInput>
    </InputHeaderSection>
    <InputColumn
      width="500">
      <InputSetRef
        def="ClaimSearchRequiredInputSet(ClaimSearchCriteria)"/>
    </InputColumn>
    <InputColumn>
      <InputSetRef
        def="ClaimSearchOptionalInputSet(ClaimSearchCriteria)"/>
    </InputColumn>
    <InputFooterSection>
      <InputSetRef
        def="ClaimSearchAndResetInputSet()"/>
    </InputFooterSection>
  </DetailViewPanel>
</PCF>