<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="ClaimSearchResultsLV"
    mode="archived">
    <Require
      name="claimSearchResults"
      type="gw.api.search.ClaimSearchResults"/>
    <ExposeIterator
      flags="RetrievableClaim"
      valueType="gw.cc.claim.ArchivedClaimCompatible"
      widget="ClaimSearchResultsIterator"/>
    <Variable
      initialValue="claimSearchResults == null ? null : claimSearchResults.getArchivedClaimSearchResults() as gw.api.database.IQueryBeanResult&lt;ClaimInfoSearchView&gt;"
      name="ClaimInfoSearchViewList"
      recalculateOnRefresh="true"
      type="gw.api.database.IQueryBeanResult&lt;ClaimInfoSearchView&gt;"/>
    <RowIterator
      editable="false"
      elementName="ClaimInfoSearchView"
      hasCheckBoxes="true"
      id="ClaimSearchResultsIterator"
      pickValue="ClaimInfoSearchView"
      value="ClaimInfoSearchViewList"
      valueType="gw.api.database.IQueryBeanResult&lt;entity.ClaimInfoSearchView&gt;">
      <Variable
        initialValue="ClaimInfoSearchView.getClaimantNames()"
        name="claimantList"
        type="String[]"/>
      <ToolbarFlag
        condition="ClaimInfoSearchView.canRestore()"
        name="RetrievableClaim"/>
      <Row
        useArchivedStyle="ClaimInfoSearchView.isArchived()">
        <TextCell
          action="SimpleClaimForward.go(ClaimInfoSearchView.ClaimInfo)"
          id="ClaimNumber"
          label="DisplayKey.get(&quot;LV.Claim.ClaimSearchResults.Claims.ID&quot;)"
          printWidth="0.12"
          sortOrder="2"
          value="ClaimInfoSearchView.ClaimNumber"/>
        <TextCell
          enableSort="false"
          id="Insured"
          label="DisplayKey.get(&quot;LV.Claim.ClaimSearchResults.Claims.Insured&quot;)"
          printWidth="0.14"
          value="ClaimInfoSearchView.Insured"
          valueType="entity.ContactInfoView"/>
        <TextCell
          id="PolicyID"
          label="DisplayKey.get(&quot;LV.Claim.ClaimSearchResults.Claims.PolicyID&quot;)"
          printWidth="0"
          value="ClaimInfoSearchView.PolicyNumber"/>
        <LinkCell
          id="Claimant"
          label="DisplayKey.get(&quot;LV.Claim.ClaimSearchResults.Claims.Claimant&quot;)"
          printWidth="0.14">
          <LinkIterator
            elementName="claimantName"
            id="ClaimantInfoName"
            value="claimantList"
            valueType="java.lang.String[]">
            <Link
              id="Claimant"
              label="claimantName"/>
            <Link
              id="ClaimantSeperator"
              label="DisplayKey.get(&quot;Web.Claim.Claimant.Seperator&quot;)"
              visible="claimantList.length &gt; 1 and claimantName != claimantList[claimantList.length - 1]"/>
          </LinkIterator>
        </LinkCell>
        <DateCell
          id="LossDate"
          label="DisplayKey.get(&quot;LV.Claim.ClaimSearchResults.Claims.LossDate&quot;)"
          printWidth="0.09"
          value="ClaimInfoSearchView.LossDate"/>
        <TextCell
          id="Assignee"
          label="DisplayKey.get(&quot;LV.Claim.ClaimSearchResults.Claims.Assignee&quot;)"
          printWidth="0.14"
          value="ClaimInfoSearchView.ArchivedAdjuster"/>
        <TypeKeyCell
          id="Status"
          label="DisplayKey.get(&quot;LV.Claim.ClaimSearchResults.Claims.Status&quot;)"
          printWidth="0.06"
          value="ClaimInfoSearchView.ArchiveState"
          valueType="typekey.ArchiveState"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>