<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="SimpleClaimSearchResultsLV">
    <ExposeIterator
      valueType="entity.ClaimSearchView"
      widget="SimpleClaimSearchResultsLV"/>
    <Require
      name="SimpleClaimSearchViewList"
      type="gw.api.database.IQueryBeanResult&lt;gw.pl.persistence.core.Bean&gt;"/>
    <Variable
      initialValue="User.util.CurrentUser"
      name="CurrentUser"
      type="User"/>
    <RowIterator
      editable="false"
      elementName="SimpleClaimSearchView"
      hasCheckBoxes="true"
      pickValue="SimpleClaimSearchView"
      type="entity.ClaimSearchView"
      value="SimpleClaimSearchViewList"
      valueType="gw.api.database.IQueryBeanResult&lt;gw.pl.persistence.core.Bean&gt;">
      <Variable
        initialValue="SimpleClaimSearchView.ClaimantNames"
        name="claimantList"
        type="java.lang.String[]"/>
      <Row>
        <BooleanRadioCell
          icon="&quot;claim_flag.png&quot;"
          iconLabel="DisplayKey.get(&quot;LV.Claim.Flagged.Tooltip&quot;)"
          id="Flagged"
          printWidth="0.04"
          sortBy="SimpleClaimSearchView.Flagged"
          sortOrder="1"
          tooltip="DisplayKey.get(&quot;LV.Claim.Flagged.Tooltip&quot;)"
          value="SimpleClaimSearchView.CurrentlyFlagged"/>
        <TextCell
          action="ClaimForward.go(SimpleClaimSearchView.Claim)"
          id="ClaimNumber"
          label="DisplayKey.get(&quot;LV.Claim.ClaimSearchResults.Claims.ID&quot;)"
          printWidth="0.12"
          sortOrder="3"
          value="SimpleClaimSearchView.ClaimNumber"/>
        <TextCell
          id="UMR"
          label="DisplayKey.get(&quot;Accelerator.IPLM.LV.Claim.ClaimSearchResults.Claims.UMR&quot;)"
          printWidth="0.12"
          sortOrder="3"
          value="SimpleClaimSearchView.UMR_Ext"/>
        <TextCell
          id="UCR"
          label="DisplayKey.get(&quot;Accelerator.IPLM.LV.Claim.ClaimSearchResults.Claims.UCR&quot;)"
          printWidth="0.12"
          sortOrder="3"
          value="SimpleClaimSearchView.UCR_Ext"/>
        <TextCell
          id="Insured"
          label="DisplayKey.get(&quot;LV.Claim.ClaimSearchResults.Claims.Insured&quot;)"
          printWidth="0.14"
          value="SimpleClaimSearchView.InsuredDenorm"/>
        <TextCell
          id="PolicyID"
          label="DisplayKey.get(&quot;LV.Claim.ClaimSearchResults.Claims.PolicyID&quot;)"
          printWidth="0"
          value="SimpleClaimSearchView.PolicyNumber"/>
        <TextCell
          id="InjuredWorker"
          label="DisplayKey.get(&quot;LV.Claim.ClaimSearchResults.Claims.InjuredWorker&quot;)"
          printWidth="0.14"
          value="SimpleClaimSearchView.ClaimantDenorm"
          visible="(CurrentUser.LossType == LossType.TC_WC)"/>
        <LinkCell
          id="Claimant"
          label="DisplayKey.get(&quot;LV.Claim.ClaimSearchResults.Claims.Claimant&quot;)"
          printWidth="0.14"
          visible="(CurrentUser.LossType != LossType.TC_WC)">
          <LinkIterator
            elementName="claimantName"
            id="ClaimantInfoName"
            value="claimantList"
            valueType="java.lang.String[]">
            <Link
              id="Claimant"
              label="claimantName"/>
            <Link
              id="ClaimantSeperator"
              label="DisplayKey.get(&quot;Web.Claim.Claimant.Seperator&quot;)"
              visible="claimantList.length &gt; 1 and claimantName != claimantList[claimantList.length - 1]"/>
          </LinkIterator>
        </LinkCell>
        <DateCell
          id="LossDate"
          label="DisplayKey.get(&quot;LV.Claim.ClaimSearchResults.Claims.LossDate&quot;)"
          printWidth="0.09"
          value="SimpleClaimSearchView.LossDate"/>
        <TextCell
          id="Assignee"
          label="DisplayKey.get(&quot;LV.Claim.ClaimSearchResults.Claims.Assignee&quot;)"
          printWidth="0.14"
          sortBy="SimpleClaimSearchView.AssignmentStatus,SimpleClaimSearchView.AssignedUser,SimpleClaimSearchView.AssignedQueue"
          value="SimpleClaimSearchView.AssigneeDisplayString"/>
        <TypeKeyCell
          id="Status"
          label="DisplayKey.get(&quot;LV.Claim.ClaimSearchResults.Claims.Status&quot;)"
          printWidth="0.06"
          value="SimpleClaimSearchView.State"
          valueType="typekey.ClaimState"/>
        <CurrencyCell
          enableSort="false"
          formatType="currency"
          id="RemainingReserves"
          label="DisplayKey.get(&quot;LV.Claim.ClaimSearchResults.Claims.RemainingReserves&quot;)"
          printWidth="0.09"
          value="SimpleClaimSearchView.RemainingReserves"/>
        <CurrencyCell
          enableSort="false"
          formatType="currency"
          id="FuturePayments"
          label="DisplayKey.get(&quot;LV.Claim.ClaimSearchResults.Claims.FuturePayments&quot;)"
          printWidth="0.09"
          value="SimpleClaimSearchView.FuturePayments"/>
        <CurrencyCell
          enableSort="false"
          formatType="currency"
          id="TotalPayments"
          label="DisplayKey.get(&quot;LV.Claim.ClaimSearchResults.Claims.TotalPayments&quot;)"
          printWidth="0.09"
          value="SimpleClaimSearchView.TotalPayments"/>
        <DateCell
          id="NoticeDate"
          label="DisplayKey.get(&quot;LV.Claim.ClaimSearchResults.Claims.NoticeDate&quot;)"
          value="SimpleClaimSearchView.ReportedDate"
          visible="gw.api.print.PrintUtil.isPrintingCSV()"/>
        <TextCell
          id="AssignedGroup"
          label="DisplayKey.get(&quot;LV.Claim.ClaimSearchResults.Claims.AssignedGroup&quot;)"
          value="SimpleClaimSearchView.AssignedGroup"
          visible="gw.api.print.PrintUtil.isPrintingCSV()"/>
        <TypeKeyCell
          id="LOBCode"
          label="DisplayKey.get(&quot;LV.Claim.ClaimSearchResults.Claims.LOBCode&quot;)"
          value="SimpleClaimSearchView.LOBCode"
          valueType="typekey.LOBCode"
          visible="gw.api.print.PrintUtil.isPrintingCSV()"/>
        <TypeKeyCell
          id="StateOfJurisdiction"
          label="DisplayKey.get(&quot;LV.Claim.ClaimSearchResults.Claims.StateOfJurisdiction&quot;)"
          value="SimpleClaimSearchView.JurisdictionState"
          valueType="typekey.Jurisdiction"
          visible="gw.api.print.PrintUtil.isPrintingCSV()"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>