<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Screen
    id="PolicyRefresh_PickPropertyRiskUnitsScreen">
    <Require
      name="wizard"
      type="gw.api.policy.refresh.PolicyRefreshAlgorithm"/>
    <Require
      name="claim"
      type="Claim"/>
    <Require
      name="policySummary"
      type="PolicySummary"/>
    <Toolbar
      id="Toolbar">
      <WizardButtons
        id="Buttons"/>
    </Toolbar>
    <PanelRef
      def="PolicyRefreshExistingPropertyRULV(claim,policySummary)">
      <TitleBar
        title="DisplayKey.get(&quot;Web.PolicyRefresh.CurrentProperties&quot;)"/>
      <Toolbar/>
    </PanelRef>
    <PanelSet>
      <Verbatim
        label="&quot;   &quot;"/>
    </PanelSet>
    <PanelRef
      def="PolicySummaryPropertyLV( policySummary, true, true )"
      editable="true">
      <TitleBar
        title="DisplayKey.get(&quot;Web.PolicyRefresh.PropertiesFromPolicySystem&quot;)"/>
      <Toolbar/>
      <Verbatim/>
    </PanelRef>
  </Screen>
</PCF>