<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <ListViewPanel
    id="PolicyRefreshExistingVehicleRULV">
    <Require
      name="claim"
      type="Claim"/>
    <Require
      name="policySummary"
      type="PolicySummary"/>
    <RowIterator
      canPick="false"
      checkBoxVisible="false"
      editable="true"
      elementName="riskUnitWrapper"
      hasCheckBoxes="true"
      value="gw.pcf.policyrefresh.PolicyRefreshRiskUnitWrapper.createWrapper(claim.Policy.RiskUnits.where(\ r -&gt; r typeis VehicleRU), policySummary)"
      valueType="gw.pcf.policyrefresh.PolicyRefreshRiskUnitWrapper[]">
      <Variable
        initialValue="(riskUnitWrapper.RiskUnit as VehicleRU).Vehicle"
        name="vehicle"
        type="Vehicle"/>
      <ToolbarFlag
        name="vehicle"/>
      <Row>
        <TextCell
          align="center"
          id="Present"
          label="DisplayKey.get(&quot;Web.PolicyRefresh.PresentOnNewPolicy&quot;)"
          value="riskUnitWrapper.MatchedString"
          width="100"/>
        <TextCell
          id="VehicleNumber"
          label="DisplayKey.get(&quot;LV.Policy.Vehicles.Number&quot;)"
          sortOrder="1"
          value="riskUnitWrapper.RiskUnit.RUNumber"
          valueType="java.lang.Integer"/>
        <TextCell
          id="Vin"
          label="DisplayKey.get(&quot;LV.Policy.Vehicles.VIN&quot;)"
          value="vehicle.Vin"/>
        <TextCell
          id="Make"
          label="DisplayKey.get(&quot;LV.Policy.Vehicles.Make&quot;)"
          value="vehicle.Make"/>
        <TextCell
          id="Model"
          label="DisplayKey.get(&quot;LV.Policy.Vehicles.Model&quot;)"
          value="vehicle.Model"/>
        <TextCell
          id="Color"
          label="DisplayKey.get(&quot;LV.Policy.Vehicles.Color&quot;)"
          value="vehicle.Color"/>
        <TextCell
          id="LicencePlate"
          label="DisplayKey.get(&quot;LV.Policy.Vehicles.LicensePlate&quot;)"
          value="vehicle.LicensePlate"/>
        <TypeKeyCell
          id="State"
          label="DisplayKey.get(&quot;LV.Policy.Vehicles.State&quot;)"
          value="vehicle.State"
          valueType="typekey.Jurisdiction"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>