<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    afterReturnFromPopup="quote = serviceRequest.LatestQuote"
    canEdit="false"
    id="QuoteDetailsPopup"
    title="DisplayKey.get(&quot;Web.ServiceRequest.Quote.DetailTitle&quot;)">
    <LocationEntryPoint
      signature="QuoteDetailsPopup(quote: ServiceRequestQuote)"/>
    <Variable
      name="quote"
      type="ServiceRequestQuote"/>
    <Variable
      initialValue="quote.ServiceRequest"
      name="serviceRequest"
      type="ServiceRequest"/>
    <Variable
      initialValue="serviceRequest.createStateHandler()"
      name="stateHandler"
      type="gw.vendormanagement.servicerequeststate.ServiceRequestStateHandler"/>
    <Screen>
      <DetailViewPanel
        available="true"
        visible="quote.ServiceRequest.LatestQuote.equals(quote)">
        <InputColumn>
          <ContentInput
            available="true"
            labelAbove="true">
            <Link
              action="ApproveQuotePopup.push(serviceRequest)"
              available="true"
              id="ApproveQuote"
              label="DisplayKey.get(&quot;Web.ServiceRequest.StateTransition.ApproveQuote&quot;)"
              showConfirmMessage="false"
              styleClass="bigButton"
              visible="serviceRequest.operationAvailable(TC_APPROVEQUOTE, false, stateHandler)"/>
            <Link
              action="RequestRequotePopup.push(serviceRequest)"
              available="true"
              id="RequestRequote"
              label="DisplayKey.get(&quot;Web.ServiceRequest.StateTransition.RequestRequote&quot;)"
              showConfirmMessage="false"
              styleClass="bigButton"
              visible="serviceRequest.operationAvailable(TC_REQUESTREQUOTE, false, stateHandler)"/>
            <Link
              action="AddReviseQuotePopup.push(serviceRequest, serviceRequest.LatestQuote)"
              id="ReviseQuote"
              label="DisplayKey.get(&quot;Web.ServiceRequest.StateTransition.ReviseQuote&quot;)"
              showConfirmMessage="false"
              styleClass="bigButton"
              visible="serviceRequest.operationAvailable(TC_ADDQUOTE, false, stateHandler)"/>
          </ContentInput>
        </InputColumn>
      </DetailViewPanel>
      <PanelRef
        def="StatementDV(quote, quote?.Amount, false)"
        mode="&quot;quote&quot;"/>
      <DetailViewPanel>
        <InputColumn>
          <ListViewInput
            def="StatementDocumentsLV(quote, false)"
            label="DisplayKey.get(&quot;Web.ServiceRequest.Quote.Documents&quot;)"
            labelAbove="true">
            <Toolbar/>
          </ListViewInput>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
  </Popup>
</PCF>