<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="ServiceRequestMessageDV">
    <Require
      name="message"
      type="ServiceRequestMessage"/>
    <InputColumn>
      <TextInput
        boldValue="true"
        id="MessageFrom"
        label="DisplayKey.get(&quot;Web.ServiceRequest.Message.FromLabel&quot;)"
        value="message.Author.DisplayName"/>
    </InputColumn>
    <InputColumn>
      <DateInput
        boldValue="true"
        dateFormat="short"
        id="MessageSendDate"
        label="DisplayKey.get(&quot;Web.ServiceRequest.Message.SendDate&quot;)"
        timeFormat="short"
        value="message.SendDate"/>
    </InputColumn>
    <InputColumn>
      <TypeKeyInput
        id="MessageType"
        label="DisplayKey.get(&quot;Web.ServiceRequest.Message.TypeLabel&quot;)"
        value="message.Type"
        valueType="typekey.ServiceRequestMessageType"/>
    </InputColumn>
    <InputFooterSection>
      <PreFormattedTextInput
        id="MessageBody"
        label="DisplayKey.get(&quot;Web.ServiceRequest.Message.ContentLabel&quot;)"
        value="message.Body"/>
      <InputDivider/>
    </InputFooterSection>
  </DetailViewPanel>
</PCF>