<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="pcf.xsd">
  <ListViewPanel
    id="StatementLineItemLV"
    validationExpression="serviceRequestStatement.validateServiceRequestStatement()">
    <Require
      name="serviceRequestStatement"
      type="ServiceRequestStatement"/>
    <ExposeIterator
      valueType="ServiceRequestStatementLineItem"
      widget="lineItemsIterator"/>
    <Variable
      initialValue="serviceRequestStatement typeis ServiceRequestInvoice"
      name="isInvoice"
      type="boolean"/>
    <Variable
      initialValue="isInvoice ? DisplayKey.get(&quot;Web.ServiceRequest.Invoice.Amount&quot;) : DisplayKey.get(&quot;Web.ServiceRequest.Quote.Amount&quot;)"
      name="amountLabel"
      type="java.lang.String"/>
    <RowIterator
      autoAdd="serviceRequestStatement.LineItems.IsEmpty"
      checkBoxVisible="true"
      editable="true"
      elementName="lineItem"
      hideCheckBoxesIfReadOnly="true"
      id="lineItemsIterator"
      toAdd="serviceRequestStatement.addToLineItems(lineItem)"
      toRemove="serviceRequestStatement.removeFromLineItems(lineItem)"
      value="serviceRequestStatement.LineItems"
      valueType="entity.ServiceRequestStatementLineItem[]">
      <Row>
        <TypeKeyCell
          editable="true"
          footerLabel="DisplayKey.get(&quot;Web.ServiceRequest.Statement.Total&quot;)"
          id="lineItemCategory"
          label="DisplayKey.get(&quot;Web.ServiceRequest.LineItem.Category&quot;)"
          value="lineItem.Category"
          valueType="typekey.ServiceRequestStatementLineItemCategory"/>
        <TextCell
          editable="true"
          id="lineItemDescription"
          label="DisplayKey.get(&quot;Web.ServiceRequest.LineItem.Description&quot;)"
          value="lineItem.Description"/>
        <CurrencyCell
          editable="true"
          footerSumValue="lineItem.Amount"
          id="lineItemAmount"
          label="amountLabel"
          required="true"
          value="lineItem.Amount">
          <PostOnChange/>
        </CurrencyCell>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>