<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="CatastropheZonesInputSet"
    mode="default">
    <Require
      name="Catastrophe"
      type="Catastrophe"/>
    <Variable
      name="zoneType"
      type="ZoneType"/>
    <Variable
      name="country"
      type="Country"/>
    <RangeInput
      editable="true"
      hideIfReadOnly="true"
      id="ZoneType"
      label="DisplayKey.get(&quot;Web.Admin.AdminCatastropheDV.ZoneType&quot;)"
      value="zoneType"
      valueRange="country == null ? {} : Catastrophe.getRelevantZoneTypesForCountry(country)"
      valueType="typekey.ZoneType">
      <PostOnChange
        onChange="Catastrophe.FilterCriteria.ZoneType=zoneType"/>
    </RangeInput>
    <ListViewInput
      def="CatastropheZonesLV(Catastrophe, zoneType, country)"
      editable="true"
      hideIfReadOnly="true"
      label="DisplayKey.get(&quot;Web.Admin.AdminCatastropheDV.CatastropheZones&quot;)"
      visible="zoneType != null">
      <Toolbar
        visible="true">
        <IteratorButtons
          iterator="CatastropheZonesLV.CatastropheZonesLV"/>
      </Toolbar>
    </ListViewInput>
  </InputSet>
</PCF>