<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListDetailPanel
    id="LocationCoverageListDetail"
    selectionName="Coverage"
    selectionType="Coverage">
    <Require
      name="LocationBasedRU"
      type="LocationBasedRU"/>
    <PanelRef
      def="EditablePropertyCoveragesLV(LocationBasedRU.Property, LocationBasedRU)">
      <TitleBar
        subtitle="DisplayKey.get(&quot;NVV.Policy.PolicyVehicleDetail.Vehicle.Coverages.Subtitle&quot;)"
        title="&quot;&quot;"/>
      <Toolbar>
        <IteratorButtons
          iterator="EditablePropertyCoveragesLV.EditablePropertyCoveragesLV"/>
      </Toolbar>
    </PanelRef>
    <PanelRef
      def="ClaimPolicyCovTermsCV(Coverage)"
      editable="true"/>
  </ListDetailPanel>
</PCF>
