<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <ListViewPanel
    id="EditableAdverseGeneralLV">
    <ExposeIterator
      valueType="entity.SubroAdverseParty"
      widget="EditableAdverseGeneralLV"/>
    <Require
      name="Claim"
      type="Claim"/>
    <Variable
      initialValue="Claim.SubrogationSummary"
      name="SubrogationSummary"
      type="SubrogationSummary"/>
    <Variable
      initialValue="new gw.subrogation.financials.SubrogationAmountCache()"
      name="cache"
      recalculateOnRefresh="true"
      type="gw.subrogation.financials.SubrogationAmountCache"/>
    <RowIterator
      editable="true"
      elementName="subroadverseparty"
      hasCheckBoxes="true"
      hideCheckBoxesIfReadOnly="true"
      pageSize="5"
      toRemove="SubrogationSummary.removeFromSubroAdverseParties(subroadverseparty)"
      value="SubrogationSummary.SubroAdverseParties"
      valueType="entity.SubroAdverseParty[]">
      <Row>
        <TextCell
          action="SubrogationParties.push(Claim, new gw.subrogation.financials.AdversePartyWrapper(subroadverseparty))"
          available="not subroadverseparty.New"
          id="AdverseParty"
          label="DisplayKey.get(&quot;LV.Claim.Subro.AdverseParty.Contact&quot;)"
          onPick="subroadverseparty.Claim.createClaimContact(subroadverseparty.AdverseParty)"
          required="true"
          unique="true"
          value="subroadverseparty.AdverseParty"
          valueType="entity.Contact"
          wrapLabel="true"/>
        <TypeKeyCell
          editable="true"
          id="Classification1"
          label="DisplayKey.get(&quot;LV.Claim.Subro.AdversePartyList.Classification&quot;)"
          required="false"
          value="subroadverseparty.Classification"
          valueType="typekey.SubroClassification"
          wrapLabel="true"/>
        <TypeKeyCell
          editable="true"
          id="Strategy1"
          label="DisplayKey.get(&quot;LV.Claim.Subro.AdversePartyList.Strategy&quot;)"
          required="false"
          value="subroadverseparty.Strategy"
          valueType="typekey.SubroStrategy"
          wrapLabel="true">
          <PostOnChange/>
        </TypeKeyCell>
        <TextCell
          editable="true"
          formatType="percentagePoints"
          id="LiabilityPercentage"
          label="DisplayKey.get(&quot;LV.Claim.Subro.AdverseParty.Liability&quot;)"
          required="true"
          sortDirection="descending"
          sortOrder="1"
          value="subroadverseparty.Fault"
          valueType="java.math.BigDecimal"
          wrapLabel="true"/>
        <TextCell
          editable="true"
          formatType="percentagePoints"
          id="ExpectedRecoveryPercentage"
          label="DisplayKey.get(&quot;LV.Claim.Subro.AdversePartyList.Expectedrecovery&quot;)"
          required="true"
          value="subroadverseparty.ExpectedRecovery"
          valueType="java.math.BigDecimal"
          wrapLabel="true"/>
        <CurrencyCell
          formatType="currency"
          id="ExpectedRecovery"
          label="DisplayKey.get(&quot;LV.Claim.Subro.AdversePartyList.ExpectedRecoveryAmount&quot;)"
          value="cache.getExpectedRecoveryAmount(subroadverseparty)"
          valueType="gw.api.financials.CurrencyAmount"
          visible="gw.api.print.PrintUtil.isPrintingPDF() or not CurrentLocation.InEditMode"/>
        <CurrencyCell
          formatType="currency"
          id="Recovered"
          label="DisplayKey.get(&quot;LV.Claim.Subro.AdversePartyList.Recovered&quot;)"
          value="cache.getRecovered(subroadverseparty)"
          valueType="gw.api.financials.CurrencyAmount"
          visible="gw.api.print.PrintUtil.isPrintingPDF() or not CurrentLocation.InEditMode"/>
        <CurrencyCell
          formatType="currency"
          id="Pending"
          label="DisplayKey.get(&quot;LV.Claim.Subro.AdversePartyList.Pending&quot;)"
          value="cache.getPending(subroadverseparty)"
          visible="gw.api.print.PrintUtil.isPrintingPDF() or not CurrentLocation.InEditMode"/>
      </Row>
    </RowIterator>
    <Row
      useTitleStyle="true"
      visible="SubrogationSummary.Subrogations*.SubroAdversePartyOverrides.IsEmpty">
      <TextCell
        bold="true"
        id="emptyLabel0"
        value="DisplayKey.get(&quot;LV.Subro.AdverseParty.Sum&quot;)"/>
      <EmptyCell
        colspan="2"
        id="emptyLabel"/>
      <TextCell
        align="right"
        bold="true"
        colspan="1"
        id="AdversePartyLiability"
        value="util.Display.DisplayPercent(Claim.AdversePartyLiabilityPercent().doubleValue(), 100)"/>
      <TextCell
        align="right"
        bold="true"
        colspan="1"
        id="AdversePartyExpectedRecovery"
        value="util.Display.DisplayPercent(Claim.AdversePartyExpectedRecoveryPercent().doubleValue(), 100)"/>
      <CurrencyCell
        align="right"
        bold="true"
        colspan="1"
        formatType="currency"
        id="AdversePartyExpectedRecoveryAmount"
        value="SubrogationSummary.SubroAdverseParties.sum(\party -&gt; cache.getExpectedRecoveryAmount(party))"/>
      <CurrencyCell
        align="right"
        bold="true"
        colspan="1"
        formatType="currency"
        id="AdversePartyRecovered"
        value="SubrogationSummary.SubroAdverseParties.sum(\party -&gt; cache.getRecovered(party))"/>
      <CurrencyCell
        align="right"
        bold="true"
        colspan="1"
        formatType="currency"
        id="AdversePartyPending"
        value="SubrogationSummary.SubroAdverseParties.sum(\party -&gt; cache.getPending(party))"/>
    </Row>
  </ListViewPanel>
</PCF>