<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Page
    canEdit="perm.System.editsubrodetails"
    id="SubrogationDetail"
    parent="SubrogationGeneral(subrogation.SubrogationSummary.Claim)"
    showUpLink="true"
    title="subrogation.DisplayName">
    <LocationEntryPoint
      signature="SubrogationDetail(subrogation : Subrogation)"/>
    <Variable
      name="subrogation"
      type="Subrogation"/>
    <Variable
      initialValue="subrogation.Status == TC_CLOSED"
      name="showCloseFields"
      recalculateOnRefresh="true"
      type="boolean"/>
    <Variable
      initialValue="new gw.subrogation.financials.SubrogationAmountCache(subrogation)"
      name="cache"
      recalculateOnRefresh="true"
      type="gw.subrogation.financials.SubrogationAmountCache"/>
    <Screen>
      <Toolbar>
        <EditButtons/>
        <ToolbarButton
          action="AssignSubrogationPopup.push(new gw.api.subrogation.SubrogationAssignmentPopup({subrogation}))"
          available="perm.System.editsubrodetails"
          id="AssignSubrogation"
          label="DisplayKey.get(&quot;NVV.Claim.Subrogation.Main.Assign.Title&quot;)"
          visible="(gw.api.print.PrintUtil.isPrintingPDF() or not CurrentLocation.InEditMode) and subrogation.SubrogationSummary.EscalateSubro"/>
      </Toolbar>
      <AlertBar
        allowDismiss="false"
        id="CustomizeLiabilityAlert"
        label="DisplayKey.get(&quot;Web.Subrogation.CustomizedLiabilityAlert&quot;)"
        visible="subrogation.CustomizedLiability"/>
      <DetailViewPanel>
        <InputColumn>
          <TextInput
            id="Exposure"
            label="DisplayKey.get(&quot;Web.Subrogation.Exposure&quot;)"
            value="subrogation.Exposure.DisplayName"/>
          <TypeKeyInput
            editable="true"
            id="Status"
            label="DisplayKey.get(&quot;Web.Subrogation.Status&quot;)"
            value="subrogation.Status"
            valueType="typekey.SubrogationStatus">
            <PostOnChange/>
          </TypeKeyInput>
          <DateInput
            id="CloseDate"
            label="DisplayKey.get(&quot;NVV.Claim.Subrogation.Main.CloseDt&quot;)"
            required="true"
            value="subrogation.CloseDate"
            visible="showCloseFields"/>
          <TextInput
            editable="subrogation.isFieldChanged(entity.Subrogation#Status)"
            id="CloseComment"
            label="DisplayKey.get(&quot;NVV.Claim.Subrogation.Main.CloseComment&quot;)"
            value="subrogation.CloseComment"
            visible="showCloseFields"/>
          <TypeKeyInput
            editable="subrogation.isFieldChanged(entity.Subrogation#Status)"
            id="Outcome"
            label="DisplayKey.get(&quot;NVV.Claim.Subrogation.Main.Outcome&quot;)"
            required="true"
            value="subrogation.Outcome"
            valueType="typekey.SubroClosedOutcome"
            visible="showCloseFields"/>
          <TextInput
            id="Owner"
            label="DisplayKey.get(&quot;Web.Subrogation.Owner&quot;)"
            value="subrogation.AssignedUser"
            valueType="entity.User"/>
          <CheckBoxInput
            available="subrogation.Status != TC_CLOSED"
            editable="true"
            id="CustomizeLiability"
            labelAbove="true"
            value="subrogation.CustomizedLiability"
            valueLabel="DisplayKey.get(&quot;Web.Subrogation.CustomizeLiability&quot;)"
            visible="not subrogation.SubrogationSummary.SubroAdverseParties.IsEmpty">
            <PostOnChange/>
          </CheckBoxInput>
          <ListViewInput
            boldLabel="true"
            editable="false"
            id="ResponsibleParties"
            label="DisplayKey.get(&quot;NVV.Claim.Subro.AdverseParties&quot;)"
            labelAbove="true"
            visible="not subrogation.CustomizedLiability">
            <Toolbar/>
            <ListViewPanel>
              <RowIterator
                editable="true"
                elementName="party"
                id="Parties"
                type="SubroAdverseParty"
                value="subrogation.SubrogationSummary.SubroAdverseParties"
                valueType="entity.SubroAdverseParty[]">
                <Row>
                  <TextCell
                    action="SubroAdversePartyDetail.drilldown(party)"
                    footerLabel="DisplayKey.get(&quot;LV.Subro.AdverseParty.Sum&quot;)"
                    id="Party"
                    label="DisplayKey.get(&quot;LV.Claim.Subro.AdverseParty.Contact&quot;)"
                    value="party.AdverseParty"
                    valueType="entity.Contact"/>
                  <TextCell
                    editable="true"
                    footerSumValue="party.Fault"
                    formatType="percentagePoints"
                    id="LiabilityPercentage"
                    label="DisplayKey.get(&quot;LV.Claim.Subro.AdverseParty.Liability&quot;)"
                    required="true"
                    sortDirection="descending"
                    sortOrder="1"
                    value="party.Fault"
                    valueType="java.math.BigDecimal"
                    wrapLabel="true"/>
                  <TextCell
                    editable="true"
                    footerSumValue="party.ExpectedRecovery"
                    formatType="percentagePoints"
                    id="ExpectedRecoveryPercentage"
                    label="DisplayKey.get(&quot;LV.Claim.Subro.AdverseParty.Expectedrecovery&quot;)"
                    required="true"
                    value="party.ExpectedRecovery"
                    valueType="java.math.BigDecimal"
                    wrapLabel="true"/>
                  <CurrencyCell
                    footerSumValue="cache.getExpectedRecoveryAmount(party)"
                    id="ExpectedRecoveryAmount"
                    label="DisplayKey.get(&quot;Web.Subrogation.ExpectedRecovery&quot;)"
                    value="cache.getExpectedRecoveryAmount(party)"
                    visible="gw.api.print.PrintUtil.isPrintingPDF() or not CurrentLocation.InEditMode"/>
                  <CurrencyCell
                    footerSumValue="cache.getRecovered(party)"
                    id="Recovered"
                    label="DisplayKey.get(&quot;Web.Subrogation.Recovered&quot;)"
                    value="cache.getRecovered(party)"
                    visible="gw.api.print.PrintUtil.isPrintingPDF() or not CurrentLocation.InEditMode"/>
                  <CurrencyCell
                    footerSumValue="cache.getPending(party)"
                    id="Pending"
                    label="DisplayKey.get(&quot;Web.Subrogation.PendingRecovery&quot;)"
                    value="cache.getPending(party)"
                    visible="gw.api.print.PrintUtil.isPrintingPDF() or not CurrentLocation.InEditMode"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </ListViewInput>
          <ListViewInput
            boldLabel="true"
            editable="subrogation.Status != TC_CLOSED"
            id="ResponsiblePartiesOverride"
            label="DisplayKey.get(&quot;NVV.Claim.Subro.AdverseParties&quot;)"
            labelAbove="true"
            visible="subrogation.CustomizedLiability">
            <Toolbar/>
            <ListViewPanel>
              <RowIterator
                editable="true"
                elementName="party"
                id="PartyOverrides"
                type="SubroAdversePartyOverride"
                value="subrogation.OverridesForAllParties"
                valueType="entity.SubroAdversePartyOverride[]">
                <Row>
                  <TextCell
                    action="SubroAdversePartyDetail.go(party.SubroAdverseParty)"
                    footerLabel="DisplayKey.get(&quot;LV.Subro.AdverseParty.Sum&quot;)"
                    id="Party"
                    label="DisplayKey.get(&quot;LV.Claim.Subro.AdverseParty.Contact&quot;)"
                    value="party.SubroAdverseParty.AdverseParty"
                    valueType="entity.Contact"/>
                  <TextCell
                    editable="true"
                    footerSumValue="party.Fault"
                    formatType="percentagePoints"
                    id="LiabilityPercentage"
                    label="DisplayKey.get(&quot;LV.Claim.Subro.AdverseParty.Liability&quot;)"
                    required="true"
                    sortDirection="descending"
                    sortOrder="1"
                    value="party.Fault"
                    valueType="java.math.BigDecimal"
                    wrapLabel="true"/>
                  <TextCell
                    editable="true"
                    footerSumValue="party.ExpectedRecovery"
                    formatType="percentagePoints"
                    id="ExpectedRecoveryPercentage"
                    label="DisplayKey.get(&quot;LV.Claim.Subro.AdverseParty.Expectedrecovery&quot;)"
                    required="true"
                    value="party.ExpectedRecovery"
                    valueType="java.math.BigDecimal"
                    wrapLabel="true"/>
                  <CurrencyCell
                    footerSumValue="cache.getExpectedRecoveryAmount(party.SubroAdverseParty)"
                    id="ExpectedRecoveryAmount"
                    label="DisplayKey.get(&quot;Web.Subrogation.ExpectedRecovery&quot;)"
                    value="cache.getExpectedRecoveryAmount(party.SubroAdverseParty)"
                    visible="gw.api.print.PrintUtil.isPrintingPDF() or not CurrentLocation.InEditMode"/>
                  <CurrencyCell
                    footerSumValue="cache.getRecovered(party.SubroAdverseParty)"
                    id="Recovered"
                    label="DisplayKey.get(&quot;Web.Subrogation.Recovered&quot;)"
                    value="cache.getRecovered(party.SubroAdverseParty)"
                    visible="gw.api.print.PrintUtil.isPrintingPDF() or not CurrentLocation.InEditMode"/>
                  <CurrencyCell
                    footerSumValue="cache.getPending(party.SubroAdverseParty)"
                    id="Pending"
                    label="DisplayKey.get(&quot;Web.Subrogation.PendingRecovery&quot;)"
                    value="cache.getPending(party.SubroAdverseParty)"
                    visible="gw.api.print.PrintUtil.isPrintingPDF() or not CurrentLocation.InEditMode"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </ListViewInput>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
  </Page>
</PCF>