<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="AssignmentUserLV">
    <ExposeIterator
      flags="User"
      valueType="entity.GroupUser"
      widget="AssignmentUserLV"/>
    <Require
      name="searchResults"
      type="gw.api.database.IQueryBeanResult&lt;GroupUser&gt;"/>
    <Require
      name="pageHelper"
      type="gw.api.contact.ProximitySearchPageHelper"/>
    <Require
      name="searchCriteria"
      type="ContactSearchCriteria"/>
    <Variable
      initialValue="pageHelper.getDrivingDirectionsCache()"
      name="directions"
      type="gw.api.contact.DrivingDirectionsCache"/>
    <Row
      renderAsSmartHeader="true">
      <EmptyCell
        align="center"
        colspan="3"
        id="Group2"/>
      <TextCell
        align="center"
        colspan="5"
        id="Group3"
        value="DisplayKey.get(&quot;Web.AssigneePicker.Workload&quot;)"
        visible="perm.System.viewworkload"/>
      <EmptyCell
        align="center"
        colspan="4"
        id="Group4"
        visible="searchCriteria.isProximitySearch()"/>
    </Row>
    <RowIterator
      checkBoxVisible="searchCriteria.isProximitySearch()"
      editable="false"
      elementName="gUser"
      hasCheckBoxes="true"
      pickValue="new gw.api.assignment.UserAssignee(gUser)"
      selectLabel="DisplayKey.get(&quot;Button.Assign&quot;)"
      value="searchResults"
      valueType="gw.api.database.IQueryBeanResult&lt;entity.GroupUser&gt;">
      <ToolbarFlag
        name="User"/>
      <Row>
        <UserCell
          id="User"
          label="DisplayKey.get(&quot;Web.Assignment.Search.User&quot;)"
          sortOrder="1"
          value="gUser.User"
          valueType="entity.User"/>
        <GroupCell
          id="Group"
          label="DisplayKey.get(&quot;Web.Assignment.Search.Group&quot;)"
          sortBy="gUser.Group.Name"
          value="gUser.Group"/>
        <GroupCell
          id="ParentGroup"
          label="DisplayKey.get(&quot;Web.Assignment.Search.ParentGroup&quot;)"
          sortBy="gUser.Group.Parent.Name"
          value="gUser.Group.Parent"/>
        <BooleanRadioCell
          action="UserAssignmentCalendarPopup.push(gUser.User)"
          align="center"
          enableSort="false"
          icon="&quot;calendar_icon.png&quot;"
          iconLabel="DisplayKey.get(&quot;Web.TabBar.Desktop.Calendar&quot;)"
          id="ActivityCalendar"
          value="true"
          valueType="boolean"
          visible="perm.System.viewactcal"/>
        <TextCell
          enableSort="false"
          id="ActivityCount"
          label="DisplayKey.get(&quot;Web.Assignment.Search.Activities&quot;)"
          value="gUser.User.OpenActivityCount"
          valueType="java.lang.Integer"
          visible="perm.System.viewworkload"/>
        <TextCell
          enableSort="false"
          id="ClaimCount"
          label="DisplayKey.get(&quot;Web.Assignment.Search.Claims&quot;)"
          value="gUser.User.OpenClaimCount"
          valueType="java.lang.Integer"
          visible="perm.System.viewworkload"/>
        <TextCell
          enableSort="false"
          id="ExposureCount"
          label="DisplayKey.get(&quot;Web.Assignment.Search.Exposures&quot;)"
          value="gUser.User.OpenExposureCount"
          valueType="java.lang.Integer"
          visible="perm.System.viewworkload"/>
        <TextCell
          enableSort="false"
          id="MatterCount"
          label="DisplayKey.get(&quot;Web.Assignment.Search.Matters&quot;)"
          value="gUser.User.OpenMatterCount"
          valueType="java.lang.Integer"
          visible="perm.System.viewworkload"/>
        <TextCell
          enableSort="false"
          id="GCDistance"
          label="DisplayKey.get(&quot;Web.AddressBook.Search.Result.ProximateDistance&quot;)"
          sortOrder="1"
          value="searchCriteria.ProximitySearchCenter == null ? &quot;&quot; : gUser.User.Contact.PrimaryAddress.getDistanceFromAsString(searchCriteria.ProximitySearchCenter)"
          valueVisible="gUser.User.Contact.PrimaryAddress.hasLocationInformation()"
          visible="searchCriteria.isProximitySearch()"/>
        <TextCell
          enableSort="false"
          id="DrivingDistance"
          label="DisplayKey.get(&quot;Web.AddressBook.Search.Result.DrivingDistance&quot;)"
          value="directions.getCached(searchCriteria.ProximitySearchCenter, gUser.User.Contact.PrimaryAddress).getTotalDistanceString()"
          valueVisible="directions.haveCached(searchCriteria.ProximitySearchCenter, gUser.User.Contact.PrimaryAddress)"
          visible="pageHelper.displayDirectionsColumns(searchCriteria)"/>
        <TextCell
          enableSort="false"
          id="DrivingTime"
          label="DisplayKey.get(&quot;Web.AddressBook.Search.Result.DrivingTime&quot;)"
          value="directions.getCached(searchCriteria.ProximitySearchCenter, gUser.User.Contact.PrimaryAddress).getTotalTimeInMinutes()"
          valueVisible="directions.haveCached(searchCriteria.ProximitySearchCenter, gUser.User.Contact.PrimaryAddress)"
          visible="pageHelper.displayDirectionsColumns(searchCriteria)"/>
        <TextCell
          action="AddressBookDirectionsPopup.push(directions.getCached(searchCriteria.ProximitySearchCenter, gUser.User.Contact.PrimaryAddress))"
          enableSort="false"
          id="Directions"
          label="DisplayKey.get(&quot;Web.AddressBook.Search.Result.Directions&quot;)"
          value="DisplayKey.get(&quot;Web.AddressBook.Search.Result.Directions&quot;)"
          valueVisible="directions.haveCached(searchCriteria.ProximitySearchCenter, gUser.User.Contact.PrimaryAddress)"
          visible="pageHelper.displayDirectionsColumns(searchCriteria)"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>