<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    beforeCommit="AssignmentPopup.Picker.setSelection(pickedValue);AssignmentPopup.performAssignment()"
    canEdit="true"
    id="AssignExposuresPopup"
    returnType="gw.api.assignment.Assignee"
    startInEditMode="true"
    title="DisplayKey.get(&quot;Web.Exposure.Assign.Title&quot;)">
    <LocationEntryPoint
      signature="AssignExposuresPopup(AssignmentPopup : gw.api.exposure.ExposureAssignmentPopup)"/>
    <Variable
      name="AssignmentPopup"
      type="gw.api.exposure.ExposureAssignmentPopup"/>
    <ScreenRef
      def="AssignmentPopupScreen(AssignmentPopup, AssignmentPopup.getClaim())"/>
  </Popup>
</PCF>