<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="pcf.xsd">
  <ListViewPanel
    id="FailedAssignmentsLV"
    mode="ServiceRequest">
    <Require
      name="AssignmentPopup"
      type="gw.api.assignment.AssignmentPopup"/>
    <RowIterator
      editable="true"
      elementName="ServiceRequest"
      type="ServiceRequest"
      value="AssignmentPopup.getFailedAssignables()"
      valueType="entity.Assignable[]">
      <Row>
        <BooleanRadioCell
          icon="ServiceRequest.Kind.Icon"
          iconLabel="ServiceRequest.Kind.Label"
          id="Kind"
          label="DisplayKey.get(&quot;LV.Claim.ServiceRequest.Kind&quot;)"
          showHeaderIcon="false"
          value="true"
          valueType="boolean"/>
        <TextCell
          id="ServiceRequestNumber"
          label="DisplayKey.get(&quot;LV.Claim.ServiceRequest.ServiceRequestNumber&quot;)"
          sortOrder="3"
          value="ServiceRequest.ServiceRequestNumber"/>
        <TextCell
          id="ServiceRequestReferenceNumber"
          label="DisplayKey.get(&quot;LV.Claim.ServiceRequest.ServiceRequestReferenceNumber&quot;)"
          value="ServiceRequest.ServiceRequestReferenceNumber"/>
        <TextCell
          id="Services"
          label="DisplayKey.get(&quot;LV.Claim.ServiceRequest.Services&quot;)"
          value="ServiceRequest.ServicesString"/>
        <TextCell
          action="ClaimContactDetailPopup.push(ServiceRequest.Specialist, ServiceRequest.Claim)"
          actionAvailable="ServiceRequest.Specialist != null"
          id="Specialist"
          label="DisplayKey.get(&quot;LV.Claim.ServiceRequest.Specialist&quot;)"
          sortOrder="2"
          value="ServiceRequest.SpecialistName"/>
        <DateCell
          id="ExpectedCompletionDate"
          label="DisplayKey.get(&quot;LV.Claim.ServiceRequest.Target&quot;)"
          value="ServiceRequest.nextExpectedCompletionDate()"/>
        <CurrencyCell
          formatType="currency"
          id="QuoteAmount"
          label="DisplayKey.get(&quot;LV.Claim.ServiceRequest.QuoteAmount&quot;)"
          value="ServiceRequest?.LatestQuote.Amount"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>