<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Screen
    id="UserAssignmentCalendarScreen">
    <Require
      name="User"
      type="User"/>
    <Toolbar/>
    <Calendar
      calendarSource="new gw.api.calendar.DesktopMyCalendarActivitySource(User)"
      context="/MyDesktopCalendar"/>
  </Screen>
</PCF>