<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canVisit="perm.User.viewteam and GroupInfo.Group != null and GroupInfo.Group.GroupType == TC_SUBRO"
    id="TeamGroupSubrogations"
    title="DisplayKey.get(&quot;Web.Team.SubrogationsTitle&quot;, GroupInfo.DisplayName)">
    <LocationEntryPoint
      signature="TeamGroupSubrogations(GroupInfo : gw.api.admin.TreeGroupInfo)"/>
    <Variable
      name="GroupInfo"
      type="gw.api.admin.TreeGroupInfo"/>
    <Screen
      id="TeamGroupSubrogationsScreen">
      <TitleBar
        appendListViewPaging="true"
        title="DisplayKey.get(&quot;Web.Team.SubrogationsTitle&quot;, GroupInfo.DisplayName)"/>
      <Toolbar>
        <CheckedValuesToolbarButton
          allCheckedRowsAction="AssignSubrogationPopup.push(new gw.api.subrogation.SubrogationAssignmentPopup(CheckedValues))"
          id="Assign"
          iterator="SubrogationsLV.SubrogationsLV"
          label="DisplayKey.get(&quot;Web.Team.Toolbar.Assign&quot;)"
          shortcut="G"/>
        <ToolbarDivider/>
        <ToolbarButton
          action="gw.api.print.ListViewPrintOptionPopupAction.printListViewWithOptions(&quot;SubrogationsLV&quot;)"
          available="perm.User.printlistviews"
          id="Print"
          label="DisplayKey.get(&quot;Java.ListView.Print&quot;)"
          shortcut="N"/>
      </Toolbar>
      <PanelRef
        def="SubrogationsLV(SubrogationView.finder.findByGroup(GroupInfo.Group), true)"/>
    </Screen>
  </Page>
</PCF>