<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="MetroFlowDetailDV">
    <Require
      name="Workflow"
      type="Workflow"/>
    <InputColumn>
      <Label
        label="DisplayKey.get(&quot;Web.InternalTools.MetroFlowDetail&quot;)"/>
      <TypeKeyInput
        id="Status"
        label="DisplayKey.get(&quot;Web.InternalTools.MetroFlowDetail.Status&quot;)"
        value="Workflow.State"
        valueType="typekey.WorkflowState"/>
      <InputSet>
        <TextInput
          id="ProcessVersion"
          label="DisplayKey.get(&quot;Web.InternalTools.MetroFlowDetail.ProcessVersion&quot;)"
          value="Workflow.ProcessVersion"
          valueType="java.lang.Integer"/>
        <TextInput
          id="CurrentStep"
          label="DisplayKey.get(&quot;Web.InternalTools.MetroFlowDetail.CurrentStep&quot;)"
          value="Workflow.CurrentStep"/>
        <TextInput
          id="PrevStep"
          label="DisplayKey.get(&quot;Web.InternalTools.MetroFlowDetail.PreviousStep&quot;)"
          value="Workflow.PreviousStep"/>
        <TypeKeyInput
          id="CurrentAction"
          label="DisplayKey.get(&quot;Web.InternalTools.MetroFlowDetail.CurrentAction&quot;)"
          value="Workflow.CurrentAction"
          valueType="typekey.WorkflowActionType"/>
      </InputSet>
      <ListViewInput
        editable="false"
        label="DisplayKey.get(&quot;Web.InternalTools.MetroFlowDetail.Activities&quot;)">
        <Toolbar/>
        <ListViewPanel
          id="MetroFlowActivitiesLV">
          <RowIterator
            editable="false"
            elementName="Activity"
            value="Workflow.Activities"
            valueType="entity.Activity[]">
            <Row>
              <BooleanRadioCell
                enableSort="false"
                icon="&quot;new.png&quot;"
                iconLabel="DisplayKey.get(&quot;Web.InternalTools.MetroFlowDetail.Activities.New&quot;)"
                id="NewActivity"
                label="DisplayKey.get(&quot;Web.InternalTools.MetroFlowDetail.Activities.New&quot;)"
                value="Activity.UpdatedSinceLastViewed"/>
              <BooleanRadioCell
                enableSort="false"
                icon="&quot;escalated.png&quot;"
                iconLabel="DisplayKey.get(&quot;Web.InternalTools.MetroFlowDetail.Activities.Escalated&quot;)"
                id="Escalated"
                label="DisplayKey.get(&quot;Web.InternalTools.MetroFlowDetail.Activities.Escalated&quot;)"
                value="Activity.Overdue"/>
              <DateCell
                enableSort="false"
                id="TargetDate"
                label="DisplayKey.get(&quot;Web.InternalTools.MetroFlowDetail.Activities.Due&quot;)"
                value="Activity.TargetDate"/>
              <TypeKeyCell
                enableSort="false"
                id="Priority"
                label="DisplayKey.get(&quot;Web.InternalTools.MetroFlowDetail.Activities.Priority&quot;)"
                value="Activity.Priority"
                valueType="typekey.Priority"/>
              <TextCell
                enableSort="false"
                id="Subject"
                label="DisplayKey.get(&quot;Web.InternalTools.MetroFlowDetail.Activities.Subject&quot;)"
                value="Activity.Subject"/>
              <UserCell
                enableSort="false"
                id="AssignedUser"
                label="DisplayKey.get(&quot;Web.InternalTools.MetroFlowDetail.Activities.AssignedTo&quot;)"
                value="Activity.AssignedUser"
                valueType="entity.User"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <ListViewInput
        editable="false"
        label="DisplayKey.get(&quot;Web.InternalTools.MetroFlowDetail.Log&quot;)">
        <Toolbar/>
        <ListViewPanel
          id="MetroFlowLogLV">
          <RowIterator
            editable="false"
            elementName="LogEntry"
            value="Workflow.Log"
            valueType="entity.WorkflowLogEntry[]">
            <Row>
              <TextCell
                id="LogDate"
                label="DisplayKey.get(&quot;Web.InternalTools.MetroFlowLogLV.LogDate&quot;)"
                sortBy="LogEntry.SortOrder"
                sortDirection="descending"
                sortOrder="1"
                value="gw.api.util.LocaleUtil.getCurrentLocale().getOutputDateFormat(gw.i18n.DateTimeFormat.SHORT, gw.i18n.DateTimeFormat.SHORT).format(LogEntry.LogDate)"/>
              <TextCell
                action="WorkflowLogEntryDetail.go(Workflow, LogEntry as WorkflowTextLog)"
                available="LogEntry typeis WorkflowTextLog"
                enableSort="false"
                id="Summary"
                label="DisplayKey.get(&quot;Web.Admin.WorkflowLogLV.Summary&quot;)"
                value="LogEntry.LocalizeMessage"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
    </InputColumn>
  </DetailViewPanel>
</PCF>