<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="MetroFlowsDV">
    <Require
      name="SearchCriteria"
      type="WorkflowSearchCriteria"/>
    <InputColumn>
      <DateInput
        editable="true"
        id="StartDateFrom"
        label="DisplayKey.get(&quot;Web.InternalTools.MetroFlowSearch.StartDateFrom&quot;)"
        value="SearchCriteria.StartDateFrom"/>
      <DateInput
        editable="true"
        id="StartDateTo"
        label="DisplayKey.get(&quot;Web.InternalTools.MetroFlowSearch.StartDateTo&quot;)"
        value="SearchCriteria.StartDateTo"/>
      <DateInput
        editable="true"
        id="UpdateDateFrom"
        label="DisplayKey.get(&quot;Web.InternalTools.MetroFlowSearch.UpdateDateFrom&quot;)"
        value="SearchCriteria.UpdateDateFrom"/>
      <DateInput
        editable="true"
        id="UpdateDateTo"
        label="DisplayKey.get(&quot;Web.InternalTools.MetroFlowSearch.UpdateDateTo&quot;)"
        value="SearchCriteria.UpdateDateTo"/>
    </InputColumn>
    <InputColumn>
      <TextInput
        editable="true"
        id="CurrentStep"
        label="DisplayKey.get(&quot;Web.InternalTools.MetroFlowSearch.CurrentStep&quot;)"
        value="SearchCriteria.CurrentStep"/>
      <TypeKeyInput
        editable="true"
        id="State"
        label="DisplayKey.get(&quot;Web.InternalTools.MetroFlowSearch.State&quot;)"
        value="SearchCriteria.State"
        valueType="typekey.WorkflowState"/>
    </InputColumn>
    <InputFooterSection>
      <InputSetRef
        def="SearchAndResetInputSet()"/>
    </InputFooterSection>
  </DetailViewPanel>
</PCF>