<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Screen
    editable="true"
    id="ClaimRetrieveRequestScreen">
    <Require
      name="claimRetrieveRq"
      type="ECFMessageClaimRetrieveRq_Ext"/>
    <Require
      name="ecfClaimRetrieveController"
      type="gw.acc.iplm.controller.ECFClaimRetrieveController"/>
    <Require
      name="calledFromClaim"
      type="Boolean"/>
    <Toolbar>
      <EditButtons
        cancelVisible="false"
        editVisible="false"
        updateLabel="DisplayKey.get(&quot;Accelerator.IPLM.Web.ClaimRetrieve.CreateClaimButton&quot;)"/>
    </Toolbar>
    <DetailViewPanel
      editable="true">
      <InputColumn>
        <TextInput
          editable="not calledFromClaim"
          id="UMR"
          label="DisplayKey.get(&quot;Accelerator.IPLM.Web.ClaimRetrieve.UMR&quot;)"
          regex="gw.acc.iplm.validation.util.ECFValidationConstants.ALPHANUMERIC_REGEX"
          required="true"
          value="claimRetrieveRq.UMR"/>
        <TextInput
          editable="not calledFromClaim"
          id="UCR"
          label="DisplayKey.get(&quot;Accelerator.IPLM.Web.ClaimRetrieve.UCR&quot;)"
          regex="gw.acc.iplm.validation.util.ECFValidationConstants.ALPHANUMERIC_REGEX"
          required="true"
          value="claimRetrieveRq.UCR"/>
        <TextInput
          editable="true"
          id="TR"
          label="DisplayKey.get(&quot;Accelerator.IPLM.Web.ClaimRetrieve.TR&quot;)"
          regex="gw.acc.iplm.validation.util.ECFValidationConstants.ALPHANUMERIC_REGEX"
          required="true"
          value="claimRetrieveRq.TR"/>
        <TextInput
          editable="true"
          id="ClaimLineNumber"
          label="DisplayKey.get(&quot;Accelerator.IPLM.Web.ClaimRetrieve.ClaimLineNumber&quot;)"
          regex="gw.acc.iplm.validation.util.ECFValidationConstants.NUMERIC_REGEX"
          required="true"
          value="claimRetrieveRq.ClaimLineNumber"
          valueType="java.lang.Long"/>
        <RangeInput
          editable="true"
          id="Sender"
          label="DisplayKey.get(&quot;Accelerator.IPLM.Web.ClaimRetrieve.Sender&quot;)"
          optionLabel="VALUE.Name"
          required="true"
          value="ecfClaimRetrieveController.Sender"
          valueRange="ecfClaimRetrieveController.AllCompanies"
          valueType="gw.acc.iplm.dto.PartyDto">
          <PostOnChange
            onChange="claimRetrieveRq = ecfClaimRetrieveController.onBureauChanged(claimRetrieveRq)"
            target="ClaimType"/>
        </RangeInput>
        <RangeInput
          available="ecfClaimRetrieveController.Sender != null"
          editable="true"
          id="ClaimType"
          label="DisplayKey.get(&quot;Accelerator.IPLM.Web.ClaimRetrieve.ClaimType&quot;)"
          required="true"
          value="claimRetrieveRq.ClaimType"
          valueRange="ecfClaimRetrieveController.getClaimTypeForSender(ecfClaimRetrieveController.Sender)"
          valueType="typekey.ECFClaimTypeCode_Ext"/>
      </InputColumn>
    </DetailViewPanel>
  </Screen>
</PCF>