<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="FixPropAssessSourceDetailsDV">
    <Require
      name="AssessmentSource"
      type="AssessmentSource"/>
    <Variable
      initialValue="AssessmentSource.Incident as FixedPropertyIncident"
      name="FixedPropertyIncident"
      type="FixedPropertyIncident"/>
    <InputColumn>
      <Label
        label="DisplayKey.get(&quot;NVV.Incident.FixedProperty.AssessmentSource.Summary&quot;)"/>
      <TextInput
        editable="true"
        id="General_Name"
        label="DisplayKey.get(&quot;NVV.Incident.FixedProperty.AssessmentSource.Name&quot;)"
        required="true"
        value="AssessmentSource.SourceName"/>
      <TypeKeyInput
        editable="true"
        id="Source"
        label="DisplayKey.get(&quot;NVV.Incident.FixedProperty.AssessmentSource.Source&quot;)"
        value="AssessmentSource.SourceType"
        valueType="typekey.AssessmentSource"/>
      <ClaimContactInput
        claim="AssessmentSource.Incident.Claim"
        editable="true"
        id="Assessor"
        label="DisplayKey.get(&quot;LV.Incident.FixedProperty.AssessmentSource.Assessor&quot;)"
        onPick="AssessmentSource.ensureContactIsClaimContact(AssessmentSource.Assessor)"
        value="AssessmentSource.Assessor"
        valueRange="AssessmentSource.Incident.Claim.RelatedContacts"/>
      <TextInput
        editable="true"
        id="Description"
        label="DisplayKey.get(&quot;NVV.Incident.FixedProperty.AssessmentSource.Description&quot;)"
        value="AssessmentSource.Description"/>
      <DateInput
        id="CreateTime"
        label="DisplayKey.get(&quot;NVV.Incident.FixedProperty.AssessmentSource.CreateTime&quot;)"
        value="AssessmentSource.CreateTime"/>
      <InputDivider/>
    </InputColumn>
    <InputFooterSection>
      <ListViewInput
        boldLabel="true"
        def="EditableAssessmentLinesLV(AssessmentSource)"
        editable="true"
        label="DisplayKey.get(&quot;LV.Incident.FixedProperty.Assessment.EventLines&quot;)"
        labelAbove="true">
        <Toolbar>
          <IteratorButtons
            iterator="EditableAssessmentLinesLV.EditableAssessmentLinesLV"/>
        </Toolbar>
      </ListViewInput>
      <InputDivider/>
      <ListViewInput
        boldLabel="true"
        editable="true"
        label="DisplayKey.get(&quot;LV.Incident.FixedProperty.AssessmentSource.AssessmentItem&quot;)"
        labelAbove="true"
        visible="FixedPropertyIncident.IncludeLineItems">
        <Toolbar>
          <IteratorButtons
            iterator="AssessmentItemLV"/>
        </Toolbar>
        <ListViewPanel
          id="AssessmentItemLV">
          <RowIterator
            editable="false"
            elementName="AssessmentItem"
            hideCheckBoxesIfReadOnly="true"
            pageSize="5"
            value="AssessmentSource.Incident.getLineItems(AssessmentSource)"
            valueType="entity.AssessmentItem[]">
            <Row>
              <TypeKeyCell
                id="Category"
                label="DisplayKey.get(&quot;NVV.Incident.FixedProperty.AssessmentItem.Category&quot;)"
                value="AssessmentItem.PropertyCategory"
                valueType="typekey.PropertyLineItemCategory"/>
              <TextCell
                footerLabel="DisplayKey.get(&quot;LV.Incident.FixedProperty.AssessmentItem.Sum&quot;)"
                id="Description"
                label="DisplayKey.get(&quot;LV.Incident.FixedProperty.AssessmentItem.Description&quot;)"
                required="true"
                value="AssessmentItem.Description"
                width="200"/>
              <TypeKeyCell
                id="Action"
                label="DisplayKey.get(&quot;LV.Incident.FixedProperty.AssessmentItem.Action&quot;)"
                value="AssessmentItem.Action"
                valueType="typekey.AssessmentAction"/>
              <CurrencyCell
                footerSumValue="AssessmentItem.EstimateAmount"
                formatType="currency"
                id="EstimateAmount"
                label="DisplayKey.get(&quot;LV.Incident.FixedProperty.AssessmentItem.EstimateAmount&quot;)"
                value="AssessmentItem.EstimateAmount"/>
              <DateCell
                id="CreateTime"
                label="DisplayKey.get(&quot;LV.Incident.FixedProperty.AssessmentItem.CreateTime&quot;)"
                sortOrder="1"
                value="AssessmentItem.CreateTime"/>
              <TextCell
                id="Comment"
                label="DisplayKey.get(&quot;LV.Incident.FixedProperty.AssessmentItem.ItemComment&quot;)"
                value="AssessmentItem.ItemComment"
                width="200"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <InputDivider/>
      <ListViewInput
        boldLabel="true"
        editable="true"
        label="DisplayKey.get(&quot;LV.Incident.FixedProperty.AssessmentSource.AssessmentContentItem&quot;)"
        labelAbove="true"
        visible="FixedPropertyIncident.IncludeContentLineItems">
        <Toolbar>
          <IteratorButtons
            iterator="AssessmentContentItemLV"/>
        </Toolbar>
        <ListViewPanel
          id="AssessmentContentItemLV">
          <RowIterator
            editable="false"
            elementName="AssessmentContentItem"
            hideCheckBoxesIfReadOnly="true"
            pageSize="5"
            value="AssessmentSource.Incident.getContentLineItems(AssessmentSource)"
            valueType="entity.AssessmentContentItem[]">
            <Row>
              <TypeKeyCell
                id="Schedule"
                label="DisplayKey.get(&quot;LV.Incident.FixedProperty.ContentItem.PropertySchedule&quot;)"
                value="AssessmentContentItem.ContentSchedule"
                valueType="typekey.ContentLineItemSchedule"/>
              <TypeKeyCell
                footerLabel="DisplayKey.get(&quot;LV.Incident.FixedProperty.AssessmentContentItem.Sum&quot;)"
                id="Category"
                label="DisplayKey.get(&quot;LV.Incident.FixedProperty.ContentItem.Category&quot;)"
                value="AssessmentContentItem.ContentCategory"
                valueType="typekey.ContentLineItemCategory"/>
              <TextCell
                id="NumberOfItems"
                label="DisplayKey.get(&quot;LV.Incident.FixedProperty.ContentItem.NumberOfItems&quot;)"
                value="AssessmentContentItem.NumberOfItems"
                valueType="java.lang.Integer"
                width="100"/>
              <TextCell
                id="Brand"
                label="DisplayKey.get(&quot;LV.Incident.FixedProperty.ContentItem.Brand&quot;)"
                value="AssessmentContentItem.Brand"/>
              <TextCell
                id="Description"
                label="DisplayKey.get(&quot;LV.Incident.FixedProperty.ContentItem.Description&quot;)"
                value="AssessmentContentItem.Description"
                width="140"/>
              <DateCell
                id="DateAcquired"
                label="DisplayKey.get(&quot;LV.Incident.FixedProperty.ContentItem.DateAcquired&quot;)"
                value="AssessmentContentItem.DateAcquired"/>
              <TypeKeyCell
                id="Action"
                label="DisplayKey.get(&quot;LV.Incident.FixedProperty.ContentItem.Action&quot;)"
                value="AssessmentContentItem.Action"
                valueType="typekey.AssessmentContentAction"/>
              <CurrencyCell
                footerSumValue="AssessmentContentItem.PurchaseCost"
                formatType="currency"
                id="PurchaseCost"
                label="DisplayKey.get(&quot;LV.Incident.FixedProperty.ContentItem.PurchaseCost&quot;)"
                value="AssessmentContentItem.PurchaseCost"/>
              <CurrencyCell
                footerSumValue="AssessmentContentItem.contentItemValue()"
                formatType="currency"
                id="CalcItemValue"
                label="DisplayKey.get(&quot;LV.Incident.FixedProperty.ContentItem.ItemValue&quot;)"
                value="AssessmentContentItem.contentItemValue()"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
    </InputFooterSection>
  </DetailViewPanel>
</PCF>