<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="IncidentAssessSourceDetailsDV">
    <Require
      name="assessmentSource"
      type="AssessmentSource"/>
    <Variable
      initialValue="assessmentSource.Incident"
      name="incident"
      type="Incident"/>
    <InputColumn>
      <Label
        label="DisplayKey.get(&quot;NVV.Incident.Vehicle.AssessmentSource.Summary&quot;)"/>
      <TextInput
        editable="true"
        id="General_Name"
        label="DisplayKey.get(&quot;Web.Incident.Assessment.AssessmentSource.Name&quot;)"
        required="true"
        value="assessmentSource.SourceName"/>
      <TypeKeyInput
        editable="true"
        id="Source"
        label="DisplayKey.get(&quot;Web.Incident.Assessment.AssessmentSource.SourceType&quot;)"
        value="assessmentSource.SourceType"
        valueType="typekey.AssessmentSource"/>
      <ClaimContactInput
        claim="assessmentSource.Incident.Claim"
        editable="true"
        id="Assessor"
        label="DisplayKey.get(&quot;Web.Incident.Assessment.AssessmentSource.ExternalAssessor&quot;)"
        onPick="assessmentSource.ensureContactIsClaimContact(assessmentSource.Assessor)"
        value="assessmentSource.Assessor"
        valueRange="assessmentSource.Incident.Claim.RelatedContacts"/>
      <TextInput
        editable="true"
        id="Description"
        label="DisplayKey.get(&quot;Web.Incident.Assessment.AssessmentSource.Description&quot;)"
        value="assessmentSource.Description"/>
      <DateInput
        id="CreateTime"
        label="DisplayKey.get(&quot;Web.Incident.Assessment.AssessmentSource.CreateTime&quot;)"
        value="assessmentSource.CreateTime"/>
      <InputDivider/>
    </InputColumn>
    <InputFooterSection>
      <ListViewInput
        boldLabel="true"
        def="EditableAssessmentLinesLV(assessmentSource)"
        editable="true"
        label="DisplayKey.get(&quot;Web.Incident.Assessment.AssessmentSource.AssessmentLine&quot;)"
        labelAbove="true">
        <Toolbar>
          <IteratorButtons
            iterator="EditableAssessmentLinesLV.EditableAssessmentLinesLV"/>
        </Toolbar>
      </ListViewInput>
      <InputDivider/>
      <ListViewInput
        boldLabel="true"
        editable="true"
        label="DisplayKey.get(&quot;Web.Incident.Assessment.AssessmentSource.AssessmentItem&quot;)"
        labelAbove="true"
        visible="true">
        <Toolbar>
          <IteratorButtons
            iterator="AssessmentItemLV"/>
        </Toolbar>
        <ListViewPanel
          id="AssessmentItemLV">
          <RowIterator
            editable="false"
            elementName="AssessmentItem"
            hideCheckBoxesIfReadOnly="true"
            pageSize="5"
            value="assessmentSource.Incident.getLineItems(assessmentSource)"
            valueType="entity.AssessmentItem[]">
            <Row>
              <TypeKeyCell
                id="Category"
                label="DisplayKey.get(&quot;Web.Incident.Assessment.AssessmentLine.Category&quot;)"
                value="AssessmentItem.PropertyCategory"
                valueType="typekey.PropertyLineItemCategory"/>
              <TextCell
                footerLabel="DisplayKey.get(&quot;LV.Incident.Vehicle.AssessmentItem.Sum&quot;)"
                id="Description"
                label="DisplayKey.get(&quot;Web.Incident.Assessment.AssessmentLine.Description&quot;)"
                value="AssessmentItem.Description"
                width="200"/>
              <TypeKeyCell
                id="Action"
                label="DisplayKey.get(&quot;Web.Incident.Assessment.AssessmentLine.Action&quot;)"
                value="AssessmentItem.Action"
                valueType="typekey.AssessmentAction"/>
              <CurrencyCell
                footerSumValue="AssessmentItem.EstimateAmount"
                formatType="currency"
                id="EstimateAmount"
                label="DisplayKey.get(&quot;Web.Incident.Assessment.AssessmentLine.EstimateAmount&quot;)"
                value="AssessmentItem.EstimateAmount"
                visible="true"/>
              <TextCell
                id="Comment"
                label="DisplayKey.get(&quot;Web.Incident.Assessment.AssessmentLine.Comment&quot;)"
                value="AssessmentItem.ItemComment"
                width="200"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
    </InputFooterSection>
  </DetailViewPanel>
</PCF>