<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Popup
    canEdit="true"
    id="NewFixPropAssessSourcePopup"
    returnType="AssessmentSource"
    startInEditMode="true"
    title="DisplayKey.get(&quot;NVV.Incident.FixedProperty.AssessmentSource&quot;, FixedPropertyIncident.DisplayName)">
    <LocationEntryPoint
      signature="NewFixPropAssessSourcePopup(FixedPropertyIncident : FixedPropertyIncident)"/>
    <Variable
      name="FixedPropertyIncident"
      type="FixedPropertyIncident"/>
    <Variable
      initialValue="FixedPropertyIncident.createAssessmentSource()"
      name="AssessmentSource"
      type="AssessmentSource"/>
    <Screen
      id="EditAssessmentSourceScreen">
      <Toolbar>
        <EditButtons
          pickValue="AssessmentSource"/>
      </Toolbar>
      <PanelRef
        def="FixPropAssessSourceDetailsDV(AssessmentSource)"/>
    </Screen>
  </Popup>
</PCF>