<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="DocumentExistenceDetailsInputSet">
    <Require
      name="Document"
      type="Document"/>
    <Variable
      initialValue="Document.RelatedServiceRequests.toTypedArray()"
      name="relatedServiceRequests"
      type="ServiceRequest[]"/>
    <TextInput
      editable="true"
      id="Name"
      label="DisplayKey.get(&quot;NVV.Claim.DocumentDetails.Document.Name&quot;)"
      required="true"
      value="Document.Name"/>
    <TextInput
      editable="true"
      id="Description"
      label="DisplayKey.get(&quot;NVV.Claim.DocumentDetails.Document.Description&quot;)"
      value="Document.Description"/>
    <TypeKeyInput
      editable="true"
      id="Section"
      label="DisplayKey.get(&quot;NVV.Claim.DocumentDetails.Document.Section&quot;)"
      value="Document.Section"
      valueType="typekey.DocumentSection"/>
    <InputDivider/>
    <RangeInput
      editable="new gw.document.DocumentDetailsCCHelper(Document).RelatedToEditable"
      id="RelatedTo"
      label="DisplayKey.get(&quot;NVV.Claim.ClaimDocumentsFilter.RelatedTo&quot;)"
      optionGroupLabel="gw.pcf.RelatedToUtil.getOptionGroupLabel(VALUE as KeyableBean)"
      optionLabel="gw.pcf.RelatedToUtil.getOptionLabel(VALUE as KeyableBean)"
      required="true"
      sortValueRange="false"
      value="Document.RelatedTo"
      valueRange="Document.Claim.RelatedToCandidates"
      valueType="gw.pl.persistence.core.Bean"
      visible="relatedServiceRequests.Count &lt;= 1"/>
    <ListViewInput
      label="DisplayKey.get(&quot;NVV.Claim.ClaimDocumentsFilter.RelatedTo&quot;)"
      visible="relatedServiceRequests.Count &gt; 1">
      <Toolbar/>
      <ListViewPanel
        alternateEntryStyle="false"
        id="RelatedServiceRequestsLV">
        <RowIterator
          editable="false"
          elementName="ServiceRequest"
          value="relatedServiceRequests"
          valueType="entity.ServiceRequest[]">
          <Row>
            <TextCell
              id="ServiceRequestDisplayName"
              label="DisplayKey.get(&quot;NVV.Claim.ClaimDocumentsFilter.ServiceRequest&quot;)"
              value="ServiceRequest.DisplayName"
              width="800"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </ListViewInput>
    <TextInput
      editable="true"
      id="Author"
      label="DisplayKey.get(&quot;NVV.Claim.DocumentDetails.Document.Author&quot;)"
      value="Document.Author"/>
    <TextInput
      editable="true"
      id="Recipient"
      label="DisplayKey.get(&quot;NVV.Claim.DocumentDetails.Document.Recipient&quot;)"
      value="Document.Recipient"/>
    <InputDivider/>
    <BooleanRadioInput
      editable="true"
      id="InBound"
      label="DisplayKey.get(&quot;NVV.Claim.DocumentDetails.Document.InBound&quot;)"
      value="Document.Inbound"/>
    <TypeKeyInput
      editable="true"
      id="Status"
      label="DisplayKey.get(&quot;NVV.Claim.DocumentDetails.Document.Status&quot;)"
      required="true"
      value="Document.Status"
      valueType="typekey.DocumentStatusType"/>
    <TypeKeyInput
      editable="true"
      id="SecurityType"
      label="DisplayKey.get(&quot;NVV.Claim.DocumentDetails.Document.SecurityType&quot;)"
      value="Document.SecurityType"
      valueType="typekey.DocumentSecurityType"/>
    <TypeKeyInput
      editable="true"
      id="Type"
      label="DisplayKey.get(&quot;NVV.Claim.DocumentDetails.Document.Type&quot;)"
      required="true"
      value="Document.Type"
      valueType="typekey.DocumentType"/>
  </InputSet>
</PCF>