<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="pcf.xsd">
  <InputSet
    id="ServiceRequestInvoiceInputSet"
    mode="single">
    <Require
      name="Wizard"
      type="gw.api.financials.CheckWizardInfo"/>
    <Require
      name="showDocuments"
      type="boolean"/>
    <Variable
      initialValue="Wizard.Check.ServiceRequestInvoices.single()"
      name="invoice"
      type="entity.ServiceRequestInvoice"/>
    <Variable
      initialValue="new gw.document.DocumentsActionsUIHelper()"
      name="documentsActionsHelper"
      type="gw.document.DocumentsActionsUIHelper"/>
    <Label
      label="DisplayKey.get(&quot;NVV.Financials.NewCheck.Check.ServiceRequestInvoice.Title&quot;)"/>
    <TextInput
      id="ServiceRequestInvoiceReferenceNumber"
      label="DisplayKey.get(&quot;NVV.Financials.NewCheck.Check.ServiceRequestInvoice.InvoiceReferenceNumber&quot;)"
      value="invoice.ReferenceNumber.HasContent ? invoice.ReferenceNumber : DisplayKey.get(&quot;NVV.Financials.NewCheck.Check.ServiceRequestInvoice.InvoiceReferenceNumberMissing&quot;)"/>
    <TextInput
      id="ServiceRequestNumber"
      label="DisplayKey.get(&quot;NVV.Financials.NewCheck.Check.ServiceRequestInvoice.ServiceNumber&quot;)"
      value="invoice.ServiceRequest.ServiceRequestNumber"/>
    <CurrencyInput
      id="ServiceRequestInvoiceAmount"
      label="DisplayKey.get(&quot;NVV.Financials.NewCheck.Check.ServiceRequestInvoice.Amount&quot;)"
      value="invoice.Amount"/>
    <ListViewInput
      boldLabel="true"
      id="ServiceRequestInvoiceDocuments"
      label="DisplayKey.get(&quot;NVV.Financials.NewCheck.Check.ServiceRequestInvoice.Documents&quot;)"
      labelAbove="true"
      visible="showDocuments">
      <Toolbar/>
      <ListViewPanel>
        <RowIterator
          canPick="false"
          editable="false"
          elementName="statementDocumentLinkPair"
          value="invoice.ViewableDocumentLinksAndDocuments"
          valueType="java.util.List&lt;gw.util.Pair&lt;entity.ServiceRequestStatementDocumentLink, entity.Document&gt;&gt;">
          <Variable
            initialValue="statementDocumentLinkPair.Second"
            name="document"
            type="Document"/>
          <Row>
            <BooleanRadioCell
              icon="document.Icon"
              id="Icon"
              showHeaderIcon="false"
              value="true"
              valueType="boolean"/>
            <LinkCell
              id="Name"
              label="DisplayKey.get(&quot;NVV.Financials.NewCheck.Check.ServiceRequestInvoice.DocumentsLV.Name&quot;)"
              printWidth="4"
              width="300">
              <Link
                available="documentsActionsHelper.isViewDocumentContentAvailable(document)"
                download="inline"
                action="document.downloadContent()"
                id="NameLink"
                label="document.Name"
                styleClass="none"
                tooltip="documentsActionsHelper.getViewDocumentContentTooltip(document)"/>
            </LinkCell>
            <LinkCell
              id="Actions"
              label="DisplayKey.get(&quot;LV.Claim.Documents.Document.ViewAndEdit&quot;)">
              <Link
                action="DocumentDetailsPopup.push(document, false)"
                available="documentsActionsHelper.DocumentMetadataActionsAvailable"
                icon="documentsActionsHelper.DocumentMetadataActionsAvailable ? &quot;info_16.png&quot; : &quot;info_16_disabled.png&quot;"
                id="ViewPropertiesLink"
                styleClass="miniButton"
                tooltip="documentsActionsHelper.ViewDocumentPropertiesTooltip"/>
            </LinkCell>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </ListViewInput>
  </InputSet>
</PCF>