<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="pcf.xsd">
  <InputSet
    id="ServiceRequestInvoiceInputSet"
    mode="multiple">
    <Require
      name="Wizard"
      type="gw.api.financials.CheckWizardInfo"/>
    <Require
      name="showDocuments"
      type="boolean"/>
    <Variable
      initialValue="Wizard.Check.ServiceRequestInvoices"
      name="invoices"
      type="entity.ServiceRequestInvoice[]"/>
    <Label
      label="DisplayKey.get(&quot;NVV.Financials.NewCheck.Check.ServiceRequestInvoice.TitlePlural&quot;)"/>
    <ListViewInput
      labelAbove="true">
      <Toolbar/>
      <ListViewPanel>
        <RowIterator
          editable="false"
          elementName="invoice"
          value="invoices"
          valueType="entity.ServiceRequestInvoice[]">
          <Row>
            <TextCell
              id="ServiceRequestInvoiceReferenceNumber"
              label="DisplayKey.get(&quot;NVV.Financials.NewCheck.Check.ServiceRequestInvoice.InvoiceReferenceNumber&quot;)"
              sortOrder="2"
              value="invoice.ReferenceNumber.HasContent ? invoice.ReferenceNumber : DisplayKey.get(&quot;NVV.Financials.NewCheck.Check.ServiceRequestInvoice.InvoiceReferenceNumberMissing&quot;)"/>
            <TextCell
              id="ServiceRequestNumber"
              label="DisplayKey.get(&quot;NVV.Financials.NewCheck.Check.ServiceRequestInvoice.ServiceNumber&quot;)"
              sortOrder="1"
              value="invoice.ServiceRequest.ServiceRequestNumber"/>
            <CurrencyCell
              id="ServiceRequestInvoiceAmount"
              label="DisplayKey.get(&quot;NVV.Financials.NewCheck.Check.ServiceRequestInvoice.Amount&quot;)"
              value="invoice.Amount"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </ListViewInput>
  </InputSet>
</PCF>