<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <ListViewPanel
    id="EditableReservesLV">
    <ExposeIterator
      flags="Removeable"
      valueType="entity.TransactionEditWrapper"
      widget="EditableReservesLV"/>
    <Require
      name="WizardHelper"
      type="gw.api.financials.ReserveWizardHelper"/>
    <Require
      name="Exposure"
      type="Exposure"/>
    <Require
      name="addNew"
      type="Boolean"/>
    <RowIterator
      autoAdd="addNew"
      checkBoxVisible="WizardHelper.isTransactionFullyEditable(ReserveWrapper.Transaction)"
      editable="true"
      elementName="ReserveWrapper"
      pageSize="5"
      toCreateAndAdd="WizardHelper.addNewTransactionWrapper(Exposure)"
      toRemove="WizardHelper.removeTransaction(ReserveWrapper)"
      value="WizardHelper.TransactionWrappers"
      valueType="entity.TransactionEditWrapper[]">
      <Variable
        initialValue="ReserveWrapper.Transaction.Exposure.DisplayName"
        name="valueVariable"
        type="String"/>
      <ToolbarFlag
        condition="WizardHelper.isTransactionFullyEditable(ReserveWrapper.Transaction)"
        name="Removeable"/>
      <Row>
        <TextCell
          editable="WizardHelper.isTransactionFullyEditable(ReserveWrapper.Transaction)"
          footerLabel="WizardHelper.ReservingCurrenciesMatch ? DisplayKey.get(&quot;LV.Financials.Total&quot;) : null"
          hideIfEditable="true"
          id="Exposure_Readonly"
          label="DisplayKey.get(&quot;LV.Financials.ReserveSet.Reserves.Exposure&quot;)"
          outputConversion="VALUE == null ? DisplayKey.get(&quot;Web.Financials.Exposure.ClaimLevel&quot;) : VALUE"
          required="false"
          sortOrder="1"
          value="valueVariable"
          width="100"
          wrapLabel="true"/>
        <RangeCell
          editable="WizardHelper.isTransactionFullyEditable(ReserveWrapper.Transaction)"
          footerLabel="WizardHelper.ReservingCurrenciesMatch ? DisplayKey.get(&quot;LV.Financials.Total&quot;) : null"
          hideIfReadOnly="true"
          id="Exposure"
          label="DisplayKey.get(&quot;LV.Financials.ReserveSet.Reserves.Exposure&quot;)"
          noneSelectedLabel="DisplayKey.get(&quot;Web.Financials.Exposure.ClaimLevel&quot;)"
          required="false"
          sortOrder="1"
          value="ReserveWrapper.Transaction.Exposure"
          valueRange="WizardHelper.getValidExposures(ReserveWrapper.Transaction)"
          valueType="entity.Exposure"
          wrapLabel="true">
          <PostOnChange
            onChange="WizardHelper.updateWrapperOnChangePost(ReserveWrapper)"/>
        </RangeCell>
        <TypeKeyCell
          id="Coverage"
          label="DisplayKey.get(&quot;LV.Financials.ReserveSet.Reserves.Coverage&quot;)"
          required="false"
          sortOrder="2"
          value="ReserveWrapper.Transaction.Exposure.PrimaryCoverage"
          valueType="typekey.CoverageType"/>
        <RangeCell
          editable="WizardHelper.isTransactionFullyEditable(ReserveWrapper.Transaction)"
          id="CostType"
          label="DisplayKey.get(&quot;LV.Financials.ReserveSet.Reserves.CostType&quot;)"
          numCols="5"
          required="true"
          sortOrder="3"
          value="ReserveWrapper.Transaction.CostType"
          valueRange="WizardHelper.getValidCostTypes(ReserveWrapper.Transaction)"
          valueType="typekey.CostType"
          wrapLabel="true">
          <PostOnChange
            onChange="WizardHelper.updateWrapperOnChangePost(ReserveWrapper)"/>
        </RangeCell>
        <RangeCell
          editable="WizardHelper.isTransactionFullyEditable(ReserveWrapper.Transaction)"
          id="CostCategory"
          label="DisplayKey.get(&quot;LV.Financials.ReserveSet.Reserves.CostCategories&quot;)"
          numCols="5"
          required="true"
          sortDirection="descending"
          sortOrder="4"
          value="ReserveWrapper.Transaction.CostCategory"
          valueRange="WizardHelper.getValidCostCategories(ReserveWrapper.Transaction)"
          valueType="typekey.CostCategory"
          wrapLabel="true">
          <PostOnChange
            onChange="WizardHelper.updateWrapperOnChangePost(ReserveWrapper)"/>
        </RangeCell>
        <RangeCell
          editable="WizardHelper.isTransactionFullyEditable(ReserveWrapper.Transaction)"
          id="ReservingCurrency"
          label="DisplayKey.get(&quot;LV.Financials.ReserveSet.Reserves.ReservingCurrency&quot;)"
          numCols="5"
          required="true"
          sortDirection="descending"
          sortOrder="5"
          value="ReserveWrapper.Transaction.ReservingCurrency"
          valueRange="WizardHelper.getValidReservingCurrencies(ReserveWrapper.Transaction)"
          valueType="typekey.Currency"
          visible="gw.util.CCConfigUtil.AllowExplicitReservingCurrency"
          wrapLabel="true">
          <PostOnChange
            onChange="WizardHelper.updateWrapperOnChangePost(ReserveWrapper)"/>
        </RangeCell>
        <CurrencyCell
          enableSort="false"
          formatType="currency"
          id="AvailableReserves"
          label="DisplayKey.get(&quot;LV.Financials.ReserveSet.Reserves.AvailableReserves&quot;)"
          value="WizardHelper.getAvailableReservesReservingAmount(ReserveWrapper.Transaction)"
          valueType="gw.api.financials.IMoney"
          wrapLabel="true">
          <ColumnFooter>
            <TextCell
              formatType="currency"
              id="AvailableReservesSum"
              value="WizardHelper.AvailableReservesSum"
              valueType="gw.api.financials.IMoney"/>
          </ColumnFooter>
        </CurrencyCell>
        <CurrencyCell
          enableSort="false"
          formatType="currency"
          id="TotalIncurred"
          label="DisplayKey.get(&quot;LV.Financials.ReserveSet.Reserves.TotalIncurred&quot;)"
          numCols="15"
          value="WizardHelper.getGrossTotalIncurredReservingAmount(ReserveWrapper.Transaction)"
          valueType="gw.api.financials.IMoney"
          visible="gw.api.system.CCConfigParameters.SetReservesByTotalIncurred.Value"
          wrapLabel="true">
          <ColumnFooter>
            <TextCell
              formatType="currency"
              id="TotalIncurredSum"
              value="WizardHelper.TotalIncurredSum"
              valueType="gw.api.financials.IMoney"
              visible="gw.api.system.CCConfigParameters.SetReservesByTotalIncurred.Value"/>
          </ColumnFooter>
        </CurrencyCell>
        <CurrencyCell
          enableSort="false"
          formatType="currency"
          id="PendingReserves"
          label="DisplayKey.get(&quot;LV.Financials.ReserveSet.Reserves.PendingReserves&quot;)"
          numCols="15"
          value="WizardHelper.getPendingApprovalReservesReservingAmount(ReserveWrapper.Transaction)"
          valueType="gw.api.financials.IMoney"
          wrapLabel="true">
          <ColumnFooter>
            <TextCell
              formatType="currency"
              id="PendingApprovalReservesSum"
              value="WizardHelper.PendingApprovalReservesSum"
              valueType="gw.api.financials.IMoney"/>
          </ColumnFooter>
        </CurrencyCell>
        <CurrencyCell
          editable="not ReserveWrapper.Transaction.Exposure.Closed"
          enableSort="false"
          footerSumValue="ReserveWrapper.NewAmountInReservingCurrency"
          formatType="currency"
          id="NewAmount"
          label="gw.api.system.CCConfigParameters.SetReservesByTotalIncurred.Value ? DisplayKey.get(&quot;LV.Financials.ReserveSet.Reserves.NewTotalIncurred&quot;) : DisplayKey.get(&quot;LV.Financials.ReserveSet.Reserves.NewAvailableReserves&quot;)"
          numCols="12"
          required="true"
          value="ReserveWrapper.NewAmountInReservingCurrency"
          valueType="gw.api.financials.IMutableMoney"
          wrapLabel="true">
          <PostOnChange
            target="DATA_ONLY"/>
        </CurrencyCell>
        <BooleanRadioCell
          action="NewReserveMultiCurrencyPopup.push(WizardHelper, ReserveWrapper)"
          available="(not ReserveWrapper.Transaction.Exposure.Closed) and (ReserveWrapper.Transaction.ReservingCurrency == ReserveWrapper.Transaction.Claim.Currency)"
          icon="&quot;calculator.png&quot;"
          iconLabel="gw.util.CCConfigUtil.AllowExplicitReservingCurrency ? DisplayKey.get(&quot;LV.Financials.ReserveSet.Reserves.MultiCurrency.ToolTipWhenExplicitReservingCurrencyEnabled&quot;) : DisplayKey.get(&quot;LV.Financials.ReserveSet.Reserves.MultiCurrency.ToolTip&quot;)"
          id="MultiCurrencyPopup_link"
          showHeaderIcon="false"
          value="true"
          valueType="boolean"
          visible="gw.api.util.CurrencyUtil.isMultiCurrencyMode() and not gw.api.system.CCConfigParameters.SetReservesByTotalIncurred.Value"/>
        <CurrencyCell
          enableSort="false"
          footerSumValue="WizardHelper.getChangeReservingAmount(ReserveWrapper)"
          formatType="currency"
          id="ChangeAmount"
          label="DisplayKey.get(&quot;LV.Financials.ReserveSet.Reserves.ChangeAmount&quot;)"
          numCols="10"
          value="WizardHelper.getChangeReservingAmount(ReserveWrapper)"
          valueType="gw.api.financials.IMoney"
          wrapLabel="true"/>
        <TextCell
          editable="true"
          enableSort="false"
          id="Comments"
          label="DisplayKey.get(&quot;LV.Financials.ReserveSet.Reserves.Comments&quot;)"
          numCols="10"
          value="ReserveWrapper.Transaction.Comments"
          wrapLabel="true"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>