<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Page
    id="ClaimKeyMetrics"
    title="DisplayKey.get(&quot;Web.Claim.ClaimKeyMetrics.Title&quot;)">
    <LocationEntryPoint
      signature="ClaimKeyMetrics(claim : Claim)"/>
    <Variable
      name="claim"
      type="Claim"/>
    <Screen
      id="ClaimKeyMetricsScreen">
      <ListViewPanel
        id="MetricLV">
        <Row
          id="ClaimMetricHeaderRow"
          renderAsSmartHeader="true">
          <EmptyCell
            id="ClaimMetricTypeHeader"/>
          <TextCell
            align="center"
            id="ClaimMetricValueHeader"
            value="DisplayKey.get(&quot;Web.Claim.ClaimKeyMetrics.ClaimMetricValueHeader&quot;)"/>
          <TextCell
            align="center"
            id="ClaimMetricTargetValueHeader"
            value="DisplayKey.get(&quot;Web.Claim.ClaimKeyMetrics.ClaimMetricTargetValueHeader&quot;)"/>
          <TextCell
            align="center"
            id="ClaimKeyMetricStatusHeader"
            value="DisplayKey.get(&quot;Web.Claim.ClaimKeyMetrics.ClaimKeyMetricStatusHeader&quot;)"/>
        </Row>
        <RowIterator
          editable="false"
          elementName="metricCategory"
          id="ClaimMetricCategoryIterator"
          pageSize="0"
          value="ClaimMetricCategory.getTypeKeys( false ).toTypedArray()"
          valueType="typekey.ClaimMetricCategory[]">
          <Row
            useTitleStyle="true">
            <TextCell
              bold="true"
              colspan="4"
              id="ClaimMetricCategoryHeader"
              value="metricCategory.DisplayName"/>
          </Row>
          <RowIterator
            editable="false"
            elementName="metric"
            id="ClaimMetricIterator"
            pageSize="0"
            value="claim.ClaimMetrics.where(\ c -&gt; c.ClaimMetricCategory == metricCategory).orderBy(\ c -&gt; c.Subtype).toTypedArray()"
            valueType="entity.ClaimMetric[]">
            <Row>
              <TypeKeyCell
                enableSort="false"
                id="MetricName"
                value="metric.Subtype"
                valueType="typekey.ClaimMetric"/>
              <TextCell
                align="center"
                enableSort="false"
                fontColor="metric.DisplayColor"
                id="MetricValue"
                value="metric.DisplayValue"/>
              <TextCell
                align="center"
                enableSort="false"
                id="MetricTargetValue"
                value="metric.DisplayTargetValue"
                wrapLabel="true"/>
              <BooleanRadioCell
                enableSort="false"
                icon="metric.Status.Icon"
                id="MetricStatus"
                showHeaderIcon="false"
                value="true"
                valueType="boolean"/>
            </Row>
          </RowIterator>
        </RowIterator>
        <Row
          id="ExposurePaddingRow">
          <EmptyCell
            colspan="4"
            id="ExposurePaddingCell"/>
        </Row>
        <Row
          id="ExposureHeaderRow"
          useTitleStyle="true">
          <TextCell
            bold="true"
            colspan="4"
            id="ExposureHeaderCell"
            value="DisplayKey.get(&quot;Web.ClaimSummary.ClaimKeyMetrics.Exposures&quot;)"/>
        </Row>
        <RowIterator
          editable="false"
          elementName="exposure"
          id="ExposureIterator"
          pageSize="0"
          value="claim.OrderedExposures"
          valueType="entity.Exposure[]">
          <Row
            useSubHeaderStyle="true">
            <TextCell
              bold="true"
              colspan="1"
              id="ExposureName"
              value="DisplayKey.get(&quot;Web.ClaimSummary.ClaimKeyMetrics.Exposure.Label&quot;, exposure.DisplayName, exposure.getPrimaryCoverage().DisplayName, exposure.Incident.DisplayName)"/>
            <TextCell
              colspan="3"
              id="ExposureTierLabel"
              value="exposure.ExposureTier.DisplayName"/>
          </Row>
          <RowIterator
            editable="false"
            elementName="metric"
            pageSize="0"
            value="exposure.ExposureMetrics.orderBy(\ e -&gt; e.Subtype).toTypedArray()"
            valueType="entity.ExposureMetric[]">
            <Row>
              <TypeKeyCell
                id="metricName"
                sortOrder="1"
                value="metric.Subtype"
                valueType="typekey.ExposureMetric"
                wrapLabel="true"/>
              <TextCell
                align="center"
                fontColor="metric.DisplayColor"
                id="metricValue"
                value="metric.DisplayValue"/>
              <TextCell
                align="center"
                enableSort="false"
                id="MetricTargetValue"
                value="metric.DisplayTargetValue"
                wrapLabel="true"/>
              <BooleanRadioCell
                icon="metric.Status.Icon"
                id="ExposureMetricStatus"
                showHeaderIcon="false"
                value="true"
                valueType="boolean"/>
            </Row>
          </RowIterator>
        </RowIterator>
      </ListViewPanel>
      <ListViewPanel
        id="MetricFooterLV">
        <Row
          id="FooterLabel"
          useTitleStyle="true">
          <TextCell
            bold="true"
            id="Footer"
            value="DisplayKey.get(&quot;Web.Claim.ClaimKeyMetrics.Footer&quot;)"/>
        </Row>
        <Row
          id="MetricFooterInformation">
          <TextCell
            id="ClaimTier"
            value="DisplayKey.get(&quot;Web.Claim.ClaimKeyMetrics.Footer.ClaimTier&quot;, claim.ClaimTier)"
            wrap="true"/>
        </Row>
      </ListViewPanel>
    </Screen>
  </Page>
</PCF>