<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="LargeLossThresholdInputSet">
    <Require
      name="policyType"
      type="PolicyType"/>
    <Require
      name="ccThreshold"
      type="LargeLossThreshold"/>
    <Require
      name="psThreshold"
      type="LargeLossThreshold"/>
    <InputSet>
      <TextInput
        editable="true"
        formatType="currency"
        id="ClaimCenterThreshold"
        label="DisplayKey.get(&quot;Web.Admin.LargeLossThreshold.ClaimThreshold&quot;)"
        value="ccThreshold.ThresholdValue"
        valueType="java.math.BigDecimal"/>
      <TextInput
        editable="true"
        formatType="currency"
        id="PolicySystemThreshold"
        label="DisplayKey.get(&quot;Web.Admin.LargeLossThreshold.PolicyThreshold&quot;)"
        value="psThreshold.ThresholdValue"
        valueType="java.math.BigDecimal"
        visible="gw.plugin.Plugins.isEnabled(gw.plugin.policy.IPolicySystemNotificationPlugin)"/>
    </InputSet>
  </InputSet>
</PCF>