<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <ListViewPanel
    id="ClaimSnapshotPolicyTrips500LV">
    <Require
      name="Claim"
      type="Claim"/>
    <Require
      name="SnapshotParam"
      type="dynamic.Dynamic"/>
    <Variable
      initialValue="(SnapshotParam).Policy"
      name="Policy"
      type="dynamic.Dynamic"/>
    <RowIterator
      editable="false"
      elementName="TripRU"
      value="Policy.RiskUnits"
      valueType="dynamic.Dynamic">
      <Row>
        <TextCell
          id="TripNumber"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyTrip500LV.TripNumber&quot;)"
          sortOrder="1"
          value="(TripRU).RUNumber"
          valueType="dynamic.Dynamic"/>
        <TextCell
          id="TripDescription"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyTrip500LV.Description&quot;)"
          value="(TripRU).TripDescription"
          valueType="dynamic.Dynamic"/>
        <TextCell
          id="StartDate"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyTrip500LV.StartDate&quot;)"
          value="(TripRU).StartDate"
          valueType="dynamic.Dynamic"/>
        <TextCell
          id="EndDate"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyTrip500LV.EndDate&quot;)"
          value="(TripRU).EndDate"
          valueType="dynamic.Dynamic"/>
        <TextCell
          id="GeographicalRegion"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyTrip500LV.GeographicalRegion&quot;)"
          value="(TripRU).GeographicalRegion"
          valueType="dynamic.Dynamic"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>
