<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="ClaimSummaryExposuresLV">
    <Require
      name="Claim"
      type="Claim"/>
    <Require
      name="ExposureList"
      type="Exposure[]"/>
    <RowIterator
      editable="false"
      elementName="Exposure"
      value="ExposureList"
      valueType="entity.Exposure[]">
      <Row>
        <LinkCell
          align="center"
          icon="&quot;icon_claimClosed.png&quot; "
          id="Status"
          printWidth="0.07"
          sortBy="Exposure.State"
          width="33">
          <Link
            icon="Exposure.Closed ? &quot;icon_claimClosed.png&quot; : &quot;icon_claimOpen.png&quot;"
            id="StatusIcon"
            tooltip="Exposure.State.DisplayName"/>
        </LinkCell>
        <TextCell
          action="ExposureDetailForward.drilldown(Claim, Exposure)"
          align="center"
          id="Order"
          label="DisplayKey.get(&quot;LV.Exposure.Exposures.Order&quot;)"
          numCols="2"
          printWidth="0.05"
          sortOrder="1"
          value="Exposure.ClaimOrder"
          valueType="java.lang.Integer"
          width="40"/>
        <TypeKeyCell
          action="ExposureDetailForward.drilldown(Claim, Exposure)"
          id="Type"
          label="DisplayKey.get(&quot;LV.Exposure.Exposures.Type&quot;)"
          printWidth="0.15"
          value="Exposure.ExposureType"
          valueType="typekey.ExposureType"
          width="105"/>
        <TypeKeyCell
          id="Coverage"
          label="DisplayKey.get(&quot;LV.Exposure.Exposures.Coverage&quot;)"
          numCols="30"
          printWidth="0.20"
          value="Exposure.PrimaryCoverage"
          valueType="typekey.CoverageType"
          wrapLabel="true"/>
        <TextCell
          action="ClaimContactDetailPopup.push(Exposure.Claimant, Claim)"
          enableSort="false"
          id="Claimant"
          label="DisplayKey.get(&quot;LV.Exposure.Exposures.Claimant&quot;)"
          printWidth="0.15"
          value="Exposure.Claim.LossType.equals(LossType.TC_WC) ? Exposure.Claim.ClaimantDenorm : Exposure.Claimant"
          valueType="entity.Contact"
          width="130"
          wrapLabel="true"/>
        <TextCell
          action="UserContactDetailPopup.push(Exposure.AssignedUser)"
          id="Assignee"
          label="DisplayKey.get(&quot;LV.Exposure.Exposures.Assignee&quot;)"
          numCols="15"
          printWidth="0.15"
          sortBy="Exposure.AssignmentStatus,Exposure.AssignedUser,Exposure.AssignedQueue"
          value="Exposure.AssigneeDisplayString"
          width="130"/>
        <CurrencyCell
          enableSort="false"
          formatType="currency"
          id="RemainingReserves"
          label="DisplayKey.get(&quot;LV.Exposure.Exposures.RemainingReserves&quot;)"
          numCols="10"
          printWidth="0.12"
          value="Exposure.ExposureRpt.RemainingReserves"
          visible="perm.Claim.viewreserves(Claim)"
          width="142"/>
        <CurrencyCell
          enableSort="false"
          formatType="currency"
          id="FuturePayments"
          label="DisplayKey.get(&quot;LV.Exposure.Exposures.FuturePayments&quot;)"
          numCols="10"
          printWidth="0.12"
          value="Exposure.ExposureRpt.FuturePayments"
          visible="perm.Claim.viewpayments(Claim)"
          width="120"/>
        <CurrencyCell
          enableSort="false"
          formatType="currency"
          id="Paid"
          label="DisplayKey.get(&quot;LV.Exposure.Exposures.Paid&quot;)"
          printWidth="0.1"
          value="Exposure.ExposureRpt.TotalPayments"
          visible="perm.Claim.viewpayments(Claim)"
          width="100"/>
        <CurrencyCell
          enableSort="false"
          formatType="currency"
          id="TotalRecoveries"
          label="DisplayKey.get(&quot;LV.Exposure.Exposures.TotalRecoveries&quot;)"
          numCols="6"
          printWidth="0.12"
          value="Exposure.ExposureRpt.TotalRecoveries"
          visible="perm.Claim.viewrecoveries(Claim)"
          width="100"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>