<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../../pcf.xsd">
  <Page
    id="FinancialsSummaryRecoveryCategoryPrint"
    parent="ClaimFinancialsGroup(Claim)"
    title="DisplayKey.get(&quot;Web.Financials.Summary.RecoveryCategory&quot;)">
    <LocationEntryPoint
      signature="FinancialsSummaryRecoveryCategoryPrint(Claim : Claim, useFloatingFinancials : boolean)"/>
    <Variable
      name="Claim"
      type="Claim"/>
    <Variable
      name="useFloatingFinancials"
      type="boolean"/>
    <Variable
      initialValue="new gw.api.financials.summary.FinancialSummaryBridge(Claim, &quot;RecoveryCategory&quot;)"
      name="financialsSummaryBridge"
      type="gw.api.financials.summary.FinancialSummaryBridge"/>
    <Screen
      id="FinancialsSummaryRecoveryCategoryPrintScreen">
      <PanelRef
        def="FinancialsSummaryRecoveriesLV(Claim, financialsSummaryBridge)">
        <Toolbar/>
      </PanelRef>
    </Screen>
  </Page>
</PCF>