<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <!-- ClaimPrintout.pcf

    This special PCF allows configuration of the "Print Claim File" operation, which generates PDFs containing
    aggregated claim data.

    ******************************************************************************************************************
    This PCF is not meant for customer customization directly; it is recommended that only Guidewire personnel
    (be it through Services/Support/Development) edit this file.
    ******************************************************************************************************************

      The Print Claim File OOTB configuration options consist of the following:

        - All Pages Without Details
        - All Pages With Details and FNOL Snapshot
        - Current claim file page without details
        - Current claim file page with details
        - Custom

    Each of those sections is defined below as PrintGroups or PrintLocations (discussed later). Within each PrintGroup
    are PrintSections, which basically define sets of pages to print together. PrintSection groupings may be toggled in
    the "Custom" option to be included/excluded from output. (In normal output, all PrintSections are output if the
    conditions of the printable attribute are met)

    Within each PrintSection are PrintOptions, which represent subgroupings of pages to output together. During "Custom"
    printing, each PrintOption is represented by a subchoice users can choose from (thus in custom prints, each option
    per PrintSection is mutually exclusive; however in normal printing all PrintOptions will be output if the conditions
    of its printable attribute is met)

    Within each PrintOption are one or more PrintOptionLocations, which specify PCF pages (locations) to print. All
    PrintOptionLocations within a PrintOption are printed or excluded together (though again individual elements may
    be excluded based on the printable attribute)

    **ADVANCED**

    Each PrintOptionLocation may optionally contain a PrintDetail element, which describes what PCF
    Location to use to direct "Detailed Mode" output. Detail mode describes a special type of output where the content
    of a given ListView contained in a page is iterated through and each item in the ListView is directed to a DetailView,
    which is then output. For example, suppose we have a ListView of activities - detail mode output of this would
    output the ListView, followed by a detailed output of each activity that was contained in the ListView.

    The top-level PrintLocation is used to represent the special "print current page" operation.  The PrintLocation
    can contain PrintLocationDetail elements which are used to handle "Detail Mode" output of Pages that might be
    encountered. For example, if the user was on ClaimMatters page and the "print current page with details" was chosen,
    then ClaimMatters and its ListView would be output, then each element in the ListView would be sent to a specified
    Page with a DetailView for detailed mode output. In general, PrintOptionLocation sections do not require editing. -->
  <PrintOut
    canVisit="perm.Claim.view(Claim) and perm.Claim.print(Claim)"
    id="ClaimPrintout"
    title="DisplayKey.get(&quot;Java.PrintClaimOptions.Label.SelectPrintOptions&quot;)">
    <!-- Entry Point signature -->
    <LocationEntryPoint
      signature="ClaimPrintout(Claim : Claim)"/>
    <Variable
      name="Claim"
      type="Claim"/>
    <Variable
      initialValue="new gw.api.print.ClaimPrintoutHelper(Claim)"
      name="helper"
      type="gw.api.print.ClaimPrintoutHelper"/>
    <Variable
      initialValue="helper.createPrintSettings()"
      name="printSettings"
      type="gw.api.print.PrintSettings"/>
    <Variable
      initialValue="helper.getMedicalDetails()"
      name="medicalDetails"
      type="Exposure"/>
    <Variable
      initialValue="helper.getIndemityTimeLoss()"
      name="indemityTimeLoss"
      type="Exposure"/>
    <Variable
      initialValue="helper.getEmployerLiability()"
      name="employerLiability"
      type="Exposure"/>
    <Variable
      initialValue="(helper.isWorkersCompClaim() or helper.isHomeownersClaim()) and (gw.api.policy.PolicyTabUtil.hasTab(Claim, &quot;Properties&quot;) or gw.api.policy.PolicyTabUtil.hasTab(Claim, &quot;Classcodes&quot;))"
      name="canShowClaimPolicyLocations"
      type="boolean"/>
    <Variable
      initialValue="helper.isTravelClaim() and (gw.api.policy.PolicyTabUtil.hasTab(Claim, &quot;Trips&quot;) or gw.api.policy.PolicyTabUtil.hasTab(Claim, &quot;Classcodes&quot;))"
      name="canShowClaimPolicyTrips"
      type="boolean"/>
    <Variable
      initialValue="(helper.isWorkersCompClaim() or helper.isHomeownersClaim()) and gw.api.policy.PolicyTabUtil.hasTab(Claim, &quot;Statcodes&quot;)"
      name="canShowPolicyStatCodes"
      type="boolean"/>
    <!-- Toolbar buttons for controlling print out functionality. Labels and shortcuts are safe to configure
         but do not modify actions. -->
    <PrintOutButton
      action="gw.api.print.PrintOutAction.printPrintOut(printSettings)"
      id="ClaimPrint"
      label="DisplayKey.get(&quot;Button.Print&quot;)"
      shortcut="P"/>
    <NonDownloadPrintOutButton
      action="CurrentLocation.cancel()"
      label="DisplayKey.get(&quot;Button.Cancel&quot;)"/>
    <Verbatim
      label="DisplayKey.get(&quot;Web.PrintClaimOptions.Label.PdfMessage&quot;)"/>
    <!-- ==============================================================================================================
     All Pages Without Details
     ============================================================================================================== -->
    <PrintGroup
      id="AllClaimPagesWithoutDetails"
      label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.AllClaimPagesWithoutDetails&quot;)">
      <!-- Claim Summary -->
      <PrintSection
        id="Summary1Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.Summary&quot;)"
        printable="perm.System.viewclaimsummary">
        <PrintOption
          id="SummaryAllOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.Notes.All&quot;)">
          <PrintOptionLocation
            locationRef="ClaimSummary(Claim)"/>
          <PrintOptionLocation
            locationRef="ClaimStatus(Claim)"/>
          <PrintOptionLocation
            locationRef="ClaimKeyMetrics(Claim)"/>
        </PrintOption>
      </PrintSection>
      <!-- Claim Workplan -->
      <PrintSection
        id="Workplan1Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.Workplan&quot;)"
        printable="perm.System.viewworkplan">
        <PrintOption
          id="WorkplanSummaryOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.Workplan.Summary&quot;)">
          <PrintOptionLocation
            locationRef="ClaimWorkplan(Claim)"/>
        </PrintOption>
      </PrintSection>
      <!-- Loss Details -->
      <PrintSection
        id="LossDetails1Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.LossDetails&quot;)"
        printable="perm.System.viewclaimbasics">
        <PrintOption
          id="LossDetailsOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.LossDetails&quot;)">
          <PrintOptionLocation
            locationRef="ClaimLossDetails(Claim)"/>
        </PrintOption>
      </PrintSection>
      <!-- Claim Associations -->
      <PrintSection
        id="Associations1Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.ClaimAssociations&quot;)"
        printable="perm.ClaimAssociation.view">
        <PrintOption
          id="ClaimAssociationsSummaryOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.ClaimAssociations.Summary&quot;)">
          <PrintOptionLocation
            locationRef="ClaimAssociations(Claim)"/>
        </PrintOption>
      </PrintSection>
      <!-- Claim Special Investigations -->
      <PrintSection
        id="SpecialInvestigations1Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.ClaimSpecialInvestigations&quot;)"
        printable="perm.System.viewclaimbasics">
        <PrintOption
          id="ClaimSpecialInvestigationsSummaryOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.ClaimSpecialInvestigations.Summary&quot;)">
          <PrintOptionLocation
            locationRef="SIDetails(Claim)"/>
        </PrintOption>
      </PrintSection>
      <!-- Claim Loss - Medical Details (WC Claims Only) -->
      <PrintSection
        id="ClaimLossMedicalDetail1Section"
        label="CoverageSubtype.TC_WCWORKERSCOMPMED.Description"
        printable="helper.isWorkersCompClaim() and medicalDetails != null and perm.Exposure.view(medicalDetails)">
        <PrintOption
          id="MedicalDetailsSummaryOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.LossDetailsExposureDetail.Details&quot;)">
          <PrintOptionLocation
            locationRef="TopLevelExposureDetail(medicalDetails)"/>
        </PrintOption>
      </PrintSection>
      <!-- Claim Loss - Indemity/Time Loss (WC Claims Only) -->
      <PrintSection
        id="ClaimLossIndemityTimeLoss1Section"
        label="CoverageSubtype.TC_WCWORKERSCOMPWAGES.Description"
        printable="helper.isWorkersCompClaim() and indemityTimeLoss != null and perm.Exposure.view(indemityTimeLoss)">
        <PrintOption
          id="IndemityTimeLossummaryOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.LossDetailsExposureDetail.Details&quot;)">
          <PrintOptionLocation
            locationRef="TopLevelExposureDetail(indemityTimeLoss)"/>
        </PrintOption>
      </PrintSection>
      <!-- Claim Loss - Employer Liability (WC Claims Only) -->
      <PrintSection
        id="ClaimLossEmployerLiability1Section"
        label="CoverageSubtype.TC_WCEMPLIABCOV.Description"
        printable="helper.isWorkersCompClaim() and employerLiability != null and perm.Exposure.view(employerLiability)">
        <PrintOption
          id="EmployerLiabilitySummaryOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.LossDetailsExposureDetail.Details&quot;)">
          <PrintOptionLocation
            locationRef="TopLevelExposureDetail(employerLiability)"/>
        </PrintOption>
      </PrintSection>
      <!-- Exposures
        (Note: Only visible for NON-WC Claims) -->
      <PrintSection
        id="Exposures1Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.Exposures&quot;)"
        printable="!helper.isWorkersCompClaim() and perm.System.viewexposures">
        <PrintOption
          id="ExposureSummaryOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.Exposures.Summary&quot;)">
          <PrintOptionLocation
            locationRef="ClaimExposures(Claim)"/>
        </PrintOption>
      </PrintSection>
      <!-- Parties Involved -->
      <PrintSection
        id="PartiesInvolved1Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.PartiesInvolved&quot;)"
        printable="perm.System.viewclaimparties">
        <PrintOption
          id="PartiesInvolvedSummaryOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.PartiesInvolved.Summary&quot;)">
          <PrintOptionLocation
            locationRef="ClaimContacts(Claim)"/>
        </PrintOption>
      </PrintSection>
      <!-- Claim Policy -->
      <PrintSection
        id="Policy1Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.Policy&quot;)"
        printable="perm.System.viewpolicy">
        <!-- Basics -->
        <PrintOption
          id="PolicyBasicOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.Policy.Basic&quot;)">
          <PrintOptionLocation
            locationRef="ClaimPolicyGeneral(Claim)"/>
        </PrintOption>
      </PrintSection>
      <!-- Financials Summary -->
      <PrintSection
        id="FinancialsSummary1Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.FinancialsSummary&quot;)"
        printable="perm.System.viewfinsum">
        <PrintOption
          id="FinancialsSummaryOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.FinancialsSummary.All&quot;)">
          <PrintOptionLocation
            locationRef="FinancialsSummaryTitlePrint(Claim)"/>
          <PrintOptionLocation
            locationRef="FinancialsSummaryExposurePrint(Claim, false)"/>
          <PrintOptionLocation
            locationRef="FinancialsSummaryExposureOnlyPrint(Claim, false)"/>
          <PrintOptionLocation
            locationRef="FinancialsSummaryClaimantPrint(Claim, false)"/>
          <PrintOptionLocation
            locationRef="FinancialsSummaryCoveragePrint(Claim, false)"/>
          <PrintOptionLocation
            locationRef="FinancialsSummaryClaimCostOnlyPrint(Claim, false)"/>
          <PrintOptionLocation
            locationRef="FinancialsSummaryReservingCurrencyPrint(Claim, false)"/>
          <PrintOptionLocation
            locationRef="FinancialsSummaryRecoveryCategoryPrint(Claim, false)"/>
        </PrintOption>
      </PrintSection>
      <!-- Financials Transactions -->
      <PrintSection
        id="FinancialsTransaction1Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.FinancialsTransactions&quot;)"
        printable="perm.Claim.viewtransactiondetails(Claim)">
        <!-- All Financial Transactions -->
        <PrintOption
          id="FinancialsTransactionsAllWithoutDetailsOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.FinancialsTransactions.AllWithoutDetails&quot;)">
          <PrintOptionLocation
            locationRef="ClaimFinancialsTransactionsPrint(Claim, gw.api.financials.ClaimFinancialsTransactionsOption.ALL)"/>
        </PrintOption>
      </PrintSection>
      <!-- Financials Checks -->
      <PrintSection
        id="Checks1Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.Checks&quot;)"
        printable="perm.Claim.viewpayments(Claim)">
        <PrintOption
          id="CheckSummaryOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.Checks.Summary&quot;)">
          <PrintOptionLocation
            locationRef="ClaimFinancialsChecks(Claim)"/>
        </PrintOption>
      </PrintSection>
      <!-- Claim Notes -->
      <PrintSection
        id="Notes1Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.Notes&quot;)"
        printable="perm.System.viewclaimnotes">
        <PrintOption
          id="NotesAllOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.Notes.All&quot;)">
          <PrintOptionLocation
            locationRef="ClaimAllNotesPrint(Claim)"/>
        </PrintOption>
      </PrintSection>
      <!-- Claim Documents -->
      <PrintSection
        id="Documents1Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.Documents&quot;)"
        printable="perm.System.viewdocs">
        <PrintOption
          id="DocumentsAllOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.Documents.All&quot;)">
          <PrintOptionLocation
            locationRef="ClaimDocumentsPrint(Claim, true)"/>
        </PrintOption>
      </PrintSection>
      <!-- Litigation - Plan of Action - Evaluation -->
      <PrintSection
        id="Evaluations1Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.Evaluations&quot;)"
        printable="perm.System.viewclaimevals">
        <PrintOption
          id="EvaluationsSummaryOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.Evaluations.Summary&quot;)">
          <PrintOptionLocation
            locationRef="ClaimEvaluations(Claim)"/>
        </PrintOption>
      </PrintSection>
      <!-- Litigation - Plan of Action - Negotiation -->
      <PrintSection
        id="Negotiations1Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.Negotiations&quot;)"
        printable="perm.System.viewclaimngtns">
        <PrintOption
          id="NegotiationsSummaryOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.Negotiations.Summary&quot;)">
          <PrintOptionLocation
            listViewRef="EditableNegotiationsLV"
            locationRef="ClaimNegotiations(Claim)"/>
        </PrintOption>
      </PrintSection>
      <!-- Subrogation - General -->
      <PrintSection
        id="Subrogation1Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.Subrogation.General&quot;)"
        printable="perm.System.viewsubrodetails and Claim.SubrogationSummary != null">
        <PrintOption
          id="SubrogationSummaryOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.Subrogation.General&quot;)">
          <PrintOptionLocation
            locationRef="SubrogationGeneral(Claim)"/>
        </PrintOption>
      </PrintSection>
      <!-- Litigation - Matters -->
      <PrintSection
        id="Litigation1Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.Litigation&quot;)"
        printable="perm.System.viewmatters">
        <PrintOption
          id="LitigationSummaryOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.Litigation.Summary&quot;)">
          <PrintOptionLocation
            locationRef="ClaimMatters(Claim)"/>
        </PrintOption>
      </PrintSection>
      <!-- Claim History
        Don't touch unless you know what you are doing. -->
      <PrintSection
        id="History1Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.History&quot;)"
        printable="perm.System.viewclaimhistory">
        <PrintOption
          id="HistoryAllOption"
          label="DisplayKey.get(&quot;Java.ListView.Filter.All&quot;)">
          <PrintOptionLocation
            filter="gw.api.util.CoreFilters.ALL"
            listViewRef="HistoryLV"
            locationRef="ClaimHistory(Claim)"/>
        </PrintOption>
      </PrintSection>
    </PrintGroup>
    <!-- ==============================================================================================================
      All Pages With Details and FNOL Snapshot
      ============================================================================================================== -->
    <PrintGroup
      id="AllClaimPagesWithDetails"
      label="(Claim.LossType == LossType.TC_WC)? DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.AllClaimPagesWithDetailsForWC&quot;) : DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.AllClaimPagesWithDetails&quot;)">
      <!-- Claim Summary -->
      <PrintSection
        id="Summary2Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.Summary&quot;)"
        printable="perm.System.viewclaimsummary">
        <PrintOption
          id="SummaryAllOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.Notes.All&quot;)">
          <PrintOptionLocation
            locationRef="ClaimSummary(Claim)"/>
          <PrintOptionLocation
            locationRef="ClaimStatus(Claim)"/>
          <PrintOptionLocation
            locationRef="ClaimKeyMetrics(Claim)"/>
        </PrintOption>
      </PrintSection>
      <!-- Claim Workplan -->
      <PrintSection
        id="Workplan2Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.Workplan&quot;)"
        printable="perm.System.viewworkplan">
        <PrintOption
          id="WorkplanDetailsOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.Workplan.Details&quot;)">
          <PrintOptionLocation
            locationRef="ClaimWorkplan(Claim)">
            <PrintDetail
              locationRef="ActivityDetailPrint(Activity)"
              symbolName="Activity"
              symbolType="Activity"/>
          </PrintOptionLocation>
        </PrintOption>
      </PrintSection>
      <!-- Loss Details -->
      <PrintSection
        id="LossDetails2Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.LossDetails&quot;)"
        printable="perm.System.viewclaimbasics">
        <PrintOption
          id="LossDetailsOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.LossDetails&quot;)">
          <PrintOptionLocation
            locationRef="ClaimLossDetails(Claim)"/>
        </PrintOption>
      </PrintSection>
      <!-- Loss Details - Vehicle Incident/Assessment (Auto only) -->
      <PrintSection
        id="VehicleIncident2Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.LossDetails.VehicleIncidents&quot;)"
        printable="helper.isAutoClaim() and perm.System.viewclaimbasics">
        <PrintOption
          id="VehicleIncidentDetailsOption"
          label="&quot;&quot;">
          <PrintOptionLocation
            locationRef="VehicleIncidentPrint(Claim)">
            <PrintDetail
              locationRef="VehicleIncidentDetailPrint(vehicleIncident)"
              symbolName="vehicleIncident"
              symbolType="VehicleIncident"/>
          </PrintOptionLocation>
        </PrintOption>
      </PrintSection>
      <!-- Loss Details - Property Incident/Assessment
           Detailed print option only (the summary list of these incidents is already a part of the general Claim Loss Details output -->
      <PrintSection
        id="PropertyIncident2Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.LossDetails.FixedPropertyIncidents&quot;)"
        printable="perm.System.viewclaimbasics">
        <PrintOption
          id="PropertyIncidentDetailOption"
          label="&quot;&quot;">
          <PrintOptionLocation
            locationRef="FixedPropertyIncidentPrint(Claim)"
            printable="!helper.FixedPropertyIncidents.IsEmpty">
            <PrintDetail
              locationRef="FixedPropertyIncidentDetailPrint(fixedPropertyIncident)"
              symbolName="fixedPropertyIncident"
              symbolType="FixedPropertyIncident"/>
          </PrintOptionLocation>
        </PrintOption>
      </PrintSection>
      <!-- Injury Incidents
               Detailed print option only (the summary list of these incidents is already a part of the general Claim Loss Details output -->
      <PrintSection
        id="InjuryIncident2Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.LossDetails.InjuryIncidents&quot;)">
        <PrintOption
          id="InjuryIncidentDetailsOption"
          label="&quot;&quot;">
          <PrintOptionLocation
            locationRef="InjuryIncidentsPrint(Claim)"
            printable="!helper.InjuryIncidents.IsEmpty">
            <PrintDetail
              locationRef="InjuryIncidentDetailPrint(InjuryIncident)"
              symbolName="InjuryIncident"
              symbolType="InjuryIncident"/>
          </PrintOptionLocation>
        </PrintOption>
      </PrintSection>
      <!-- Loss Details - Homeowners Incidents/Assessments (HO only)
               Detailed print option only (the summary list of these incidents is already a part of the general Claim Loss Details output -->
      <PrintSection
        id="HomeownerPropertyIncident2Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.LossDetails.HomeownersIncidents&quot;)"
        printable="helper.isHomeownersClaim()">
        <PrintOption
          id="HomeownerIncidentOption"
          label="&quot;&quot;"
          printable="helper.isHomeownersClaim()">
          <!-- Dwelling Incident -->
          <PrintOptionLocation
            locationRef="DwellingIncidentPrint(Claim, helper.DwellingIncident)"
            printable="helper.DwellingIncident != null and perm.Incident.view(helper.DwellingIncident)"/>
          <!-- Personal Property Incident -->
          <PrintOptionLocation
            locationRef="PropertyContentsIncidentPrint(Claim, helper.PersonalPropertyIncident)"
            printable="helper.PersonalPropertyIncident != null and perm.Incident.view(helper.PersonalPropertyIncident)"/>
          <!-- Other Structures Incident -->
          <PrintOptionLocation
            locationRef="OtherStructureIncidentPrint(Claim, helper.OtherStructureIncident)"
            printable="helper.OtherStructureIncident != null and perm.Incident.view(helper.OtherStructureIncident)"/>
          <!-- Living Expenses Incident -->
          <PrintOptionLocation
            locationRef="LivingExpensesIncidentPrint(Claim, helper.LivingExpensesIncident)"
            printable="helper.LivingExpensesIncident != null and perm.Incident.view(helper.LivingExpensesIncident)"/>
        </PrintOption>
      </PrintSection>
      <!-- Loss Details - Travel Incident Details (Travel Only) -->
      <PrintSection
        id="TravelIncident2Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.LossDetails.TravelIncidents&quot;)"
        printable="helper.isTravelClaim()">
        <PrintOption
          id="TravelIncidentsOption"
          label="&quot;&quot;">
          <PrintOptionLocation
            locationRef="TripIncidentsPrint(Claim)"
            printable="!helper.TripIncidents.IsEmpty">
            <PrintDetail
              locationRef="TripIncidentDetailPrint(Claim, TripIncident)"
              symbolName="TripIncident"
              symbolType="TripIncident"/>
          </PrintOptionLocation>
          <PrintOptionLocation
            locationRef="BaggageIncidentsPrint(Claim)"
            printable="!helper.BaggageIncidents.IsEmpty">
            <PrintDetail
              locationRef="BaggageIncidentDetailPrint(Claim, BaggageIncident)"
              symbolName="BaggageIncident"
              symbolType="BaggageIncident"/>
          </PrintOptionLocation>
        </PrintOption>
      </PrintSection>
      <!-- Claim Associations -->
      <PrintSection
        id="Associations2Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.ClaimAssociations&quot;)"
        printable="perm.ClaimAssociation.view">
        <PrintOption
          id="ClaimAssociationsDetailsOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.ClaimAssociations.Details&quot;)">
          <PrintOptionLocation
            locationRef="ClaimAssociations(Claim)">
            <PrintDetail
              locationRef="ClaimAssociationDetail(Claim, ClaimAssociation)"
              symbolName="ClaimAssociation"
              symbolType="ClaimAssociation"/>
          </PrintOptionLocation>
        </PrintOption>
      </PrintSection>
      <!-- Claim Special Investigations -->
      <PrintSection
        id="SpecialInvestigations2Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.ClaimSpecialInvestigations&quot;)"
        printable="perm.System.viewclaimbasics">
        <PrintOption
          id="ClaimSpecialInvestigationsSummaryOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.ClaimSpecialInvestigations.Summary&quot;)">
          <PrintOptionLocation
            locationRef="SIDetails(Claim)"/>
        </PrintOption>
      </PrintSection>
      <!-- Claim Loss - Medical Details (WC Claims Only) -->
      <PrintSection
        id="ClaimLossMedicalDetail2Section"
        label="CoverageSubtype.TC_WCWORKERSCOMPMED.Description"
        printable="helper.isWorkersCompClaim() and medicalDetails != null and perm.Exposure.view(medicalDetails)">
        <PrintOption
          id="MedicalDetailsSummaryOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.LossDetailsExposureDetail.Details&quot;)">
          <PrintOptionLocation
            locationRef="TopLevelExposureDetail(medicalDetails)"/>
        </PrintOption>
      </PrintSection>
      <!-- Claim Loss - Indemity/Time Loss (WC Claims Only) -->
      <PrintSection
        id="ClaimLossIndemityTimeLoss2Section"
        label="CoverageSubtype.TC_WCWORKERSCOMPWAGES.Description"
        printable="helper.isWorkersCompClaim() and indemityTimeLoss != null and perm.Exposure.view(indemityTimeLoss)">
        <PrintOption
          id="IndemityTimeLossummaryOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.LossDetailsExposureDetail.Details&quot;)">
          <PrintOptionLocation
            locationRef="TopLevelExposureDetail(indemityTimeLoss)"/>
        </PrintOption>
      </PrintSection>
      <!-- Claim Loss - Employer Liability  (WC Claims Only) -->
      <PrintSection
        id="ClaimLossEmployerLiability2Section"
        label="CoverageSubtype.TC_WCEMPLIABCOV.Description"
        printable="helper.isWorkersCompClaim() and employerLiability != null and perm.Exposure.view(employerLiability)">
        <PrintOption
          id="EmployerLiabilitySummaryOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.LossDetailsExposureDetail.Details&quot;)">
          <PrintOptionLocation
            locationRef="TopLevelExposureDetail(employerLiability)"/>
        </PrintOption>
      </PrintSection>
      <!-- Exposures
        (Note: Only visible for NON-WC Claims) -->
      <PrintSection
        id="Exposures2Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.Exposures&quot;)"
        printable="!helper.isWorkersCompClaim() and perm.System.viewexposures">
        <PrintOption
          id="ExposureDetailsOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.Exposures.Details&quot;)">
          <PrintOptionLocation
            locationRef="ClaimExposures(Claim)">
            <PrintDetail
              locationRef="ExposureDetail(Exposure)"
              symbolName="Exposure"
              symbolType="Exposure"/>
          </PrintOptionLocation>
        </PrintOption>
      </PrintSection>
      <!-- Parties Involved -->
      <PrintSection
        id="PartiesInvolved2Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.PartiesInvolved&quot;)"
        printable="perm.System.viewclaimparties">
        <PrintOption
          id="PartiesInvolvedDetailsOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.PartiesInvolved.Details&quot;)">
          <PrintOptionLocation
            listViewRef="PeopleInvolvedDetailedLV"
            locationRef="ClaimContacts(Claim)">
            <PrintDetail
              locationRef="ClaimContactPrintDetails(Claim, selectedClaimContact) "
              symbolName="selectedClaimContact"
              symbolType="entity.ClaimContact"/>
          </PrintOptionLocation>
        </PrintOption>
      </PrintSection>
      <!-- Claim Policy -->
      <PrintSection
        id="Policy2Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.Policy&quot;)"
        printable="perm.System.viewpolicy">
        <!-- All Coverage Details -->
        <PrintOption
          id="PolicyDetailsOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.Policy.Details&quot;)">
          <PrintOptionLocation
            locationRef="ClaimPolicyGeneral(Claim)"/>
          <PrintOptionLocation
            listViewRef="VehiclesLV"
            locationRef="ClaimPolicyVehicles(Claim)"
            printable="helper.isAutoClaim()">
            <PrintDetail
              locationRef="ClaimPolicyVehicleDetail(Claim, VehicleRU)"
              symbolName="VehicleRU"
              symbolType="VehicleRU"/>
          </PrintOptionLocation>
          <PrintOptionLocation
            listViewRef="PolicyLocationsLV"
            locationRef="ClaimPolicyLocations(Claim)"
            printable="canShowClaimPolicyLocations">
            <PrintDetail
              locationRef="PolicyLocationPrint(PolicyLocation, Claim)"
              symbolName="PolicyLocation"
              symbolType="PolicyLocation"/>
          </PrintOptionLocation>
          <PrintOptionLocation
            listViewRef="TripRULV"
            locationRef="ClaimPolicyTrips(Claim)"
            printable="canShowClaimPolicyTrips">
            <PrintDetail
              locationRef="TripRUPrint(Claim, aTripRU)"
              symbolName="aTripRU"
              symbolType="TripRU"/>
          </PrintOptionLocation>
          <PrintOptionLocation
            listViewRef="EndorsementsLV"
            locationRef="ClaimPolicyEndorsements(Claim)">
            <PrintDetail
              locationRef="ClaimPolicyEndorsementDetail(Claim, Endorsement)"
              symbolName="Endorsement"
              symbolType="Endorsement"/>
          </PrintOptionLocation>
          <PrintOptionLocation
            listViewRef="StatCodesLV"
            locationRef="ClaimPolicyStatCodes(Claim)"
            printable="canShowPolicyStatCodes">
            <PrintDetail
              locationRef="ClaimPolicyStatCodeDetail(Claim, StatCode)"
              symbolName="StatCode"
              symbolType="StatCode"/>
          </PrintOptionLocation>
          <PrintOptionLocation
            listViewRef="AggregateLimitsLV"
            locationRef="ClaimPolicyAggregateLimits(Claim)">
            <PrintDetail
              locationRef="ClaimPolicyAggregateLimitDetail(Claim, AggregateLimit)"
              symbolName="AggregateLimit"
              symbolType="AggregateLimit"/>
          </PrintOptionLocation>
        </PrintOption>
      </PrintSection>
      <!-- Financials Summary -->
      <PrintSection
        id="FinancialsSummary2Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.FinancialsSummary&quot;)"
        printable="perm.System.viewfinsum">
        <PrintOption
          id="FinancialsSummaryOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.FinancialsSummary.All&quot;)">
          <PrintOptionLocation
            locationRef="FinancialsSummaryTitlePrint(Claim)"/>
          <PrintOptionLocation
            locationRef="FinancialsSummaryExposurePrint(Claim, false)"/>
          <PrintOptionLocation
            locationRef="FinancialsSummaryExposureOnlyPrint(Claim, false)"/>
          <PrintOptionLocation
            locationRef="FinancialsSummaryClaimantPrint(Claim, false)"/>
          <PrintOptionLocation
            locationRef="FinancialsSummaryCoveragePrint(Claim, false)"/>
          <PrintOptionLocation
            locationRef="FinancialsSummaryClaimCostOnlyPrint(Claim, false)"/>
          <PrintOptionLocation
            locationRef="FinancialsSummaryReservingCurrencyPrint(Claim, false)"/>
          <PrintOptionLocation
            locationRef="FinancialsSummaryRecoveryCategoryPrint(Claim, false)"/>
        </PrintOption>
      </PrintSection>
      <!-- Financials Transactions -->
      <PrintSection
        id="FinancialsTransaction2Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.FinancialsTransactions&quot;)"
        printable="perm.Claim.viewtransactiondetails(Claim)">
        <PrintOption
          id="FinancialsTransactionsAllWithDetailsOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.FinancialsTransactions.AllWithDetails&quot;)">
          <PrintOptionLocation
            locationRef="ClaimFinancialsTransactionsPrint(Claim, gw.api.financials.ClaimFinancialsTransactionsOption.ALL)">
            <PrintDetail
              locationRef="TransactionDetailPrint(Claim, TransactionView)"
              symbolName="TransactionView"
              symbolType="TransactionView"/>
          </PrintOptionLocation>
        </PrintOption>
      </PrintSection>
      <!-- Financials Checks -->
      <PrintSection
        id="Checks2Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.Checks&quot;)"
        printable="perm.Claim.viewpayments(Claim)">
        <PrintOption
          id="CheckDetailsOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.Checks.Details&quot;)">
          <PrintOptionLocation
            locationRef="ClaimFinancialsChecks(Claim)">
            <PrintDetail
              locationRef="ClaimFinancialsChecksDetailPrint(Claim, CheckView)"
              symbolName="CheckView"
              symbolType="CheckView"/>
          </PrintOptionLocation>
        </PrintOption>
      </PrintSection>
      <!-- Claim Notes -->
      <PrintSection
        id="Notes2Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.Notes&quot;)"
        printable="perm.System.viewclaimnotes">
        <PrintOption
          id="NotesAllOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.Notes.All&quot;)">
          <PrintOptionLocation
            locationRef="ClaimAllNotesPrint(Claim)"/>
        </PrintOption>
      </PrintSection>
      <!-- Claim Documents -->
      <PrintSection
        id="Documents2Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.Documents&quot;)"
        printable="perm.System.viewdocs">
        <PrintOption
          id="DocumentsAllOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.Documents.All&quot;)">
          <PrintOptionLocation
            locationRef="ClaimDocumentsPrint(Claim, true)"/>
        </PrintOption>
      </PrintSection>
      <!-- Litigation - Plan of Action - Evaluation -->
      <PrintSection
        id="Evaluations2Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.Evaluations&quot;)"
        printable="perm.System.viewclaimevals">
        <PrintOption
          id="EvaluationsDetailsOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.Evaluations.Details&quot;)">
          <PrintOptionLocation
            listViewRef="EditableEvaluationsLV"
            locationRef="ClaimEvaluations(Claim)">
            <PrintDetail
              locationRef="ClaimEvaluationPrintDetail(Evaluation)"
              symbolName="Evaluation"
              symbolType="Evaluation"/>
          </PrintOptionLocation>
        </PrintOption>
      </PrintSection>
      <!-- Litigation - Plan of Action - Negotiation -->
      <PrintSection
        id="Negotiations2Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.Negotiations&quot;)"
        printable="perm.System.viewclaimngtns">
        <PrintOption
          id="NegotiationsDetailsOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.Negotiations.Details&quot;)">
          <PrintOptionLocation
            listViewRef="EditableNegotiationsLV"
            locationRef="ClaimNegotiations(Claim)">
            <PrintDetail
              locationRef="ClaimNegotiationPrintDetail(Negotiation)"
              symbolName="Negotiation"
              symbolType="Negotiation"/>
          </PrintOptionLocation>
        </PrintOption>
      </PrintSection>
      <!-- Subrogation - General -->
      <PrintSection
        id="Subrogation2Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.Subrogation.General&quot;)"
        printable="perm.System.viewsubrodetails and Claim.SubrogationSummary != null">
        <PrintOption
          id="SubrogationSummaryOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.Subrogation.General&quot;)">
          <PrintOptionLocation
            locationRef="SubrogationGeneral(Claim)"/>
        </PrintOption>
      </PrintSection>
      <!-- Litigation - Matters -->
      <PrintSection
        id="Litigation2Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.Litigation&quot;)"
        printable="perm.System.viewmatters">
        <PrintOption
          id="LitigationDetailsOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.Litigation.Details&quot;)">
          <PrintOptionLocation
            locationRef="ClaimMatters(Claim)">
            <PrintDetail
              locationRef="MatterDetailPage(Claim, Matter)"
              symbolName="Matter"
              symbolType="Matter"/>
          </PrintOptionLocation>
        </PrintOption>
      </PrintSection>
      <!-- Claim Snapshot -->
      <PrintSection
        id="ClaimSnapshot2Section"
        label="&quot;&quot;"
        printable="helper.canPrintClaimSnapshot()">
        <PrintOption
          id="ClaimSnapshotOption"
          label="&quot;&quot;">
          <PrintOptionLocation
            locationRef="ClaimSnapshotLossDetails(Claim)"
            printable="perm.System.viewclaimbasics"/>
          <PrintOptionLocation
            locationRef="ClaimSnapshotPartiesInvolved(Claim)"
            printable="perm.System.viewclaimparties"/>
          <PrintOptionLocation
            locationRef="ClaimSnapshotPolicy(Claim)"
            printable="perm.Policy.view(Claim.Policy) and perm.System.viewpolicy"/>
          <PrintOptionLocation
            locationRef="ClaimSnapshotExposures(Claim)"
            printable="!helper.isWorkersCompClaim() and perm.System.viewexposures"/>
          <PrintOptionLocation
            locationRef="ClaimSnapshotNotes(Claim)"
            printable="perm.System.viewclaimnotes"/>
          <PrintOptionLocation
            locationRef="ClaimSnapshotDocuments(Claim)"
            printable="perm.System.viewdocs"/>
          <PrintOptionLocation
            locationRef="ClaimSnapshotExtraFields(Claim)"
            printable="perm.System.viewclaimbasics"/>
        </PrintOption>
      </PrintSection>
      <!-- Claim History
        Don't touch unless you know what you are doing. -->
      <PrintSection
        id="History2Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.History&quot;)"
        printable="perm.System.viewclaimhistory">
        <PrintOption
          id="HistoryAllOption"
          label="DisplayKey.get(&quot;Java.ListView.Filter.All&quot;)">
          <PrintOptionLocation
            filter="gw.api.util.CoreFilters.ALL"
            listViewRef="HistoryLV"
            locationRef="ClaimHistory(Claim)"/>
        </PrintOption>
      </PrintSection>
      <!-- ECF Messages -->
      <PrintSection
        id="ECFMessagesSection"
        label="DisplayKey.get(&quot;Accelerator.IPLM.Web.PrintClaimOptionsForm.Label.ECFMessage&quot;)"
        printable="Claim.isECFVisible()">
        <PrintOption
          id="ECFMessagesAllOption"
          label="DisplayKey.get(&quot;Java.ListView.Filter.All&quot;)">
          <PrintOptionLocation
            listViewRef="ClaimNotifyLV"
            locationRef="ClaimMessages(Claim)"/>
        </PrintOption>
      </PrintSection>
    </PrintGroup>
    <!-- ==============================================================================================================
      Current claim file page without details
      ============================================================================================================== -->
    <PrintLocation
      id="CurrentClaimFilePagePrint"
      label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.ThisPageWithoutDetails&quot;)"/>
    <!-- ==============================================================================================================
      Current claim file page with details
      ============================================================================================================== -->
    <PrintLocation
      id="CurrentClaimFilePagePrintWithDetails"
      label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.ThisPageWithDetails&quot;)">
      <PrintLocationDetail
        baseLocation="ClaimWorkplan"
        locationRef="ActivityDetailPrint(Activity)"
        symbolName="Activity"
        symbolType="Activity"/>
      <PrintLocationDetail
        baseLocation="ClaimAssociations"
        locationRef="ClaimAssociationDetail(Claim, ClaimAssociation)"
        symbolName="ClaimAssociation"
        symbolType="ClaimAssociation"/>
      <PrintLocationDetail
        baseLocation="ClaimExposures"
        locationRef="ExposureDetail(Exposure)"
        symbolName="Exposure"
        symbolType="Exposure"/>
      <PrintLocationDetail
        baseLocation="ClaimContacts"
        listViewRef="PeopleInvolvedDetailedLV"
        locationRef="ClaimContactPrintDetails(Claim, selectedClaimContact)"
        symbolName="selectedClaimContact"
        symbolType="ClaimContact"/>
      <PrintLocationDetail
        baseLocation="ClaimUsers"
        locationRef="ClaimUserPrintDetails(Claim, ClaimUserModel)"
        symbolName="ClaimUserModel"
        symbolType="ClaimUserModel"/>
      <PrintLocationDetail
        baseLocation="ClaimPolicyVehicles"
        listViewRef="VehiclesLV"
        locationRef="ClaimPolicyVehicleDetail(Claim, VehicleRU)"
        printable="helper.isAutoClaim()"
        symbolName="VehicleRU"
        symbolType="VehicleRU"/>
      <PrintLocationDetail
        baseLocation="ClaimPolicyLocations"
        listViewRef="PolicyLocationsLV"
        locationRef="PolicyLocationPrint(PolicyLocation, Claim)"
        printable="canShowClaimPolicyLocations"
        symbolName="PolicyLocation"
        symbolType="PolicyLocation"/>
      <PrintLocationDetail
        baseLocation="ClaimPolicyEndorsements"
        listViewRef="EndorsementsLV"
        locationRef="ClaimPolicyEndorsementDetail(Claim, Endorsement)"
        symbolName="Endorsement"
        symbolType="Endorsement"/>
      <PrintLocationDetail
        baseLocation="ClaimPolicyStatCodes"
        listViewRef="StatCodesLV"
        locationRef="ClaimPolicyStatCodeDetail(Claim, StatCode)"
        symbolName="StatCode"
        symbolType="StatCode"/>
      <PrintLocationDetail
        baseLocation="ClaimPolicyAggregateLimits"
        listViewRef="AggregateLimitsLV"
        locationRef="ClaimPolicyAggregateLimitDetail(Claim, AggregateLimit)"
        symbolName="AggregateLimit"
        symbolType="AggregateLimit"/>
      <PrintLocationDetail
        baseLocation="ClaimFinancialsTransactions"
        locationRef="TransactionDetailPrint(Claim, TransactionView)"
        symbolName="TransactionView"
        symbolType="TransactionView"/>
      <PrintLocationDetail
        baseLocation="ClaimFinancialsChecks"
        locationRef="ClaimFinancialsChecksDetailPrint(Claim, CheckView)"
        symbolName="CheckView"
        symbolType="CheckView"/>
      <PrintLocationDetail
        baseLocation="ClaimDocuments"
        locationRef="DocumentDetailsPrint(Claim, DocumentParam)"
        symbolName="DocumentParam"
        symbolType="Document"/>
      <PrintLocationDetail
        baseLocation="ClaimEvaluations"
        listViewRef="EditableEvaluationsLV"
        locationRef="ClaimEvaluationPrintDetail(Evaluation)"
        symbolName="Evaluation"
        symbolType="Evaluation"/>
      <PrintLocationDetail
        baseLocation="ClaimNegotiations"
        listViewRef="EditableNegotiationsLV"
        locationRef="ClaimNegotiationPrintDetail(Negotiation)"
        symbolName="Negotiation"
        symbolType="Negotiation"/>
      <PrintLocationDetail
        baseLocation="ClaimMatters"
        locationRef="MatterDetailPage(Claim, Matter)"
        symbolName="Matter"
        symbolType="Matter"/>
    </PrintLocation>
    <!-- ==============================================================================================================
      Custom
      ============================================================================================================== -->
    <PrintGroup
      customizable="true"
      id="Custom"
      label="DisplayKey.get(&quot;Java.Printout.Custom&quot;)">
      <!-- Claim Summary -->
      <PrintSection
        id="Summary3Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.Summary&quot;)"
        printable="perm.System.viewclaimsummary">
        <PrintOption
          id="SummaryAllOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.Summary.All&quot;)">
          <PrintOptionLocation
            locationRef="ClaimSummary(Claim)"/>
          <PrintOptionLocation
            locationRef="ClaimStatus(Claim)"/>
          <PrintOptionLocation
            locationRef="ClaimKeyMetrics(Claim)"/>
        </PrintOption>
        <PrintOption
          id="ClaimSuummaryOnlyOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.Summary.ClaimSummary&quot;)">
          <PrintOptionLocation
            locationRef="ClaimSummary(Claim)"/>
        </PrintOption>
        <PrintOption
          id="ClaimSummaryExcludingConfidentialNotesOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.Summary.SummaryWithoutConfidentialNotes&quot;)">
          <PrintOptionLocation
            locationRef="ClaimSummary(Claim, true)"/>
        </PrintOption>
        <PrintOption
          id="ClaimStatusOnlyOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.Summary.ClaimStatus&quot;)">
          <PrintOptionLocation
            locationRef="ClaimStatus(Claim)"/>
        </PrintOption>
        <PrintOption
          id="ClaimHealthMetricsOnlyOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.Summary.ClaimHealthMetrics&quot;)">
          <PrintOptionLocation
            locationRef="ClaimKeyMetrics(Claim)"/>
        </PrintOption>
      </PrintSection>
      <!-- Claim Workplan -->
      <PrintSection
        id="Workplan3Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.Workplan&quot;)"
        printable="perm.System.viewworkplan">
        <PrintOption
          id="WorkplanSummaryOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.Workplan.Summary&quot;)">
          <PrintOptionLocation
            locationRef="ClaimWorkplan(Claim)"/>
        </PrintOption>
        <PrintOption
          id="WorkplanDetailsOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.Workplan.Details&quot;)">
          <PrintOptionLocation
            locationRef="ClaimWorkplan(Claim)">
            <PrintDetail
              locationRef="ActivityDetailPrint(Activity)"
              symbolName="Activity"
              symbolType="Activity"/>
          </PrintOptionLocation>
        </PrintOption>
      </PrintSection>
      <!-- Loss Details -->
      <PrintSection
        id="LossDetails3Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.LossDetails&quot;)"
        printable="perm.System.viewclaimbasics">
        <PrintOption
          id="LossDetailsOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.LossDetails&quot;)">
          <PrintOptionLocation
            locationRef="ClaimLossDetails(Claim)"/>
        </PrintOption>
      </PrintSection>
      <!-- Loss Details - Vehicle Incident/Assessment (Auto only)
        Detailed print option only (the summary list of Vehicles is already a part of the general Claim Loss Details output -->
      <PrintSection
        id="VehicleIncident3Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.LossDetails.VehicleIncidents&quot;)"
        printable="helper.isAutoClaim() and perm.System.viewclaimbasics">
        <PrintOption
          id="VehicleIncidentDetailsOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.LossDetails.VehicleIncidents.All&quot;)">
          <PrintOptionLocation
            locationRef="VehicleIncidentPrint(Claim)">
            <PrintDetail
              locationRef="VehicleIncidentDetailPrint(vehicleIncident)"
              symbolName="vehicleIncident"
              symbolType="VehicleIncident"/>
          </PrintOptionLocation>
        </PrintOption>
      </PrintSection>
      <!-- Loss Details - Property Incident/Assessment
        Detailed print option only (the summary list of these incidents is already a part of the general Claim Loss Details output -->
      <PrintSection
        id="PropertyIncident3Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.LossDetails.FixedPropertyIncidents&quot;)"
        printable="perm.System.viewclaimbasics">
        <PrintOption
          id="PropertyIncidentDetailOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.LossDetails.FixedPropertyIncidents.All&quot;)">
          <PrintOptionLocation
            locationRef="FixedPropertyIncidentPrint(Claim)"
            printable="!helper.FixedPropertyIncidents.IsEmpty">
            <PrintDetail
              locationRef="FixedPropertyIncidentDetailPrint(fixedPropertyIncident)"
              symbolName="fixedPropertyIncident"
              symbolType="FixedPropertyIncident"/>
          </PrintOptionLocation>
        </PrintOption>
      </PrintSection>
      <!-- Injury Incidents
            Detailed print option only (the summary list of these incidents is already a part of the general Claim Loss Details output -->
      <PrintSection
        id="InjuryIncident3Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.LossDetails.InjuryIncidents&quot;)">
        <PrintOption
          id="InjuryIncidentDetailsOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.LossDetails.InjuryIncidents.All&quot;)">
          <PrintOptionLocation
            locationRef="InjuryIncidentsPrint(Claim)"
            printable="!helper.InjuryIncidents.IsEmpty">
            <PrintDetail
              locationRef="InjuryIncidentDetailPrint(InjuryIncident)"
              symbolName="InjuryIncident"
              symbolType="InjuryIncident"/>
          </PrintOptionLocation>
        </PrintOption>
      </PrintSection>
      <!-- Loss Details - Homeowners Incidents/Assessments (HO only)
            Detailed print option only (the summary list of these incidents is already a part of the general Claim Loss Details output -->
      <PrintSection
        id="HomeownerPropertyIncident3Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.LossDetails.HomeownersIncidents&quot;)"
        printable="helper.isHomeownersClaim()">
        <PrintOption
          id="HomeownerIncidentOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.LossDetails.HomeownersIncidents.All&quot;)"
          printable="helper.isHomeownersClaim()">
          <!-- Dwelling Incident -->
          <PrintOptionLocation
            locationRef="DwellingIncidentPrint(Claim, helper.DwellingIncident)"
            printable="helper.DwellingIncident != null and perm.Incident.view(helper.DwellingIncident)"/>
          <!-- Personal Property Incident -->
          <PrintOptionLocation
            locationRef="PropertyContentsIncidentPrint(Claim, helper.PersonalPropertyIncident)"
            printable="helper.PersonalPropertyIncident != null and perm.Incident.view(helper.PersonalPropertyIncident)"/>
          <!-- Other Structures Incident -->
          <PrintOptionLocation
            locationRef="OtherStructureIncidentPrint(Claim, helper.OtherStructureIncident)"
            printable="helper.OtherStructureIncident != null and perm.Incident.view(helper.OtherStructureIncident)"/>
          <!-- Living Expenses Incident -->
          <PrintOptionLocation
            locationRef="LivingExpensesIncidentPrint(Claim, helper.LivingExpensesIncident)"
            printable="helper.LivingExpensesIncident != null and perm.Incident.view(helper.LivingExpensesIncident)"/>
        </PrintOption>
      </PrintSection>
      <!-- Loss Details - Travel Incident Details (Travel Only) -->
      <PrintSection
        id="TravelIncident3Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.LossDetails.TravelIncidents&quot;)"
        printable="helper.isTravelClaim()">
        <PrintOption
          id="TravelIncidentsOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.LossDetails.TravelIncidents.All&quot;)">
          <PrintOptionLocation
            locationRef="TripIncidentsPrint(Claim)"
            printable="!helper.TripIncidents.IsEmpty">
            <PrintDetail
              locationRef="TripIncidentDetailPrint(Claim, TripIncident)"
              symbolName="TripIncident"
              symbolType="TripIncident"/>
          </PrintOptionLocation>
          <PrintOptionLocation
            locationRef="BaggageIncidentsPrint(Claim)"
            printable="!helper.BaggageIncidents.IsEmpty">
            <PrintDetail
              locationRef="BaggageIncidentDetailPrint(Claim, BaggageIncident)"
              symbolName="BaggageIncident"
              symbolType="BaggageIncident"/>
          </PrintOptionLocation>
        </PrintOption>
      </PrintSection>
      <!-- Claim Associations -->
      <PrintSection
        id="Associations3Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.ClaimAssociations&quot;)"
        printable="perm.ClaimAssociation.view">
        <PrintOption
          id="ClaimAssociationsSummaryOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.ClaimAssociations.Summary&quot;)">
          <PrintOptionLocation
            locationRef="ClaimAssociations(Claim)"/>
        </PrintOption>
        <PrintOption
          id="ClaimAssociationsDetailsOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.ClaimAssociations.Details&quot;)">
          <PrintOptionLocation
            locationRef="ClaimAssociations(Claim)">
            <PrintDetail
              locationRef="ClaimAssociationDetail(Claim, ClaimAssociation)"
              symbolName="ClaimAssociation"
              symbolType="ClaimAssociation"/>
          </PrintOptionLocation>
        </PrintOption>
      </PrintSection>
      <!-- Claim Special Investigations (WC Claims Only) -->
      <PrintSection
        id="SpecialInvestigations3Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.ClaimSpecialInvestigations&quot;)"
        printable="perm.System.viewclaimbasics">
        <PrintOption
          id="ClaimSpecialInvestigationsSummaryOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.ClaimSpecialInvestigations.Summary&quot;)">
          <PrintOptionLocation
            locationRef="SIDetails(Claim)"/>
        </PrintOption>
      </PrintSection>
      <!-- Claim Loss - Medical Details (WC Claims Only) -->
      <PrintSection
        id="ClaimLossMedicalDetail3Section"
        label="CoverageSubtype.TC_WCWORKERSCOMPMED.Description"
        printable="helper.isWorkersCompClaim() and medicalDetails != null and perm.Exposure.view(medicalDetails)">
        <PrintOption
          id="MedicalDetailsSummaryOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.LossDetailsExposureDetail.Details&quot;)">
          <PrintOptionLocation
            locationRef="TopLevelExposureDetail(medicalDetails)"/>
        </PrintOption>
      </PrintSection>
      <!-- Claim Loss - Indemity/Time Loss (WC Claims Only) -->
      <PrintSection
        id="ClaimLossIndemityTimeLoss3Section"
        label="CoverageSubtype.TC_WCWORKERSCOMPWAGES.Description"
        printable="helper.isWorkersCompClaim() and indemityTimeLoss != null and perm.Exposure.view(indemityTimeLoss)">
        <PrintOption
          id="IndemityTimeLossummaryOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.LossDetailsExposureDetail.Details&quot;)">
          <PrintOptionLocation
            locationRef="TopLevelExposureDetail(indemityTimeLoss)"/>
        </PrintOption>
      </PrintSection>
      <!-- Claim Loss - Employer Liability  (WC Claims Only) -->
      <PrintSection
        id="ClaimLossEmployerLiabilitySection"
        label="CoverageSubtype.TC_WCEMPLIABCOV.Description"
        printable="helper.isWorkersCompClaim() and employerLiability != null and perm.Exposure.view(employerLiability)">
        <PrintOption
          id="EmployerLiabilitySummaryOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.LossDetailsExposureDetail.Details&quot;)">
          <PrintOptionLocation
            locationRef="TopLevelExposureDetail(employerLiability)"/>
        </PrintOption>
      </PrintSection>
      <!-- Exposures
        (Note: Only visible for NON-WC Claims) -->
      <PrintSection
        id="Exposures3Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.Exposures&quot;)"
        printable="!helper.isWorkersCompClaim() and perm.System.viewexposures">
        <PrintOption
          id="ExposureSummaryOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.Exposures.Summary&quot;)">
          <PrintOptionLocation
            locationRef="ClaimExposures(Claim)"/>
        </PrintOption>
        <PrintOption
          id="ExposureDetailsOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.Exposures.Details&quot;)">
          <PrintOptionLocation
            locationRef="ClaimExposures(Claim)">
            <PrintDetail
              locationRef="ExposureDetail(Exposure)"
              symbolName="Exposure"
              symbolType="Exposure"/>
          </PrintOptionLocation>
        </PrintOption>
      </PrintSection>
      <!-- Parties Involved -->
      <PrintSection
        id="PartiesInvolved3Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.PartiesInvolved&quot;)"
        printable="perm.System.viewclaimparties">
        <PrintOption
          id="PartiesInvolvedSummaryOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.PartiesInvolved.Summary&quot;)">
          <PrintOptionLocation
            locationRef="ClaimContacts(Claim)"/>
        </PrintOption>
        <PrintOption
          id="PartiesInvolvedDetailsOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.PartiesInvolved.Details&quot;)">
          <PrintOptionLocation
            listViewRef="PeopleInvolvedDetailedLV"
            locationRef="ClaimContacts(Claim)">
            <PrintDetail
              locationRef="ClaimContactPrintDetails(Claim, selectedClaimContact)"
              symbolName="selectedClaimContact"
              symbolType="ClaimContact"/>
          </PrintOptionLocation>
        </PrintOption>
      </PrintSection>
      <!-- Claim Policy -->
      <PrintSection
        id="Policy3Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.Policy&quot;)"
        printable="perm.System.viewpolicy">
        <!-- Basics -->
        <PrintOption
          id="PolicyBasicOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.Policy.Basic&quot;)">
          <PrintOptionLocation
            locationRef="ClaimPolicyGeneral(Claim)"/>
        </PrintOption>
        <!-- Vehicles and Locations
          (for Auto Claims ONLY) -->
        <PrintOption
          id="PolicyVehiclesLocationsOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.Policy.VehiclesLocations&quot;)"
          printable="helper.isAutoClaim()">
          <PrintOptionLocation
            listViewRef="VehiclesLV"
            locationRef="ClaimPolicyVehicles(Claim)">
            <PrintDetail
              locationRef="ClaimPolicyVehicleDetail(Claim, VehicleRU)"
              symbolName="VehicleRU"
              symbolType="VehicleRU"/>
          </PrintOptionLocation>
        </PrintOption>
        <!-- Policy Locations -->
        <PrintOption
          id="PolicyLocations"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.Policy.WCLocations&quot;)"
          printable="canShowClaimPolicyLocations">
          <PrintOptionLocation
            listViewRef="PolicyLocationsLV"
            locationRef="ClaimPolicyLocations(Claim)"
            printable="canShowClaimPolicyLocations">
            <PrintDetail
              locationRef="PolicyLocationPrint(PolicyLocation, Claim)"
              symbolName="PolicyLocation"
              symbolType="PolicyLocation"/>
          </PrintOptionLocation>
        </PrintOption>
        <!-- Trips (Travel Only) -->
        <PrintOption
          id="PolicyTrips"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.Policy.Trips&quot;)"
          printable="canShowClaimPolicyTrips">
          <PrintOptionLocation
            listViewRef="TripRULV"
            locationRef="ClaimPolicyTrips(Claim)">
            <PrintDetail
              locationRef="TripRUPrint(Claim, aTripRU)"
              symbolName="aTripRU"
              symbolType="TripRU"/>
          </PrintOptionLocation>
        </PrintOption>
        <!-- Endorsements -->
        <PrintOption
          id="PolicyEndorsementsOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.Policy.Endorsements&quot;)">
          <PrintOptionLocation
            listViewRef="EndorsementsLV"
            locationRef="ClaimPolicyEndorsements(Claim)">
            <PrintDetail
              locationRef="ClaimPolicyEndorsementDetail(Claim, Endorsement)"
              symbolName="Endorsement"
              symbolType="Endorsement"/>
          </PrintOptionLocation>
        </PrintOption>
        <!-- Stats -->
        <PrintOption
          id="PolicyStatCodesOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.Policy.StatCodes&quot;)"
          printable="canShowPolicyStatCodes">
          <PrintOptionLocation
            locationRef="ClaimPolicyStatCodesPrint(Claim)">
            <PrintDetail
              locationRef="ClaimPolicyStatCodeDetail(Claim, StatCode)"
              symbolName="StatCode"
              symbolType="StatCode"/>
          </PrintOptionLocation>
        </PrintOption>
        <!-- Aggregate Limits -->
        <PrintOption
          id="PolicyAggregateLimitsOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.Policy.AggregateLimits&quot;)">
          <PrintOptionLocation
            locationRef="ClaimPolicyAggregateLimits(Claim)">
            <PrintDetail
              locationRef="ClaimPolicyAggregateLimitDetail(Claim, AggregateLimit)"
              symbolName="AggregateLimit"
              symbolType="AggregateLimit"/>
          </PrintOptionLocation>
        </PrintOption>
        <!-- Basic + Vehicles and Locations (for Auto Claims ONLY) -->
        <PrintOption
          id="PolicyBasicAndVehiclesLocationsOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.Policy.BasicAndVehiclesLocations&quot;)"
          printable="helper.isAutoClaim()">
          <PrintOptionLocation
            locationRef="ClaimPolicyGeneral(Claim)"/>
          <PrintOptionLocation
            listViewRef="VehiclesLV"
            locationRef="ClaimPolicyVehicles(Claim)">
            <PrintDetail
              locationRef="ClaimPolicyVehicleDetail(Claim, VehicleRU)"
              symbolName="VehicleRU"
              symbolType="VehicleRU"/>
          </PrintOptionLocation>
        </PrintOption>
        <!-- All Coverage Details -->
        <PrintOption
          id="PolicyDetailsOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.Policy.Details&quot;)">
          <PrintOptionLocation
            locationRef="ClaimPolicyGeneral(Claim)"/>
          <PrintOptionLocation
            listViewRef="VehiclesLV"
            locationRef="ClaimPolicyVehicles(Claim)"
            printable="helper.isAutoClaim()">
            <PrintDetail
              locationRef="ClaimPolicyVehicleDetail(Claim, VehicleRU)"
              symbolName="VehicleRU"
              symbolType="VehicleRU"/>
          </PrintOptionLocation>
          <PrintOptionLocation
            listViewRef="PolicyLocationsLV"
            locationRef="ClaimPolicyLocations(Claim)"
            printable="canShowClaimPolicyLocations">
            <PrintDetail
              locationRef="PolicyLocationPrint(PolicyLocation, Claim)"
              symbolName="PolicyLocation"
              symbolType="PolicyLocation"/>
          </PrintOptionLocation>
          <PrintOptionLocation
            listViewRef="TripRULV"
            locationRef="ClaimPolicyTrips(Claim)"
            printable="canShowClaimPolicyTrips">
            <PrintDetail
              locationRef="TripRUPrint(Claim, aTripRU)"
              symbolName="aTripRU"
              symbolType="TripRU"/>
          </PrintOptionLocation>
          <PrintOptionLocation
            listViewRef="EndorsementsLV"
            locationRef="ClaimPolicyEndorsements(Claim)">
            <PrintDetail
              locationRef="ClaimPolicyEndorsementDetail(Claim, Endorsement)"
              symbolName="Endorsement"
              symbolType="Endorsement"/>
          </PrintOptionLocation>
          <PrintOptionLocation
            listViewRef="StatCodesLV"
            locationRef="ClaimPolicyStatCodes(Claim)"
            printable="canShowPolicyStatCodes">
            <PrintDetail
              locationRef="ClaimPolicyStatCodeDetail(Claim, StatCode)"
              symbolName="StatCode"
              symbolType="StatCode"/>
          </PrintOptionLocation>
          <PrintOptionLocation
            listViewRef="AggregateLimitsLV"
            locationRef="ClaimPolicyAggregateLimits(Claim)">
            <PrintDetail
              locationRef="ClaimPolicyAggregateLimitDetail(Claim, AggregateLimit)"
              symbolName="AggregateLimit"
              symbolType="AggregateLimit"/>
          </PrintOptionLocation>
        </PrintOption>
      </PrintSection>
      <!-- Financials Summary -->
      <PrintSection
        id="FinancialsSummary3Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.FinancialsSummary&quot;)"
        printable="perm.System.viewfinsum">
        <PrintOption
          id="FinancialsSummaryOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.FinancialsSummary.All&quot;)">
          <PrintOptionLocation
            locationRef="FinancialsSummaryTitlePrint(Claim)"/>
          <PrintOptionLocation
            locationRef="FinancialsSummaryExposurePrint(Claim, false)"/>
          <PrintOptionLocation
            locationRef="FinancialsSummaryExposureOnlyPrint(Claim, false)"/>
          <PrintOptionLocation
            locationRef="FinancialsSummaryClaimantPrint(Claim, false)"/>
          <PrintOptionLocation
            locationRef="FinancialsSummaryCoveragePrint(Claim, false)"/>
          <PrintOptionLocation
            locationRef="FinancialsSummaryClaimCostOnlyPrint(Claim, false)"/>
          <PrintOptionLocation
            locationRef="FinancialsSummaryReservingCurrencyPrint(Claim, false)"/>
          <PrintOptionLocation
            locationRef="FinancialsSummaryRecoveryCategoryPrint(Claim, false)"/>
        </PrintOption>
        <PrintOption
          id="FinancialsSummaryExposureOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.FinancialsSummary.Exposure&quot;)">
          <PrintOptionLocation
            locationRef="FinancialsSummaryTitlePrint(Claim)"/>
          <PrintOptionLocation
            locationRef="FinancialsSummaryExposurePrint(Claim, false)"/>
        </PrintOption>
        <PrintOption
          id="FinancialsSummaryExposureOnlyOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.FinancialsSummary.ExposureOnly&quot;)">
          <PrintOptionLocation
            locationRef="FinancialsSummaryTitlePrint(Claim)"/>
          <PrintOptionLocation
            locationRef="FinancialsSummaryExposureOnlyPrint(Claim, false)"/>
        </PrintOption>
        <PrintOption
          id="FinancialsSummaryClaimantOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.FinancialsSummary.Claimant&quot;)">
          <PrintOptionLocation
            locationRef="FinancialsSummaryTitlePrint(Claim)"/>
          <PrintOptionLocation
            locationRef="FinancialsSummaryClaimantPrint(Claim, false)"/>
        </PrintOption>
        <PrintOption
          id="FinancialsSummaryCoverageOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.FinancialsSummary.Coverage&quot;)">
          <PrintOptionLocation
            locationRef="FinancialsSummaryTitlePrint(Claim)"/>
          <PrintOptionLocation
            locationRef="FinancialsSummaryCoveragePrint(Claim, false)"/>
        </PrintOption>
        <PrintOption
          id="FinancialsSummaryClaimCostOnlyOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.FinancialsSummary.ClaimCostOnly&quot;)">
          <PrintOptionLocation
            locationRef="FinancialsSummaryTitlePrint(Claim)"/>
          <PrintOptionLocation
            locationRef="FinancialsSummaryClaimCostOnlyPrint(Claim, false)"/>
        </PrintOption>
        <PrintOption
          id="FinancialsSummaryReservingCurrencyOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.FinancialsSummary.ReservingCurrency&quot;)">
          <PrintOptionLocation
            locationRef="FinancialsSummaryTitlePrint(Claim)"/>
          <PrintOptionLocation
            locationRef="FinancialsSummaryReservingCurrencyPrint(Claim, false)"/>
        </PrintOption>
        <PrintOption
          id="FinancialsSummaryRecoveryCategoryOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.FinancialsSummary.RecoveryCategory&quot;)">
          <PrintOptionLocation
            locationRef="FinancialsSummaryTitlePrint(Claim)"/>
          <PrintOptionLocation
            locationRef="FinancialsSummaryRecoveryCategoryPrint(Claim, false)"/>
        </PrintOption>
      </PrintSection>
      <!-- Financials Transactions -->
      <PrintSection
        id="FinancialsTransactionSection"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.FinancialsTransactions&quot;)"
        printable="perm.Claim.viewtransactiondetails(Claim)">
        <!-- All Financial Transactions -->
        <PrintOption
          id="FinancialsTransactionsAllWithoutDetailsOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.FinancialsTransactions.AllWithoutDetails&quot;)">
          <PrintOptionLocation
            locationRef="ClaimFinancialsTransactionsPrint(Claim, gw.api.financials.ClaimFinancialsTransactionsOption.ALL)"/>
        </PrintOption>
        <PrintOption
          id="FinancialsTransactionsAllWithDetailsOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.FinancialsTransactions.AllWithDetails&quot;)">
          <PrintOptionLocation
            locationRef="ClaimFinancialsTransactionsPrint(Claim, gw.api.financials.ClaimFinancialsTransactionsOption.ALL)">
            <PrintDetail
              locationRef="TransactionDetailPrint(Claim, TransactionView)"
              symbolName="TransactionView"
              symbolType="TransactionView"/>
          </PrintOptionLocation>
        </PrintOption>
        <!-- Reserves -->
        <PrintOption
          id="FinancialsTransactionReservesWithoutDetailsOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.FinancialsTransactions.ReservesWithoutDetails&quot;)"
          printable="perm.Claim.viewreserves(Claim)">
          <PrintOptionLocation
            locationRef="ClaimFinancialsTransactionsPrint(Claim, gw.api.financials.ClaimFinancialsTransactionsOption.RESERVE)"/>
        </PrintOption>
        <PrintOption
          id="FinancialsTransactionReservesWithDetailsOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.FinancialsTransactions.ReservesWithDetails&quot;)"
          printable="perm.Claim.viewreserves(Claim)">
          <PrintOptionLocation
            locationRef="ClaimFinancialsTransactionsPrint(Claim, gw.api.financials.ClaimFinancialsTransactionsOption.RESERVE)">
            <PrintDetail
              locationRef="TransactionDetailPrint(Claim, TransactionView)"
              symbolName="TransactionView"
              symbolType="TransactionView"/>
          </PrintOptionLocation>
        </PrintOption>
        <!-- Payments -->
        <PrintOption
          id="FinancialsTransactionPaymentsWithoutDetailsOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.FinancialsTransactions.PaymentsWithoutDetails&quot;)"
          printable="perm.Claim.viewpayments(Claim)">
          <PrintOptionLocation
            locationRef="ClaimFinancialsTransactionsPrint(Claim, gw.api.financials.ClaimFinancialsTransactionsOption.PAYMENT)"/>
        </PrintOption>
        <PrintOption
          id="FinancialsTransactionPaymentsWithDetailsOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.FinancialsTransactions.PaymentsWithDetails&quot;)"
          printable="perm.Claim.viewpayments(Claim)">
          <PrintOptionLocation
            locationRef="ClaimFinancialsTransactionsPrint(Claim, gw.api.financials.ClaimFinancialsTransactionsOption.PAYMENT)">
            <PrintDetail
              locationRef="TransactionDetailPrint(Claim, TransactionView)"
              symbolName="TransactionView"
              symbolType="TransactionView"/>
          </PrintOptionLocation>
        </PrintOption>
        <!-- Recoveries -->
        <PrintOption
          id="FinancialsTransactionRecoveriesWithoutDetailsOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.FinancialsTransactions.RecoveriesWithoutDetails&quot;)"
          printable="perm.Claim.viewrecoveries(Claim)">
          <PrintOptionLocation
            locationRef="ClaimFinancialsTransactionsPrint(Claim, gw.api.financials.ClaimFinancialsTransactionsOption.RECOVERY)"/>
        </PrintOption>
        <PrintOption
          id="FinancialsTransactionRecoveriesWithDetailsOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.FinancialsTransactions.RecoveriesWithDetails&quot;)"
          printable="perm.Claim.viewrecoveries(Claim)">
          <PrintOptionLocation
            locationRef="ClaimFinancialsTransactionsPrint(Claim, gw.api.financials.ClaimFinancialsTransactionsOption.RECOVERY)">
            <PrintDetail
              locationRef="TransactionDetailPrint(Claim, TransactionView)"
              symbolName="TransactionView"
              symbolType="TransactionView"/>
          </PrintOptionLocation>
        </PrintOption>
        <!-- Recovery Reserves -->
        <PrintOption
          id="FinancialsTransactionRecoveryReservesWithoutDetailsOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.FinancialsTransactions.RecoveryReservesWithoutDetails&quot;)"
          printable="perm.Claim.viewrecoveryreserves(Claim) and gw.api.print.ClaimPrintoutHelper.UseRecoveryReserves">
          <PrintOptionLocation
            locationRef="ClaimFinancialsTransactionsPrint(Claim, gw.api.financials.ClaimFinancialsTransactionsOption.RECOVERY_RESERVE)"/>
        </PrintOption>
        <PrintOption
          id="FinancialsTransactionRecoveryReservesWithDetailsOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.FinancialsTransactions.RecoveryReservesWithDetails&quot;)"
          printable="perm.Claim.viewrecoveryreserves(Claim) and gw.api.print.ClaimPrintoutHelper.UseRecoveryReserves">
          <PrintOptionLocation
            locationRef="ClaimFinancialsTransactionsPrint(Claim, gw.api.financials.ClaimFinancialsTransactionsOption.RECOVERY_RESERVE)">
            <PrintDetail
              locationRef="TransactionDetailPrint(Claim, TransactionView)"
              symbolName="TransactionView"
              symbolType="TransactionView"/>
          </PrintOptionLocation>
        </PrintOption>
      </PrintSection>
      <!-- Financials Checks -->
      <PrintSection
        id="Checks3Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.Checks&quot;)"
        printable="perm.Claim.viewpayments(Claim)">
        <PrintOption
          id="CheckSummaryOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.Checks.Summary&quot;)">
          <PrintOptionLocation
            locationRef="ClaimFinancialsChecks(Claim)"/>
        </PrintOption>
        <PrintOption
          id="CheckDetailsOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.Checks.Details&quot;)">
          <PrintOptionLocation
            locationRef="ClaimFinancialsChecks(Claim)">
            <PrintDetail
              locationRef="ClaimFinancialsChecksDetailPrint(Claim, CheckView)"
              symbolName="CheckView"
              symbolType="CheckView"/>
          </PrintOptionLocation>
        </PrintOption>
      </PrintSection>
      <!-- Claim Notes -->
      <PrintSection
        id="Notes3Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.Notes&quot;)"
        printable="perm.System.viewclaimnotes">
        <PrintOption
          id="NotesAllExcludingConfidentialOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.Notes.AllExcludingConfidential&quot;)">
          <PrintOptionLocation
            locationRef="ClaimNoConfidentialNotesPrint(Claim)"/>
        </PrintOption>
        <PrintOption
          id="NotesAllOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.Notes.All&quot;)">
          <PrintOptionLocation
            locationRef="ClaimAllNotesPrint(Claim)"/>
        </PrintOption>
      </PrintSection>
      <!-- Claim Documents -->
      <PrintSection
        id="Documents3Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.Documents&quot;)"
        printable="perm.System.viewdocs">
        <PrintOption
          id="DocumentsAllOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.Documents.All&quot;)">
          <PrintOptionLocation
            locationRef="ClaimDocumentsPrint(Claim, true)"/>
        </PrintOption>
        <PrintOption
          id="DocumentsAllExcludingHiddenOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.Documents.AllExcludingHidden&quot;)">
          <PrintOptionLocation
            locationRef="ClaimDocumentsPrint(Claim, false)"/>
        </PrintOption>
      </PrintSection>
      <!-- Litigation - Plan of Action - Evaluation -->
      <PrintSection
        id="Evaluations3Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.Evaluations&quot;)"
        printable="perm.System.viewclaimevals">
        <PrintOption
          id="EvaluationsSummaryOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.Evaluations.Summary&quot;)">
          <PrintOptionLocation
            locationRef="ClaimEvaluations(Claim)"/>
        </PrintOption>
        <PrintOption
          id="EvaluationsDetailsOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.Evaluations.Details&quot;)">
          <PrintOptionLocation
            listViewRef="EditableEvaluationsLV"
            locationRef="ClaimEvaluations(Claim)">
            <PrintDetail
              locationRef="ClaimEvaluationPrintDetail(Evaluation)"
              symbolName="Evaluation"
              symbolType="Evaluation"/>
          </PrintOptionLocation>
        </PrintOption>
      </PrintSection>
      <!-- Litigation - Plan of Action - Negotiation -->
      <PrintSection
        id="Negotiations3Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.Negotiations&quot;)"
        printable="perm.System.viewclaimngtns">
        <PrintOption
          id="NegotiationsSummaryOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.Negotiations.Summary&quot;)">
          <PrintOptionLocation
            listViewRef="EditableNegotiationsLV"
            locationRef="ClaimNegotiations(Claim)"/>
        </PrintOption>
        <PrintOption
          id="NegotiationsDetailsOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.Negotiations.Details&quot;)">
          <PrintOptionLocation
            listViewRef="EditableNegotiationsLV"
            locationRef="ClaimNegotiations(Claim)">
            <PrintDetail
              locationRef="ClaimNegotiationPrintDetail(Negotiation)"
              symbolName="Negotiation"
              symbolType="Negotiation"/>
          </PrintOptionLocation>
        </PrintOption>
      </PrintSection>
      <!-- Subrogation - General -->
      <PrintSection
        id="Subrogation3Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.Subrogation.General&quot;)"
        printable="perm.System.viewsubrodetails and Claim.SubrogationSummary != null">
        <PrintOption
          id="SubrogationSummaryOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.Subrogation.General&quot;)">
          <PrintOptionLocation
            locationRef="SubrogationGeneral(Claim)"/>
        </PrintOption>
      </PrintSection>
      <!-- Litigation - Matters -->
      <PrintSection
        id="Litigation3Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.Litigation&quot;)"
        printable="perm.System.viewmatters">
        <PrintOption
          id="LitigationSummaryOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.Litigation.Summary&quot;)">
          <PrintOptionLocation
            locationRef="ClaimMatters(Claim)"/>
        </PrintOption>
        <PrintOption
          id="LitigationDetailsOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.Litigation.Details&quot;)">
          <PrintOptionLocation
            locationRef="ClaimMatters(Claim)">
            <PrintDetail
              locationRef="MatterDetailPage(Claim, Matter)"
              symbolName="Matter"
              symbolType="Matter"/>
          </PrintOptionLocation>
        </PrintOption>
      </PrintSection>
      <!-- Claim Snapshot -->
      <PrintSection
        id="ClaimSnapshot3Section"
        label="(Claim.LossType == LossType.TC_WC) ? DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.FirstReportOfInjurySnapshot&quot;) : DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.FNOLSnapshot&quot;)"
        printable="helper.canPrintClaimSnapshot()">
        <PrintOption
          id="ClaimSnapshotOption"
          label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Options.FNOLSnapshot.All&quot;)">
          <PrintOptionLocation
            locationRef="ClaimSnapshotLossDetails(Claim)"
            printable="perm.System.viewclaimbasics"/>
          <PrintOptionLocation
            locationRef="ClaimSnapshotPartiesInvolved(Claim)"
            printable="perm.System.viewclaimparties"/>
          <PrintOptionLocation
            locationRef="ClaimSnapshotPolicy(Claim)"
            printable="perm.Policy.view(Claim.Policy) and perm.System.viewpolicy"/>
          <PrintOptionLocation
            locationRef="ClaimSnapshotExposures(Claim)"
            printable="!helper.isWorkersCompClaim() and perm.System.viewexposures"/>
          <PrintOptionLocation
            locationRef="ClaimSnapshotNotes(Claim)"
            printable="perm.System.viewclaimnotes"/>
          <PrintOptionLocation
            locationRef="ClaimSnapshotDocuments(Claim)"
            printable="perm.System.viewdocs"/>
          <PrintOptionLocation
            locationRef="ClaimSnapshotExtraFields(Claim)"
            printable="perm.System.viewclaimbasics"/>
        </PrintOption>
      </PrintSection>
      <!-- Claim History
        Don't touch unless you know what you are doing. -->
      <PrintSection
        id="History3Section"
        label="DisplayKey.get(&quot;Java.PrintClaimOptionsForm.Label.History&quot;)"
        printable="perm.System.viewclaimhistory">
        <PrintOption
          id="HistoryAllOption"
          label="DisplayKey.get(&quot;Java.ListView.Filter.All&quot;)">
          <PrintOptionLocation
            filter="gw.api.util.CoreFilters.ALL"
            listViewRef="HistoryLV"
            locationRef="ClaimHistory(Claim)"/>
        </PrintOption>
        <PrintOptionGroup
          id="HistoryOption"
          typelist="HistoryType">
          <PrintOptionLocation
            filter="new gw.api.filters.TypeKeyFilter(VALUE, History#Type.PropertyInfo as gw.entity.ITypekeyPropertyInfo)"
            listViewRef="HistoryLV"
            locationRef="ClaimHistory(Claim)"/>
        </PrintOptionGroup>
      </PrintSection>
      <PrintSection
        id="ECFMessagesSection"
        label="DisplayKey.get(&quot;Accelerator.IPLM.Web.PrintClaimOptionsForm.Label.ECFMessage&quot;)"
        printable="Claim.isECFVisible()">
        <PrintOption
          id="ECFMessagesAllOption"
          label="DisplayKey.get(&quot;Java.ListView.Filter.All&quot;)">
          <PrintOptionLocation
            listViewRef="ClaimNotifyLV"
            locationRef="ClaimMessages(Claim)"/>
        </PrintOption>
      </PrintSection>
    </PrintGroup>
  </PrintOut>
</PCF>