<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="ClaimSnapshotFixedPropertyIncident400DV">
    <Require
      name="Claim"
      type="Claim"/>
    <Require
      name="FixedPropertyIncident"
      type="dynamic.Dynamic"/>
    <InputColumn>
      <Label
        label="DisplayKey.get(&quot;Web.FixedPropertyIncident.Damage&quot;)"/>
      <TextInput
        id="PropertyDescription"
        label="DisplayKey.get(&quot;Web.FixedPropertyIncident.PropertyDescription&quot;)"
        value="FixedPropertyIncident.PropertyDesc"
        valueType="dynamic.Dynamic"/>
      <TextAreaInput
        id="Description"
        label="DisplayKey.get(&quot;Web.FixedPropertyIncident.Description&quot;)"
        numCols="30"
        numRows="3"
        value="FixedPropertyIncident.Description"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="LossEstimate"
        label="DisplayKey.get(&quot;Web.FixedPropertyIncident.LossEstimate&quot;)"
        value="FixedPropertyIncident.LossEstimate"
        valueType="dynamic.Dynamic"/>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;Web.FixedPropertyIncident.Property&quot;)"/>
      <TextInput
        id="Address_AddressLine1"
        label="DisplayKey.get(&quot;Web.FixedPropertyIncident.Property.Address.AddressLine1&quot;)"
        value="FixedPropertyIncident.Property.Address.AddressLine1"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="Address_AddressLine2"
        label="DisplayKey.get(&quot;Web.FixedPropertyIncident.Property.Address.AddressLine2&quot;)"
        value="FixedPropertyIncident.Property.Address.AddressLine2"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="Address_City"
        label="DisplayKey.get(&quot;Web.FixedPropertyIncident.Property.Address.City&quot;)"
        value="FixedPropertyIncident.Property.Address.City"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="Address_State"
        label="DisplayKey.get(&quot;Web.FixedPropertyIncident.Property.Address.State&quot;)"
        value="FixedPropertyIncident.Property.Address.State"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="Address_PostalCode"
        label="DisplayKey.get(&quot;Web.FixedPropertyIncident.Property.Address.ZipCode&quot;)"
        value="FixedPropertyIncident.Property.Address.PostalCode"
        valueType="dynamic.Dynamic"/>
      <ListViewInput
        label="DisplayKey.get(&quot;Web.FixedPropertyIncident.Property.Lienholders&quot;)">
        <Toolbar/>
        <ListViewPanel
          id="PropertyLienholdersLV">
          <RowIterator
            editable="true"
            elementName="PropertyOwner"
            value="FixedPropertyIncident.Property.Lienholders"
            valueType="dynamic.Dynamic">
            <Row>
              <TextCell
                id="Lienholder"
                label="DisplayKey.get(&quot;LV.Policy.EditablePropertyLienholders.Lienholder&quot;)"
                sortOrder="1"
                value="PropertyOwner.Lienholder.DisplayName"
                valueType="dynamic.Dynamic"/>
              <TextCell
                id="OwnerType"
                label="DisplayKey.get(&quot;LV.Policy.EditablePropertyLienholders.OwnerType&quot;)"
                value="PropertyOwner.OwnerType"
                valueType="dynamic.Dynamic"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;Web.FixedPropertyIncident.Inspection&quot;)"/>
      <TextInput
        id="InspectionRequired"
        label="DisplayKey.get(&quot;Web.FixedPropertyIncident.InspectionRequired&quot;)"
        value="FixedPropertyIncident.InspectionRequired"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="WhenToView"
        label="DisplayKey.get(&quot;Web.FixedPropertyIncident.WhenToView&quot;)"
        value="FixedPropertyIncident.WhenToView"
        valueType="dynamic.Dynamic"/>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;Web.FixedPropertyIncident.Repairs&quot;)"/>
      <TextInput
        id="EstimatedReceived"
        label="DisplayKey.get(&quot;Web.FixedPropertyIncident.EstimatedReceived&quot;)"
        value="FixedPropertyIncident.EstimatesReceived"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="EstimateCost"
        label="DisplayKey.get(&quot;Web.FixedPropertyIncident.EstimateCost&quot;)"
        value="FixedPropertyIncident.EstRepairCost"
        valueType="dynamic.Dynamic"
        visible="FixedPropertyIncident.EstimatesReceived.Code == &quot;Yes&quot;"/>
      <TextInput
        id="EstimateTime"
        label="DisplayKey.get(&quot;Web.FixedPropertyIncident.EstimateTime&quot;)"
        value="FixedPropertyIncident.EstRepairTime"
        valueType="dynamic.Dynamic"
        visible="FixedPropertyIncident.EstimatesReceived.Code == &quot;Yes&quot;"/>
      <InputDivider/>
    </InputColumn>
    <InputColumn>
      <Label
        label="DisplayKey.get(&quot;NVV.Claim.PropertyAttribute.BuildingDetail&quot;)"/>
      <TextInput
        id="PropertyAttribute_ClassType"
        label="DisplayKey.get(&quot;NVV.Claim.PropertyAttribute.ClassType&quot;)"
        value="FixedPropertyIncident.ClassType"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="PropertyAttribute_NumStories"
        label="DisplayKey.get(&quot;NVV.Claim.PropertyAttribute.NumStories&quot;)"
        numCols="3"
        value="FixedPropertyIncident.NumStories"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="PropertyAttribute_RoofMaterial"
        label="DisplayKey.get(&quot;NVV.Claim.PropertyAttribute.RoofMaterial&quot;)"
        value="FixedPropertyIncident.RoofMaterial"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="PropertyAttribute_ExtWallMat"
        label="DisplayKey.get(&quot;NVV.Claim.PropertyAttribute.ExtWallMat&quot;)"
        value="FixedPropertyIncident.ExtWallMat"
        valueType="dynamic.Dynamic"/>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;NVV.Claim.PropertyAttribute.OccupancyDetail&quot;)"/>
      <TextInput
        id="PropertyAttribute_LossArea"
        label="DisplayKey.get(&quot;NVV.Claim.PropertyAttribute.LossArea&quot;)"
        value="FixedPropertyIncident.LossArea"
        valueType="dynamic.Dynamic"/>
      <InputDivider/>
      <TextInput
        boldLabel="true"
        id="PropertyAttribute_FireProtDetails"
        label="DisplayKey.get(&quot;NVV.Claim.PropertyAttribute.FireProtDetails&quot;)"
        value="FixedPropertyIncident.FireProtDetails"
        valueType="dynamic.Dynamic"
        visible=" FixedPropertyIncident.Claim.LossCause.Code == &quot;fire&quot; "/>
      <TextInput
        id="PropertyAttribute_SprinklerType"
        label="DisplayKey.get(&quot;NVV.Claim.PropertyAttribute.SprinklerType&quot;)"
        value="FixedPropertyIncident.SprinklerType"
        valueType="dynamic.Dynamic"
        visible=" FixedPropertyIncident.Claim.LossCause.Code == &quot;fire&quot; "/>
      <TextInput
        id="PropertyAttribute_NumSprinkler"
        label="DisplayKey.get(&quot;NVV.Claim.PropertyAttribute.NumSprinkler&quot;)"
        numCols="3"
        value="FixedPropertyIncident.NumSprinkler"
        valueType="dynamic.Dynamic"
        visible=" FixedPropertyIncident.Claim.LossCause.Code == &quot;fire&quot; "/>
      <TextInput
        id="PropertyAttribute_NumSprinkOper"
        label="DisplayKey.get(&quot;NVV.Claim.PropertyAttribute.NumSprinkOper&quot;)"
        numCols="3"
        value="FixedPropertyIncident.NumSprinkOper"
        valueType="dynamic.Dynamic"
        visible=" FixedPropertyIncident.Claim.LossCause.Code == &quot;fire&quot; "/>
      <TextInput
        id="PropertyAttribute_SprinkRetServ"
        label="DisplayKey.get(&quot;NVV.Claim.PropertyAttribute.SprinkRetServ&quot;)"
        value="FixedPropertyIncident.SprinkRetServ"
        valueType="dynamic.Dynamic"
        visible=" FixedPropertyIncident.Claim.LossCause.Code == &quot;fire&quot; "/>
      <InputDivider/>
    </InputColumn>
  </DetailViewPanel>
</PCF>
