<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="ClaimSnapshotGeneral400DV"
    mode="pr">
    <Require
      name="Claim"
      type="Claim"/>
    <Require
      name="Snapshot"
      type="dynamic.Dynamic"/>
    <InputColumn>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Pr.General&quot;)"/>
      <TextInput
        id="LOBCode"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Pr.LOBCode&quot;)"
        value="Snapshot.LOBCode"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="LossType"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Pr.LossType&quot;)"
        value="Snapshot.LossType"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="Catastrophe"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Pr.Catastrophe&quot;)"
        value="util.Snapshot.renderValue(Snapshot.Catastrophe)"/>
      <TextInput
        id="PermissionRequired"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Pr.PermissionRequired&quot;)"
        value="Snapshot.PermissionRequired"
        valueType="dynamic.Dynamic"/>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Pr.Description&quot;)"/>
      <TextAreaInput
        id="Description"
        numCols="30"
        numRows="3"
        value="Snapshot.Description"
        valueType="dynamic.Dynamic"/>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Pr.Loss&quot;)"/>
      <TextInput
        id="LossCause"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Pr.LossCause&quot;)"
        value="Snapshot.LossCause"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="Fault"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Pr.Fault&quot;)"
        value="Snapshot.FaultRating"
        valueType="dynamic.Dynamic"/>
      <DateInput
        dateFormat="short"
        id="LossDate"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Pr.LossDate&quot;)"
        timeFormat="short"
        value="Snapshot.LossDate"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="AtFaultPercentage"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Pr.AtFaultPercentage&quot;)"
        value="Snapshot.FaultRating"
        valueType="dynamic.Dynamic"
        visible="Snapshot.FaultRating[&quot;Code&quot;] == &quot;1&quot;"/>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Pr.Notification&quot;)"/>
      <TextInput
        id="Reporter"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Pr.Reporter&quot;)"
        value="Snapshot.Reporter.DisplayName"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="MainContact"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Pr.MainContact&quot;)"
        value="Snapshot.MainContact.DisplayName"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="MainContactType"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Pr.MainContactType&quot;)"
        value="Snapshot.MainContactType"
        valueType="dynamic.Dynamic"/>
      <DateInput
        dateFormat="short"
        id="ReportedDate"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Pr.ReportedDate&quot;)"
        value="Snapshot.ReportedDate"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="FirstNoticeSuit"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Pr.FirstNoticeSuit&quot;)"
        value="util.Snapshot.renderValue(Snapshot.FirstNoticeSuit)"/>
      <TextInput
        id="HowReported"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Pr.HowReported&quot;)"
        value="Snapshot.HowReported"
        valueType="dynamic.Dynamic"/>
      <BooleanRadioInput
        id="IncidentReport"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Pr.IncidentReport&quot;)"
        value="Snapshot.IncidentReport"
        valueType="dynamic.Dynamic"/>
      <BooleanRadioInput
        id="CoverageInQuestion"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Pr.CoverageInQuestion&quot;)"
        value="Snapshot.CoverageInQuestion"
        valueType="dynamic.Dynamic"/>
    </InputColumn>
    <InputColumn>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Pr.Properties&quot;)"/>
      <ListViewInput
        labelAbove="true">
        <Toolbar/>
        <ListViewPanel
          id="PropertiesLV">
          <RowIterator
            editable="false"
            elementName="prop"
            type="dynamic.Dynamic"
            value="util.Snapshot.filterBeansOfType(Snapshot.Incidents, &quot;FixedPropertyIncident&quot;)"
            valueType="java.lang.Object[]">
            <Row>
              <TextCell
                action="ClaimSnapshotFixedPropertyIncidentPopup.push(Claim, prop)"
                id="Address1"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Pr.PropertyAddress1&quot;)"
                value="prop.Property.Address.AddressLine1"
                valueType="dynamic.Dynamic"/>
              <TextCell
                id="City"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Pr.PropertyCity&quot;)"
                value="prop.Property.Address.City"
                valueType="dynamic.Dynamic"/>
              <TextCell
                id="State"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Pr.PropertyState&quot;)"
                value="prop.Property.Address.State"
                valueType="dynamic.Dynamic"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Pr.Loss_1&quot;)"/>
      <TextInput
        id="LossLocation"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Pr.LossLocation&quot;)"
        value="Snapshot.LossLocation.DisplayName"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="Address1"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Pr.Address1&quot;)"
        value="Snapshot.LossLocation.AddressLine1"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="Address2"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Pr.Address2&quot;)"
        value="Snapshot.LossLocation.AddressLine2"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="City"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Pr.City&quot;)"
        value="Snapshot.LossLocation.City"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="State"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Pr.State&quot;)"
        value="Snapshot.LossLocation.State"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="PostalCode"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Pr.ZipCode&quot;)"
        value="Snapshot.LossLocation.PostalCode"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="County"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Pr.County&quot;)"
        value="Snapshot.LossLocation.County"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="Country"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Pr.Country&quot;)"
        value="Snapshot.LossLocation.Country"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="LossLocationCode"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Pr.LossLocationCode&quot;)"
        value="Snapshot.LossLocationCode"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="JurisdictionState"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Pr.JurisdictionState&quot;)"
        value="Snapshot.JurisdictionState"
        valueType="dynamic.Dynamic"/>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Pr.Officials&quot;)"/>
      <ListViewInput
        labelAbove="true">
        <Toolbar/>
        <ListViewPanel
          id="OfficialsLV">
          <RowIterator
            editable="false"
            elementName="Official"
            value="Snapshot.Officials"
            valueType="dynamic.Dynamic">
            <Row>
              <TextCell
                id="Type"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Pr.Type&quot;)"
                value="Official.OfficialType"
                valueType="dynamic.Dynamic"/>
              <TextCell
                id="Name"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Pr.Name&quot;)"
                value="Official.Name"
                valueType="dynamic.Dynamic"/>
              <TextCell
                id="ReportNumber"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Pr.ReportNumber&quot;)"
                value="Official.ReportNumber"
                valueType="dynamic.Dynamic"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Pr.Claim&quot;)"/>
      <DateInput
        dateFormat="short"
        id="CreateTime"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Pr.CreateTime&quot;)"
        timeFormat="short"
        value="Snapshot.CreateTime"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="ValidationLevel"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Pr.ValidationLevel&quot;)"
        value="Snapshot.ValidationLevel"
        valueType="dynamic.Dynamic"/>
    </InputColumn>
    <InputFooterSection>
      <ListViewInput
        boldLabel="true"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Pr.MetroReports&quot;)"
        labelAbove="true">
        <Toolbar/>
        <ListViewPanel
          id="MetroReportsLV">
          <RowIterator
            editable="false"
            elementName="MetroReport"
            value="Snapshot.MetroReports"
            valueType="dynamic.Dynamic">
            <Row>
              <TextCell
                id="MetroReportType"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Pr.MetroReportType&quot;)"
                value="MetroReport.MetroReportType"
                valueType="dynamic.Dynamic"/>
              <TextCell
                id="MetroReportStatus"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Pr.MetroReportStatus&quot;)"
                value="MetroReport.Status"
                valueType="dynamic.Dynamic"/>
              <TextCell
                id="MetroReportOrderDate"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Pr.MetroReportOrderDate&quot;)"
                value="MetroReport.CreateTime"
                valueType="dynamic.Dynamic"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
    </InputFooterSection>
  </DetailViewPanel>
</PCF>
