<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <ListViewPanel
    id="ClaimSnapshotPolicyVehicles400LV">
    <Require
      name="Claim"
      type="Claim"/>
    <Require
      name="SnapshotParam"
      type="dynamic.Dynamic"/>
    <RowIterator
      editable="false"
      elementName="PolicyVehicle"
      value="SnapshotParam.Policy.Vehicles"
      valueType="dynamic.Dynamic">
      <Row>
        <TextCell
          id="VehicleNumber"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyVehicles400LV.VehicleNumber&quot;)"
          sortOrder="1"
          value="PolicyVehicle.VehicleNumber"
          valueType="dynamic.Dynamic"/>
        <TextCell
          id="Make"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyVehicles400LV.Make&quot;)"
          value="PolicyVehicle.Vehicle.Make"
          valueType="dynamic.Dynamic"/>
        <TextCell
          id="Model"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyVehicles400LV.Model&quot;)"
          value="PolicyVehicle.Vehicle.Model"
          valueType="dynamic.Dynamic"/>
        <TextCell
          id="Year"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyVehicles400LV.Year&quot;)"
          value="PolicyVehicle.Vehicle.Year"
          valueType="dynamic.Dynamic"/>
        <TextCell
          id="Color"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyVehicles400LV.Color&quot;)"
          value="PolicyVehicle.Vehicle.Color"
          valueType="dynamic.Dynamic"/>
        <TextCell
          id="VIN"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyVehicles400LV.VIN&quot;)"
          value="PolicyVehicle.Vehicle.VIN"
          valueType="dynamic.Dynamic"/>
        <TextCell
          id="State"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyVehicles400LV.State&quot;)"
          value="PolicyVehicle.Vehicle.State"
          valueType="dynamic.Dynamic"/>
        <TextCell
          id="LicensePlate"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyVehicles400LV.LicensePlate&quot;)"
          value="PolicyVehicle.Vehicle.LicensePlate"
          valueType="dynamic.Dynamic"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>
