<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="ClaimSnapshotGeneral400DV"
    mode="wc">
    <Require
      name="Claim"
      type="Claim"/>
    <Require
      name="Snapshot"
      type="dynamic.Dynamic"/>
    <InputColumn>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.General&quot;)"/>
      <TextInput
        id="LossType"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.LossType&quot;)"
        value="Snapshot.LossType"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="LOBCode"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.LOBCode&quot;)"
        value="Snapshot.LOBCode"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="NurseCaseMgr"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.NurseCaseMgr&quot;)"
        value="Snapshot.NurseCaseMgr.DisplayName"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="Catastrophe"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.Catastrophe&quot;)"
        value="Snapshot.Catastrophe.DisplayName"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="PermissionRequired"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.PermissionRequired&quot;)"
        value="Snapshot.PermissionRequired"
        valueType="dynamic.Dynamic"/>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.Description&quot;)"/>
      <TextAreaInput
        id="Description"
        numCols="30"
        numRows="3"
        value="Snapshot.Description"
        valueType="dynamic.Dynamic"/>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.Claimant&quot;)"/>
      <TextInput
        id="Claimant"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.Claimant_1&quot;)"
        value="Snapshot.Claimant.DisplayName"
        valueType="dynamic.Dynamic"/>
      <BooleanRadioInput
        id="ContactProhibited"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.ContactProhibited&quot;)"
        value="util.Snapshot.getClaimant(Snapshot, null)[&quot;ContactProhibited&quot;]"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="PrimaryPhone"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.PrimaryPhone&quot;)"
        value="util.Snapshot.getPrimaryPhone(Snapshot.Claimant)"/>
      <TextInput
        id="PrimaryAddress"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.PrimaryAddress&quot;)"
        value="Snapshot.Claimant.PrimaryAddress.DisplayName"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="DateOfBirth"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.DateOfBirth&quot;)"
        value="util.Snapshot.renderDate(Snapshot.Claimant.DateOfBirth)"/>
      <PrivacyInput
        encryptionExpression="gw.api.privacy.EncryptionMaskExpressions.maskTaxId(VALUE as String)"
        id="TaxID"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.TaxID&quot;)"
        value="Snapshot.Claimant.TaxID"
        valueType="dynamic.Dynamic"/>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.Loss&quot;)"/>
      <DateInput
        dateFormat="short"
        id="DateOfInjury"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.DateOfInjury&quot;)"
        timeFormat="short"
        value="Snapshot.LossDate"
        valueType="dynamic.Dynamic"/>
      <DateInput
        dateFormat="short"
        id="ExposureBegan"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.ExposureBegan&quot;)"
        timeFormat="short"
        value="Snapshot.ExposureBegan"
        valueType="dynamic.Dynamic"/>
      <DateInput
        dateFormat="short"
        id="ExposureEnded"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.ExposureEnded&quot;)"
        timeFormat="short"
        value="Snapshot.ExposureEnded"
        valueType="dynamic.Dynamic"/>
      <BooleanRadioInput
        id="EmploymentInjury"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.EmploymentInjury&quot;)"
        value="Snapshot.EmploymentInjury"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="LocationCode"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.LocationCode&quot;)"
        value="util.Snapshot.renderValue(Snapshot.LocationCode)"/>
      <TextInput
        id="JurisdictionState"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.JurisdictionState&quot;)"
        value="Snapshot.JurisdictionState"
        valueType="dynamic.Dynamic"/>
      <BooleanRadioInput
        id="InsuredPremises"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.InsuredPremises&quot;)"
        value="Snapshot.InsuredPremises"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="Severity"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.Severity&quot;)"
        value="Snapshot.Severity"
        valueType="dynamic.Dynamic"/>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.Injury&quot;)"/>
      <TextInput
        id="LossCause"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.LossCause&quot;)"
        value="Snapshot.LossCause"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="AccidentType"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.AccidentType&quot;)"
        value="Snapshot.AccidentType"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="PrimaryInjury"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.PrimaryInjury&quot;)"
        value="Snapshot.PrimaryInjury"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="DetailedInjury"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.DetailedInjury&quot;)"
        value="Snapshot.DetailedInjury"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="PrimaryBodyPart"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.PrimaryBodyPart&quot;)"
        value="Snapshot.PrimaryBodyPart"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="DetailedBodyPart"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.DetailedBodyPart&quot;)"
        value="Snapshot.DetailedBodyPart"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="InjuryDescription"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.InjuryDescription&quot;)"
        value="Snapshot.InjuryDescription"
        valueType="dynamic.Dynamic"/>
      <ListViewInput
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.Additional&quot;)"
        labelAbove="true">
        <Toolbar/>
        <ListViewPanel
          id="BodyPartsLV">
          <RowIterator
            editable="false"
            elementName="BodyPart"
            value="Snapshot.BodyPartDetails"
            valueType="dynamic.Dynamic">
            <Row>
              <TextCell
                id="PrimaryBodyPart"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.PrimaryBodyPart_1&quot;)"
                value="BodyPart.PrimaryBodyPart"
                valueType="dynamic.Dynamic"/>
              <TextCell
                id="DetailedBodyPart"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.DetailedBodyPart_1&quot;)"
                value="BodyPart.DetailedBodyPart"
                valueType="dynamic.Dynamic"/>
              <TextCell
                id="Compensability"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.Compensability&quot;)"
                value="BodyPart.Compensability"
                valueType="dynamic.Dynamic"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.First&quot;)"/>
      <TextInput
        id="MedCase_FirstIntakeDoctor"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.MedCase_FirstIntakeDoctor&quot;)"
        value="Snapshot.FirstIntakeDoctor.DisplayName"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="MedCase_MedicalDiagnosis"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.MedCase_MedicalDiagnosis&quot;)"
        value="Snapshot.MedicalDiagnosis"
        valueType="dynamic.Dynamic"/>
      <DateInput
        dateFormat="long"
        id="MedCase_ExaminationDate"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.MedCase_ExaminationDate&quot;)"
        value="Snapshot.ExaminationDate"
        valueType="dynamic.Dynamic"/>
      <BooleanRadioInput
        id="MedCase_TreatedPatientBefore"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.MedCase_TreatedPatientBefore&quot;)"
        value="Snapshot.TreatedPatientBfr"
        valueType="dynamic.Dynamic"/>
      <TextAreaInput
        id="MedCase_SubjComplaints"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.MedCase_SubjComplaints&quot;)"
        value="Snapshot.SubjComplaints"
        valueType="dynamic.Dynamic"/>
      <TextAreaInput
        id="MedCase_ObjFindings"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.MedCase_ObjFindings&quot;)"
        value="Snapshot.ObjFindings"
        valueType="dynamic.Dynamic"/>
      <BooleanRadioInput
        id="MedCase_DiagnosticConsistent"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.MedCase_DiagnosticConsistent&quot;)"
        value="Snapshot.DiagnosticCnsistnt"
        valueType="dynamic.Dynamic"/>
      <BooleanRadioInput
        id="MedCase_CurrentConditions"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.MedCase_CurrentConditions&quot;)"
        value="Snapshot.CurrentConditions"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="MedCase_MedicalTreatment"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.MedCase_MedicalTreatment&quot;)"
        value="Snapshot.MedicalTreatmentType"
        valueType="dynamic.Dynamic"/>
      <TextAreaInput
        id="MedCase_TreatmentRend"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.MedCase_TreatmentRend&quot;)"
        value="Snapshot.TreatmentRend"
        valueType="dynamic.Dynamic"/>
      <BooleanRadioInput
        id="MedCase_FurtherTreatment"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.MedCase_FurtherTreatment&quot;)"
        value="Snapshot.FurtherTreatment"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="MedCase_Hospital"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.MedCase_Hospital&quot;)"
        value="Snapshot.Hospital.DisplayName"
        valueType="dynamic.Dynamic"/>
      <DateInput
        dateFormat="short"
        id="MedCase_HospitalDate"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.MedCase_HospitalDate&quot;)"
        value="Snapshot.HospitalDate"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="MedCase_HospitalDays"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.MedCase_HospitalDays&quot;)"
        value="Snapshot.HospitalDays"
        valueType="dynamic.Dynamic"/>
      <BooleanRadioInput
        id="MedCase_PreexDisability"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.MedCase_PreexDisability&quot;)"
        value="Snapshot.PreexDisblty"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="MedCase_PreexDisabilityInfo"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.MedCase_PreexDisabilityInfo&quot;)"
        value="Snapshot.PreexDisbltyInfo"
        valueType="dynamic.Dynamic"
        visible="Snapshot.PreexDisblty"/>
      <InputDivider/>
    </InputColumn>
    <InputColumn>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.Employment&quot;)"/>
      <TextInput
        id="Occupation"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.Occupation&quot;)"
        value="Snapshot.Claimant.Occupation"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="EmpClass"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.EmpClass&quot;)"
        value="util.Snapshot.renderValue(Snapshot.EmploymentData.EmpClass)"/>
      <TextInput
        id="DepartmentCode"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.DepartmentCode&quot;)"
        value="Snapshot.EmploymentData.DepartmentCode"
        valueType="dynamic.Dynamic"/>
      <DateInput
        dateFormat="short"
        id="HireDate"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.HireDate&quot;)"
        timeFormat="short"
        value="Snapshot.EmploymentData.HireDate"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="HireState"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.HireState&quot;)"
        value="Snapshot.EmploymentData.HireState"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="EmploymentStatus"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.EmploymentStatus&quot;)"
        value="Snapshot.EmploymentData.EmploymentStatus"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="Supervisor"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.Supervisor&quot;)"
        value="Snapshot.Supervisor.DisplayName"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="NumDaysWorked"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.NumDaysWorked&quot;)"
        value="Snapshot.EmploymentData.NumDaysWorked"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="NumHoursWorked"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.NumHoursWorked&quot;)"
        value="Snapshot.EmploymentData.NumHoursWorked"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="WageAmount"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.WageAmount&quot;)"
        value="Snapshot.EmploymentData.WageAmount"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="PayPeriod"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.PayPeriod&quot;)"
        value="Snapshot.EmploymentData.PayPeriod"
        valueType="dynamic.Dynamic"/>
      <DateInput
        id="InjuryStartTime"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.InjuryStartTime&quot;)"
        timeFormat="short"
        value="Snapshot.EmploymentData.InjuryStartTime"
        valueType="dynamic.Dynamic"/>
      <BooleanRadioInput
        id="PaidFull"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.PaidFull&quot;)"
        value="Snapshot.EmploymentData.PaidFull"
        valueType="dynamic.Dynamic"/>
      <BooleanRadioInput
        id="WagePaymentCont"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.WagePaymentCont&quot;)"
        value="Snapshot.EmploymentData.WagePaymentCont"
        valueType="dynamic.Dynamic"/>
      <BooleanRadioInput
        id="ModifiedDutyAvail"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.ModifiedDutyAvail&quot;)"
        value="Snapshot.ModifiedDutyAvail"
        valueType="dynamic.Dynamic"/>
      <BooleanRadioInput
        id="InjuredRegularJob"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.InjuredRegularJob&quot;)"
        value="Snapshot.InjuredRegularJob"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="EmpQusValidity"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.EmpQusValidity&quot;)"
        value="Snapshot.EmpQusValidity"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="EmployerValidityReason"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.EmployerValidityReason&quot;)"
        value="Snapshot.EmployerValidityReason"
        valueType="dynamic.Dynamic"
        visible="Snapshot.EmpQusValidity as String == &quot;Yes&quot;"/>
      <TextInput
        id="DrugsInvolved"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.DrugsInvolved&quot;)"
        value="Snapshot.DrugsInvolved"
        valueType="dynamic.Dynamic"/>
      <BooleanRadioInput
        id="SafetyEquipProv"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.SafetyEquipProv&quot;)"
        value="Snapshot.SafetyEquipProv"
        valueType="dynamic.Dynamic"/>
      <BooleanRadioInput
        id="SafetyEquipUsed"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.SafetyEquipUsed&quot;)"
        value="Snapshot.SafetyEquipUsed"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="ConcurrentEmployment"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.ConcurrentEmployment&quot;)"
        value="Snapshot.ConcurrentEmp"
        valueType="dynamic.Dynamic"/>
      <ListViewInput
        boldLabel="true"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.ConcurrentEmploymentArray&quot;)"
        labelAbove="true">
        <Toolbar/>
        <ListViewPanel
          id="ConcurrentEmplLV">
          <RowIterator
            editable="false"
            elementName="ConcurrentEmpl"
            value="Snapshot.ConcurrentEmpl"
            valueType="dynamic.Dynamic">
            <Row>
              <TextCell
                id="CompanyName"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.CompanyName&quot;)"
                value="ConcurrentEmpl.CompanyName"
                valueType="dynamic.Dynamic"/>
              <TextCell
                id="StartDate"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.StartDate&quot;)"
                value="util.Snapshot.renderValue(ConcurrentEmpl.StartDate)"/>
              <TextCell
                id="EndDate"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.EndDate&quot;)"
                value="util.Snapshot.renderValue(ConcurrentEmpl.EndDate)"/>
              <TextCell
                id="FullTime"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.FullTime&quot;)"
                value="util.Snapshot.renderValue(ConcurrentEmpl.FullTime)"/>
              <TextCell
                id="WeeklyWage"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.WeeklyWage&quot;)"
                value="ConcurrentEmpl.WeeklyWage"
                valueType="dynamic.Dynamic"/>
              <TextCell
                id="JobTitle"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.JobTitle&quot;)"
                value="ConcurrentEmpl.JobTitle"
                valueType="dynamic.Dynamic"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <InputDivider/>
      <ListViewInput
        boldLabel="true"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.Work&quot;)"
        labelAbove="true">
        <Toolbar/>
        <ListViewPanel
          id="WorkStatusChangesLV">
          <RowIterator
            editable="false"
            elementName="WorkStatusChange"
            value="Snapshot.EmploymentData.WorkStatusChanges"
            valueType="dynamic.Dynamic">
            <Row>
              <TextCell
                id="StatusDate"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.StatusDate&quot;)"
                value="util.Snapshot.renderValue(WorkStatusChange.StatusDate)"/>
              <TextCell
                id="Status"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.Status&quot;)"
                value="WorkStatusChange.Status"
                valueType="dynamic.Dynamic"/>
              <TextCell
                id="Comments"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.Comments&quot;)"
                value="WorkStatusChange.Comments"
                valueType="dynamic.Dynamic"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.Compensability_1&quot;)"/>
      <DateInput
        dateFormat="short"
        id="DateCompDcsnDue"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.DateCompDcsnDue&quot;)"
        value="Snapshot.DateCompDcsnDue"
        valueType="dynamic.Dynamic"/>
      <BooleanRadioInput
        id="BenefitsStatusDcsn"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.BenefitsStatusDcsn&quot;)"
        value="Snapshot.BenefitsStatusDcsn"
        valueType="dynamic.Dynamic"/>
      <DateInput
        dateFormat="short"
        id="DateCompDcsnMade"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.DateCompDcsnMade&quot;)"
        value="Snapshot.DateCompDcsnMade"
        valueType="dynamic.Dynamic"/>
      <TextAreaInput
        id="Reason"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.Reason&quot;)"
        numCols="30"
        numRows="3"
        value="Snapshot.BenefitsDecisionReason"
        valueType="dynamic.Dynamic"/>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.Notification&quot;)"/>
      <TextInput
        id="Reporter"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.Reporter&quot;)"
        value="Snapshot.Reporter.DisplayName"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="ReportedByType"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.ReportedByType&quot;)"
        value="Snapshot.ReportedByType"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="MainContact"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.MainContact&quot;)"
        value="Snapshot.MainContact.DisplayName"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="MainContactType"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.ReportedByType&quot;)"
        value="Snapshot.MainContactType"
        valueType="dynamic.Dynamic"/>
      <DateInput
        dateFormat="short"
        id="ReportedDate"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.ReportedDate&quot;)"
        timeFormat="short"
        value="Snapshot.ReportedDate"
        valueType="dynamic.Dynamic"/>
      <BooleanRadioInput
        id="FirstNoticeSuit"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.FirstNoticeSuit&quot;)"
        value="Snapshot.FirstNoticeSuit"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="HowReported"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.HowReported&quot;)"
        value="Snapshot.HowReported"
        valueType="dynamic.Dynamic"/>
      <BooleanRadioInput
        id="CoverageInQuestion"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.CoverageInQuestion&quot;)"
        value="Snapshot.CoverageInQuestion"
        valueType="dynamic.Dynamic"/>
      <DateInput
        dateFormat="short"
        id="ClaimantRprtdDate"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.ClaimantRprtdDate&quot;)"
        timeFormat="short"
        value="Snapshot.ClaimantRprtdDate"
        valueType="dynamic.Dynamic"/>
      <DateInput
        dateFormat="short"
        id="DateRptdToEmployer"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.DateRptdToEmployer&quot;)"
        timeFormat="short"
        value="Snapshot.DateRptdToEmployer"
        valueType="dynamic.Dynamic"/>
      <DateInput
        dateFormat="short"
        id="DateFormGivenToEmp"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.DateFormGivenToEmp&quot;)"
        value="Snapshot.DateFormGivenToEmp"
        valueType="dynamic.Dynamic"/>
      <DateInput
        dateFormat="short"
        id="DateFormRetByEmp"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.DateFormRetByEmp&quot;)"
        value="Snapshot.DateFormRetByEmp"
        valueType="dynamic.Dynamic"/>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.OffPremise&quot;)"/>
      <TextInput
        id="LossLocation"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.LossLocation&quot;)"
        value="Snapshot.LossLocation.DisplayName"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="AddressLine1"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.AddressLine1&quot;)"
        value="Snapshot.LossLocation.AddressLine1"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="AddressLine2"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.AddressLine2&quot;)"
        value="Snapshot.LossLocation.AddressLine2"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="City"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.City&quot;)"
        value="Snapshot.LossLocation.City"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="State"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.State&quot;)"
        value="Snapshot.LossLocation.State"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="PostalCode"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.ZipCode&quot;)"
        value="Snapshot.LossLocation.PostalCode"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="County"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.County&quot;)"
        value="Snapshot.LossLocation.County"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="Country"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.Country&quot;)"
        value="Snapshot.LossLocation.Country"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="LocationDescription"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.LocationDescription&quot;)"
        value="Snapshot.LossLocation.Description"
        valueType="dynamic.Dynamic"/>
      <InputDivider/>
      <ListViewInput
        boldLabel="true"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.Officials&quot;)"
        labelAbove="true">
        <Toolbar/>
        <ListViewPanel
          id="OfficialsLV">
          <RowIterator
            editable="false"
            elementName="Official"
            value="Snapshot.Officials"
            valueType="dynamic.Dynamic">
            <Row>
              <TextCell
                id="Type"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.Type&quot;)"
                value="Official.OfficialType"
                valueType="dynamic.Dynamic"/>
              <TextCell
                id="Name"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.Name&quot;)"
                value="Official.Name"
                valueType="dynamic.Dynamic"/>
              <TextCell
                id="ReportNumber"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.ReportNumber&quot;)"
                value="Official.ReportNumber"
                valueType="dynamic.Dynamic"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.Claim&quot;)"/>
      <DateInput
        id="CreateTime"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.CreateTime&quot;)"
        value="Snapshot.CreateTime"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="ValidationLevel"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.ValidationLevel&quot;)"
        value="Snapshot.ValidationLevel"
        valueType="dynamic.Dynamic"/>
    </InputColumn>
    <InputFooterSection>
      <ListViewInput
        boldLabel="true"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.Other&quot;)"
        labelAbove="true">
        <Toolbar/>
        <ListViewPanel
          id="OtherBenefitsLV">
          <RowIterator
            editable="false"
            elementName="OtherBenefit"
            value="Snapshot.OtherBenefits"
            valueType="dynamic.Dynamic">
            <Row>
              <TextCell
                id="ReferenceNumber"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.ReferenceNumber&quot;)"
                value="OtherBenefit.ReferenceNumber"
                valueType="dynamic.Dynamic"/>
              <TextCell
                id="Amount"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.Amount&quot;)"
                value="OtherBenefit.Amount"
                valueType="dynamic.Dynamic"/>
              <TextCell
                id="StartDate"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.StartDate&quot;)"
                value="util.Snapshot.renderValue(OtherBenefit.StartDate)"/>
              <TextCell
                id="EndDate"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.EndDate&quot;)"
                value="util.Snapshot.renderValue(OtherBenefit.EndDate)"/>
              <TextCell
                id="InitialContact"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.InitialContact&quot;)"
                value="OtherBenefit.InitialContact"
                valueType="dynamic.Dynamic"/>
              <TextCell
                id="Comments"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.Comments&quot;)"
                value="OtherBenefit.Comments"
                valueType="dynamic.Dynamic"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <ListViewInput
        boldLabel="true"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.MetroReports&quot;)"
        labelAbove="true">
        <Toolbar/>
        <ListViewPanel
          id="MetroReportsLV">
          <RowIterator
            editable="false"
            elementName="MetroReport"
            value="Snapshot.MetroReports"
            valueType="dynamic.Dynamic">
            <Row>
              <TextCell
                id="MetroReportType"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.MetroReportType&quot;)"
                value="MetroReport.MetroReportType"
                valueType="dynamic.Dynamic"/>
              <TextCell
                id="MetroReportStatus"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.MetroReportStatus&quot;)"
                value="MetroReport.Status"
                valueType="dynamic.Dynamic"/>
              <TextCell
                id="MetroReportOrderDate"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral400DV.Wc.MetroReportOrderDate&quot;)"
                value="MetroReport.CreateTime"
                valueType="dynamic.Dynamic"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
    </InputFooterSection>
  </DetailViewPanel>
</PCF>
