<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InputSet
    id="AddressBookDriversLicenseInfoInputSet">
    <Require
      name="person"
      type="Person"/>
    <InputDivider/>
    <Label
      label="DisplayKey.get(&quot;Web.ContactDetail.DriversLicense&quot;)"/>
    <TextInput
      editable="true"
      id="LicenseNumber"
      label="DisplayKey.get(&quot;Web.ContactDetail.DriversLicense.LicenseNumber&quot;)"
      value="person.LicenseNumber"/>
    <TypeKeyInput
      editable="true"
      filter="VALUE.hasCategory(JurisdictionType.TC_DRIVING_LIC)"
      id="LicenseState"
      label="DisplayKey.get(&quot;Web.ContactDetail.DriversLicense.LicenseState&quot;)"
      value="person.LicenseState"
      valueType="typekey.Jurisdiction"/>
  </InputSet>
</PCF>