<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Worksheet
    canEdit="true"
    id="AddressBookMatchWorksheet"
    tabLabel="DisplayKey.get(&quot;Web.AddressBook.TabLabel.MatchingContacts&quot;)"
    title="DisplayKey.get(&quot;Web.AddressBook.Title.MatchingContacts&quot;)">
    <LocationEntryPoint
      signature="AddressBookMatchWorksheet(addressBookMatch : gw.api.contact.AddressBookMatch)"/>
    <Scope
      location="*"/>
    <Variable
      name="addressBookMatch"
      type="gw.api.contact.AddressBookMatch"/>
    <Variable
      initialValue="new gw.api.contact.ProximitySearchPageHelper()"
      name="proximitySearchPageHelper"
      recalculateOnRefresh="true"
      type="gw.api.contact.ProximitySearchPageHelper"/>
    <Variable
      initialValue="false"
      name="onlyPrimaryRelationships"
      type="boolean"/>
    <ScreenRef
      def="AddressBookMatchWorksheetScreen(addressBookMatch, proximitySearchPageHelper, onlyPrimaryRelationships)"/>
  </Worksheet>
</PCF>