<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canEdit="externalContact.Source.supportsUpdate() and perm.Contact.editab(externalContact.Contact)"
    canVisit="perm.Contact.viewab(externalContact.Contact)"
    id="AddressBookContactDetail"
    parent="AddressBook()"
    showUpLink="true"
    title="DisplayKey.get(&quot;Web.ContactDetail.Title&quot;, externalContact.Contact)">
    <LocationEntryPoint
      signature="AddressBookContactDetail(externalContact : gw.api.contact.ExternalContact)"/>
    <Variable
      initialValue="new gw.api.contact.ProximitySearchPageHelper()"
      name="PageHelper"
      type="gw.api.contact.ProximitySearchPageHelper"/>
    <Variable
      name="externalContact"
      type="gw.api.contact.ExternalContact"/>
    <Variable
      initialValue="externalContact.Source.loadContact(externalContact.Contact, true)"
      name="contact"
      type="Contact"/>
    <ScreenRef
      def="AddressBookContactDetailScreen(new gw.pcf.AddressBookContactHelper(contact, externalContact.Source, externalContact))"/>
  </Page>
</PCF>