<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="EditableSecondaryAttorneyLV">
    <ExposeIterator
      valueType="entity.ClaimContactRole"
      widget="EditableSecondaryAttorneyLV"/>
    <Require
      name="matter"
      type="Matter"/>
    <RowIterator
      editable="true"
      elementName="ClaimContactRole"
      hasCheckBoxes="true"
      hideCheckBoxesIfReadOnly="true"
      toCreateAndAdd="matter.addEmptyRole(TC_SECDEFATTORNEY)"
      toRemove="matter.removeFromRoles(ClaimContactRole);matter.removeRole(ClaimContactRole)"
      value="matter.getClaimContactRolesByRole(TC_SECDEFATTORNEY)"
      valueType="entity.ClaimContactRole[]">
      <Row
        editable="ClaimContactRole.isEditableInELV()">
        <ClaimContactCell
          claim="matter.Claim"
          editable="true"
          forceContactSubtype="Attorney.Type"
          id="Contact"
          label="DisplayKey.get(&quot;Web.EditableSecondaryAttorneyLV.Contact&quot;)"
          required="true"
          sortValueRange="false"
          value="ClaimContactRole.ClaimContact.Contact"
          valueRange="matter.Claim.RelatedAttorneyArray"/>
        <BooleanRadioCell
          editable="true"
          id="IsActive"
          label="DisplayKey.get(&quot;Web.EditableSecondaryAttorneyLV.IsActive&quot;)"
          required="true"
          value="ClaimContactRole.Active"/>
        <TextCell
          editable="true"
          id="Comments"
          label="DisplayKey.get(&quot;Web.EditableSecondaryAttorneyLV.Comments&quot;)"
          value="ClaimContactRole.Comments"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>