<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Forward
    canVisit="perm.Matter.view(Matter)"
    id="MatterDetailForward"
    parent="Claim(Claim)">
    <LocationEntryPoint
      signature="MatterDetailForward(Claim : Claim, Matter : Matter)"/>
    <Variable
      name="Claim"
      type="Claim"/>
    <Variable
      name="Matter"
      type="Matter"/>
    <ForwardCondition
      action="MatterDetailPage.go(Claim, Matter)"/>
  </Forward>
</PCF>