<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="FixPropIncidentAssessDV">
    <ExposeIterator
      name="FixPropAssessSourceLV"
      valueType="entity.AssessmentSource"
      widget="FixPropAssessSourceLV.FixPropAssessSourceLV"/>
    <Require
      name="FixedPropertyIncident"
      type="FixedPropertyIncident"/>
    <Variable
      name="selectedSource"
      type="AssessmentSource"/>
    <Variable
      name="contentSelectedSource"
      type="AssessmentSource"/>
    <InputColumn>
      <Label
        label="DisplayKey.get(&quot;NVV.Incident.FixedProperty.Assessment.Summary&quot;)"/>
      <TextInput
        id="Display_Name"
        label="DisplayKey.get(&quot;NVV.Incident.FixedProperty.Assessment.DisplayName&quot;)"
        value="FixedPropertyIncident.DisplayName"/>
      <TextInput
        editable="true"
        id="General_Description"
        label="DisplayKey.get(&quot;NVV.Incident.FixedProperty.Assessment.Name&quot;)"
        required="false"
        value="FixedPropertyIncident.AssessmentName"/>
      <TypeKeyInput
        editable="true"
        id="Status"
        label="DisplayKey.get(&quot;NVV.Incident.FixedProperty.Assessment.AssessmentStatus&quot;)"
        required="false"
        value="FixedPropertyIncident.AssessmentStatus"
        valueType="typekey.AssessmentStatus">
        <PostOnChange/>
      </TypeKeyInput>
      <DateInput
        dateFormat="short"
        editable="true"
        id="TargetCloseDate"
        label="DisplayKey.get(&quot;NVV.Incident.FixedProperty.Assessment.TargetCloseDate&quot;)"
        value="FixedPropertyIncident.AssessmentTargetCloseDate"/>
      <DateInput
        dateFormat="short"
        editable="true"
        id="CloseDate"
        label="DisplayKey.get(&quot;NVV.Incident.FixedProperty.Assessment.CloseDate&quot;)"
        required="true"
        value="FixedPropertyIncident.AssessmentCloseDate"
        visible=" FixedPropertyIncident.AssessmentStatus == TC_CLOSED "/>
      <TextInput
        editable="true"
        id="General_Comment"
        label="DisplayKey.get(&quot;NVV.Incident.FixedProperty.Assessment.Comment&quot;)"
        value="FixedPropertyIncident.AssessmentComment"/>
      <UserInput
        action="UserContactDetailPopup.push(FixedPropertyIncident.InternalUser)"
        available="true"
        editable="true"
        id="InternalUser_Name"
        label="DisplayKey.get(&quot;NVV.Incident.FixedProperty.Assessment.InternalUser.Name&quot;)"
        value="FixedPropertyIncident.InternalUser"
        valueType="entity.User"/>
      <Label
        label="DisplayKey.get(&quot;NVV.Incident.FixedProperty.Assessment.TrackLineItems&quot;)"/>
      <BooleanRadioInput
        editable="true"
        id="IncludeLineItems"
        label="DisplayKey.get(&quot;NVV.Incident.FixedProperty.Assessment.IncludeLineItems&quot;)"
        value="FixedPropertyIncident.IncludeLineItems">
        <PostOnChange/>
      </BooleanRadioInput>
      <BooleanRadioInput
        editable="true"
        id="IncludeContentsLineItems"
        label="DisplayKey.get(&quot;NVV.Incident.FixedProperty.Assessment.IncludeContentLineItems&quot;)"
        value="FixedPropertyIncident.IncludeContentLineItems">
        <PostOnChange/>
      </BooleanRadioInput>
    </InputColumn>
    <InputColumn>
      <ListViewInput
        boldLabel="true"
        def="FixPropAssessSourceLV(FixedPropertyIncident)"
        editable="true"
        label="DisplayKey.get(&quot;LV.Incident.FixedProperty.Assessment.AssessmentSource&quot;)"
        labelAbove="true">
        <Toolbar>
          <IteratorButtons
            iterator="FixPropAssessSourceLV.FixPropAssessSourceLV"/>
        </Toolbar>
      </ListViewInput>
      <Label
        label="DisplayKey.get(&quot;NVV.Incident.FixedProperty.Assessment.BuildingFinancials&quot;)"
        visible="FixedPropertyIncident.IncludeLineItems"/>
      <CurrencyInput
        formatType="currency"
        id="ApproveTotal"
        label="DisplayKey.get(&quot;NVV.Incident.FixedProperty.Assessment.ApprovedTotal&quot;)"
        value="FixedPropertyIncident.ApprovedTotal()"
        visible="FixedPropertyIncident.IncludeLineItems"/>
      <CurrencyInput
        formatType="currency"
        id="ReviewTotal"
        label="DisplayKey.get(&quot;NVV.Incident.FixedProperty.Assessment.ReviewTotal&quot;)"
        value="FixedPropertyIncident.ReviewTotal()"
        visible="FixedPropertyIncident.IncludeLineItems"/>
      <Label
        label="DisplayKey.get(&quot;NVV.Incident.FixedProperty.Content.ContentFinancials&quot;)"
        visible="FixedPropertyIncident.IncludeContentLineItems"/>
      <CurrencyInput
        formatType="currency"
        id="ApproveContentTotal"
        label="DisplayKey.get(&quot;NVV.Incident.FixedProperty.Content.ApprovedTotal&quot;)"
        value="FixedPropertyIncident.ApprovedContentTotal()"
        visible="FixedPropertyIncident.IncludeContentLineItems"/>
      <CurrencyInput
        formatType="currency"
        id="ReviewContentTotal"
        label="DisplayKey.get(&quot;NVV.Incident.FixedProperty.Content.ReviewTotal&quot;)"
        value="FixedPropertyIncident.ReviewContentTotal()"
        visible="FixedPropertyIncident.IncludeContentLineItems"/>
    </InputColumn>
    <InputFooterSection>
      <InputDivider/>
      <ListViewInput
        boldLabel="true"
        def="FixPropAssessItemLV(FixedPropertyIncident)"
        editable="true"
        label="DisplayKey.get(&quot;LV.Incident.FixedProperty.AssessmentItem&quot;)"
        labelAbove="true"
        visible="FixedPropertyIncident.IncludeLineItems">
        <Toolbar>
          <IteratorButtons
            iterator="FixPropAssessItemLV.FixPropAssessItemLV"/>
          <ToolbarDivider
            id="ActionSection"/>
          <CheckedValuesToolbarButton
            checkedRowAction="CheckedValue.approveAssessmentItem()"
            id="Approve"
            iterator="FixPropAssessItemLV.FixPropAssessItemLV"
            label="DisplayKey.get(&quot;LV.Incident.FixedProperty.AssessmentItem.Button.Approve&quot;)"/>
          <CheckedValuesToolbarButton
            checkedRowAction="CheckedValue.denyAssessmentItem()"
            id="Deny"
            iterator="FixPropAssessItemLV.FixPropAssessItemLV"
            label="DisplayKey.get(&quot;LV.Incident.FixedProperty.AssessmentItem.Button.Deny&quot;)"/>
          <ToolbarDivider
            id="HistorySection1"/>
          <ToolbarRangeInput
            helpText="DisplayKey.get(&quot;LV.Incident.FixedProperty.AssessmentItem.Button.Source.Help&quot;)"
            hideIfReadOnly="true"
            id="SourceRange"
            label="DisplayKey.get(&quot;LV.Incident.FixedProperty.AssessmentItem.Button.Source&quot;)"
            value="selectedSource"
            valueRange="FixedPropertyIncident.SourceLine"
            valueType="entity.AssessmentSource"/>
          <CheckedValuesToolbarButton
            checkedRowAction="CheckedValue.associateAssessmentItem(selectedSource)"
            hideIfReadOnly="true"
            id="Associate"
            iterator="FixPropAssessItemLV.FixPropAssessItemLV"
            label="DisplayKey.get(&quot;LV.Incident.FixedProperty.AssessmentItem.Button.Associate&quot;)"/>
        </Toolbar>
      </ListViewInput>
      <InputDivider
        visible="FixedPropertyIncident.IncludeLineItems"/>
      <ListViewInput
        boldLabel="true"
        def="FixPropContentItemLV(FixedPropertyIncident)"
        editable="true"
        label="DisplayKey.get(&quot;LV.Incident.FixedProperty.ContentItem&quot;)"
        labelAbove="true"
        visible="FixedPropertyIncident.IncludeContentLineItems">
        <Toolbar>
          <IteratorButtons
            iterator="FixPropContentItemLV.FixPropContentItemLV"/>
          <CheckedValuesToolbarButton
            checkedRowAction="CheckedValue.approveAssessmentItem()"
            id="ApproveContent"
            iterator="FixPropContentItemLV.FixPropContentItemLV"
            label="DisplayKey.get(&quot;LV.Incident.FixedProperty.AssessmentContentItem.Button.Approve&quot;)"/>
          <CheckedValuesToolbarButton
            checkedRowAction="CheckedValue.denyAssessmentItem()"
            id="Deny"
            iterator="FixPropContentItemLV.FixPropContentItemLV"
            label="DisplayKey.get(&quot;LV.Incident.FixedProperty.AssessmentContentItem.Button.Deny&quot;)"/>
          <ToolbarDivider
            id="HistoryContentSection1"/>
          <ToolbarRangeInput
            hideIfReadOnly="true"
            id="ContentSourceRange"
            label="DisplayKey.get(&quot;LV.Incident.FixedProperty.AssessmentContentItem.Button.Source&quot;)"
            value="contentSelectedSource"
            valueRange="FixedPropertyIncident.SourceLine"
            valueType="entity.AssessmentSource"/>
          <CheckedValuesToolbarButton
            checkedRowAction="CheckedValue.associateAssessmentItem(contentSelectedSource)"
            hideIfReadOnly="true"
            id="AssociateContent"
            iterator="FixPropContentItemLV.FixPropContentItemLV"
            label="DisplayKey.get(&quot;LV.Incident.FixedProperty.ContentItem.Button.Associate&quot;)"/>
        </Toolbar>
      </ListViewInput>
    </InputFooterSection>
  </DetailViewPanel>
</PCF>