<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Screen
    id="ClaimSnapshotDocumentsScreen"
    mode="800">
    <Require
      name="Claim"
      type="Claim"/>
    <Require
      name="SnapshotParam"
      type="dynamic.Dynamic"/>
    <Toolbar/>
    <ListViewPanel
      id="ClaimSnapshotDocumentsLV">
      <RowIterator
        editable="false"
        elementName="Document"
        value="(SnapshotParam.Documents as Object[]).where(\ d -&gt; Claim.canViewDocumentSnapshot(User.util.CurrentUser, d))"
        valueType="dynamic.Dynamic">
        <Row>
          <TextCell
            id="Name"
            label="DisplayKey.get(&quot;Web.ClaimSnapshotDocumentsScreen.Name&quot;)"
            value="Document.Name"
            valueType="dynamic.Dynamic"/>
          <TextCell
            id="Type"
            label="DisplayKey.get(&quot;Web.ClaimSnapshotDocumentsScreen.Type&quot;)"
            value="Document.Type"
            valueType="dynamic.Dynamic"/>
          <TextCell
            id="Status"
            label="DisplayKey.get(&quot;Web.ClaimSnapshotDocumentsScreen.Status&quot;)"
            value="Document.Status"
            valueType="dynamic.Dynamic"/>
          <TextCell
            id="Author"
            label="DisplayKey.get(&quot;Web.ClaimSnapshotDocumentsScreen.Author&quot;)"
            value="Document.Author"
            valueType="dynamic.Dynamic"/>
          <TextCell
            id="DateModified"
            label="DisplayKey.get(&quot;Web.ClaimSnapshotDocumentsScreen.DateModified&quot;)"
            value="util.Snapshot.renderValue(Document.DateModified)"/>
        </Row>
      </RowIterator>
    </ListViewPanel>
  </Screen>
</PCF>
