<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    id="ClaimSnapshotPolicyGeneral800DetailPanelSet">
    <Require
      name="Claim"
      type="Claim"/>
    <Require
      name="SnapshotParam"
      type="dynamic.Dynamic"/>
    <DetailViewPanel
      id="ClaimSnapshotPolicyGeneral800DV">
      <InputColumn>
        <Label
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneralDV.Basic&quot;)"/>
        <TextInput
          id="PolicyNumber"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneralDV.PolicyNumber&quot;)"
          value="asPolicy().PolicyNumber"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="PolicyType"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneralDV.Type&quot;)"
          value="asPolicy().PolicyType"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="EffectiveDate"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneralDV.EffectiveDate&quot;)"
          value="util.Snapshot.renderValue(asPolicy().EffectiveDate)"/>
        <TextInput
          id="ExpirationDate"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneralDV.ExpirationDate&quot;)"
          value="util.Snapshot.renderValue(asPolicy().ExpirationDate)"/>
        <TextInput
          id="CancellationDate"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneralDV.CancellationDate&quot;)"
          value="util.Snapshot.renderValue(asPolicy().CancellationDate)"/>
        <TextInput
          id="OrigEffectiveDate"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneralDV.OrigEffectiveDate&quot;)"
          value="util.Snapshot.renderValue(asPolicy().OrigEffectiveDate)"/>
        <TextInput
          id="Status"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneralDV.Status&quot;)"
          value="asPolicy().Status"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="Currency"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneralDV.Currency&quot;)"
          value="asPolicy().Currency"
          valueType="dynamic.Dynamic"
          visible="gw.api.util.CurrencyUtil.isMultiCurrencyMode()"/>
        <InputDivider/>
        <Label
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneralDV.Insured&quot;)"/>
        <TextInput
          id="Insured"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneralDV.Insured_1&quot;)"
          value="asPolicy().Insured.DisplayName"
          valueType="dynamic.Dynamic"/>
        <TextAreaInput
          id="Address"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneralDV.Address&quot;)"
          numCols="30"
          numRows="3"
          value="asPolicy().Insured.PrimaryAddress.DisplayName"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="Account"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneralDV.Account&quot;)"
          value="asPolicy().AccountNumber"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="CustomerServiceTier"
          label="DisplayKey.get(&quot;NVV.Policy.SubView.PolicyGeneral.Policy.CustomerServiceTier&quot;)"
          value="asPolicy().CustomerServiceTier"
          valueType="dynamic.Dynamic"/>
      </InputColumn>
      <InputColumn>
        <Label
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneralDV.Additional&quot;)"/>
        <ListViewInput
          labelAbove="true">
          <Toolbar/>
          <ListViewPanel
            id="AdditionalInsuredLV">
            <RowIterator
              editable="false"
              elementName="ClaimContactRole"
              type="dynamic.Dynamic"
              value="util.Snapshot.getClaimContactRolesByRole(SnapshotParam, ContactRole.TC_COVEREDPARTY.Code)"
              valueType="java.lang.Object[]">
              <Row>
                <TextCell
                  id="Name"
                  label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneralDV.Insured_1&quot;)"
                  value="ClaimContactRole.ClaimContact.Contact.DisplayName"
                  valueType="dynamic.Dynamic"/>
                <TextCell
                  id="Type"
                  label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneralDV.Type&quot;)"
                  value="ClaimContactRole.CoveredPartyType"
                  valueType="dynamic.Dynamic"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </ListViewInput>
        <InputDivider/>
        <Label
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneralDV.Excluded&quot;)"/>
        <ListViewInput
          labelAbove="true">
          <Toolbar/>
          <ListViewPanel
            id="ExcludedPartiesLV">
            <RowIterator
              editable="false"
              elementName="ClaimContactRole"
              type="dynamic.Dynamic"
              value="util.Snapshot.getClaimContactRolesByRole(SnapshotParam, ContactRole.TC_EXCLUDEDPARTY.Code)"
              valueType="java.lang.Object[]">
              <Row>
                <TextCell
                  id="Name"
                  label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneralDV.Insured_1&quot;)"
                  value="ClaimContactRole.ClaimContact.Contact.DisplayName"
                  valueType="dynamic.Dynamic"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </ListViewInput>
        <InputDivider/>
        <Label
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneralDV.Agent&quot;)"/>
        <TextInput
          id="Agent"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneralDV.Insured_1&quot;)"
          value="asPolicy().Agent.DisplayName"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="ProducerCode"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneralDV.ProducerCode&quot;)"
          value="asPolicy().ProducerCode"
          valueType="dynamic.Dynamic"/>
        <InputDivider/>
        <Label
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneralDV.Underwriting&quot;)"/>
        <TextInput
          id="Underwriter"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneralDV.Underwriter&quot;)"
          value="asPolicy().Underwriter.DisplayName"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="UnderwritingCo"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneralDV.UnderwritingCo&quot;)"
          value="asPolicy().UnderwritingCo"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="UnderwritingGroup"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneralDV.UnderwritingGroup&quot;)"
          value="asPolicy().UnderwritingGroup"
          valueType="dynamic.Dynamic"/>
        <InputDivider/>
        <Label
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneralDV.Other&quot;)"/>
        <BooleanRadioInput
          falseLabel="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneralDV.Verified&quot;)"
          id="Verified"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneralDV.Verified_1&quot;)"
          trueLabel="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneralDV.Verified_2&quot;)"
          value="asPolicy().Verified"
          valueType="dynamic.Dynamic"/>
        <BooleanRadioInput
          falseLabel="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneralDV.Verified&quot;)"
          id="ForeignCoverage"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneralDV.ForeignCoverage_1&quot;)"
          trueLabel="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneralDV.Verified_2&quot;)"
          value="asPolicy().ForeignCoverage"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="FinancialInterests"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneralDV.FinancialInterests&quot;)"
          value="asPolicy().FinancialInterests"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="Notes"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneralDV.Notes&quot;)"
          value="asPolicy().Notes"
          valueType="dynamic.Dynamic"/>
        <InputSet
          visible="&quot;Workers' Comp&quot; == (SnapshotParam).LossType as String">
          <InputDivider/>
          <Label
            label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneralDV.Workers&quot;)"/>
          <TextInput
            id="InsuredSICCode"
            label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneralDV.InsuredSICCode&quot;)"
            value="asPolicy().InsuredSICCode"
            valueType="dynamic.Dynamic"/>
          <TextInput
            id="PolicyRatingPlan"
            label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneralDV.PolicyRatingPlan&quot;)"
            value="asPolicy().PolicyRatingPlan"
            valueType="dynamic.Dynamic"/>
          <TextInput
            id="WCStates"
            label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneralDV.WCStates&quot;)"
            value="asPolicy().WCStates"
            valueType="dynamic.Dynamic"/>
          <TextInput
            id="WCOtherStates"
            label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneralDV.WCOtherStates&quot;)"
            value="asPolicy().WCOtherStates"
            valueType="dynamic.Dynamic"/>
        </InputSet>
      </InputColumn>
    </DetailViewPanel>
    <ListDetailPanel
      id="ClaimSnapshotPolicyGeneral800LDP"
      selectionName="SelectedCoverage"
      selectionType="dynamic.Dynamic">
      <PanelRef>
        <TitleBar
          title="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneralDV.Policylevel&quot;)"/>
        <Toolbar/>
        <ListViewPanel
          id="PolicyCoveragesLV">
          <RowIterator
            editable="false"
            elementName="Coverage"
            value="asPolicy().Coverages"
            valueType="dynamic.Dynamic">
            <Row>
              <TextCell
                id="Type"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneralDV.Type&quot;)"
                value="Coverage.Type"
                valueType="dynamic.Dynamic"/>
              <TextCell
                id="Currency"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneralDV.Currency&quot;)"
                numCols="10"
                sortOrder="1"
                value="Coverage.Currency"
                valueType="dynamic.Dynamic"
                visible="gw.api.util.CurrencyUtil.MultiCurrencyMode"/>
              <TextCell
                id="Deductible"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneralDV.Deductible&quot;)"
                value="Coverage.Deductible"
                valueType="dynamic.Dynamic"/>
              <TextCell
                id="ExposureLimit"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneralDV.ExposureLimit&quot;)"
                value="Coverage.ExposureLimit"
                valueType="dynamic.Dynamic"/>
              <TextCell
                id="IncidentLimit"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneralDV.IncidentLimit&quot;)"
                value="Coverage.IncidentLimit"
                valueType="dynamic.Dynamic"/>
              <TextCell
                id="Notes"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneralDV.Notes&quot;)"
                value="Coverage.Notes"
                valueType="dynamic.Dynamic"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
      <PanelRef
        def="ClaimSnapshotPolicyCovTermsCV(SelectedCoverage)"
        mode="800"/>
    </ListDetailPanel>
    <Code><![CDATA[function asPolicy() : dynamic.Dynamic {
        return (SnapshotParam).Policy;
      }]]></Code>
  </PanelSet>
</PCF>
