<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <MenuItemSet
    desc="A set of MenuItems for creating a new contact that can perform auto repair."
    id="ClaimNewRepairShopOnlyPickerMenuItemSet">
    <Require
      name="requiredContactType"
      type="Type"/>
    <Require
      name="parentContact"
      type="Contact"/>
    <Require
      name="claim"
      type="Claim"/>
    <MenuItem
      action="NewContactPopup.push(typekey.Contact.TC_AUTOREPAIRSHOP, parentContact, claim)"
      id="NewContactPickerMenuItemSet_AutoRepairShop"
      label="DisplayKey.get(&quot;Web.NewContactMenu.NewAutoRepairShop&quot;)"/>
    <MenuItem
      action="NewContactPopup.push(typekey.Contact.TC_COMPANYVENDOR, parentContact, claim)"
      id="NewContactPickerMenuItemSet_CompanyVendor"
      label="DisplayKey.get(&quot;Web.NewContactMenu.NewCompanyVendor&quot;)"/>
    <MenuItem
      action="NewContactPopup.push(typekey.Contact.TC_PERSONVENDOR, parentContact, claim)"
      id="NewContactPickerMenuItemSet_PersonVendor"
      label="DisplayKey.get(&quot;Web.NewContactMenu.NewPersonVendor&quot;)"/>
  </MenuItemSet>
</PCF>