<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <MenuItemSet
    desc="A NewCompany single-menu-item for Company only, without subtypes"
    id="ClaimNewCompanyOnlyPickerMenuItemSet">
    <Require
      name="requiredContactType"
      type="Type"/>
    <Require
      name="parentContact"
      type="Contact"/>
    <Require
      name="claim"
      type="Claim"/>
    <MenuItem
      action="NewContactPopup.push(typekey.Contact.TC_COMPANY, parentContact, claim);"
      id="NewCompanyOnlyPickerMenuItemSet_NewCompanyMenuItem"
      label="DisplayKey.get(&quot;Web.NewContactMenu.NewCompany&quot;)"
      visible="requiredContactType.isAssignableFrom(entity.Company) and claim != null"/>
  </MenuItemSet>
</PCF>