<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <ListViewPanel
    id="ClaimSnapshotPolicyStatCodes300LV">
    <Require
      name="Claim"
      type="Claim"/>
    <Require
      name="SnapshotParam"
      type="dynamic.Dynamic"/>
    <RowIterator
      editable="false"
      elementName="StatCode"
      value="SnapshotParam.Policy.StatCodes"
      valueType="dynamic.Dynamic">
      <Row>
        <TextCell
          id="LineNumber"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyStatCodes300LV.LineNumber&quot;)"
          value="StatCode.LineNumber"
          valueType="dynamic.Dynamic"/>
        <TextCell
          id="InsuranceLine"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyStatCodes300LV.InsuranceLine&quot;)"
          value="StatCode.InsuranceLine"
          valueType="dynamic.Dynamic"/>
        <TextCell
          id="InsuranceSubline"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyStatCodes300LV.InsuranceSubline&quot;)"
          value="StatCode.InsuranceSubline"
          valueType="dynamic.Dynamic"/>
        <TextCell
          id="LocationNumber"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyStatCodes300LV.LocationNumber&quot;)"
          value="StatCode.LocationNumber"
          valueType="dynamic.Dynamic"/>
        <TextCell
          id="BuildingNumber"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyStatCodes300LV.BuildingNumber&quot;)"
          value="StatCode.BuildingNumber"
          valueType="dynamic.Dynamic"/>
        <TextCell
          id="VehicleNumber"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyStatCodes300LV.VehicleNumber&quot;)"
          value="StatCode.VehicleNumber"
          valueType="dynamic.Dynamic"/>
        <TextCell
          id="ClassCode"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyStatCodes300LV.ClassCode&quot;)"
          value="StatCode.ClassCode"
          valueType="dynamic.Dynamic"/>
        <TextCell
          id="MajorPeril"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyStatCodes300LV.MajorPeril&quot;)"
          value="StatCode.MajorPeril"
          valueType="dynamic.Dynamic"/>
        <TextCell
          id="State"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyStatCodes300LV.State&quot;)"
          value="StatCode.State"
          valueType="dynamic.Dynamic"/>
        <TextCell
          id="Notes"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyStatCodes300LV.Notes&quot;)"
          value="StatCode.Notes"
          valueType="dynamic.Dynamic"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>
