<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="ClaimSnapshotPolicyGeneral300DV">
    <Require
      name="Claim"
      type="Claim"/>
    <Require
      name="SnapshotParam"
      type="dynamic.Dynamic"/>
    <InputColumn>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneral300DV.Basic&quot;)"/>
      <TextInput
        id="PolicyNumber"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneral300DV.PolicyNumber&quot;)"
        value="asPolicy().PolicyNumber"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="PolicyType"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneral300DV.Type&quot;)"
        value="asPolicy().PolicyType"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="EffectiveDate"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneral300DV.EffectiveDate&quot;)"
        value="util.Snapshot.renderValue(asPolicy().EffectiveDate)"/>
      <TextInput
        id="ExpirationDate"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneral300DV.ExpirationDate&quot;)"
        value="util.Snapshot.renderValue(asPolicy().ExpirationDate)"/>
      <TextInput
        id="CancellationDate"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneral300DV.CancellationDate&quot;)"
        value="util.Snapshot.renderValue(asPolicy().CancellationDate)"/>
      <TextInput
        id="OrigEffectiveDate"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneral300DV.OrigEffectiveDate&quot;)"
        value="util.Snapshot.renderValue(asPolicy().OrigEffectiveDate)"/>
      <TextInput
        id="Status"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneral300DV.Status&quot;)"
        value="asPolicy().Status"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="CoverageForm"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneral300DV.CoverageForm&quot;)"
        value="asPolicy().CoverageForm"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="Participation"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneral300DV.Participation&quot;)"
        value="asPolicy().Participation"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="ReportingDate"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneral300DV.ReportingDate&quot;)"
        value="asPolicy().ReportingDate"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="RetroactiveDate"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneral300DV.RetroactiveDate&quot;)"
        value="asPolicy().RetroactiveDate"
        valueType="dynamic.Dynamic"/>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneral300DV.Insured&quot;)"/>
      <TextInput
        id="Insured"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneral300DV.Insured_1&quot;)"
        value="util.Snapshot.renderValue(util.Snapshot.getPolicyClaimContact(SnapshotParam, asPolicy(), &quot;insured&quot;))"/>
      <TextAreaInput
        id="Address"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneral300DV.Address&quot;)"
        numCols="30"
        numRows="3"
        value="util.Snapshot.renderValue(util.Snapshot.getPolicyClaimContact(SnapshotParam, asPolicy(), &quot;insured&quot;)[&quot;PrimaryAddress&quot;])"/>
      <TextInput
        id="PolicyHolder"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneral300DV.PolicyHolder&quot;)"
        value="util.Snapshot.renderValue(util.Snapshot.getPolicyClaimContact(SnapshotParam, asPolicy(), &quot;policyholder&quot;))"/>
      <TextInput
        id="DoingBusinessAs"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneral300DV.DoingBusinessAs&quot;)"
        value="util.Snapshot.renderValue(util.Snapshot.getPolicyClaimContact(SnapshotParam, asPolicy(), &quot;doingbusinessas&quot;))"/>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneral300DV.Policylevel&quot;)"/>
      <ListViewInput
        labelAbove="true">
        <Toolbar/>
        <ListViewPanel
          id="PolicyCoveragesLV">
          <RowIterator
            editable="false"
            elementName="Coverage"
            value="asPolicy().Coverages"
            valueType="dynamic.Dynamic">
            <Row>
              <TextCell
                id="Type"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneral300DV.Type&quot;)"
                value="Coverage.Type"
                valueType="dynamic.Dynamic"/>
              <TextCell
                id="Deductible"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneral300DV.Deductible&quot;)"
                value="Coverage.Deductible"
                valueType="dynamic.Dynamic"/>
              <TextCell
                id="ExposureLimit"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneral300DV.ExposureLimit&quot;)"
                value="Coverage.ExposureLimit"
                valueType="dynamic.Dynamic"/>
              <TextCell
                id="IncidentLimit"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneral300DV.IncidentLimit&quot;)"
                value="Coverage.IncidentLimit"
                valueType="dynamic.Dynamic"/>
              <TextCell
                id="Notes"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneral300DV.Notes&quot;)"
                value="Coverage.Notes"
                valueType="dynamic.Dynamic"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
    </InputColumn>
    <InputColumn>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneral300DV.Additional&quot;)"/>
      <ListViewInput
        labelAbove="true">
        <Toolbar/>
        <ListViewPanel
          id="AdditionalInsuredLV">
          <RowIterator
            editable="false"
            elementName="ClaimContact"
            type="dynamic.Dynamic"
            value="util.Snapshot.getCoveredParties(SnapshotParam, asPolicy())"
            valueType="java.lang.Object[]">
            <Row>
              <TextCell
                id="Name"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneral300DV.Insured_1&quot;)"
                value="util.Snapshot.renderValue(ClaimContact.Contact)"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneral300DV.Excluded&quot;)"/>
      <ListViewInput
        labelAbove="true">
        <Toolbar/>
        <ListViewPanel
          id="ExcludedPartiesLV">
          <RowIterator
            editable="false"
            elementName="ClaimContact"
            type="dynamic.Dynamic"
            value="util.Snapshot.getClaimContactsByOwnerAndRole(SnapshotParam, &quot;Policy&quot;, asPolicy(), &quot;excludedparty&quot;)"
            valueType="java.lang.Object[]">
            <Row>
              <TextCell
                id="Name"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneral300DV.Insured_1&quot;)"
                value="util.Snapshot.renderValue(ClaimContact.Contact)"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneral300DV.Agent&quot;)"/>
      <TextInput
        id="Agent"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneral300DV.Insured_1&quot;)"
        value="util.Snapshot.renderValue(util.Snapshot.getPolicyClaimContact(SnapshotParam, asPolicy(), &quot;agent&quot;))"/>
      <TextInput
        id="ProducerCode"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneral300DV.ProducerCode&quot;)"
        value="asPolicy().ProducerCode"
        valueType="dynamic.Dynamic"/>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneral300DV.Underwriting&quot;)"/>
      <TextInput
        id="Underwriter"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneral300DV.Underwriter&quot;)"
        value="util.Snapshot.renderValue(util.Snapshot.getPolicyClaimContact(SnapshotParam, asPolicy(), &quot;underwriter&quot;))"/>
      <TextInput
        id="UnderwritingCo"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneral300DV.UnderwritingCo&quot;)"
        value="asPolicy().UnderwritingCo"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="UnderwritingGroup"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneral300DV.UnderwritingGroup&quot;)"
        value="asPolicy().UnderwritingGroup"
        valueType="dynamic.Dynamic"/>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneral300DV.Other&quot;)"/>
      <BooleanRadioInput
        falseLabel="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneral300DV.Verified&quot;)"
        id="Verified"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneral300DV.Verified_1&quot;)"
        trueLabel="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneral300DV.Verified_2&quot;)"
        value="asPolicy().Verified"
        valueType="dynamic.Dynamic"/>
      <BooleanRadioInput
        falseLabel="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneral300DV.Verified&quot;)"
        id="ForeignCoverage"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneral300DV.ForeignCoverage_1&quot;)"
        trueLabel="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneral300DV.Verified_2&quot;)"
        value="asPolicy().ForeignCoverage"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="FinancialInterests"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneral300DV.FinancialInterests&quot;)"
        value="asPolicy().FinancialInterests"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="Notes"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneral300DV.Notes&quot;)"
        value="asPolicy().Notes"
        valueType="dynamic.Dynamic"/>
      <InputSet
        visible="(SnapshotParam).LossType == &quot;Workers' Comp&quot;">
        <InputDivider/>
        <Label
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneral300DV.Workers&quot;)"/>
        <TextInput
          id="InsuredSICCode"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneral300DV.InsuredSICCode&quot;)"
          value="asPolicy().InsuredSICCode"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="PolicyRatingPlan"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneral300DV.PolicyRatingPlan&quot;)"
          value="asPolicy().PolicyRatingPlan"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="WCStates"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneral300DV.WCStates&quot;)"
          value="asPolicy().WCStates"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="WCOtherStates"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyGeneral300DV.WCOtherStates&quot;)"
          value="asPolicy().WCOtherStates"
          valueType="dynamic.Dynamic"/>
      </InputSet>
    </InputColumn>
    <Code><![CDATA[
      function asPolicy() : dynamic.Dynamic {
        return (SnapshotParam).Policy;
      }
    ]]></Code>
  </DetailViewPanel>
</PCF>
