<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    id="ClaimAllMattersCalendar"
    parent="ClaimMatters(Claim)"
    showUpLink="true"
    title="DisplayKey.get(&quot;Web.ClaimMatterCalendar.Title&quot;)">
    <LocationEntryPoint
      signature="ClaimAllMattersCalendar(Claim : Claim)"/>
    <Variable
      name="Claim"
      type="Claim"/>
    <Screen
      id="ClaimAllMattersCalendarScreen">
      <Toolbar/>
      <Calendar
        calendarSource="new gw.api.calendar.MyMatterCalendarActivitySource(Claim, null)"
        context="/LitigationCalendar"/>
    </Screen>
  </Page>
</PCF>