<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <!-- Used where user may not have permission to see negotiation; backs off to Claim if no permission -->
  <Forward
    id="ClaimNegotiationForward">
    <LocationEntryPoint
      signature="ClaimNegotiationForward(Claim : Claim)"/>
    <Variable
      name="Claim"
      type="Claim"/>
    <ForwardCondition
      action="ClaimNegotiations.go(Claim)"/>
    <ForwardCondition
      action="pcf.Claim.go(Claim)"/>
  </Forward>
</PCF>