<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="RemoveFlagInfoDV">
    <Require
      name="removeFlagInfo"
      type="RemoveFlagInfo"/>
    <Require
      name="claim"
      type="Claim"/>
    <Require
      name="viaTeamScreen"
      type="boolean"/>
    <InputColumn>
      <TextInput
        boldLabel="true"
        id="Claim"
        label="DisplayKey.get(&quot;Web.Claim.RemoveFlag.Claim&quot;)"
        value="claim.ClaimNumber"
        visible="viaTeamScreen"/>
      <TextInput
        boldLabel="true"
        id="Insured"
        label="DisplayKey.get(&quot;Web.Claim.RemoveFlag.Insured&quot;)"
        value="claim.Insured"
        valueType="entity.Contact"
        visible="viaTeamScreen"/>
      <DateInput
        boldLabel="true"
        id="FlaggedDate"
        label="DisplayKey.get(&quot;Web.Claim.RemoveFlag.DateFlagged&quot;)"
        value="claim.FlaggedDate"/>
      <TextAreaInput
        boldLabel="true"
        id="FlaggedReason"
        label="DisplayKey.get(&quot;Web.Claim.RemoveFlag.FlaggedReason&quot;)"
        numCols="30"
        numRows="3"
        value="claim.FlaggedReason"/>
      <TextAreaInput
        boldLabel="true"
        editable="true"
        id="Note"
        label="DisplayKey.get(&quot;Web.Team.RemoveFlag.Note&quot;)"
        numCols="30"
        numRows="3"
        value="removeFlagInfo.note"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>