<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../../pcf.xsd">
  <InputSet
    id="ClaimSnapshotOtherCarrierInvolvementInputSet"
    mode="default">
    <Require
      name="ExposureParam"
      type="dynamic.Dynamic"/>
    <Variable
      initialValue="ExposureParam"
      name="Exposure"
      type="dynamic.Dynamic"/>
    <Label
      label="DisplayKey.get(&quot;Web.ClaimSnapshotExposureDV.Default.Other&quot;)"/>
    <BooleanRadioInput
      falseLabel="DisplayKey.get(&quot;Web.ClaimSnapshotExposureDV.Default.ContactProhibited&quot;)"
      id="OtherCoverage"
      label="DisplayKey.get(&quot;Web.ClaimSnapshotExposureDV.Default.OtherCoverage_1&quot;)"
      trueLabel="DisplayKey.get(&quot;Web.ClaimSnapshotExposureDV.Default.ContactProhibited_2&quot;)"
      value="Exposure.OtherCoverage"
      valueType="dynamic.Dynamic"/>
    <ListViewInput
      label="DisplayKey.get(&quot;Web.ClaimSnapshotExposureDV.Default.Details&quot;)"
      labelAbove="true">
      <Toolbar/>
      <ListViewPanel
        id="OtherCoverageDetLV">
        <RowIterator
          editable="false"
          elementName="OtherCoverageDet"
          value="Exposure.OtherCoverageDet"
          valueType="dynamic.Dynamic">
          <Row>
            <TextCell
              id="Insurer"
              label="DisplayKey.get(&quot;Web.ClaimSnapshotExposureDV.Default.Insurer&quot;)"
              value="OtherCoverageDet.Insurer"
              valueType="dynamic.Dynamic"/>
            <TextCell
              id="PolicyNumber"
              label="DisplayKey.get(&quot;Web.ClaimSnapshotExposureDV.Default.PolicyNumber&quot;)"
              value="OtherCoverageDet.PolicyNumber"
              valueType="dynamic.Dynamic"/>
            <TextCell
              id="ContactName"
              label="DisplayKey.get(&quot;Web.ClaimSnapshotExposureDV.Default.ContactName&quot;)"
              value="OtherCoverageDet.ContactName"
              valueType="dynamic.Dynamic"/>
            <TextCell
              id="ContactPhone"
              label="DisplayKey.get(&quot;Web.ClaimSnapshotExposureDV.Default.ContactPhone&quot;)"
              value="OtherCoverageDet.ContactPhone"
              valueType="dynamic.Dynamic"/>
            <TextCell
              id="Notes"
              label="DisplayKey.get(&quot;Web.ClaimSnapshotExposureDV.Default.Notes&quot;)"
              value="OtherCoverageDet.Notes"
              valueType="dynamic.Dynamic"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </ListViewInput>
  </InputSet>
</PCF>
