<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="NoteTemplateSearchDV">
    <Require
      name="NoteTemplateSearchCriteria"
      type="NoteTemplateSearchCriteria"/>
    <InputColumn>
      <TypeKeyInput
        editable="true"
        id="Topic"
        label="DisplayKey.get(&quot;NVV.Claim.NoteTemplateSearch.Topic&quot;)"
        value="NoteTemplateSearchCriteria.Topic"
        valueType="typekey.NoteTopicType"/>
      <TypeKeyInput
        editable="true"
        id="Type"
        label="DisplayKey.get(&quot;NVV.Claim.NoteTemplateSearch.Type&quot;)"
        value="NoteTemplateSearchCriteria.Type"
        valueType="typekey.NoteType"/>
      <TypeKeyInput
        editable="true"
        id="Language"
        label="DisplayKey.get(&quot;NVV.Claim.NoteTemplateSearch.Language&quot;)"
        required="true"
        value="NoteTemplateSearchCriteria.Language"
        valueType="typekey.LanguageType"
        visible="LanguageType.getTypeKeys( false ).Count &gt; 1"/>
      <TypeKeyInput
        editable="true"
        id="LossType"
        label="DisplayKey.get(&quot;NVV.Claim.NoteTemplateSearch.LossType&quot;)"
        value="NoteTemplateSearchCriteria.Lob"
        valueType="typekey.LossType"/>
      <TextInput
        editable="true"
        id="Keywords"
        label="DisplayKey.get(&quot;NVV.Claim.NoteTemplateSearch.Keywords&quot;)"
        value="NoteTemplateSearchCriteria.Keywords"/>
    </InputColumn>
    <InputFooterSection>
      <InputSetRef
        def="SearchAndResetInputSet()"/>
    </InputFooterSection>
  </DetailViewPanel>
</PCF>