<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="EditableAuthorityLimitsLV">
    <ExposeIterator
      valueType="entity.AuthorityLimit"
      widget="EditableAuthorityLimitsLV"/>
    <Require
      name="user"
      type="User"/>
    <RowIterator
      editable="true"
      elementName="AuthorityLimit"
      hideCheckBoxesIfReadOnly="true"
      pageSize="20"
      toAdd="user.AuthorityProfile.addToLimits(AuthorityLimit)"
      toRemove="user.AuthorityProfile.removeFromLimits(AuthorityLimit)"
      value="user.AuthorityProfile.Limits"
      valueType="entity.AuthorityLimit[]">
      <Row>
        <TypeKeyCell
          editable="true"
          id="LimitType"
          label="DisplayKey.get(&quot;LV.Admin.EditableAuthorityLimits.LimitType&quot;)"
          required="true"
          sortOrder="1"
          value="AuthorityLimit.LimitType"
          valueType="typekey.AuthorityLimitType"/>
        <TypeKeyCell
          editable="true"
          id="PolicyType"
          label="DisplayKey.get(&quot;LV.Admin.EditableAuthorityLimits.PolicyType&quot;)"
          sortOrder="2"
          value="AuthorityLimit.PolicyType"
          valueType="typekey.PolicyType">
          <PostOnChange
            onChange="gw.plugin.authoritylimits.AuthorityLimitsConfiguration.validateTypecodeHierarchy(AuthorityLimit)"
            target="DATA_ONLY"/>
        </TypeKeyCell>
        <TypeKeyCell
          editable="true"
          id="CoverageType"
          label="DisplayKey.get(&quot;LV.Admin.EditableAuthorityLimits.CoverageType&quot;)"
          sortOrder="3"
          value="AuthorityLimit.CoverageType"
          valueType="typekey.CoverageType"/>
        <TypeKeyCell
          editable="true"
          id="CostType"
          label="DisplayKey.get(&quot;LV.Admin.EditableAuthorityLimits.CostType&quot;)"
          sortOrder="4"
          value="AuthorityLimit.CostType"
          valueType="typekey.CostType"/>
        <CurrencyCell
          editable="true"
          formatType="currency"
          id="LimitAmount"
          label="DisplayKey.get(&quot;LV.Admin.EditableAuthorityLimits.LimitAmount&quot;)"
          numCols="12"
          required="true"
          value="AuthorityLimit.LimitAmount"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>