<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    editable="true"
    id="UserAttributesLV">
    <ExposeIterator
      valueType="entity.AttributeUser"
      widget="UserAttributesLV"/>
    <Require
      name="User"
      type="User"/>
    <RowIterator
      conversionExpression="gw.api.admin.UserAttributeUtil.createAttributeUsers(PickedValue, CurrentLocation)"
      editable="true"
      elementName="Attribute"
      hasCheckBoxes="true"
      pickLocation="UserAttributesPopup.push()"
      toAdd="User.addToAttributes(Attribute)"
      toRemove="User.removeFromAttributes(Attribute)"
      value="User.Attributes"
      valueType="entity.AttributeUser[]">
      <Row>
        <TextCell
          id="Name"
          label="DisplayKey.get(&quot;Web.Admin.UserAttributes.Name&quot;)"
          outputConversion="Attribute.Attribute.Name"
          required="true"
          sortOrder="2"
          value="Attribute.Attribute.Name"/>
        <TypeKeyCell
          id="Type"
          label="DisplayKey.get(&quot;Web.Admin.UserAttributes.Type&quot;)"
          sortOrder="1"
          value="Attribute.Attribute.Type"
          valueType="typekey.UserAttributeType"/>
        <TypeKeyCell
          editable="true"
          id="State"
          label="DisplayKey.get(&quot;Web.Admin.UserAttributes.State&quot;)"
          value="Attribute.State"
          valueType="typekey.State"/>
        <TextCell
          editable="true"
          id="Value"
          label="DisplayKey.get(&quot;Web.Admin.UserAttributes.Value&quot;)"
          value="Attribute.Value"
          valueType="java.lang.Integer"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>