<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <PanelSet
    id="LivingExpensesIncidentPanelSet">
    <Require
      name="incident"
      type="LivingExpensesIncident"/>
    <PanelRow>
      <PanelColumn>
        <PanelRef>
          <TitleBar
            id="DetailHeader"
            title="DisplayKey.get(&quot;Web.LivingExpensesIncident.DetailHeader&quot;)"/>
          <DetailViewPanel>
            <InputColumn>
              <TextAreaInput
                editable="true"
                id="Description"
                label="DisplayKey.get(&quot;Web.LivingExpensesIncident.Description&quot;)"
                numRows="3"
                required="true"
                value="incident.Description"/>
              <TextInput
                id="ExpectedDuration"
                label="DisplayKey.get(&quot;Web.LivingExpensesIncident.ExpectedDuration&quot;)"
                value="incident.ExpectedDurationEstimate"/>
              <CurrencyInput
                formatType="currency"
                id="TotalLodgingEstimate"
                label="DisplayKey.get(&quot;Web.LivingExpensesIncident.TotalLodgingEstimate&quot;)"
                value="incident.TotalLodgingEstimate"/>
              <CurrencyInput
                formatType="currency"
                id="TotalMealsEstimate"
                label="DisplayKey.get(&quot;Web.LivingExpensesIncident.TotalMealsEstimate&quot;)"
                value="incident.TotalMealsEstimate"/>
            </InputColumn>
          </DetailViewPanel>
        </PanelRef>
        <PanelRef>
          <TitleBar
            title="DisplayKey.get(&quot;Web.LivingExpensesIncident.MealsHeader&quot;)"/>
          <DetailViewPanel>
            <InputColumn>
              <TextInput
                editable="true"
                id="MealsDays"
                label="DisplayKey.get(&quot;Web.LivingExpensesIncident.MealsHeader.Days&quot;)"
                value="incident.MealsDays"
                valueType="java.lang.Integer"/>
              <TextInput
                editable="true"
                id="MealsPeople"
                label="DisplayKey.get(&quot;Web.LivingExpensesIncident.MealsHeader.People&quot;)"
                value="incident.MealsPeople"
                valueType="java.lang.Integer"/>
              <CurrencyInput
                editable="true"
                id="MealsRate"
                label="DisplayKey.get(&quot;Web.LivingExpensesIncident.MealsHeader.Rate&quot;)"
                value="incident.MealsRate"/>
            </InputColumn>
          </DetailViewPanel>
        </PanelRef>
      </PanelColumn>
      <PanelColumn>
        <PanelRef
          def="IncidentExposuresLV(incident)"
          id="IncidentExposuresLV">
          <TitleBar
            id="RelatedExposuresHeader"
            title="DisplayKey.get(&quot;Web.LivingExpensesIncident.RelatedExposuresHeader&quot;)"/>
          <Toolbar/>
        </PanelRef>
        <PanelRef>
          <TitleBar
            title="DisplayKey.get(&quot;Web.ServicesScreen.ServiceRequest.ServiceToPerform&quot;)"/>
          <DetailViewPanel>
            <InputColumn>
              <TextInput
                id="ServiceRequestSubmitMessageFNOL"
                labelAbove="true"
                value="DisplayKey.get(&quot;Web.ServiceRequest.FNOL.SubmitMessage&quot;)"
                visible="incident.Claim.DraftClaim"/>
              <TextInput
                id="ServiceRequestSubmitMessage"
                labelAbove="true"
                value="DisplayKey.get(&quot;Web.ServiceRequest.SubmitMessage&quot;)"
                visible="not incident.Claim.DraftClaim and CurrentLocation.InEditMode"/>
              <InputSetRef
                def="OtherServicesLVInputSet(incident.Claim, incident, incident.ServiceRequests.toSet(), null, {})"/>
            </InputColumn>
          </DetailViewPanel>
        </PanelRef>
      </PanelColumn>
    </PanelRow>
    <PanelRow>
      <PanelColumn>
        <PanelRef
          def="LodgingProviderLV(incident)"
          editable="true"
          id="LodgingProviderLV">
          <TitleBar
            id="LodgingProviderHeader"
            title="DisplayKey.get(&quot;Web.LivingExpensesIncident.LodgingProviderHeader&quot;)"/>
          <Toolbar>
            <IteratorButtons
              iterator="LodgingProviderLV.LodgingProviderLV"/>
          </Toolbar>
        </PanelRef>
      </PanelColumn>
    </PanelRow>
  </PanelSet>
</PCF>