<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="EditableContributingFactorsLV">
    <ExposeIterator
      valueType="entity.ContribFactor"
      widget="EditableContributingFactorsLV"/>
    <Require
      name="Claim"
      type="Claim"/>
    <RowIterator
      editable="true"
      elementName="ContribFactors"
      hideCheckBoxesIfReadOnly="true"
      toAdd="Claim.addToContribFactors(ContribFactors)"
      toRemove="Claim.removeFromContribFactors(ContribFactors)"
      value="Claim.ContribFactors"
      valueType="entity.ContribFactor[]">
      <Row>
        <TypeKeyCell
          editable="true"
          id="EditableContributingFactors_contribprimary"
          label="DisplayKey.get(&quot;LV.Claim.EditableContributingFactors.contribprimary&quot;)"
          required="true"
          sortOrder="1"
          value="ContribFactors.PriContributingFactors"
          valueType="typekey.PriContributingFactors"/>
        <TypeKeyCell
          editable="true"
          id="EditableContributingFactors_contribsecond"
          label="DisplayKey.get(&quot;LV.Claim.EditableContributingFactors.contribsecond&quot;)"
          required="true"
          sortOrder="2"
          value="ContribFactors.SecContributingFactors"
          valueType="typekey.SecContributingFactors"/>
        <TypeKeyCell
          editable="true"
          id="EditableContributingFactors_contribresult"
          label="DisplayKey.get(&quot;LV.Claim.EditableContributingFactors.contribresult&quot;)"
          required="true"
          sortOrder="3"
          value="ContribFactors.ResContributingFactors"
          valueType="typekey.ResContributingFactors"/>
        <TextCell
          editable="true"
          id="EditableContributingFactors_Text"
          label="DisplayKey.get(&quot;LV.Claim.EditableContributingFactors.Text&quot;)"
          maxChars="40"
          required="false"
          value="ContribFactors.ContFactText"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>