<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <PanelSet
    id="FireDamageQuestionsPanelSet">
    <Require
      name="aClaim"
      type="Claim"/>
    <DetailViewPanel>
      <InputColumn>
        <BooleanRadioInput
          editable="true"
          id="ArsonInvolved"
          label="DisplayKey.get(&quot;NVV.Claim.SubView.LossDetailsProperty.Claim.FireDamage.ArsonInvolved&quot;)"
          value="aClaim.PropertyFireDamage.Arson"/>
        <TextAreaInput
          editable="true"
          id="FireSource"
          label="DisplayKey.get(&quot;NVV.Claim.SubView.LossDetailsProperty.Claim.FireDamage.FireSource&quot;)"
          numRows="2"
          value="aClaim.PropertyFireDamage.FireSource"/>
        <TextAreaInput
          editable="true"
          id="HowWasFireDiscovered"
          label="DisplayKey.get(&quot;NVV.Claim.SubView.LossDetailsProperty.Claim.FireDamage.HowWasFireDiscovered&quot;)"
          numRows="2"
          value="aClaim.PropertyFireDamage.HowWasFireDiscovered"/>
        <BooleanRadioInput
          editable="true"
          id="FireDeptResponded"
          label="DisplayKey.get(&quot;NVV.Claim.SubView.LossDetailsProperty.Claim.FireDamage.FireDeptResponded&quot;)"
          value="aClaim.PropertyFireDamage.FireDeptResponded"/>
      </InputColumn>
      <InputColumn>
        <BooleanRadioInput
          editable="true"
          id="IsAnyoneInjured"
          label="DisplayKey.get(&quot;NVV.Claim.SubView.LossDetailsProperty.Claim.FireDamage.IsAnyoneInjured&quot;)"
          value="aClaim.PropertyFireDamage.IsAnyoneInjured"/>
        <BooleanRadioInput
          editable="true"
          id="SmokeDamageOnly"
          label="DisplayKey.get(&quot;NVV.Claim.SubView.LossDetailsProperty.Claim.FireDamage.SmokeDamageOnly&quot;)"
          value="aClaim.PropertyFireDamage.SmokeDamageOnly"/>
        <BooleanRadioInput
          editable="true"
          id="IsHomeHabitable"
          label="DisplayKey.get(&quot;NVV.Claim.SubView.LossDetailsProperty.Claim.FireDamage.IsHomeHabitable&quot;)"
          value="aClaim.PropertyFireDamage.IsHomeHabitable"/>
        <BooleanRadioInput
          editable="true"
          id="IsHomeSecure"
          label="DisplayKey.get(&quot;NVV.Claim.SubView.LossDetailsProperty.Claim.FireDamage.IsHomeSecure&quot;)"
          value="aClaim.PropertyFireDamage.IsHomeSecure"/>
      </InputColumn>
    </DetailViewPanel>
  </PanelSet>
</PCF>