<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="LossDetailsDV"
    mode="Trav">
    <Require
      name="Claim"
      type="Claim"/>
    <InputColumn>
      <Label
        label="DisplayKey.get(&quot;NVV.Claim.SubView.LossDetailsTrav.Claim.LossDetails&quot;)"/>
      <TextAreaInput
        editable="true"
        id="Description"
        label="DisplayKey.get(&quot;NVV.Claim.SubView.LossDetailsTrav.Claim.Description&quot;)"
        numCols="35"
        numRows="3"
        required="false"
        value="Claim.Description"/>
      <TypeKeyInput
        editable="true"
        id="LossCause"
        label="DisplayKey.get(&quot;NVV.Claim.SubView.LossDetailsTrav.Claim.LossCause&quot;)"
        required="true"
        value="Claim.LossCause"
        valueType="typekey.LossCause"/>
      <TypeKeyInput
        editable="true"
        id="Notification_Fault"
        label="DisplayKey.get(&quot;NVV.Claim.SubView.LossDetailsTrav.Claim.Notification.Fault&quot;)"
        value="Claim.FaultRating"
        valueType="typekey.FaultRating">
        <PostOnChange
          target="Notification_AtFaultPercentage"/>
      </TypeKeyInput>
      <TextInput
        editable="true"
        formatType="percentagePoints"
        id="Notification_AtFaultPercentage"
        label="DisplayKey.get(&quot;NVV.Claim.SubView.LossDetailsTrav.Claim.Notification.AtFaultPercentage&quot;)"
        value="Claim.Fault"
        valueType="java.math.BigDecimal"
        visible="Claim.FaultRating == TC_1"/>
      <RangeInput
        editable="true"
        id="Catastrophe_CatastropheNumber"
        label="DisplayKey.get(&quot;NVV.Claim.SubView.LossDetailsTrav.Claim.Catastrophe.CatastropheNumber&quot;)"
        required="false"
        value="Claim.Catastrophe"
        valueRange="gw.api.admin.CatastropheUtil.getCatastrophes()"
        valueType="entity.Catastrophe"/>
      <TypeKeyInput
        editable="true"
        id="Claim_Weather"
        label="DisplayKey.get(&quot;NVV.Claim.SubView.LossDetailsTrav.Claim.Weather&quot;)"
        value="Claim.Weather"
        valueType="typekey.WeatherType"/>
      <BooleanRadioInput
        editable="true"
        id="Claim_EmploymentCourse"
        label="DisplayKey.get(&quot;NVV.Claim.SubView.LossDetailsTrav.Claim.EmploymentCourse&quot;)"
        value="Claim.EmploymentInjury"/>
      <DateInput
        dateFormat="short"
        editable="true"
        id="LossDate"
        label="DisplayKey.get(&quot;NVV.Claim.SubView.LossDetailsTrav.Claim.LossDate&quot;)"
        required="true"
        timeFormat="short"
        validationExpression="Claim.LossDate == null || Claim.LossDate &lt; gw.api.util.DateUtil.currentDate() ? null : DisplayKey.get(&quot;Java.Validation.Date.ForbidFuture&quot;)"
        value="Claim.LossDate">
        <PostOnChange
          onChange="gw.pcf.ClaimLossDetailsUtil.changedLossDate(Claim)"/>
      </DateInput>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;NVV.Claim.SubView.LossDetailsTrav.Claim.LossLocation&quot;)"/>
      <InputSetRef
        def="CCAddressInputSet(Claim.AddressOwner)"
        mode="Claim.AddressOwner.InputSetMode"/>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;NVV.Claim.SubView.LossDetailsTrav.Claim.Notification&quot;)"/>
      <BooleanRadioInput
        editable="true"
        id="Notification_FirstNoticeSuit"
        label="DisplayKey.get(&quot;NVV.Claim.SubView.LossDetailsTrav.Claim.Notification.FirstNoticeSuit&quot;)"
        value="Claim.FirstNoticeSuit"/>
      <TypeKeyInput
        editable="true"
        id="Notification_HowReported"
        label="DisplayKey.get(&quot;NVV.Claim.SubView.LossDetailsTrav.Claim.Notification.HowReported&quot;)"
        value="Claim.HowReported"
        valueType="typekey.HowReportedType"/>
      <ClaimContactInput
        claim="Claim"
        editable="true"
        id="ReportedBy_Picker"
        label="DisplayKey.get(&quot;NVV.Claim.SubView.LossDetailsTrav.Claim.Notification.ReportedBy.Picker&quot;)"
        newContactMenu="ClaimNewPersonOnlyPickerMenuItemSet"
        required="true"
        value="Claim.reporter"
        valueRange="Claim.RelatedPersonArray"/>
      <TypeKeyInput
        editable="true"
        id="Notification_ReportedByType"
        label="DisplayKey.get(&quot;NVV.Claim.SubView.LossDetailsTrav.Claim.Notification.ReportedByType&quot;)"
        required="true"
        value="Claim.ReportedByType"
        valueType="typekey.PersonRelationType">
        <Reflect
          triggerIds="ReportedBy_Picker">
          <ReflectCondition
            condition="VALUE==Claim.Insured"
            value="&quot;self&quot;"/>
          <ReflectCondition
            condition="true"
            value="&quot;&quot;"/>
        </Reflect>
      </TypeKeyInput>
      <ClaimContactInput
        claim="Claim"
        editable="true"
        id="MainContact_Picker"
        label="DisplayKey.get(&quot;NVV.Claim.SubView.LossDetailsTrav.Claim.Notification.MainContact.Picker&quot;)"
        newContactMenu="ClaimNewPersonOnlyPickerMenuItemSet"
        value="Claim.maincontact"
        valueRange="Claim.RelatedPersonArray"
        valueType="entity.Person"/>
      <TypeKeyInput
        editable="true"
        id="Notification_MainContactType"
        label="DisplayKey.get(&quot;NVV.Claim.SubView.LossDetailsTrav.Claim.Notification.MainContactType&quot;)"
        value="Claim.MainContactType"
        valueType="typekey.PersonRelationType">
        <Reflect
          triggerIds="MainContact_Picker">
          <ReflectCondition
            condition="VALUE==Claim.Insured"
            value="&quot;self&quot;"/>
          <ReflectCondition
            condition="true"
            value="&quot;&quot;"/>
        </Reflect>
      </TypeKeyInput>
      <DateInput
        dateFormat="short"
        editable="true"
        id="Notification_DateReportedToAgent"
        label="DisplayKey.get(&quot;NVV.Claim.SubView.LossDetailsTrav.Claim.Notification.DateReportedToAgent&quot;)"
        timeFormat="short"
        value="Claim.DateRptdToAgent"/>
      <InputDivider/>
    </InputColumn>
    <InputColumn>
      <ListViewInput
        boldLabel="true"
        def="EditableTripIncidentsLV(Claim, false)"
        editable="true"
        label="DisplayKey.get(&quot;NVV.Claim.SubView.LossDetailsTrav.Claim.Trip&quot;)"
        labelAbove="true">
        <Toolbar>
          <IteratorButtons
            iterator="EditableTripIncidentsLV.EditableTripIncidentsLV"/>
        </Toolbar>
      </ListViewInput>
      <InputDivider/>
      <ListViewInput
        boldLabel="true"
        def="EditableBaggageIncidentsLV(Claim)"
        editable="true"
        label="DisplayKey.get(&quot;NVV.Claim.SubView.LossDetailsTrav.Claim.Baggage&quot;)"
        labelAbove="true">
        <Toolbar>
          <IteratorButtons
            iterator="EditableBaggageIncidentsLV.EditableBaggageIncidentsLV"
            removeFlags="all Removeable"/>
        </Toolbar>
      </ListViewInput>
      <InputDivider/>
      <ListViewInput
        boldLabel="true"
        def="EditableInjuryIncidentsLV(Claim)"
        editable="true"
        label="DisplayKey.get(&quot;NVV.Claim.SubView.LossDetails.Claim.Injuries&quot;)"
        labelAbove="true">
        <Toolbar>
          <IteratorButtons
            iterator="EditableInjuryIncidentsLV.EditableInjuryIncidentsLV"
            removeFlags="all Removeable"/>
        </Toolbar>
      </ListViewInput>
      <InputDivider/>
      <ListViewInput
        boldLabel="true"
        def="EditableVehicleIncidentsLV(Claim)"
        editable="true"
        label="DisplayKey.get(&quot;NVV.Claim.SubView.LossDetailsTrav.Claim.Vehicles&quot;)"
        labelAbove="true">
        <Toolbar>
          <IteratorButtons
            iterator="EditableVehicleIncidentsLV.EditableVehicleIncidentsLV"
            removeFlags="all Removeable"/>
        </Toolbar>
      </ListViewInput>
      <InputDivider/>
      <ListViewInput
        boldLabel="true"
        def="EditableFixedPropertyIncidentsLV(Claim)"
        editable="true"
        label="DisplayKey.get(&quot;NVV.Claim.SubView.LossDetailsTrav.Claim.Properties&quot;)"
        labelAbove="true">
        <Toolbar>
          <IteratorButtons
            iterator="EditableFixedPropertyIncidentsLV.EditableFixedPropertyIncidentsLV"
            removeFlags="all Removeable"/>
        </Toolbar>
      </ListViewInput>
      <InputDivider/>
      <ListViewInput
        boldLabel="true"
        def="EditableOfficialsLV(Claim)"
        editable="true"
        label="DisplayKey.get(&quot;NVV.Claim.SubView.LossDetailsTrav.Claim.Officials&quot;)"
        labelAbove="true">
        <Toolbar>
          <IteratorButtons
            iterator="EditableOfficialsLV.EditableOfficialsLV"/>
        </Toolbar>
      </ListViewInput>
      <InputDivider/>
    </InputColumn>
    <InputFooterSection>
      <Label
        id="Witness_Header"
        label="DisplayKey.get(&quot;NVV.Claim.SubView.LossDetailsTrav.Claim.Witness.Header&quot;)"/>
      <ListViewInput
        boldLabel="true"
        def="EditableWitnessesLV(Claim.getClaimContactRolesByRole(TC_WITNESS), Claim, TC_WITNESS)"
        editable="true"
        labelAbove="true">
        <Toolbar>
          <IteratorButtons
            iterator="EditableWitnessesLV.EditableWitnessesLV"/>
        </Toolbar>
      </ListViewInput>
      <Label
        label="DisplayKey.get(&quot;NVV.Claim.SubView.LossDetailsTrav.Claim.ContributingFactors&quot;)"/>
      <ListViewInput
        def="EditableContributingFactorsLV(Claim)"
        editable="true"
        labelAbove="true">
        <Toolbar>
          <IteratorButtons
            iterator="EditableContributingFactorsLV.EditableContributingFactorsLV"/>
        </Toolbar>
      </ListViewInput>
    </InputFooterSection>
  </DetailViewPanel>
</PCF>
