<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="PropertyAttributeInputSet">
    <Require
      name="FixedPropertyIncident"
      type="FixedPropertyIncident"/>
    <Label
      label="DisplayKey.get(&quot;NVV.Claim.PropertyAttribute.BuildingDetail&quot;)"/>
    <TypeKeyInput
      editable="true"
      id="PropertyAttribute_ClassType"
      label="DisplayKey.get(&quot;NVV.Claim.PropertyAttribute.ClassType&quot;)"
      required="false"
      value="FixedPropertyIncident.ClassType"
      valueType="typekey.ClassType"/>
    <TextInput
      editable="true"
      id="PropertyAttribute_NumStories"
      label="DisplayKey.get(&quot;NVV.Claim.PropertyAttribute.NumStories&quot;)"
      numCols="3"
      required="false"
      value="FixedPropertyIncident.NumStories"
      valueType="java.lang.Integer"/>
    <TypeKeyInput
      editable="true"
      id="PropertyAttribute_RoofMaterial"
      label="DisplayKey.get(&quot;NVV.Claim.PropertyAttribute.RoofMaterial&quot;)"
      required="false"
      value="FixedPropertyIncident.RoofMaterial"
      valueType="typekey.RoofMaterial"/>
    <TypeKeyInput
      editable="true"
      id="PropertyAttribute_ExtWallMat"
      label="DisplayKey.get(&quot;NVV.Claim.PropertyAttribute.ExtWallMat&quot;)"
      required="false"
      value="FixedPropertyIncident.ExtWallMat"
      valueType="typekey.ExtWallMat"/>
    <InputDivider/>
    <Label
      label="DisplayKey.get(&quot;NVV.Claim.PropertyAttribute.OccupancyDetail&quot;)"/>
    <TypeKeyInput
      editable="true"
      id="OccupancyType"
      label="DisplayKey.get(&quot;NVV.Claim.PropertyAttribute.OccupancyType&quot;)"
      value="FixedPropertyIncident.OccupancyType"
      valueType="typekey.OccupancyType"/>
    <TypeKeyInput
      editable="true"
      id="PropertyAttribute_LossArea"
      label="DisplayKey.get(&quot;NVV.Claim.PropertyAttribute.LossArea&quot;)"
      required="false"
      value="FixedPropertyIncident.LossArea"
      valueType="typekey.LossArea"/>
    <InputSet
      visible="FixedPropertyIncident.Claim.LossCause == LossCause.TC_FIRE">
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;NVV.Claim.PropertyAttribute.FireProtDetails&quot;)"/>
      <TypeKeyInput
        editable="true"
        id="PropertyAttribute_SprinklerType"
        label="DisplayKey.get(&quot;NVV.Claim.PropertyAttribute.SprinklerType&quot;)"
        required="false"
        value="FixedPropertyIncident.SprinklerType"
        valueType="typekey.SprinklerType"/>
      <TextInput
        editable="true"
        id="PropertyAttribute_NumSprinkler"
        label="DisplayKey.get(&quot;NVV.Claim.PropertyAttribute.NumSprinkler&quot;)"
        numCols="3"
        required="false"
        value="FixedPropertyIncident.NumSprinkler"
        valueType="java.lang.Integer"/>
      <TextInput
        editable="true"
        id="PropertyAttribute_NumSprinkOper"
        label="DisplayKey.get(&quot;NVV.Claim.PropertyAttribute.NumSprinkOper&quot;)"
        numCols="3"
        required="false"
        value="FixedPropertyIncident.NumSprinkOper"
        valueType="java.lang.Integer"/>
      <TypeKeyInput
        editable="true"
        id="PropertyAttribute_SprinkRetServ"
        label="DisplayKey.get(&quot;NVV.Claim.PropertyAttribute.SprinkRetServ&quot;)"
        required="false"
        value="FixedPropertyIncident.SprinkRetServ"
        valueType="typekey.SprinkRetServ"/>
    </InputSet>
    <InputDivider/>
    <TypeKeyInput
      editable="true"
      id="LossLocation_Mold"
      label="DisplayKey.get(&quot;NVV.Claim.SubView.LossDetailsProperty.Claim.LossLocation.Mold&quot;)"
      value="FixedPropertyIncident.MoldInvolved"
      valueType="typekey.YesNo"/>
    <TypeKeyInput
      editable="true"
      id="LossLocation_Hazard"
      label="DisplayKey.get(&quot;NVV.Claim.SubView.LossDetailsProperty.Claim.LossLocation.Hazard&quot;)"
      value="FixedPropertyIncident.HazardInvolved"
      valueType="typekey.YesNo"/>
  </InputSet>
</PCF>