<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <ListViewPanel
    id="WideNotesLV">
    <Require
      name="notes"
      type="Note[]"/>
    <ExposeIterator
      flags="CanEdit,CanDelete,CanPrint"
      valueType="entity.Note"
      widget="NoteIterator"/>
    <Require
      name="relatedToVisible"
      type="boolean"/>
    <RowIterator
      editable="true"
      elementName="note"
      hasCheckBoxes="true"
      id="NoteIterator"
      value="notes"
      valueType="entity.Note[]">
      <ToolbarFlag
        condition="perm.Note.edit(note) or perm.Note.editbody(note)"
        name="CanEdit"/>
      <ToolbarFlag
        condition="perm.Note.delete(note)"
        name="CanDelete"/>
      <ToolbarFlag
        name="CanPrint"/>
      <Row>
        <FormatCell
          id="col0"
          width="200"
          wrap="true">
          <TextInput
            align="left"
            boldLabel="true"
            id="Author"
            label="DisplayKey.get(&quot;Web.Note.LV.Author&quot;)"
            value="note.Author.DisplayName"/>
          <TextInput
            align="left"
            boldLabel="true"
            id="Topic"
            label="DisplayKey.get(&quot;Web.Note.LV.Topic&quot;)"
            value="note.Topic"
            valueType="typekey.NoteTopicType"/>
          <TextInput
            align="left"
            boldLabel="true"
            id="RelatedTo"
            label="DisplayKey.get(&quot;Web.Note.LV.RelatedTo&quot;)"
            value="note.NoteRelatedTo"
            visible="relatedToVisible"/>
          <TextInput
            id="Confidential"
            labelAbove="true"
            value="DisplayKey.get(&quot;Java.Note.Confidential&quot;)"
            visible="note.Confidential"/>
        </FormatCell>
        <FormatCell
          id="col1"
          wrap="true">
          <TextInput
            boldLabel="true"
            id="AuthoringDate"
            label="gw.api.util.StringUtil.formatDate(note.AuthoringDate, &quot;medium&quot;) + &quot; &quot; + gw.api.util.StringUtil.formatTime(note.AuthoringDate, &quot;short&quot;)"
            value="&quot;&quot;"/>
          <TextInput
            id="Subject"
            labelAbove="true"
            value="note.Subject"/>
          <NoteBodyInput
            boldLabel="true"
            id="Body"
            labelAbove="true"
            value="note.Body"/>
        </FormatCell>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>