<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <CardViewPanel
    id="ExposureDetailDV"
    mode="TripCancellationDelay">
    <Require
      name="Exposure"
      type="Exposure"/>
    <Require
      name="unusedServiceRequests"
      type="java.util.Set&lt;ServiceRequest&gt;"/>
    <Card
      id="TripCancellation_DetailsCard"
      title="DisplayKey.get(&quot;NVV.Exposure.Trip.Details&quot;)">
      <PanelRef
        def="TripCancellationDV(Exposure)"/>
    </Card>
    <Card
      id="Exposure_ISOCard"
      title="DisplayKey.get(&quot;NVV.Exposure.ISO&quot;)"
      visible="!Exposure.Claim.ISOClaimLevelMessaging">
      <PanelRef
        def="ISODetailsDV(Exposure)"/>
    </Card>
  </CardViewPanel>
</PCF>