<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    beforeCommit="reopenExposureInfo.beforeCommit()"
    canEdit="true"
    id="ReopenExposurePopup"
    parent="Claim(exposureToReopen.Claim)"
    startInEditMode="true"
    title="DisplayKey.get(&quot;JSP.ReopenExposure.Title&quot;, exposureToReopen)">
    <LocationEntryPoint
      signature="ReopenExposurePopup(exposureToReopen : Exposure)"/>
    <Variable
      name="exposureToReopen"
      type="Exposure"/>
    <Variable
      initialValue="createInfo()"
      name="reopenExposureInfo"
      type="ReopenExposureInfo"/>
    <Screen
      id="ReopenExposureScreen">
      <Toolbar>
        <EditButtons
          updateLabel="DisplayKey.get(&quot;Web.Exposure.ReopenExposure&quot;)"/>
      </Toolbar>
      <PanelRef
        def="ReopenExposureInfoDV(reopenExposureInfo)"/>
    </Screen>
    <Code><![CDATA[
function createInfo() : ReopenExposureInfo {
        var info = new ReopenExposureInfo();
        info.Exposure = exposureToReopen;
        return info;
      }
    ]]></Code>
  </Popup>
</PCF>