<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="ContactDocumentDetailsInputSet">
    <Require
      name="contactDocument"
      type="ContactDocumentInfo"/>
    <ContentInput
      id="DocumentLink"
      label="DisplayKey.get(&quot;Web.AddressBook.ContactDocuments.Name&quot;)">
      <Link
        action="contactDocument.download()"
        download="inline"
        available="gw.document.DocumentsUtil.isDocumentMimeTypeAllowed(contactDocument.MimeType)"
        id="NameLink"
        label="contactDocument.Name"
        styleClass="none"
        tooltip="new gw.contact.ContactDocumentsUIHelper().isViewDocumentContentTooltip(contactDocument)"/>
    </ContentInput>
    <TextInput
      id="Description"
      label="DisplayKey.get('Web.AddressBook.ContactDocuments.Description')"
      value="contactDocument.Description"/>
    <TextInput
      id="MimeType"
      label="DisplayKey.get('Web.AddressBook.ContactDocuments.FileType')"
      value="contactDocument.MimeTypeLabel"
      valueType="java.lang.String"
      visible="contactDocument.DMS"/>
    <RangeInput
      id="Language"
      label="DisplayKey.get('Web.AddressBook.ContactDocuments.Language')"
      value="contactDocument.Language"
      valueRange="LanguageType.getTypeKeys( false )"
      valueType="typekey.LanguageType"
      visible="LanguageType.getTypeKeys( false ).Count &gt; 1"/>
    <InputDivider/>
    <TextInput
      id="Author"
      label="DisplayKey.get('Web.AddressBook.ContactDocuments.Author')"
      value="contactDocument.Author"/>
    <TextInput
      id="Recipient"
      label="DisplayKey.get('Web.AddressBook.ContactDocuments.Recipient')"
      value="contactDocument.Recipient"/>
    <InputDivider/>
    <TypeKeyInput
      id="Status"
      label="DisplayKey.get('Web.AddressBook.ContactDocuments.Status')"
      required="true"
      value="contactDocument.Status"
      valueType="typekey.DocumentStatusType"/>
    <TypeKeyInput
      id="SecurityType"
      label="DisplayKey.get('Web.AddressBook.ContactDocuments.SecurityType')"
      value="contactDocument.SecurityType"
      valueType="typekey.DocumentSecurityType"/>
    <TypeKeyInput
      id="Type"
      label="DisplayKey.get('Web.AddressBook.ContactDocuments.DocumentType')"
      required="true"
      value="contactDocument.Type"
      valueType="typekey.DocumentType"/>
    <BooleanRadioInput
      id="Obsolete"
      label="DisplayKey.get(&quot;Web.AddressBook.ContactDocuments.Obsolete&quot;)"
      required="true"
      value="contactDocument.Obsolete"/>
  </InputSet>
</PCF>