<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="pcf.xsd">
  <InputSet
    id="PaymentMethodInputSet">
    <Require
      name="owner"
      type="entity.BulkInvoice"/>
    <Require
      name="helper"
      type="gw.api.financials.PaymentMethodHelper"/>
    <Require
      name="isPayeeChangeable"
      type="boolean"/>
    <Require
      name="showAddressFields"
      type="org.apache.commons.lang3.mutable.MutableBoolean"/>
    <Variable
      initialValue="helper.SelectedEFTData"
      name="eft"
      recalculateOnRefresh="true"
      type="entity.EFTData"/>
    <Variable
      initialValue="gw.api.contact.AddressBookUtil.newAddressBookContactSource()"
      name="externalContactSource"
      type="gw.api.contact.ExternalContactSource"/>
    <AddressBookContactInput
      allowEditContact="false"
      editable="isPayeeChangeable"
      id="Payee"
      label="DisplayKey.get(&quot;Web.Financials.BulkPay.Invoice.Payee&quot;)"
      onPick="showAddressFields.Value = owner.updatePayeeFields(helper)"
      required="true"
      value="owner.Payee"
      visible="helper != null"/>
    <TypeKeyRadioInput
      editable="isPayeeChangeable"
      filter="VALUE != PaymentMethod.TC_MANUAL"
      id="PaymentMethod"
      label="DisplayKey.get(&quot;Web.Financials.BulkPay.Invoice.PaymentMethod&quot;)"
      required="true"
      value="owner.PaymentMethod"
      valueType="typekey.PaymentMethod">
      <PostOnChange
        onChange="showAddressFields.Value = owner.updatePayeeFields(helper)"/>
    </TypeKeyRadioInput>
    <InputSet
      visible="owner.PaymentMethod == PaymentMethod.TC_CHECK">
      <TextAreaInput
        editable="isPayeeChangeable"
        id="PayTo"
        label="DisplayKey.get(&quot;Web.Financials.BulkPay.Invoice.PayTo&quot;)"
        numCols="20"
        numRows="2"
        required="true"
        value="owner.PayTo"/>
      <TextInput
        editable="true"
        id="CheckNumber"
        label="DisplayKey.get(&quot;Web.Financials.BulkPay.Invoice.CheckNumber&quot;)"
        numCols="10"
        value="owner.CheckNumber"/>
      <TypeKeyInput
        editable="true"
        id="DeliveryMethod"
        label="DisplayKey.get(&quot;Web.Financials.BulkPay.Invoice.DeliveryMethod&quot;)"
        value="owner.DeliveryMethod"
        valueType="typekey.DeliveryMethod"/>
      <TextInput
        editable="isPayeeChangeable"
        id="MailTo"
        label="DisplayKey.get(&quot;Web.Financials.BulkPay.Invoice.MailToContact&quot;)"
        numCols="20"
        required="true"
        value="owner.MailTo"/>
      <TextInput
        id="OldMailingAddress"
        label="DisplayKey.get(&quot;Web.Financials.BulkPay.Invoice.OldMailToAddress&quot;)"
        value="owner.OldMailToAddress"
        visible="owner.OldMailToAddress != null and CurrentLocation.InEditMode"/>
      <TextInput
        id="MailingAddress"
        label="DisplayKey.get(&quot;Web.Financials.BulkPay.Invoice.MailingAddress&quot;)"
        numCols="25"
        value="owner.FormatAddressSummary(true)"/>
    </InputSet>
    <CheckBoxInput
      editable="true"
      id="ToggleAddressEdit"
      value="showAddressFields.Value"
      valueLabel="DisplayKey.get(&quot;Web.Financials.BulkPay.Invoice.EditMailingAddress&quot;)"
      visible="owner.PaymentMethod == PaymentMethod.TC_CHECK and owner.Payee != null and CurrentLocation.InEditMode">
      <PostOnChange
        target="MailingAddressInput"/>
    </CheckBoxInput>
    <InputSetRef
      def="CCAddressInputSet(owner.AddressOwner)"
      id="MailingAddressInput"
      visible="return owner.PaymentMethod == PaymentMethod.TC_CHECK and owner.Payee != null and showAddressFields.Value and CurrentLocation.InEditMode"/>
    <InputSet
      visible="owner.PaymentMethod == PaymentMethod.TC_EFT">
      <RangeInput
        editable="isPayeeChangeable"
        hideIfReadOnly="true"
        id="ContactEFTData"
        label="DisplayKey.get(&quot;Web.Financials.Check.BankData.SelectEFT&quot;)"
        value="eft"
        valueRange="owner.Payee.EFTRecords"
        valueType="entity.EFTData">
        <PostOnChange
          onChange="helper.onEFTDataChange(eft)"/>
      </RangeInput>
      <TextAreaInput
        editable="isPayeeChangeable"
        id="AccountName"
        label="DisplayKey.get(&quot;Web.Financials.Check.BankData.BankAcctHolderName&quot;)"
        numCols="20"
        numRows="2"
        required="true"
        value="owner.AccountName"/>
      <TextInput
        editable="isPayeeChangeable"
        id="BankName"
        label="DisplayKey.get(&quot;Web.Financials.Check.BankData.BankName&quot;)"
        value="owner.BankName"/>
      <TypeKeyRadioInput
        editable="isPayeeChangeable"
        id="BankAccountType"
        label="DisplayKey.get(&quot;Web.Financials.Check.BankData.BankAccountType&quot;)"
        required="true"
        value="owner.BankAccountType"
        valueType="typekey.BankAccountType"/>
      <PrivacyInput
        editable="isPayeeChangeable"
        encryptionExpression="gw.api.privacy.EncryptionMaskExpressions.maskBankAccountNumber(VALUE)"
        id="BankAccountNumber"
        label="DisplayKey.get(&quot;Web.Financials.Check.BankData.BankAccountNumber&quot;)"
        required="true"
        value="owner.BankAccountNumber"/>
      <TextInput
        editable="isPayeeChangeable"
        id="BankRoutingNumber"
        label="DisplayKey.get(&quot;Web.Financials.Check.BankData.BankRoutingNumber&quot;)"
        required="true"
        value="owner.BankRoutingNumber"/>
    </InputSet>
  </InputSet>
</PCF>
