<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    id="ClaimSummaryPopup"
    title="DisplayKey.get(&quot;Web.Claim.ClaimSummary&quot;)">
    <LocationEntryPoint
      signature="ClaimSummaryPopup(Claim:Claim)"/>
    <Variable
      name="Claim"
      type="Claim"/>
    <Variable
      initialValue="false"
      name="excludeConfidentialNotes"
      type="boolean"/>
    <Screen
      id="ClaimSummaryScreen">
      <Toolbar/>
      <PanelRow>
        <PanelColumn
          width="60%">
          <PanelRef
            def="ClaimSummaryDV(Claim)"/>
        </PanelColumn>
        <PanelColumn>
          <DetailViewPanel>
            <InputColumn>
              <Label
                label="DisplayKey.get(&quot;Web.ClaimSummary.Financials.Title&quot;)"/>
              <CurrencyInput
                formatType="currency"
                id="ClaimRemainingReserves"
                label="DisplayKey.get(&quot;Web.ClaimSummary.Financials.RemainingReserves&quot;)"
                value="gw.api.financials.FinancialsCalculations.getRemainingReserves().withClaim(Claim).Amount"/>
              <CurrencyInput
                formatType="currency"
                id="ClaimFuturePayments"
                label="DisplayKey.get(&quot;Web.ClaimSummary.Financials.FuturePayments&quot;)"
                value="gw.api.financials.FinancialsCalculations.getFuturePayments().withClaim(Claim).Amount"/>
              <CurrencyInput
                formatType="currency"
                id="ClaimTotalPaid"
                label="DisplayKey.get(&quot;Web.ClaimSummary.Financials.TotalPaid&quot;)"
                value="gw.api.financials.FinancialsCalculations.getTotalPayments().withClaim(Claim).Amount"/>
            </InputColumn>
          </DetailViewPanel>
        </PanelColumn>
      </PanelRow>
      <PanelRow>
        <PanelColumn>
          <PanelRef
            def="ClaimSummaryExposuresLV(Claim, Claim.Exposures)">
            <TitleBar
              title="DisplayKey.get(&quot;Web.ClaimSummary.ExposuresLV.Title&quot;)"/>
            <Toolbar/>
          </PanelRef>
        </PanelColumn>
      </PanelRow>
      <PanelRow>
        <PanelColumn
          width="60%">
          <PanelRef
            def="PeopleInvolvedLV(Claim, Claim.Contacts)">
            <TitleBar
              title="DisplayKey.get(&quot;Web.ClaimSummary.PartiesInvolvedLV.Title&quot;)"/>
            <Toolbar/>
          </PanelRef>
          <PanelRef
            def="ClaimSummaryActivitiesLV(Claim)">
            <TitleBar
              title="DisplayKey.get(&quot;Web.ClaimSummary.ActivitiesLV.Title&quot;)"/>
            <Toolbar/>
          </PanelRef>
          <PanelRef
            def="ClaimSummaryMattersLV(Claim.Matters, Claim)"
            visible="perm.Matter.view(Claim) and perm.System.viewmatters">
            <TitleBar
              title="DisplayKey.get(&quot;Web.ClaimSummary.MattersLV.Title&quot;)"/>
            <Toolbar/>
          </PanelRef>
          <PanelRef
            def="ClaimSummaryAssociatedClaimsLV(Claim, Claim.Associations)">
            <TitleBar
              title="DisplayKey.get(&quot;Web.ClaimSummary.AssociatedClaimsLV.Title&quot;)"/>
            <Toolbar/>
          </PanelRef>
        </PanelColumn>
        <PanelColumn
          width="40%">
          <PanelRef
            def="NotesLV(excludeConfidentialNotes ? Claim.NonconfidentialNotes : Claim.ViewableNotes)">
            <TitleBar
              appendListViewPaging="true"
              title="DisplayKey.get(&quot;Web.ClaimSummary.NotesLV.Title&quot;)"/>
            <Toolbar/>
          </PanelRef>
        </PanelColumn>
      </PanelRow>
    </Screen>
  </Popup>
</PCF>