<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Screen
    id="FNOLWizard_BasicInfoScreen"
    mode="WC">
    <Require
      name="Claim"
      type="Claim"/>
    <Require
      name="Wizard"
      type="gw.api.claim.NewClaimWizardInfo"/>
    <Variable
      initialValue="((Claim.maincontact == Claim.reporter and Claim.MainContactType == Claim.ReportedByType) || (Claim.maincontact == null and Claim.MainContactType == null))"
      name="maincontactSamePerson"
      type="boolean"/>
    <Variable
      initialValue="Claim.Policy.PolicyType"
      name="claimPolicyType"
      type="PolicyType"/>
    <Variable
      name="contact"
      type="Contact"/>
    <Toolbar>
      <WizardButtons/>
    </Toolbar>
    <PanelRow>
      <PanelColumn>
        <DetailViewPanel>
          <InputColumn>
            <Label
              label="DisplayKey.get(&quot;Wizard.NewClaimWizard.NewClaimPolicyLocation.Label&quot;)"/>
            <RangeInput
              editable="true"
              id="Claim_LocationCode"
              label="DisplayKey.get(&quot;NVV.Claim.SubView.NewClaimLossDetailsWorkersComp.Claim.LocationCode&quot;)"
              value="Claim.LocationCode"
              valueRange="Claim.PolicyProperties"
              valueType="entity.PolicyLocation"/>
            <InputDivider/>
          </InputColumn>
        </DetailViewPanel>
      </PanelColumn>
    </PanelRow>
    <PanelRow>
      <PanelColumn>
        <DetailViewPanel>
          <InputColumn>
            <Label
              label="DisplayKey.get(&quot;NVV.Claim.NewClaimPeople.Claim.ReportedBy&quot;)"/>
            <ClaimContactInput
              claim="Claim"
              editable="true"
              forceContactSubtype="entity.Person.Type"
              id="ReportedBy_Name"
              label="DisplayKey.get(&quot;NVV.Claim.NewClaimPeople.Claim.ReportedBy.Name&quot;)"
              newContactMenu="ClaimNewPersonOnlyPickerMenuItemSet"
              required="true"
              value="Claim.reporter"
              valueRange="Claim.RelatedPersonArray">
              <PostOnChange
                onChange="if (Claim.reporter == Claim.Insured) Claim.ReportedByType = PersonRelationType.TC_SELF else Claim.ReportedByType = null; if (maincontactSamePerson) {Claim.maincontact = (Claim.reporter as Person);  Claim.MainContactType = Claim.ReportedByType;}"/>
            </ClaimContactInput>
            <TypeKeyInput
              editable="true"
              filter="VALUE.hasCategory(claimPolicyType)"
              id="Claim_ReportedByType"
              label="DisplayKey.get(&quot;NVV.Claim.NewClaimPeople.Claim.ReportedByType&quot;)"
              required="true"
              value="Claim.ReportedByType"
              valueType="typekey.PersonRelationType">
              <PostOnChange
                onChange="if (maincontactSamePerson) {Claim.MainContactType = Claim.ReportedByType;}"/>
            </TypeKeyInput>
            <InputDivider/>
            <Label
              label="DisplayKey.get(&quot;NVV.Claim.NewClaimPeople.Claim.MainContact&quot;)"/>
            <BooleanRadioInput
              editable="true"
              falseLabel="DisplayKey.get(&quot;Web.BasicInfoScreen.BasicInfoDetailViewPanel.SamePerson.False.Label&quot;)"
              id="MainContactChoice"
              label="DisplayKey.get(&quot;Web.BasicInfoScreen.BasicInfoDetailViewPanel.SamePerson.Label&quot;)"
              stacked="true"
              trueLabel="DisplayKey.get(&quot;Web.BasicInfoScreen.BasicInfoDetailViewPanel.SamePerson.True.Label&quot;)"
              value="maincontactSamePerson">
              <PostOnChange
                onChange="if (maincontactSamePerson) {Claim.maincontact = (Claim.reporter as Person);  Claim.MainContactType = Claim.ReportedByType;} else {Claim.maincontact = null;  Claim.MainContactType = null;}"/>
            </BooleanRadioInput>
            <ClaimContactInput
              claim="Claim"
              editable="true"
              id="MainContact_Name"
              label="DisplayKey.get(&quot;NVV.Claim.NewClaimPeople.Claim.MainContact.Name&quot;)"
              newContactMenu="ClaimNewPersonOnlyPickerMenuItemSet"
              value="Claim.maincontact"
              valueRange="Claim.RelatedPersonArray"
              valueType="entity.Person"
              visible="!maincontactSamePerson"/>
            <TypeKeyInput
              editable="true"
              filter="VALUE.hasCategory(claimPolicyType)"
              id="Claim_MainContactType"
              label="DisplayKey.get(&quot;NVV.Claim.NewClaimPeople.Claim.MainContactType&quot;)"
              value="Claim.MainContactType"
              valueType="typekey.PersonRelationType"
              visible="!maincontactSamePerson"/>
          </InputColumn>
          <InputColumn>
            <Label
              label="DisplayKey.get(&quot;NVV.Claim.SubView.NewClaimLossDetailsWorkersComp.Claim.Claimant.Picker&quot;)"/>
            <ClaimContactInput
              claim="Claim"
              editable="true"
              id="Claimant_Name"
              label="DisplayKey.get(&quot;NVV.Claim.NewClaimPeople.Claim.ReportedBy.Name&quot;)"
              newContactMenu="ClaimNewPersonOnlyPickerMenuItemSet"
              required="true"
              validationExpression="!Claim.claimant.DisplayName.HasContent ? DisplayKey.get(&quot;NVV.Claim.SubView.NewClaimLossDetailsWorkersComp.Claim.Claimant.Picker.ValidationError&quot;) : null"
              value="Claim.claimant"
              valueRange="Claim.RelatedPersonArray"
              valueType="entity.Person">
              <PostOnChange/>
            </ClaimContactInput>
            <PrivacyInput
              editable="true"
              encryptionExpression="Claim.claimant.maskTaxId(VALUE)"
              id="Claimant_TaxNumber"
              label="DisplayKey.get(&quot;NVV.Claim.SubView.NewClaimLossDetailsWorkersComp.Claim.Claimant.TaxNumber&quot;)"
              value="Claim.claimant.TaxID"/>
          </InputColumn>
        </DetailViewPanel>
      </PanelColumn>
    </PanelRow>
  </Screen>
</PCF>
