<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <PanelSet
    id="FNOLWizard_BasicInfoRightPanelSet"
    mode="Pr">
    <Require
      name="claim"
      type="Claim"/>
    <Require
      name="wizard"
      type="gw.api.claim.NewClaimWizardInfo"/>
    <PanelRef
      def="FNOLWizard_BasicInfoPolicyPanelSet(claim, wizard)"
      id="PolicyPanelSet"
      mode="claim.Policy.PolicyType"/>
  </PanelSet>
</PCF>