<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="NewClaimLostWagesSummaryDV">
    <Require
      name="Exposure"
      type="Exposure"/>
    <InputColumn>
      <Label
        label="DisplayKey.get(&quot;NVV.Exposure.NewClaimLostWagesSummary.Exposure.Overall&quot;)"/>
      <TypeKeyInput
        id="LossParty"
        label="DisplayKey.get(&quot;NVV.Exposure.NewClaimLostWagesSummary.Exposure.LossParty&quot;)"
        required="true"
        value="Exposure.LossParty"
        valueType="typekey.LossPartyType"/>
      <DateInput
        id="ClosedDate"
        label="DisplayKey.get(&quot;NVV.Exposure.NewClaimLostWagesSummary.Exposure.ClosedDate&quot;)"
        value="Exposure.CloseDate"
        visible=" Exposure.State == TC_CLOSED "/>
      <TypeKeyInput
        id="PrimaryCoverage"
        label="DisplayKey.get(&quot;NVV.Exposure.NewClaimLostWagesSummary.Exposure.PrimaryCoverage&quot;)"
        value="Exposure.PrimaryCoverage"
        valueType="typekey.CoverageType"/>
      <TypeKeyInput
        id="ClosedOutcome"
        label="DisplayKey.get(&quot;NVV.Exposure.NewClaimLostWagesSummary.Exposure.ClosedOutcome&quot;)"
        value="Exposure.ClosedOutcome"
        valueType="typekey.ExposureClosedOutcomeType"
        visible=" Exposure.State == TC_CLOSED "/>
      <!-- Coverage Subtype does not make sense for a work comp claim -->
      <TextInput
        action="UserContactDetailPopup.push(Exposure.AssignedUser)"
        available="Exposure.AssignedUser.Contact != null"
        id="AssignedUser_Name"
        label="DisplayKey.get(&quot;NVV.Exposure.NewClaimLostWagesSummary.Exposure.AssignedUser.Name&quot;)"
        value="Exposure.AssigneeDisplayString"/>
      <DateInput
        dateFormat="short"
        id="ReOpenDate"
        label="DisplayKey.get(&quot;NVV.Exposure.NewClaimLostWagesSummary.Exposure.ReOpenDate&quot;)"
        value="Exposure.ReOpenDate"
        visible=" Exposure.ReOpenDate != null "/>
      <TextInput
        id="AssignedGroup_Name"
        label="DisplayKey.get(&quot;NVV.Exposure.NewClaimLostWagesSummary.Exposure.AssignedGroup.Name&quot;)"
        value="Exposure.AssigneeGroupOnlyDisplayString"/>
      <TypeKeyInput
        id="ReopenedReason"
        label="DisplayKey.get(&quot;NVV.Exposure.NewClaimLostWagesSummary.Exposure.ReopenedReason&quot;)"
        value="Exposure.ReopenedReason"
        valueType="typekey.ExposureReopenedReason"
        visible=" Exposure.ReOpenDate != null "/>
      <TypeKeyInput
        id="State"
        label="DisplayKey.get(&quot;NVV.Exposure.NewClaimLostWagesSummary.Exposure.State&quot;)"
        value="Exposure.State"
        valueType="typekey.ExposureState"/>
      <DateInput
        id="CreateTime"
        label="DisplayKey.get(&quot;NVV.Exposure.NewClaimLostWagesSummary.Exposure.CreateTime&quot;)"
        value="Exposure.CreateTime"/>
      <InputSet
        visible="Exposure.Claim.Policy.StatCodingEnabled">
        <PolicyStatCodePickerInput
          action="ClaimPolicyStatCodePickerPopup.push(Exposure.Claim)"
          editable="true"
          id="StatLine"
          label="DisplayKey.get(&quot;NVV.Exposure.NewClaimLostWagesSummary.Exposure.StatLine&quot;)"
          value="Exposure.StatLine"
          valueRange="Exposure.Claim.Policy.CappedStatCodes"/>
        <InputSet
          hideIfReadOnly="true"
          visible="true">
          <TextInput
            id="StatLine_Warning"
            value="DisplayKey.get(&quot;Java.StatCodes.StatCodeListCappedWarning&quot;, Exposure.Claim.Policy.StatCodeListCap, Exposure.Claim.Policy.StatCodes.length)"
            visible="Exposure.Claim.Policy.StatCodeListCapped"/>
        </InputSet>
      </InputSet>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;NVV.Exposure.NewClaimLostWagesSummary.LostWages.Dependents&quot;)"/>
      <ListViewInput
        def="EditableClaimantDependentsLV(Exposure.getClaimContactRolesByRole(TC_CLAIMANTDEP), Exposure, TC_CLAIMANTDEP)"
        editable="true"
        label="DisplayKey.get(&quot;NVV.Exposure.LostWagesSummary.LostWages.DependentsArray&quot;)"
        labelAbove="true">
        <Toolbar>
          <IteratorButtons
            iterator="EditableClaimantDependentsLV.EditableClaimantDependentsLV"/>
        </Toolbar>
      </ListViewInput>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;NVV.Exposure.NewClaimLostWagesSummary.Exposure.Benefits.Compensation&quot;)"/>
      <CurrencyInput
        editable="true"
        id="AverageWeeklyWages"
        label="DisplayKey.get(&quot;NVV.Exposure.NewClaimLostWagesSummary.Exposure.AverageWeeklyWages&quot;)"
        value="Exposure.AverageWeeklyWages"/>
      <TypeKeyInput
        editable="true"
        id="DaysInWeek"
        label="DisplayKey.get(&quot;NVV.Exposure.NewClaimLostWagesSummary.Exposure.DaysInWeek&quot;)"
        value="Exposure.DaysInWeek"
        valueType="typekey.DaysInWeekType"/>
      <DateInput
        editable="true"
        id="LastDayWorked"
        label="DisplayKey.get(&quot;NVV.Exposure.NewClaimLostWagesSummary.Exposure.LastDayWorked&quot;)"
        value="Exposure.LastDayWorked"/>
      <TextInput
        editable="true"
        id="LWImpairment"
        label="DisplayKey.get(&quot;NVV.Exposure.NewClaimLostWagesSummary.Exposure.LWImpairment&quot;)"
        value="Exposure.InjuryIncident.Impairment"
        valueType="java.math.BigDecimal"/>
      <InputDivider/>
    </InputColumn>
    <InputColumn>
      <Label
        label="DisplayKey.get(&quot;NVV.Exposure.NewClaimLostWagesSummary.Exposure.Coding&quot;)"/>
      <TypeKeyInput
        editable="true"
        filter="VALUE.hasCategory(JurisdictionType.TC_INSURANCE)"
        id="JurisdictionState"
        label="DisplayKey.get(&quot;NVV.Exposure.NewClaimLostWagesSummary.Exposure.JurisdictionState&quot;)"
        value="Exposure.JurisdictionState"
        valueType="typekey.Jurisdiction"/>
      <TypeKeyInput
        id="Segment"
        label="DisplayKey.get(&quot;NVV.Exposure.NewClaimLostWagesSummary.Exposure.Segment&quot;)"
        value="Exposure.Segment"
        valueType="typekey.ClaimSegment"/>
      <TypeKeyInput
        id="Strategy"
        label="DisplayKey.get(&quot;NVV.Exposure.NewClaimLostWagesSummary.Exposure.Strategy&quot;)"
        value="Exposure.Strategy"
        valueType="typekey.ClaimStrategy"/>
      <TypeKeyInput
        id="ValidationLevel"
        label="DisplayKey.get(&quot;NVV.Exposure.NewClaimLostWagesSummary.Exposure.ValidationLevel&quot;)"
        value="Exposure.ValidationLevel"
        valueType="typekey.ValidationLevel"/>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;NVV.Exposure.NewClaimLostWagesSummary.Exposure.Financials&quot;)"/>
      <CurrencyInput
        formatType="currency"
        id="RemainingReserves"
        label="DisplayKey.get(&quot;NVV.Exposure.NewClaimLostWagesSummary.Exposure.RemainingReserves&quot;)"
        value="Exposure.ExposureRpt.RemainingReserves"/>
      <CurrencyInput
        id="FuturePayments"
        label="DisplayKey.get(&quot;NVV.Exposure.NewClaimLostWagesSummary.Exposure.FuturePayments&quot;)"
        value="Exposure.ExposureRpt.FuturePayments"/>
      <CurrencyInput
        id="TotalPayments"
        label="DisplayKey.get(&quot;NVV.Exposure.NewClaimLostWagesSummary.Exposure.TotalPayments&quot;)"
        value="Exposure.ExposureRpt.TotalPayments"/>
      <CurrencyInput
        id="TotalRecoveries"
        label="DisplayKey.get(&quot;NVV.Exposure.NewClaimLostWagesSummary.Exposure.TotalRecoveries&quot;)"
        value="Exposure.ExposureRpt.TotalRecoveries"/>
      <CurrencyInput
        formatType="currency"
        id="TotalIncurredNet"
        label="DisplayKey.get(&quot;NVV.Exposure.NewClaimLostWagesSummary.Exposure.TotalIncurredNet&quot;)"
        value="Exposure.ExposureRpt.TotalIncurredNet"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>