<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Forward
    canVisit="perm.Activity.view(Activity)"
    id="ActivityDetailForward"
    onBeforeForward="gw.api.activity.ActivityUtil.markActivityAsViewed(Activity)">
    <LocationEntryPoint
      signature="ActivityDetailForward(Claim : Claim, Activity : Activity)"/>
    <Variable
      name="Claim"
      type="Claim"/>
    <Variable
      name="Activity"
      type="Activity"/>
    <ForwardCondition
      action="ApprovalDetailWorksheet.goInWorkspace(Claim, Activity)"
      condition="Activity.Type == TC_APPROVAL and Activity.TransactionSet != null"/>
    <ForwardCondition
      action="BulkInvoiceApprovalDetailWorksheet.goInWorkspace(Activity)"
      condition="Activity.Type == TC_APPROVAL and Activity.BulkInvoice != null"/>
    <ForwardCondition
      action="ActivityDetailWorksheet.goInWorkspace(Claim, Activity)"/>
  </Forward>
</PCF>