<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <RowSet
    id="AdjustRIRecoverablesHeaderRowSet">
    <Require
      name="Agreement"
      type="RIAgreement"/>
    <Require
      name="HeaderLabel"
      type="String"/>
    <Row
      useTitleStyle="true">
      <TextCell
        colspan="7"
        id="HeaderLabel"
        value="HeaderLabel"
        width="205"/>
    </Row>
    <Row>
      <TextCell
        bold="true"
        id="CurrentCalculatedAmountLabel"
        value="DisplayKey.get(&quot;Web.Claim.Reinsurance.AdjustRIRecoverables.CurrentCalculatedAmount&quot;)"/>
      <TextCell
        align="right"
        bold="true"
        id="CalculatedChangeLabel"
        value="DisplayKey.get(&quot;Web.Claim.Reinsurance.AdjustRIRecoverables.DeltaCalculatedAmount&quot;)"
        visible="Agreement typeis entity.NonProportionalRIAgreement"
        width="220"/>
      <TextCell
        align="right"
        bold="true"
        id="NewCalculatedAmountLabel"
        value="DisplayKey.get(&quot;Web.Claim.Reinsurance.AdjustRIRecoverables.NewCalculatedAmount&quot;)"
        visible="Agreement.canSetUnadjustedCededReserves() or Agreement.canSetUnadjustedRecoverables()"
        width="185"/>
      <TextCell
        align="right"
        bold="true"
        id="CurrentAdjustmentsLabel"
        value="DisplayKey.get(&quot;Web.Claim.Reinsurance.AdjustRIRecoverables.CurrentAdjustments&quot;)"
        width="160"/>
      <TextCell
        align="right"
        bold="true"
        id="AdjustmentChangeLabel"
        value="DisplayKey.get(&quot;Web.Claim.Reinsurance.AdjustRIRecoverables.DeltaAdjustedAmount&quot;)"
        width="225"/>
      <TextCell
        align="right"
        bold="true"
        id="NewAdjustmentsAmountLabel"
        value="DisplayKey.get(&quot;Web.Claim.Reinsurance.AdjustRIRecoverables.NewAdjustment&quot;)"
        width="190"/>
      <TextCell
        align="right"
        bold="true"
        id="TotalLabel"
        value="DisplayKey.get(&quot;Web.Claim.Reinsurance.AdjustRIRecoverables.Total&quot;)"/>
    </Row>
  </RowSet>
</PCF>