<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    editable="true"
    id="AgreementDetailsDV"
    mode="AnnualAggregateRITreaty">
    <Require
      name="agreement"
      type="RIAgreement"/>
    <InputColumn>
      <TextInput
        editable="true"
        id="AgreementNumber"
        label="DisplayKey.get(&quot;Web.Claim.Reinsurance.AgreementNumber&quot;)"
        required="true"
        value="agreement.AgreementNumber"/>
      <TextInput
        editable="true"
        id="AgreementName"
        label="DisplayKey.get(&quot;Web.Claim.Reinsurance.AgreementName&quot;)"
        required="true"
        value="agreement.AgreementName"/>
      <InputSetRef
        def="RISubtypeAndGroupInputSet( agreement.Claim, agreement )"
        visible="!agreement.New"/>
    </InputColumn>
    <InputColumn>
      <TypeKeyInput
        editable="true"
        id="AgreementCurrency"
        label="DisplayKey.get(&quot;Web.Claim.Reinsurance.Currency&quot;)"
        required="true"
        value="agreement.Currency"
        valueType="typekey.Currency"
        visible="gw.api.util.CurrencyUtil.MultiCurrencyMode">
        <PostOnChange/>
      </TypeKeyInput>
      <CurrencyInput
        editable="true"
        formatType="currency"
        id="AttachmentPoint"
        label="DisplayKey.get(&quot;Web.Claim.Reinsurance.AttachmentPoint&quot;)"
        required="true"
        value="agreement.AttachmentPoint"/>
      <CurrencyInput
        editable="true"
        formatType="currency"
        id="TopOfLayer"
        label="DisplayKey.get(&quot;Web.Claim.Reinsurance.TopOfLayer&quot;)"
        required="true"
        value="agreement.TopOfLayer"/>
      <CurrencyInput
        editable="true"
        formatType="currency"
        id="RecoveryLimit"
        label="DisplayKey.get(&quot;Web.Claim.Reinsurance.RecoveryLimit&quot;)"
        required="true"
        value="agreement.RecoveryLimit"/>
      <TextInput
        editable="true"
        format="&quot;#.######'%'&quot;"
        id="CededShare"
        label="DisplayKey.get(&quot;Web.Claim.Reinsurance.CededShare&quot;)"
        numCols="10"
        required="true"
        value="agreement.CededShare"
        valueType="java.math.BigDecimal"/>
      <InputDivider/>
      <CurrencyInput
        editable="true"
        formatType="currency"
        id="NotificationThreshold"
        label="DisplayKey.get(&quot;Web.Claim.Reinsurance.NotificationThreshold&quot;)"
        value="agreement.NotificationThreshold"/>
      <BooleanRadioInput
        id="ExceedsNotificationThreshold"
        label="DisplayKey.get(&quot;Web.Claim.Reinsurance.ReinsuranceAgreementDetails.ExceedsNotificationThreshold&quot;)"
        value="agreement.ExceedsNotificationThreshold"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>