<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="TeamMattersLV">
    <ExposeIterator
      flags="MatterTeamView,CanCloseMatter,CanAssignMatter"
      valueType="entity.MatterTeamView"
      widget="TeamMattersLV"/>
    <Require
      name="MatterTeamViewList"
      type="gw.api.database.IQueryBeanResult&lt;gw.pl.persistence.core.Bean&gt;"/>
    <Variable
      initialValue="new gw.api.matter.MatterFilterSetBase()"
      name="FilterSet"
      type="gw.api.matter.MatterFilterSetBase"/>
    <RowIterator
      editable="false"
      elementName="MatterTeamView"
      hasCheckBoxes="true"
      type="entity.MatterTeamView"
      value="MatterTeamViewList"
      valueType="gw.api.database.IQueryBeanResult&lt;gw.pl.persistence.core.Bean&gt;">
      <ToolbarFlag
        name="MatterTeamView"/>
      <ToolbarFlag
        condition="MatterTeamView.canClose()"
        name="CanCloseMatter"/>
      <ToolbarFlag
        condition="MatterTeamView.canAssign()"
        name="CanAssignMatter"/>
      <ToolbarFilter
        name="TeamMattersFilter">
        <ToolbarFilterOption
          filter="FilterSet.OpenFilter"
          label="DisplayKey.get(&quot;Web.Filter.Matter.AllOpen&quot;)"/>
        <ToolbarFilterOption
          filter="FilterSet.OpenNewFilter"
          label="DisplayKey.get(&quot;Web.Filter.Matter.NewOpen&quot;)"/>
        <ToolbarFilterOption
          filter="FilterSet.getClosedLastNDaysFilter(90)"
          label="DisplayKey.get(&quot;Web.Filter.Matter.ClosedLastNDays&quot;, 90)"/>
      </ToolbarFilter>
      <Row>
        <TextCell
          action="MatterDetailGroup.go(MatterTeamView.Claim, MatterTeamView.Matter)"
          id="Name"
          label="DisplayKey.get(&quot;Web.Matter.Name&quot;)"
          sortOrder="2"
          value="MatterTeamView.Name"/>
        <TextCell
          id="CaseNumber"
          label="DisplayKey.get(&quot;Web.Matter.CaseNumber&quot;)"
          value="MatterTeamView.CaseNumber"/>
        <TextCell
          action="pcf.Claim.go(MatterTeamView.Claim)"
          id="Claim"
          label="DisplayKey.get(&quot;Web.Matter.Claim&quot;)"
          value="MatterTeamView.ClaimNumber"/>
        <CurrencyCell
          formatType="currency"
          id="EstSettleCost"
          label="DisplayKey.get(&quot;Web.Matter.EstSettleCost&quot;)"
          value="MatterTeamView.FinalSettleCost"/>
        <DateCell
          dateFormat="short"
          id="TrialDate"
          label="DisplayKey.get(&quot;Web.Matter.TrialDate&quot;)"
          sortOrder="1"
          timeFormat="short"
          value="MatterTeamView.TrialDate"/>
        <TextCell
          enableSort="false"
          id="AssignedUser"
          label="DisplayKey.get(&quot;Web.Matter.AssignedUser&quot;)"
          value="MatterTeamView.AssigneeDisplayString"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>