<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <RowSet
    id="QuestionRowSet"
    mode="StringTextArea">
    <Require
      name="Question"
      type="Question"/>
    <Require
      name="AnswerSetContainer"
      type="gw.api.question.AnswerSetContainer"/>
    <Row
      visible="Question.isQuestionAvailable(AnswerSetContainer)">
      <TextCell
        id="questionText"
        value="Question.IndentedLabel"
        width="550"
        wrap="true"/>
      <TextAreaCell
        align="left"
        editable="!Question.isRetired()"
        id="questionStringAnswer"
        numCols="40"
        numRows="4"
        required="Question.Required"
        validationLabel="Question.Text"
        value="AnswerSetContainer.getOrCreateAnswer(Question).TextAnswer">
        <PostOnChange/>
      </TextAreaCell>
    </Row>
    <RowIterator
      editable="false"
      elementName="SubQuestion"
      pageSize="0"
      value="Question.SubQuestions"
      valueType="entity.SubQuestion[]">
      <Row>
        <TextCell
          id="subQuestionText"
          value="SubQuestion.Text"/>
        <EmptyCell
          id="empty"/>
      </Row>
    </RowIterator>
  </RowSet>
</PCF>