<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InputSet
    id="CommandParameterInputSet"
    mode="bool">
    <Require
      name="parameterHolder"
      type="gw.bizrules.pcf.RuleCommandParameterHolder"/>
    <Variable
      initialValue="parameterHolder.FragHolder as gw.bizrules.pcf.BooleanExpressionFragmentHolder"
      name="fragHolder"
      recalculateOnRefresh="true"
      type="gw.bizrules.pcf.BooleanExpressionFragmentHolder"/>
    <BooleanRadioInput
      editable="true"
      id="BooleanValue"
      label="parameterHolder.ParameterLabel"
      value="fragHolder.Value">
      <MenuItemSetRef
        def="CommandParameterMenuItemSet(parameterHolder)"/>
      <PostOnChange/>
    </BooleanRadioInput>
  </InputSet>
</PCF>