<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    id="CommandDefinitionDV"
    mode="generateactivity">
    <Require
      name="commandDefinition"
      type="gw.bizrules.pcf.RuleCommandDefinitionHolder"/>
    <Variable
      initialValue="new gw.bizrules.ruleaction.generateactivity.GenerateActivityCommandDefinitionState(commandDefinition)"
      name="state"
      recalculateOnRefresh="true"
      type="gw.bizrules.ruleaction.generateactivity.GenerateActivityCommandDefinitionState"/>
    <Variable
      initialValue="gw.bizrules.ruleaction.generateactivity.config.GenerateActivityCommandParameterSet.Config"
      name="config"
      type="gw.bizrules.ruleaction.generateactivity.config.GenerateActivityCommandParameterConfig"/>
    <InputColumn>
      <Label
        label="DisplayKey.get('Web.ActivityRules.Action.GenerateActivity.Column1Title')"/>
      <RangeInput
        editable="true"
        id="activity_pattern"
        label="DisplayKey.get('Web.ActivityRules.Action.GenerateActivity.ActivityPattern')"
        optionLabel="VALUE.getSubject()"
        value="state.Pattern"
        valueRange="gw.api.database.Query.make(entity.ActivityPattern).select().toTypedArray()"
        valueType="entity.ActivityPattern">
        <PostOnChange/>
      </RangeInput>
      <InputSetRef
        def="ValidationErrorsInputSet(commandDefinition.getParameterHolder(config.PATTERN.Name).validate(), false)"
        id="ValidationErrorsPattern"/>
      <InputSet
        visible="state.isActivityPatternSelected()">
        <InputSetRef
          def="RelatedToInputSet(state, commandDefinition, config.RELATED_TO)"
          id="RelatedToRef"/>
        <RangeInput
          editable="true"
          id="assigneePicker3"
          label="DisplayKey.get('Web.ActivityRules.Action.GenerateActivity.AssignedTo')"
          optionLabel="VALUE.UIDisplayName"
          value="state.AssignedTo"
          valueRange="state.getValueRange(config.ASSIGNED_TO, commandDefinition, gw.bizrules.ruleaction.behavioralcommandparam.assignee.ActivityAssigneeLoader)"
          valueType="gw.bizrules.ruleaction.behavioralcommandparam.assignee.ActivityAssigneeLoader">
          <PostOnChange/>
        </RangeInput>
        <InputSetRef
          def="AssigneeAdditionalInfoInputSet(commandDefinition, state, config)"
          mode="state.AssignedTo.AdditionalInfoMode"
          visible="state.AssignedTo.AdditionalInfoMode != null"/>
        <InputSetRef
          def="ValidationErrorsInputSet(state.validateAssignmentFields(), false)"
          id="ValidationErrorsAssignedTo"/>
        <RangeInput
          editable="true"
          id="AdditionalRestrictionsInput"
          label="DisplayKey.get('Web.ActivityRules.Action.GenerateActivity.AdditionalRestriction')"
          optionLabel="VALUE.UIDisplayName"
          required="false"
          sortValueRange="false"
          value="state.Restriction"
          valueRange="state.AvailableActivityRestrictions"
          valueType="gw.bizrules.ruleaction.behavioralcommandparam.activityrestriction.ActivityRestriction"/>
        <InputSetRef
          def="ValidationErrorsInputSet(commandDefinition.getParameterHolder(config.ACTIVITY_RESTRICTION.Name).validate(), false)"
          id="ValidationErrorsAdditionalRestrictions"/>
        <InputSetRef
          def="ValidatingCommandParameterInputSet(commandDefinition.getParameterHolder(config.PRIORITY.Name))"
          id="Priority"/>
        <InputSetRef
          def="ValidatingCommandParameterInputSet(commandDefinition.getParameterHolder(config.CALENDAR_IMPORTANCE.Name))"
          id="CalendarImportance"/>
      </InputSet>
    </InputColumn>
    <InputColumn>
      <Label
        label="DisplayKey.get('Web.ActivityRules.Action.GenerateActivity.Column2Title')"
        visible="state.isActivityPatternSelected()"/>
      <InputSet
        visible="state.isActivityPatternSelected()">
        <InputSetRef
        def="ValidatingCommandParameterInputSet(commandDefinition.getParameterHolder(config.TARGET_DAYS.Name))"
        id="TargetDays"/>
      <InputSetRef
        def="ValidatingCommandParameterInputSet(commandDefinition.getParameterHolder(config.TARGET_HOURS.Name))"
        id="TargetHours"/>
      <InputSetRef
        def="ValidatingCommandParameterInputSet(commandDefinition.getParameterHolder(config.TARGET_STARTPOINT.Name))"
        id="TargetStartPoint"/>
      <InputSetRef
        def="ValidatingCommandParameterInputSet(commandDefinition.getParameterHolder(config.TARGET_INCLUDEDAYS.Name))"
        id="TargetIncludeDays"/>
      </InputSet>
    </InputColumn>
    <InputColumn>
      <Label
        label="DisplayKey.get('Web.ActivityRules.Action.GenerateActivity.Column3Title')"
        visible="state.isActivityPatternSelected()"/>
      <InputSet
        visible="state.isActivityPatternSelected()">
        <InputSetRef
          def="ValidatingCommandParameterInputSet(commandDefinition.getParameterHolder(config.ESCALATION_DAYS.Name))"
          id="EscalationDays"/>
        <InputSetRef
          def="ValidatingCommandParameterInputSet(commandDefinition.getParameterHolder(config.ESCALATION_HOURS.Name))"
          id="EscalationHours"/>
        <InputSetRef
          def="ValidatingCommandParameterInputSet(commandDefinition.getParameterHolder(config.ESCALATION_STARTPOINT.Name))"
          id="EscalationStartPoint"/>
        <InputSetRef
          def="ValidatingCommandParameterInputSet(commandDefinition.getParameterHolder(config.ESCALATION_INCLUDEDAYS.Name))"
          id="EscalationIncludeDays"/>
      </InputSet>
    </InputColumn>
    <InputFooterSection>
      <InputSetRef
        def="ValidatingCommandParameterInputSet(commandDefinition.getParameterHolder(config.SUBJECT.Name))"
        id="Subject"
        visible="state.isActivityPatternSelected()"/>
      <InputSetRef
        def="ValidatingCommandParameterInputSet(commandDefinition.getParameterHolder(config.DESCRIPTION.Name))"
        id="Description"
        visible="state.isActivityPatternSelected()"/>
    </InputFooterSection>
  </DetailViewPanel>
</PCF>
