<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InputSet
    id="RuleComparisonCommandParametersInputSet"
    mode="generateactivity">
    <Require
      name="controller"
      type="gw.bizrules.pcf.RuleVersionComparisonController"/>
    <Require
      name="commandDefinitionDiff"
      type="gw.bizrules.diff.RuleMatchableDiffPair&lt;RuleCommandDefinition&gt;"/>
    <InputSetRef
      id="pattern"
    def="RuleComparisonRowStringInputSet(commandDefinitionDiff.getRow(gw.bizrules.ruleaction.generateactivity.config.GenerateActivityCommandParameterSet.Config.PATTERN.Name))"/>
    <InputSetRef
      id="subject"
      def="RuleComparisonRowStringInputSet(commandDefinitionDiff.getRow(gw.bizrules.ruleaction.generateactivity.config.GenerateActivityCommandParameterSet.Config.SUBJECT.Name))"/>
    <InputSetRef
      id="description"
      def="RuleComparisonRowTextAreaInputSet(commandDefinitionDiff.getRow(gw.bizrules.ruleaction.generateactivity.config.GenerateActivityCommandParameterSet.Config.DESCRIPTION.Name))"/>
    <InputSetRef
      id="calendar_importance"
      def="RuleComparisonRowTypeKeyInputSet(commandDefinitionDiff.getRowAsTypeKey(gw.bizrules.ruleaction.generateactivity.config.GenerateActivityCommandParameterSet.Config.CALENDAR_IMPORTANCE.Name))"/>
    <InputSetRef
      id="priority"
      def="RuleComparisonRowTypeKeyInputSet(commandDefinitionDiff.getRowAsTypeKey(gw.bizrules.ruleaction.generateactivity.config.GenerateActivityCommandParameterSet.Config.PRIORITY.Name))"/>
    <InputSetRef
      id="target_days"
      def="RuleComparisonRowIntegerInputSet(commandDefinitionDiff.getRowAsInteger(gw.bizrules.ruleaction.generateactivity.config.GenerateActivityCommandParameterSet.Config.TARGET_DAYS.Name))"/>
    <InputSetRef
      id="target_hours"
      def="RuleComparisonRowIntegerInputSet(commandDefinitionDiff.getRowAsInteger(gw.bizrules.ruleaction.generateactivity.config.GenerateActivityCommandParameterSet.Config.TARGET_HOURS.Name))"/>
    <InputSetRef
      id="target_start_point"
      def="RuleComparisonRowTypeKeyInputSet(commandDefinitionDiff.getRowAsTypeKey(gw.bizrules.ruleaction.generateactivity.config.GenerateActivityCommandParameterSet.Config.TARGET_STARTPOINT.Name))"/>
    <InputSetRef
      id="target_included_days"
      def="RuleComparisonRowTypeKeyInputSet(commandDefinitionDiff.getRowAsTypeKey(gw.bizrules.ruleaction.generateactivity.config.GenerateActivityCommandParameterSet.Config.TARGET_INCLUDEDAYS.Name))"/>
    <InputSetRef
      id="escalation_days"
      def="RuleComparisonRowIntegerInputSet(commandDefinitionDiff.getRowAsInteger(gw.bizrules.ruleaction.generateactivity.config.GenerateActivityCommandParameterSet.Config.ESCALATION_DAYS.Name))"/>
    <InputSetRef
      id="escalation_hours"
      def="RuleComparisonRowIntegerInputSet(commandDefinitionDiff.getRowAsInteger(gw.bizrules.ruleaction.generateactivity.config.GenerateActivityCommandParameterSet.Config.ESCALATION_HOURS.Name))"/>
    <InputSetRef
      id="escalation_start_point"
      def="RuleComparisonRowTypeKeyInputSet(commandDefinitionDiff.getRowAsTypeKey(gw.bizrules.ruleaction.generateactivity.config.GenerateActivityCommandParameterSet.Config.ESCALATION_STARTPOINT.Name))"/>
    <InputSetRef
      id="escalation_include_days"
      def="RuleComparisonRowTypeKeyInputSet(commandDefinitionDiff.getRowAsTypeKey(gw.bizrules.ruleaction.generateactivity.config.GenerateActivityCommandParameterSet.Config.ESCALATION_INCLUDEDAYS.Name))"/>
    <InputSetRef
      id="additional_restrictions"
      def="RuleComparisonRowStringInputSet(commandDefinitionDiff.getRow(gw.bizrules.ruleaction.generateactivity.config.GenerateActivityCommandParameterSet.Config.ACTIVITY_RESTRICTION.Name))"/>
    <InputSetRef
      id="related_to"
      def="RuleComparisonRowStringInputSet(commandDefinitionDiff.getRow(gw.bizrules.ruleaction.generateactivity.config.GenerateActivityCommandParameterSet.Config.RELATED_TO.Name))"/>
    <InputSetRef
      id="assigned_to"
      def="RuleComparisonRowStringInputSet(commandDefinitionDiff.getRow(gw.bizrules.ruleaction.generateactivity.config.GenerateActivityCommandParameterSet.Config.ASSIGNED_TO.Name))"/>
    <InputSetRef
      id="group_id"
      def="RuleComparisonRowStringInputSet(commandDefinitionDiff.getRow(gw.bizrules.ruleaction.generateactivity.config.GenerateActivityCommandParameterSet.Config.GROUP_ID.Name))"
      visible="!commandDefinitionDiff.isRowEmpty(gw.bizrules.ruleaction.generateactivity.config.GenerateActivityCommandParameterSet.Config.GROUP_ID.Name)"/>
    <InputSetRef
      id="queue_id"
      def="RuleComparisonRowStringInputSet(commandDefinitionDiff.getRow(gw.bizrules.ruleaction.generateactivity.config.GenerateActivityCommandParameterSet.Config.QUEUE_ID.Name))"
      visible="!commandDefinitionDiff.isRowEmpty(gw.bizrules.ruleaction.generateactivity.config.GenerateActivityCommandParameterSet.Config.QUEUE_ID.Name)"/>
    <InputSetRef
      id="role"
      def="RuleComparisonRowTypeKeyInputSet(commandDefinitionDiff.getRowAsTypeKey(gw.bizrules.ruleaction.generateactivity.config.GenerateActivityCommandParameterSet.Config.ROLE.Name))"
      visible="!commandDefinitionDiff.isRowEmpty(gw.bizrules.ruleaction.generateactivity.config.GenerateActivityCommandParameterSet.Config.ROLE.Name)"/>
  </InputSet>
</PCF>