<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListDetailPanel
    id="RuleCommandDefinitionsListDetailView"
    selectionName="commandDefinition"
    selectionType="gw.bizrules.pcf.RuleCommandDefinitionHolder">
    <Require
      name="controller"
      type="gw.bizrules.pcf.RulePageController"/>
    <PanelRef>
      <Toolbar>
        <IteratorButtons
          addLabel="DisplayKey.get(&quot;BizRules.CommandDefinitionLDV.AddAction&quot;)"
          iterator="CommandDefinitionsLV"
          removeLabel="DisplayKey.get(&quot;BizRules.CommandDefinitionLDV.RemoveAction&quot;)"/>
      </Toolbar>
      <ListViewPanel>
        <RowIterator
          checkBoxVisible="CurrentLocation.InEditMode"
          editable="false"
          elementName="commandDefinitionElement"
          hasCheckBoxes="true"
          id="CommandDefinitionsLV"
          toCreateAndAdd="controller.addCommandDefinition()"
          toRemove="controller.removeCommandDefinition(commandDefinitionElement)"
          type="gw.bizrules.pcf.RuleCommandDefinitionHolder"
          value="controller.CommandDefinitionHolders"
          valueType="gw.bizrules.pcf.RuleCommandDefinitionHolder[]">
          <IteratorSort
            sortBy="commandDefinitionElement.CommandDefinition.OrderNumber"
            sortOrder="1"/>
          <Row>
            <TextCell
              align="left"
              id="actionSequence"
              label="DisplayKey.get(&quot;BizRules.CommandDefinitionLDV.Sequence&quot;)"
              value="commandDefinitionElement.CommandDefinition.SequenceNumber"
              valueType="java.lang.Integer"/>
            <TextCell
              flex="1"
              id="actionType"
              label="DisplayKey.get(&quot;BizRules.CommandDefinitionLDV.Action&quot;)"
              value="commandDefinitionElement.Label"/>
            <TextCell
              flex="4"
              id="actionDescription"
              label="DisplayKey.get(&quot;BizRules.CommandDefinitionLDV.Description&quot;)"
              value="commandDefinitionElement.Description"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </PanelRef>
    <CardViewPanel>
      <Card
        id="card"
        title="DisplayKey.get(&quot;BizRules.CommandDefinitionLDV.Parameters&quot;)">
        <DetailViewPanel>
          <InputColumn>
            <TypeKeyInput
              editable="true"
              id="RuleActionKey"
              label="DisplayKey.get(&quot;BizRules.CommandDefinitionLDV.Action&quot;)"
              value="commandDefinition.RuleActionKey"
              valueType="typekey.RuleActionKey"
              valueWidth="commandDefinition.ActionValueWidth">
              <PostOnChange/>
            </TypeKeyInput>
            <InputSetRef
              def="ValidationErrorsInputSet(commandDefinition == null ? {} : commandDefinition.validate(), true)"
              id="CommandDefinitionValidationErrors"/>
            <InputDivider/>
          </InputColumn>
        </DetailViewPanel>
        <PanelRef
          def="CommandDefinitionDV(commandDefinition)"
          id="CommandDefinitionDV"
          mode="commandDefinition.getUIMode()"
          visible="commandDefinition.RuleActionKey != null"/>
      </Card>
    </CardViewPanel>
  </ListDetailPanel>
</PCF>
