<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Forward
    id="ClaimTabForward">
    <LocationEntryPoint
      signature="ClaimTabForward()"/>
    <Variable
      initialValue="gw.api.claim.ClaimUtil.getMostRecentlyVisitedClaim()"
      name="Claim"
      type="Claim"/>
    <ForwardCondition
      action="pcf.Claim.go(Claim)"
      condition="Claim != null"/>
    <ForwardCondition
      action="NoClaim.go()"/>
  </Forward>
</PCF>