<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canEdit="false"
    canVisit="gw.api.snapshot.ClaimSnapshotUtil.hasSnapshot(Claim) and perm.Policy.view(Claim.Policy) and perm.System.viewpolicy and perm.System.viewsnapshot"
    id="ClaimSnapshotPolicy"
    title="DisplayKey.get(&quot;JSP.ClaimSnapshot.ClaimMenu.Policy&quot;)">
    <LocationEntryPoint
      signature="ClaimSnapshotPolicy(Claim : Claim)"/>
    <Variable
      name="Claim"
      type="Claim"/>
    <Variable
      initialValue="gw.api.snapshot.ClaimSnapshotUtil.getSnapshot(Claim)"
      name="Snapshot"
      type="dynamic.Dynamic"/>
    <Variable
      initialValue="gw.api.snapshot.ClaimSnapshotUtil.getPageVersion(Snapshot)"
      name="Version"
      type="String"/>
    <ScreenRef
      def="ClaimSnapshotPolicyScreen(Claim, Snapshot)"
      mode="Version"/>
  </Page>
</PCF>