<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="SubrogationsLV">
    <ExposeIterator
      flags="CanAssignSubrogation"
      valueType="entity.SubrogationView"
      widget="SubrogationsLV"/>
    <Require
      name="subrogationViews"
      type="gw.api.database.IQueryBeanResult&lt;SubrogationView&gt;"/>
    <Require
      name="showOwner"
      type="boolean"/>
    <Variable
      initialValue="new gw.api.subrogation.SubrogationFilterSet()"
      name="filterSet"
      type="gw.api.subrogation.SubrogationFilterSet"/>
    <RowIterator
      editable="false"
      elementName="subrogationView"
      hasCheckBoxes="true"
      type="entity.SubrogationView"
      value="subrogationViews"
	  valueType="gw.api.database.IQueryBeanResult&lt;entity.SubrogationView&gt;">
      <ToolbarFilter
        cacheKey="filterSet.CacheKey"
        name="DesktopSubrogationsFilter">
        <ToolbarFilterOption
          filter="filterSet.ActiveFilter"
          label="DisplayKey.get(&quot;Java.ToolBar.Subrogations.All.Active&quot;)"
          selectOnEnter="true"/>
        <ToolbarFilterOption
          filter="filterSet.AllFilter"
          label="DisplayKey.get(&quot;Java.ToolBar.Subrogations.All.Owned&quot;)"/>
        <ToolbarFilterOption
          filter="filterSet.NewFilter"
          label="DisplayKey.get(&quot;Java.ToolBar.Subrogations.New.Owned&quot;)"/>
      </ToolbarFilter>
      <ToolbarFlag
        condition="subrogationView.Subrogation.SubrogationSummary.EscalateSubro"
        name="CanAssignSubrogation"/>
      <Row>
        <TextCell
          action="pcf.Claim.go(subrogationView.SubrogationClaim)"
          id="Claim"
          label="DisplayKey.get(&quot;Web.Subrogation.Claim&quot;)"
          value="subrogationView.SubrogationClaim.ClaimNumber"/>
        <TextCell
          id="Exposure"
          label="DisplayKey.get(&quot;Web.Subrogation.Exposure&quot;)"
          value="subrogationView.Exposure"
          valueType="entity.Exposure"/>
        <TextCell
          enableSort="false"
          id="AssignedUser"
          label="DisplayKey.get(&quot;Web.Subrogation.Owner&quot;)"
          value="subrogationView.AssignedUser"
          valueType="entity.User"
          visible="showOwner"/>
        <TypeKeyCell
          action="pcf.ClaimSubrogationGroup.go(subrogationView.SubrogationClaim)"
          id="Status"
          label="DisplayKey.get(&quot;Web.Subrogation.Status&quot;)"
          value="subrogationView.SubrogationStatus"
          valueType="typekey.SubrogationStatus"/>
        <DateCell
          dateFormat="short"
          id="ReferralDate"
          label="DisplayKey.get(&quot;Web.Subrogation.ReferralDate&quot;)"
          sortOrder="1"
          timeFormat="short"
          value="subrogationView.SubrogationReferralDate"/>
        <CurrencyCell
          enableSort="false"
          formatType="currency"
          id="TotalIncurredNet"
          label="DisplayKey.get(&quot;Web.Subrogation.NetTotalIncurred&quot;)"
          value="subrogationView.TotalIncurredNet"/>
        <TextCell
          align="right"
          enableSort="false"
          formatType="percentagePoints"
          id="ExpectedRecoveryPercentage"
          label="DisplayKey.get(&quot;Web.Subrogation.ExpectedRecoveryPercentage&quot;)"
          value="util.Display.DisplayPercent(subrogationView.TotalExpectedRecoveryPercentage, 100)"/>
        <CurrencyCell
          enableSort="false"
          formatType="currency"
          id="SubrogationRecoveries"
          label="DisplayKey.get(&quot;Web.Subrogation.Recoveries&quot;)"
          value="subrogationView.TotalRecoveriesWithSubrogationRecoveryCategory"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>
