<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    id="ClaimSnapshotPolicyLocation600PanelSet">
    <Require
      name="Claim"
      type="Claim"/>
    <Require
      name="LocationBasedRU"
      type="dynamic.Dynamic"/>
    <DetailViewPanel
      id="ClaimSnapshotPolicyLocation600DV">
      <InputColumn>
        <TextInput
          id="Number"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyLocationDV.Number&quot;)"
          value="LocationBasedRU.RUNumber"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="LocationNumber"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyLocationDV.LocationNumber&quot;)"
          value="LocationBasedRU.Property.LocationNumber"
          valueType="dynamic.Dynamic"/>
        <InputSetRef
          def="AddressSnapshot600InputSet(LocationBasedRU.Property.Address,null)"
          editable="false"/>
        <ListViewInput
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyLocationDV.Building&quot;)">
          <Toolbar/>
          <ListViewPanel
            id="BuildingLV">
            <RowIterator
              editable="false"
              elementName="building"
              value="getBuildingAsArray(LocationBasedRU)"
              valueType="dynamic.Dynamic">
              <Row>
                <TextCell
                  id="Number"
                  label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyLocationDV.Building.Number&quot;)"
                  sortOrder="1"
                  value="building.BuildingNumber"
                  valueType="dynamic.Dynamic"/>
                <TextCell
                  id="Notes"
                  label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyLocationDV.Building.Notes&quot;)"
                  value="building.Notes"
                  valueType="dynamic.Dynamic"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </ListViewInput>
      </InputColumn>
      <InputColumn>
        <TextInput
          id="Description"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyLocationDV.Description&quot;)"
          value="LocationBasedRU.Property.Address.Description"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="Notes"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyLocationDV.Notes&quot;)"
          value="LocationBasedRU.Property.Notes"
          valueType="dynamic.Dynamic"/>
        <InputDivider
          visible="LocationBasedRU.Property.Lienholders.length as java.lang.Double &gt; 0"/>
        <ListViewInput
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyLocationDV.Lienholders&quot;)"
          visible="LocationBasedRU.Property.Lienholders.length as java.lang.Double &gt; 0">
          <Toolbar/>
          <ListViewPanel
            id="LienholdersLV">
            <RowIterator
              editable="false"
              elementName="PropertyOwner"
              type="dynamic.Dynamic"
              value="LocationBasedRU.Property.Lienholders"
              valueType="dynamic.Dynamic">
              <Row>
                <TextCell
                  id="Lienholder"
                  label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyLocationDV.Lienholder&quot;)"
                  value="util.Snapshot.renderValue(PropertyOwner.Lienholder)"/>
                <TextCell
                  id="OwnerType"
                  label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyLocationDV.OwnerType&quot;)"
                  value="util.Snapshot.renderValue(PropertyOwner.OwnerType)"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </ListViewInput>
        <InputDivider
          visible="LocationBasedRU.Property.HighValueItems.length as java.lang.Double &gt; 0"/>
        <ListViewInput
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyLocationDV.ListedItems&quot;)"
          visible="LocationBasedRU.Property.HighValueItems.length as java.lang.Double &gt; 0">
          <Toolbar/>
          <ListViewPanel
            id="ListedItemsLV">
            <RowIterator
              editable="false"
              elementName="PropertyItem"
              type="dynamic.Dynamic"
              value="LocationBasedRU.Property.HighValueItems"
              valueType="dynamic.Dynamic">
              <Row>
                <TextCell
                  id="ItemDescription"
                  label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyLocationDV.ItemDescription&quot;)"
                  value="PropertyItem.Description"
                  valueType="dynamic.Dynamic"/>
                <TextCell
                  formatType="currency"
                  id="ItemValue"
                  label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyLocationDV.ItemValue&quot;)"
                  value="PropertyItem.AppraisedValue"
                  valueType="dynamic.Dynamic"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </ListViewInput>
        <InputDivider
          visible="LocationBasedRU.ClassCode != null"/>
        <ListViewInput
          label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyLocationDV.ClassCode&quot;)"
          visible="LocationBasedRU.ClassCode != null">
          <Toolbar/>
          <ListViewPanel
            id="ClassCodeLV">
            <RowIterator
              editable="false"
              elementName="classcode"
              value="getClassCodeAsArray(LocationBasedRU)"
              valueType="dynamic.Dynamic">
              <Row>
                <TextCell
                  id="Code"
                  label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyLocationDV.ClassCode.Code&quot;)"
                  sortOrder="1"
                  value="classcode.Code"
                  valueType="dynamic.Dynamic"/>
                <TextCell
                  id="Description"
                  label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyLocationDV.ClassCode.Description&quot;)"
                  value="classcode.Description"
                  valueType="dynamic.Dynamic"/>
                <TextCell
                  id="Comments"
                  label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyLocationDV.ClassCode.Comments&quot;)"
                  value="classcode.Comments"
                  valueType="dynamic.Dynamic"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </ListViewInput>
      </InputColumn>
    </DetailViewPanel>
    <ListDetailPanel
      id="ClaimSnapshotPolicyLocation600LDP"
      selectionName="SelectedCoverage"
      selectionType="dynamic.Dynamic">
      <PanelRef>
        <TitleBar
          title="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyLocationDV.Coverages&quot;)"/>
        <Toolbar/>
        <ListViewPanel
          id="CoveragesLV">
          <RowIterator
            editable="false"
            elementName="PropertyCoverage"
            type="dynamic.Dynamic"
            value="LocationBasedRU.Coverages"
            valueType="dynamic.Dynamic">
            <Row>
              <TextCell
                id="CoverageType"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyLocationDV.CoverageType&quot;)"
                sortOrder="1"
                value="PropertyCoverage.Type"
                valueType="dynamic.Dynamic"/>
              <TextCell
                formatType="currency"
                id="Deductible"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyLocationDV.Deductible&quot;)"
                value="PropertyCoverage.Deductible"
                valueType="dynamic.Dynamic"/>
              <TextCell
                formatType="currency"
                id="ExposureLimit"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyLocationDV.ExposureLimit&quot;)"
                value="PropertyCoverage.ExposureLimit"
                valueType="dynamic.Dynamic"/>
              <TextCell
                formatType="currency"
                id="IncidentLimit"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyLocationDV.IncidentLimit&quot;)"
                value="PropertyCoverage.IncidentLimit"
                valueType="dynamic.Dynamic"/>
              <TextCell
                formatType="currency"
                id="Coinsurance"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyLocationDV.Coinsurance&quot;)"
                value="PropertyCoverage.Coinsurance"
                valueType="dynamic.Dynamic"/>
              <TextCell
                id="CoverageBasis"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyLocationDV.CoverageBasis&quot;)"
                value="PropertyCoverage.CoverageBasis"
                valueType="dynamic.Dynamic"/>
              <TextCell
                id="LimitsIndicator"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyLocationDV.LimitsIndicator&quot;)"
                value="PropertyCoverage.LimitsIndicator"
                valueType="dynamic.Dynamic"/>
              <TextCell
                id="CoverageNotes"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyLocationDV.CoverageNotes&quot;)"
                value="PropertyCoverage.Notes"
                valueType="dynamic.Dynamic"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
      <CardViewPanel>
        <Card
          id="CovTermsDetail"
          title="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyLocationDV.CoverageDetail&quot;)"
          visible="SelectedCoverage.CovTerms.length as java.lang.Double &gt; 0">
          <DetailViewPanel>
            <InputFooterSection>
              <ListViewInput
                label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyLocationDV.CovTerms&quot;)"
                labelAbove="true">
                <Toolbar/>
                <ListViewPanel
                  id="CovTermsLV">
                  <RowIterator
                    editable="false"
                    elementName="CovTerm"
                    value="SelectedCoverage.CovTerms"
                    valueType="dynamic.Dynamic">
                    <Row>
                      <TextCell
                        id="Type"
                        label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyLocationDV.CovTerms.Type&quot;)"
                        sortOrder="1"
                        value="CovTerm.Type"
                        valueType="dynamic.Dynamic"/>
                      <TextCell
                        id="Value"
                        label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyLocationDV.CovTerms.Value&quot;)"
                        value="CovTerm.Value"
                        valueType="dynamic.Dynamic"/>
                      <TextCell
                        id="ValueType"
                        label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyLocationDV.CovTerms.ValueType&quot;)"
                        value="CovTerm.ValueType"
                        valueType="dynamic.Dynamic"/>
                      <TextCell
                        id="AggregationModel"
                        label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyLocationDV.CovTerms.AggregationModel&quot;)"
                        value="CovTerm.AggregationModel"
                        valueType="dynamic.Dynamic"/>
                      <TextCell
                        id="RestrictionModel"
                        label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyLocationDV.CovTerms.RestrictionModel&quot;)"
                        value="CovTerm.RestrictionModel"
                        valueType="dynamic.Dynamic"/>
                    </Row>
                  </RowIterator>
                </ListViewPanel>
              </ListViewInput>
            </InputFooterSection>
          </DetailViewPanel>
        </Card>
      </CardViewPanel>
    </ListDetailPanel>
    <Code><![CDATA[function getBuildingAsArray(riskUnit : dynamic.Dynamic) : dynamic.Dynamic {
      if(riskUnit.Building != null) {
        return new Object[] {riskUnit.Building}
      } else {
        return new Object[] { }
      }
    }

    function getClassCodeAsArray(riskUnit : dynamic.Dynamic) : dynamic.Dynamic {
      if(riskUnit.ClassCode != null) {
        return new Object[] {riskUnit.ClassCode}
      } else {
        return new Object[] { }
      }
    }]]></Code>
  </PanelSet>
</PCF>
