<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="ClaimSnapshotExposureWageBenefits600DV">
    <Require
      name="Exposure"
      type="dynamic.Dynamic"/>
    <InputColumn>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure.WageBenefits.EmploymentData&quot;)"/>
      <TextInput
        id="PIPDamages_Claimant"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure.WageBenefits.EmploymentData.Claimant&quot;)"
        value="util.Snapshot.renderValue(Exposure.Claimant)"/>
      <TextInput
        id="Person_Occupation"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure.WageBenefits.EmploymentData.Occupation&quot;)"
        value="Exposure.Claimant.Occupation"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="Person_Employer"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure.Contact.MainContact&quot;)"
        value="Exposure.Claimant.ContactCompany.DisplayName"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="Company_PrimaryContact"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure.Contact.PrimaryContact&quot;)"
        value="Exposure.Claimant.ContactCompany.PrimaryContact.DisplayName"
        valueType="dynamic.Dynamic"/>
      <DateInput
        dateFormat="short"
        id="EmploymentData_HireDate"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure.WageBenefits.EmploymentData.HireDate&quot;)"
        value="Exposure.PriorEmpData.HireDate"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="EmploymentData_EmploymentStatus"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure.WageBenefits.EmploymentData.EmploymentStatus&quot;)"
        value="Exposure.PriorEmpData.EmploymentStatus"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="EmploymentData_NumHoursWorkedPerDay"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure.WageBenefits.EmploymentData.HoursPerDay&quot;)"
        value="Exposure.PriorEmpData.NumHoursWorked"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="EmploymentData_NumDaysWorkedPerWeek"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure.WageBenefits.EmploymentData.DaysPerWeek&quot;)"
        value="Exposure.PriorEmpData.NumDaysWorked"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="EmploymentData_WageAmount"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure.WageBenefits.EmploymentData.AvgWeeklyWages&quot;)"
        value="Exposure.PriorEmpData.WageAmount"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="EmploymentData_OvertimeRate"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure.WageBenefits.EmploymentData.OvertimeRate&quot;)"
        value="Exposure.PriorEmpData.OvertimeRate"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="EmploymentData_LastYearIncome"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure.WageBenefits.EmploymentData.IncomeLastYear&quot;)"
        value="Exposure.PriorEmpData.LastYearIncome"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="EmploymentData_PayPeriod"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure.WageBenefits.EmploymentData.PayPeriod&quot;)"
        value="Exposure.PriorEmpData.PayPeriod"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="EmploymentData_WagePaymentCont"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure.WageBenefits.EmploymentData.ClaimantSalaryContinued&quot;)"
        value="Exposure.PriorEmpData.WagePaymentCont"
        valueType="dynamic.Dynamic"/>
      <DateInput
        dateFormat="short"
        id="EmploymentData_InjuryStartTime"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure.WageBenefits.EmploymentData.LastWorkDay&quot;)"
        timeFormat="short"
        value="Exposure.PriorEmpData.InjuryStartTime"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="EmploymentData_DaysWorkedWeek"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure.WageBenefits.EmploymentData.DaysWorkedPerWeek&quot;)"
        value="Exposure.PriorEmpData.DaysWorkedWeek"
        valueType="dynamic.Dynamic"/>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure.WageBenefits.EmploymentData.WorkStatus&quot;)"/>
      <ListViewInput
        labelAbove="true">
        <Toolbar/>
        <ListViewPanel
          id="WorkStatusChangesLV">
          <RowIterator
            editable="false"
            elementName="WorkStatusChange"
            value="Exposure.PriorEmpData.WorkStatusChanges"
            valueType="dynamic.Dynamic">
            <Row>
              <TextCell
                id="StatusDate"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotExposureDV.Pipdamages.StatusDate&quot;)"
                value="util.Snapshot.renderValue(WorkStatusChange.StatusDate)"/>
              <TextCell
                id="Status"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotExposureDV.Pipdamages.Status&quot;)"
                value="WorkStatusChange.Status"
                valueType="dynamic.Dynamic"/>
              <TextCell
                id="Comments"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotExposureDV.Pipdamages.Comments&quot;)"
                value="WorkStatusChange.Comments"
                valueType="dynamic.Dynamic"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
    </InputColumn>
    <InputColumn>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure.Compensation&quot;)"/>
      <TextInput
        id="CompBenefits_BenefitsBeginDate"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure.Compensation.Benefits.BeginDate&quot;)"
        value="Exposure.CompBenefits.BenefitsBeginDate"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="CompBenefits_BenefitsEndDate"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure.Compensation.Benefits.EndDate&quot;)"
        value="Exposure.CompBenefits.BenefitsEndDate"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="CompBenefits_WeeklyCompRate"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure.Compensation.WeeklyRate&quot;)"
        value="Exposure.CompBenefits.WeeklyCompRate"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="CompBenefits_PaymentFrequency"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure.Compensation.PaymentFrequency&quot;)"
        value="Exposure.CompBenefits.PaymentFrequency"
        valueType="dynamic.Dynamic"/>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure.WageBenefits.WorkComp.Benefits&quot;)"/>
      <TextInput
        id="WorkersCompCollected_Question"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure.WageBenefits.WorkComp.InCollection&quot;)"
        value="Exposure.WCBenefit"
        valueType="dynamic.Dynamic"/>
      <InputSet
        visible="Exposure.WCBenefit">
        <TextInput
          id="PIPDamages_WCCarrier"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure.WageBenefits.WorkComp.Carrier&quot;)"
          value="Exposure.WCCarrier.DisplayName"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="WCCarrier_PrimaryAddress"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure.Contact.Address&quot;)"
          value="Exposure.WCCarrier.PrimaryAddressDisplayValue"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="WCCarrier_PrimaryContact"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure.Contact.MainContact&quot;)"
          value="Exposure.WCCarrier.PrimaryContact.DisplayName"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="WCCarrier_PrimaryPhone"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure.Contact.PrimaryPhone&quot;)"
          value="Exposure.WCCarrier.PrimaryPhoneValue"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="WCBenefits_BenefitsBeginDate"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure.Compensation.Benefits.BeginDate&quot;)"
          value="Exposure.WCBenefits.BenefitsBeginDate"
          valueType="dynamic.Dynamic"/>
      </InputSet>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure.WageBenefits.SocialSecurityDisability&quot;)"/>
      <TextInput
        id="SSCollected_Question"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure.WageBenefits.SocialSecurityDisability.InCollection&quot;)"
        value="Exposure.SSBenefit"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="SSDIBenefits_BeginDate"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure.Compensation.Benefits.BeginDate&quot;)"
        value="Exposure.SSDIBenefits.BenefitsBeginDate"
        valueType="dynamic.Dynamic"
        visible=" Exposure.SSBenefit"/>
      <TextInput
        id="LostWagesBenefits_MonthlyCompRate"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure.Compensation.MonthlyRate&quot;)"
        value="Exposure.SSDIBenefits.MonthlyCompRate"
        valueType="dynamic.Dynamic"
        visible=" Exposure.SSBenefit"/>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure.WageBenefits.PartialEmployment&quot;)"/>
      <TextInput
        id="PartialWageBenefitCollected_Question"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure.WageBenefits.PartialEmployment.InCollection&quot;)"
        value="Exposure.WageBenefit"
        valueType="dynamic.Dynamic"/>
      <InputSet
        visible="Exposure.WageBenefit">
        <TextInput
          id="PartialPIPDamages_Employer"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure.Contact.Employer&quot;)"
          value="Exposure.Employer.DisplayName"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="PartialEmployer_PrimaryAddress"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure.Contact.Address&quot;)"
          value="Exposure.Employer.PrimaryAddressDisplayValue"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="PartialEmployer_PrimaryContact"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure.Contact.MainContact&quot;)"
          value="Exposure.Employer.PrimaryContact.DisplayName"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="PartialEmployer_PrimaryPhone"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure.Contact.PrimaryPhone&quot;)"
          value="Exposure.Employer.PrimaryPhoneValue"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="PartialEmploymentData_NumHoursWorkedPerDay"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure.WageBenefits.PartialEmployment.HoursPerDay&quot;)"
          value="Exposure.NewEmpData.NumHoursWorked"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="PartialEmploymentData_NumDaysWorkedPerWeek"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure.WageBenefits.PartialEmployment.DaysPerWeek&quot;)"
          value="Exposure.NewEmpData.NumDaysWorked"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="PartialEmploymentData_WageAmount"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure.WageBenefits.PartialEmployment.AvgWeeklyWages&quot;)"
          value="Exposure.NewEmpData.WageAmount"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="PartialEmploymentData_PayPeriod"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure.WageBenefits.PartialEmployment.PayPeriod&quot;)"
          value="Exposure.NewEmpData.PayPeriod"
          valueType="dynamic.Dynamic"/>
      </InputSet>
    </InputColumn>
  </DetailViewPanel>
</PCF>
