<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Screen
    id="ClaimSnapshotVehicleIncidentScreen"
    mode="600">
    <Require
      name="Claim"
      type="Claim"/>
    <Require
      name="IncidentParam"
      type="dynamic.Dynamic"/>
    <Require
      name="SnapshotParam"
      type="dynamic.Dynamic"/>
    <Variable
      initialValue="IncidentParam"
      name="VehicleIncident"
      type="dynamic.Dynamic"/>
    <Toolbar/>
    <PanelRef
      def="ClaimSnapshotVehicleIncident600DV(Claim, IncidentParam)"/>
  </Screen>
</PCF>