<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Screen
    id="ClaimSnapshotExtraFieldsScreen"
    mode="600">
    <Require
      name="Claim"
      type="Claim"/>
    <Require
      name="SnapshotParam"
      type="dynamic.Dynamic"/>
    <Toolbar/>
  </Screen>
</PCF>