<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <CardViewPanel
    id="ClaimSnapshotOtherStructureIncidentCV"
    mode="600">
    <Require
      name="claim"
      type="Claim"/>
    <Require
      name="incidentParam"
      type="dynamic.Dynamic"/>
    <Require
      name="snapshot"
      type="dynamic.Dynamic"/>
    <Variable
      initialValue="incidentParam"
      name="incident"
      type="dynamic.Dynamic"/>
    <Card
      id="OtherIncident_DetailsCard"
      title="DisplayKey.get(&quot;Web.ClaimSnapshot.ClaimSnapshotOtherStructureIncident.Details&quot;)">
      <PanelRow>
        <PanelColumn>
          <PanelRef>
            <TitleBar
              id="DamageHeader"
              title="DisplayKey.get(&quot;Web.ClaimSnapshot.ClaimSnapshotOtherStructureIncident.Damage&quot;)"/>
            <DetailViewPanel>
              <InputColumn>
                <TextAreaInput
                  id="Description"
                  label="DisplayKey.get(&quot;Web.ClaimSnapshot.ClaimSnapshotOtherStructureIncident.Description&quot;)"
                  numRows="3"
                  required="true"
                  value="incident.Description"
                  valueType="dynamic.Dynamic"/>
                <TextInput
                  id="EstimatesReceived"
                  label="DisplayKey.get(&quot;Web.ClaimSnapshot.ClaimSnapshotOtherStructureIncident.EstimatedReceived&quot;)"
                  value="incident.EstimatesReceived"
                  valueType="dynamic.Dynamic"/>
                <TextInput
                  id="EstimateCost"
                  label="DisplayKey.get(&quot;Web.ClaimSnapshot.ClaimSnapshotOtherStructureIncident.EstimatedCost&quot;)"
                  value="incident.EstRepairCost"
                  valueType="dynamic.Dynamic"
                  visible="incident.EstimatesReceived.Code == &quot;yes&quot;"/>
                <TextInput
                  id="EstimateTime"
                  label="DisplayKey.get(&quot;Web.ClaimSnapshot.ClaimSnapshotOtherStructureIncident.EstimateTime&quot;)"
                  value="incident.EstRepairTime"
                  valueType="dynamic.Dynamic"
                  visible="incident.EstimatesReceived.Code == &quot;yes&quot;"/>
                <TextInput
                  id="LossEstimate"
                  label="DisplayKey.get(&quot;Web.ClaimSnapshot.ClaimSnapshotOtherStructureIncident.LossEstimate&quot;)"
                  value="incident.LossEstimate"
                  valueType="dynamic.Dynamic"/>
                <TextInput
                  id="AlreadyRepaired"
                  label="DisplayKey.get(&quot;Web.ClaimSnapshot.ClaimSnapshotOtherStructureIncident.AlreadyRepaired&quot;)"
                  value="incident.AlreadyRepaired"
                  valueType="dynamic.Dynamic"/>
                <TextInput
                  id="FencesDamaged"
                  label="DisplayKey.get(&quot;Web.ClaimSnapshot.ClaimSnapshotOtherStructureIncident.FencesDamaged&quot;)"
                  value="incident.FencesDamaged"
                  valueType="dynamic.Dynamic"/>
              </InputColumn>
            </DetailViewPanel>
          </PanelRef>
        </PanelColumn>
        <PanelColumn>
          <PanelRef
            def="ClaimSnapshotIncidentRelatedExposuresPanelSet(claim, snapshot)"
            mode="600"/>
        </PanelColumn>
      </PanelRow>
    </Card>
    <Card
      id="Dwelling_AssessmentCard"
      title="DisplayKey.get(&quot;Web.ClaimSnapshot.ClaimSnapshotOtherStructureIncident.Assessment&quot;)">
      <PanelRef
        def="ClaimSnapshotIncidentAssessDV(claim, incident, snapshot)"
        mode="600"/>
    </Card>
  </CardViewPanel>
</PCF>