<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ExitPoint
    id="GoToAB"
    popup="true"
    url="{abSystemURL}">
    <LocationEntryPoint
      signature="GoToAB(abSystemURL:String)"/>
    <ExitPointParameter
      locationParam="abSystemURL"
      type="String"
      urlParam="abSystemURL"/>
  </ExitPoint>
</PCF>