<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Popup
    canEdit="true"
    id="VehAssessItemPopup"
    title="DisplayKey.get(&quot;NVV.Incident.Vehicle.AssessmentLine&quot;, AssessmentItem.Incident.DisplayName)">
    <LocationEntryPoint
      signature="VehAssessItemPopup(AssessmentItem : AssessmentItem)"/>
    <Variable
      name="AssessmentItem"
      type="AssessmentItem"/>
    <Screen
      id="EditAssessmentItemScreen">
      <Toolbar>
        <EditButtons/>
      </Toolbar>
      <PanelRef
        def="VehAssessItemDetailsDV(AssessmentItem)"/>
    </Screen>
  </Popup>
</PCF>