<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <ListViewPanel
    id="VehAssessItemLV">
    <ExposeIterator
      valueType="entity.AssessmentItem"
      widget="VehAssessItemLV"/>
    <Require
      name="VehicleIncident"
      type="VehicleIncident"/>
    <RowIterator
      editable="true"
      elementName="AssessmentItem"
      hideCheckBoxesIfReadOnly="true"
      pickLocation="NewVehAssessItemPopup.push(VehicleIncident)"
      toAdd="VehicleIncident.addToItemLine(AssessmentItem)"
      toRemove="VehicleIncident.removeFromItemLine(AssessmentItem)"
      value="VehicleIncident.ItemLine"
      valueType="entity.AssessmentItem[]">
      <Row>
        <TypeKeyCell
          editable="true"
          id="Category"
          label="DisplayKey.get(&quot;LV.Incident.Vehicle.AssessmentItem.Category&quot;)"
          value="AssessmentItem.VehicleCategory"
          valueType="typekey.VehicleLineItemCategory"/>
        <TextCell
          action="VehAssessItemPopup.push(AssessmentItem)"
          id="Description"
          label="DisplayKey.get(&quot;LV.Incident.Vehicle.AssessmentItem.Description&quot;)"
          required="true"
          value="AssessmentItem.Description"
          width="200"/>
        <TypeKeyCell
          editable="true"
          id="Action"
          label="DisplayKey.get(&quot;LV.Incident.Vehicle.AssessmentItem.Action&quot;)"
          value="AssessmentItem.Action"
          valueType="typekey.AssessmentAction"/>
        <CurrencyCell
          editable="true"
          formatType="currency"
          id="EstimateAmount"
          label="DisplayKey.get(&quot;LV.Incident.Vehicle.AssessmentItem.EstimateAmount&quot;)"
          value="AssessmentItem.EstimateAmount"
          visible="true"/>
        <TextCell
          editable="true"
          id="Comment"
          label="DisplayKey.get(&quot;LV.Incident.Vehicle.AssessmentItem.ItemComment&quot;)"
          value="AssessmentItem.ItemComment"
          width="200"/>
        <RangeCell
          editable="true"
          id="AssessmentSource"
          label="DisplayKey.get(&quot;LV.Incident.Vehicle.AssessmentItem.RelatedSource&quot;)"
          value="AssessmentItem.AssessmentSource"
          valueRange="AssessmentItem.Incident.SourceLine"
          valueType="entity.AssessmentSource"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>