<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    id="ClaimSnapshotGeneralPanelSet"
    mode="auto">
    <Require
      name="Claim"
      type="Claim"/>
    <Require
      name="Snapshot"
      type="dynamic.Dynamic"/>
    <DetailViewPanel
      id="ClaimSnapshotGeneralDV">
      <InputColumn>
        <Label
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Auto.General&quot;)"/>
        <TextInput
          id="LOBCode"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Auto.LOBCode&quot;)"
          value="Snapshot.LOBCode"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="LossType"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Auto.LossType&quot;)"
          value="Snapshot.LossType"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="Catastrophe"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Auto.Catastrophe&quot;)"
          value="Snapshot.Catastrophe.DisplayName"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="PermissionRequired"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Auto.PermissionRequired&quot;)"
          value="Snapshot.PermissionRequired"
          valueType="dynamic.Dynamic"/>
        <InputDivider/>
        <Label
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Auto.Description&quot;)"/>
        <TextAreaInput
          id="Description"
          labelAbove="true"
          numCols="30"
          numRows="3"
          value="Snapshot.Description"
          valueType="dynamic.Dynamic"/>
        <InputDivider/>
        <Label
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Auto.Loss&quot;)"/>
        <TextInput
          id="LossCause"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Auto.LossCause&quot;)"
          value="Snapshot.LossCause"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="Fault"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Auto.Fault&quot;)"
          value="Snapshot.FaultRating"
          valueType="dynamic.Dynamic"/>
        <DateInput
          dateFormat="short"
          id="LossDate"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Auto.LossDate&quot;)"
          timeFormat="short"
          value="Snapshot.LossDate"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="AtFaultPercentage"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Auto.AtFaultPercentage&quot;)"
          value="Snapshot.FaultRating"
          valueType="dynamic.Dynamic"
          visible="Snapshot.FaultRating.Code == &quot;1&quot;"/>
        <TextInput
          id="Weather"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Auto.Weather&quot;)"
          value="Snapshot.Weather"
          valueType="dynamic.Dynamic"/>
        <BooleanRadioInput
          id="EmploymentCourse"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Auto.EmploymentCourse&quot;)"
          value="Snapshot.EmploymentInjury"
          valueType="dynamic.Dynamic"/>
        <InputDivider/>
        <Label
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Auto.Notification&quot;)"/>
        <TextInput
          id="Reporter"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Auto.Reporter&quot;)"
          value="Snapshot.Reporter.DisplayName"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="MainContact"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Auto.MainContact&quot;)"
          value="Snapshot.MainContact.DisplayName"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="MainContactType"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Auto.MainContactType&quot;)"
          value="Snapshot.MainContactType"
          valueType="dynamic.Dynamic"/>
        <DateInput
          dateFormat="short"
          id="ReportedDate"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Auto.ReportedDate&quot;)"
          value="Snapshot.ReportedDate"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="FirstNoticeSuit"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Auto.FirstNoticeSuit&quot;)"
          value="util.Snapshot.renderValue(Snapshot.FirstNoticeSuit)"/>
        <TextInput
          id="HowReported"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Auto.HowReported&quot;)"
          value="Snapshot.HowReported"
          valueType="dynamic.Dynamic"/>
        <BooleanRadioInput
          id="IncidentReport"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Auto.IncidentReport&quot;)"
          value="Snapshot.IncidentReport"
          valueType="dynamic.Dynamic"/>
        <BooleanRadioInput
          id="CoverageInQuestion"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Auto.CoverageInQuestion&quot;)"
          value="Snapshot.CoverageInQuestion"
          valueType="dynamic.Dynamic"/>
      </InputColumn>
      <InputColumn>
        <Label
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Auto.Loss_1&quot;)"/>
        <InputSetRef
          def="AddressSnapshotInputSet(Snapshot.LossLocation, Snapshot)"
          editable="false"/>
        <InputDivider/>
        <Label
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Auto.Vehicles&quot;)"/>
        <ListViewInput
          labelAbove="true">
          <Toolbar/>
          <ListViewPanel
            id="VehiclesLV">
            <RowIterator
              editable="false"
              elementName="Vehicle"
              type="dynamic.Dynamic"
              value="util.Snapshot.filterBeansOfType(Snapshot.Incidents, &quot;VehicleIncident&quot;)"
              valueType="java.lang.Object[]">
              <Row>
                <TextCell
                  action="ClaimSnapshotVehicleIncidentPopup.push(Claim, Vehicle)"
                  id="Make"
                  label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Auto.Make&quot;)"
                  value="Vehicle.Vehicle.Make"
                  valueType="dynamic.Dynamic"/>
                <TextCell
                  action="ClaimSnapshotVehicleIncidentPopup.push(Claim, Vehicle)"
                  id="Model"
                  label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Auto.Model&quot;)"
                  value="Vehicle.Vehicle.Model"
                  valueType="dynamic.Dynamic"/>
                <TextCell
                  id="License"
                  label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Auto.License&quot;)"
                  value="Vehicle.Vehicle.LicensePlate"
                  valueType="dynamic.Dynamic"/>
                <TextCell
                  id="State"
                  label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Auto.Vehicle.State&quot;)"
                  value="Vehicle.Vehicle.State"
                  valueType="dynamic.Dynamic"/>
                <TextCell
                  id="LossParty"
                  label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Auto.LossParty&quot;)"
                  value="Vehicle.VehicleLossParty"
                  valueType="dynamic.Dynamic"/>
                <TextCell
                  id="Driver"
                  label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Auto.Driver&quot;)"
                  value="Vehicle.Driver.DisplayName"
                  valueType="dynamic.Dynamic"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </ListViewInput>
        <InputDivider/>
        <Label
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.PropertyString.PropertyLabel&quot;)"/>
        <ListViewInput
          labelAbove="true">
          <Toolbar/>
          <ListViewPanel
            id="PropertiesLV">
            <RowIterator
              canPick="false"
              editable="false"
              elementName="FixedPropertyIncidentInstance"
              type="dynamic.Dynamic"
              value="util.Snapshot.filterBeansOfType(Snapshot.Incidents, &quot;FixedPropertyIncident&quot;)"
              valueType="java.lang.Object[]">
              <Row>
                <TextCell
                  action="ClaimSnapshotFixedPropertyIncidentPopup.push(Claim, FixedPropertyIncidentInstance)"
                  id="Make"
                  label="DisplayKey.get(&quot;Web.Address.Default.Address&quot;)"
                  sortBy="FixedPropertyIncidentInstance.Property.Address.AddressLine1"
                  value="FixedPropertyIncidentInstance.Property.Address.DisplayAddressLine1"
                  valueType="dynamic.Dynamic"/>
                <TextCell
                  action="ClaimSnapshotFixedPropertyIncidentPopup.push(Claim, FixedPropertyIncidentInstance)"
                  id="Severity"
                  label="DisplayKey.get(&quot;Web.Address.Default.City&quot;)"
                  sortBy="FixedPropertyIncidentInstance.Property.Address.City"
                  value="FixedPropertyIncidentInstance.Property.Address.DisplayCity"
                  valueType="dynamic.Dynamic"/>
                <TextCell
                  id="Description"
                  label="DisplayKey.get(&quot;Web.Address.Default.State&quot;)"
                  value="FixedPropertyIncidentInstance.Property.Address.State"
                  valueType="dynamic.Dynamic"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </ListViewInput>
        <Label
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Injuries.Injuries&quot;)"/>
        <ListViewInput
          labelAbove="true">
          <Toolbar/>
          <ListViewPanel
            id="InjuriesLV">
            <RowIterator
              canPick="false"
              editable="false"
              elementName="InjuryIncidentIterator"
              type="dynamic.Dynamic"
              value="util.Snapshot.filterBeansOfType(Snapshot.Incidents, &quot;InjuryIncident&quot;)"
              valueType="java.lang.Object[]">
              <Row>
                <TextCell
                  action="ClaimSnapshotInjuryIncidentPopup.push(Claim, InjuryIncidentIterator)"
                  id="Make"
                  label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Injuries.Injuries&quot;)"
                  sortBy="InjuryIncidentIterator.injured.PrimarySortValue,InjuryIncidentIterator.injured.SecondarySortValue,InjuryIncidentIterator.injured.TertiarySortValue,InjuryIncidentIterator.injured.QuaternarySortValue"
                  value="InjuryIncidentIterator.injured.DisplayName"
                  valueType="dynamic.Dynamic"/>
                <TextCell
                  action="ClaimSnapshotInjuryIncidentPopup.push(Claim, InjuryIncidentIterator)"
                  id="Severity"
                  label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Injury.Severity&quot;)"
                  value="InjuryIncidentIterator.Severity"
                  valueType="dynamic.Dynamic"/>
                <TextCell
                  id="Description"
                  label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Injury.Description&quot;)"
                  value="InjuryIncidentIterator.Description"
                  valueType="dynamic.Dynamic"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </ListViewInput>
        <Label
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Auto.Officials&quot;)"/>
        <ListViewInput
          labelAbove="true">
          <Toolbar/>
          <ListViewPanel
            id="OfficialsLV">
            <RowIterator
              editable="false"
              elementName="Official"
              value="Snapshot.Officials"
              valueType="dynamic.Dynamic">
              <Row>
                <TextCell
                  id="Type"
                  label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Auto.Type&quot;)"
                  value="Official.OfficialType"
                  valueType="dynamic.Dynamic"/>
                <TextCell
                  id="Name"
                  label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Auto.Name&quot;)"
                  value="Official.Name"
                  valueType="dynamic.Dynamic"/>
                <TextCell
                  id="ReportNumber"
                  label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Auto.ReportNumber&quot;)"
                  value="Official.ReportNumber"
                  valueType="dynamic.Dynamic"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </ListViewInput>
        <InputDivider/>
        <Label
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Auto.Claim&quot;)"/>
        <DateInput
          dateFormat="short"
          id="CreateTime"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Auto.CreateTime&quot;)"
          timeFormat="short"
          value="Snapshot.CreateTime"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="ValidationLevel"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Auto.ValidationLevel&quot;)"
          value="Snapshot.ValidationLevel"
          valueType="dynamic.Dynamic"/>
      </InputColumn>
      <InputFooterSection>
        <ListViewInput
          boldLabel="true"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Auto.MetroReports&quot;)"
          labelAbove="true">
          <Toolbar/>
          <ListViewPanel
            id="MetroReportsLV">
            <RowIterator
              editable="false"
              elementName="MetroReport"
              value="Snapshot.MetroReports"
              valueType="dynamic.Dynamic">
              <Row>
                <TextCell
                  id="MetroReportType"
                  label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Auto.MetroReportType&quot;)"
                  value="MetroReport.MetroReportType"
                  valueType="dynamic.Dynamic"/>
                <TextCell
                  id="MetroReportStatus"
                  label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Auto.MetroReportStatus&quot;)"
                  value="MetroReport.Status"
                  valueType="dynamic.Dynamic"/>
                <TextCell
                  id="MetroReportOrderDate"
                  label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Auto.MetroReportOrderDate&quot;)"
                  value="MetroReport.CreateTime"
                  valueType="dynamic.Dynamic"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </ListViewInput>
      </InputFooterSection>
    </DetailViewPanel>
  </PanelSet>
</PCF>
