<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    id="ClaimSnapshotPolicyLocationPanelSet">
    <Require
      name="Claim"
      type="Claim"/>
    <Require
      name="PolicyLocation"
      type="dynamic.Dynamic"/>
    <ListDetailPanel
      selectionName="riskUnitSelection"
      selectionType="dynamic.Dynamic">
      <PanelRef>
        <Toolbar/>
        <ListViewPanel
          id="RUSnapshotLV">
          <RowIterator
            editable="false"
            elementName="riskUnitRow"
            hasCheckBoxes="true"
            hideCheckBoxesIfReadOnly="true"
            id="LocationBasedRUIterator"
            type="dynamic.Dynamic"
            value="PolicyLocation.LocationBasedRisks"
            valueType="dynamic.Dynamic">
            <Row>
              <TextCell
                id="RUNumber"
                label="DisplayKey.get(&quot;NVV.Policy.LocationDetail.Property.Risks.Number&quot;)"
                value="riskUnitRow.RUNumber"
                valueType="dynamic.Dynamic"/>
              <TextCell
                id="RUDescription"
                label="DisplayKey.get(&quot;NVV.Policy.LocationDetail.Property.Risks.Description&quot;)"
                value="riskUnitRow.Description"
                valueType="dynamic.Dynamic"/>
              <TextCell
                id="RUType"
                label="DisplayKey.get(&quot;NVV.Policy.LocationDetail.Property.Risks.Type&quot;)"
                value="riskUnitRow.Subtype"
                valueType="dynamic.Dynamic"/>
              <TextCell
                id="BuildingNumber"
                label="DisplayKey.get(&quot;NVV.Policy.LocationDetail.Property.Building.Number&quot;)"
                value="riskUnitRow.Building.BuildingNumber"
                valueType="dynamic.Dynamic"
                visible="Claim.Policy.PolicyType != PolicyType.TC_WORKERSCOMP"/>
              <TextCell
                id="Lienholders"
                label="DisplayKey.get(&quot;LV.Policy.Locations.Lienholders&quot;)"
                value="util.Snapshot.renderValue(getRULienHolders(riskUnitRow))"
                visible="Claim.Policy.PolicyType != PolicyType.TC_WORKERSCOMP"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
      <CardViewPanel>
        <Card
          id="RiskDetail"
          title="DisplayKey.get(&quot;NVV.Policy.LocationDetail.Property.Risks.Details&quot;)"
          visible="true">
          <DetailViewPanel
            id="RUSnapshotDV">
            <InputColumn>
              <TextInput
                id="Number"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyLocationDV.Number&quot;)"
                value="riskUnitSelection.RUNumber"
                valueType="dynamic.Dynamic"/>
              <TextInput
                id="OtherRiskType"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyLocationDV.OtherRiskType&quot;)"
                value="riskUnitSelection.OtherRiskType"
                valueType="dynamic.Dynamic"
                visible="(riskUnitSelection.Subtype as String).contains(typekey.RiskUnit.TC_LOCATIONMISCRU.DisplayName)"/>
              <TextInput
                id="Description"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyLocationDV.Description&quot;)"
                value="riskUnitSelection.Description"
                valueType="dynamic.Dynamic"/>
            </InputColumn>
            <InputColumn>
              <InputSet
                visible="riskUnitSelection.Building != null and Claim.Policy.PolicyType != PolicyType.TC_WORKERSCOMP">
                <Label
                  label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyLocationDV.Building&quot;)"/>
                <TextInput
                  id="BuildingNumber"
                  label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyLocationDV.Building.Number&quot;)"
                  value="riskUnitSelection.Building.BuildingNumber"
                  valueType="dynamic.Dynamic"/>
                <TextInput
                  id="Notes"
                  label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyLocationDV.Building.Notes&quot;)"
                  value="riskUnitSelection.Building.Notes"
                  valueType="dynamic.Dynamic"/>
              </InputSet>
              <InputDivider
                visible="riskUnitSelection.Building != null"/>
              <ListViewInput
                boldLabel="true"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyLocationDV.Lienholders&quot;)"
                labelAbove="true"
                visible="Claim.Policy.PolicyType != PolicyType.TC_WORKERSCOMP">
                <Toolbar/>
                <ListViewPanel
                  id="LienholdersLV">
                  <RowIterator
                    editable="false"
                    elementName="PropertyOwner"
                    type="dynamic.Dynamic"
                    value="riskUnitSelection.Lienholders"
                    valueType="dynamic.Dynamic">
                    <Row>
                      <TextCell
                        id="Lienholder"
                        label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyLocationDV.Lienholder&quot;)"
                        value="util.Snapshot.renderValue(PropertyOwner.Lienholder)"/>
                      <TextCell
                        id="OwnerType"
                        label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyLocationDV.OwnerType&quot;)"
                        value="util.Snapshot.renderValue(PropertyOwner.OwnerType)"/>
                    </Row>
                  </RowIterator>
                </ListViewPanel>
              </ListViewInput>
              <InputGroup
                allowToggle="false"
                childrenVisible="riskUnitSelection.ClassCode != null"
                id="ClassCodeInputGroup"
                label="DisplayKey.get(&quot;NVV.Policy.WCLocationDetail.Property.ClassCodes&quot;)"
                visible="Claim.Policy.PolicyType == PolicyType.TC_WORKERSCOMP">
                <InputSet
                  id="ClassCodeInputSet">
                  <TextInput
                    id="Code"
                    label="DisplayKey.get(&quot;LV.Policy.EditableClassCodes.ClassCode&quot;)"
                    value="riskUnitSelection.ClassCode.Code"
                    valueType="dynamic.Dynamic"/>
                  <TextAreaInput
                    id="Description"
                    label="DisplayKey.get(&quot;LV.Policy.EditableClassCodes.Description&quot;)"
                    numRows="4"
                    value="riskUnitSelection.ClassCode.Description"
                    valueType="dynamic.Dynamic"/>
                  <TextAreaInput
                    id="Comments"
                    label="DisplayKey.get(&quot;LV.Policy.EditableClassCodes.Comments&quot;)"
                    numRows="4"
                    value="riskUnitSelection.ClassCode.Comments"
                    valueType="dynamic.Dynamic"/>
                </InputSet>
              </InputGroup>
            </InputColumn>
          </DetailViewPanel>
        </Card>
        <Card
          id="LocationCoverages"
          title="DisplayKey.get(&quot;NVV.Policy.PolicyVehicleDetail.Vehicle.Coverages&quot;)"
          visible="true">
          <ListDetailPanel
            id="ClaimSnapshotPolicyLocationLDP"
            selectionName="SelectedCoverage"
            selectionType="dynamic.Dynamic">
            <PanelRef>
              <TitleBar
                title="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyLocationDV.Coverages&quot;)"/>
              <Toolbar/>
              <ListViewPanel
                id="CoveragesLV">
                <RowIterator
                  editable="false"
                  elementName="PropertyCoverage"
                  type="dynamic.Dynamic"
                  value="riskUnitSelection.Coverages"
                  valueType="dynamic.Dynamic">
                  <Row>
                    <TextCell
                      id="CoverageType"
                      label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyLocationDV.CoverageType&quot;)"
                      sortOrder="1"
                      value="PropertyCoverage.Type"
                      valueType="dynamic.Dynamic"/>
                    <TextCell
                      id="Currency"
                      label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyLocationDV.Currency&quot;)"
                      sortOrder="1"
                      value="PropertyCoverage.Currency"
                      valueType="dynamic.Dynamic"
                      visible="gw.api.util.CurrencyUtil.MultiCurrencyMode"/>
                    <TextCell
                      formatType="currency"
                      id="Deductible"
                      label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyLocationDV.Deductible&quot;)"
                      value="PropertyCoverage.Deductible"
                      valueType="dynamic.Dynamic"/>
                    <TextCell
                      formatType="currency"
                      id="ExposureLimit"
                      label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyLocationDV.ExposureLimit&quot;)"
                      value="PropertyCoverage.ExposureLimit"
                      valueType="dynamic.Dynamic"/>
                    <TextCell
                      formatType="currency"
                      id="IncidentLimit"
                      label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyLocationDV.IncidentLimit&quot;)"
                      value="PropertyCoverage.IncidentLimit"
                      valueType="dynamic.Dynamic"/>
                    <TextCell
                      id="Coinsurance"
                      label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyLocationDV.Coinsurance&quot;)"
                      value="PropertyCoverage.Coinsurance"
                      valueType="dynamic.Dynamic"/>
                    <TextCell
                      id="CoverageBasis"
                      label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyLocationDV.CoverageBasis&quot;)"
                      value="PropertyCoverage.CoverageBasis"
                      valueType="dynamic.Dynamic"/>
                    <TextCell
                      id="LimitsIndicator"
                      label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyLocationDV.LimitsIndicator&quot;)"
                      value="PropertyCoverage.LimitsIndicator"
                      valueType="dynamic.Dynamic"/>
                    <TextCell
                      id="CoverageNotes"
                      label="DisplayKey.get(&quot;Web.ClaimSnapshotPolicyLocationDV.CoverageNotes&quot;)"
                      value="PropertyCoverage.Notes"
                      valueType="dynamic.Dynamic"/>
                  </Row>
                </RowIterator>
              </ListViewPanel>
            </PanelRef>
            <PanelRef
              def="ClaimSnapshotPolicyCovTermsCV(SelectedCoverage)"
              mode="&quot;default&quot;"/>
          </ListDetailPanel>
        </Card>
      </CardViewPanel>
    </ListDetailPanel>
    <Code><![CDATA[function getRULienHolders(riskUnit : dynamic.Dynamic) : dynamic.Dynamic {
  var list = new java.util.ArrayList()
  for (lienHolder in (riskUnit.Lienholders)) {
    list.add(lienHolder)
  }
  return list.toArray()
}

    function getClassCodeAsArray(riskUnit : dynamic.Dynamic) : dynamic.Dynamic {
      if(riskUnit.ClassCode != null) {
        return new Object[] {riskUnit.ClassCode}
      } else {
        return new Object[] { }
      }
    }]]></Code>
  </PanelSet>
</PCF>
