<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Popup
    id="ClaimSnapshotPropertyContentsIncidentPopup"
    title="DisplayKey.get(&quot;Web.ClaimSnapshot.ClaimSnapshotPropertyContentsIncident.Title&quot;)">
    <LocationEntryPoint
      signature="ClaimSnapshotPropertyContentsIncidentPopup(Claim : Claim, IncidentParam : dynamic.Dynamic)"/>
    <Variable
      name="Claim"
      type="Claim"/>
    <Variable
      name="IncidentParam"
      type="dynamic.Dynamic"/>
    <Variable
      initialValue="gw.api.snapshot.ClaimSnapshotUtil.getSnapshot(Claim)"
      name="Snapshot"
      type="dynamic.Dynamic"/>
    <Variable
      initialValue="gw.api.snapshot.ClaimSnapshotUtil.getPageVersion(Snapshot)"
      name="Version"
      type="String"/>
    <Variable
      initialValue="IncidentParam"
      name="incident"
      type="dynamic.Dynamic"/>
    <Variable
      initialValue="((Snapshot).Policy.PrimaryLocation)"
      name="policyLocation"
      type="dynamic.Dynamic"/>
    <Screen>
      <TitleBar
        icon="gw.api.claim.IncidentIconSet.PROPERTY_CONTENTS.DefaultHeaderIcon"/>
      <PanelSet>
        <PanelRow>
          <PanelColumn>
            <PanelRef>
              <TitleBar
                id="DamageHeader"
                title="DisplayKey.get(&quot;Web.ClaimSnapshot.ClaimSnapshotPropertyContentsIncident.Damage&quot;)"/>
              <DetailViewPanel>
                <InputColumn>
                  <TextAreaInput
                    id="Description"
                    label="DisplayKey.get(&quot;Web.ClaimSnapshot.ClaimSnapshotPropertyContentsIncident.Description&quot;)"
                    numRows="3"
                    required="true"
                    value="incident.Description"
                    valueType="dynamic.Dynamic"/>
                </InputColumn>
              </DetailViewPanel>
            </PanelRef>
          </PanelColumn>
          <PanelColumn>
            <PanelRef
              def="ClaimSnapshotIncidentRelatedExposuresPanelSet(Claim, Snapshot)"
              mode="&quot;default&quot;"/>
          </PanelColumn>
        </PanelRow>
      </PanelSet>
      <PanelRef>
        <TitleBar
          id="ScheduledItemsTitle"
          title="((policyLocation.HighValueItems).length &gt; 0) ? DisplayKey.get(&quot;Web.PropertyContentsIncident.ScheduledItems&quot;, (policyLocation.HighValueItems).length) : DisplayKey.get(&quot;Web.PropertyContentsIncident.NoScheduledItems&quot;)"/>
        <Toolbar/>
        <ListViewPanel
          id="PropertyContentsScheduledItemsLV">
          <RowIterator
            editable="false"
            elementName="scheduledItem"
            hideCheckBoxesIfReadOnly="true"
            id="PropertyContentsScheduledItems"
            value="incident.PropertyContentsScheduledItems"
            valueType="dynamic.Dynamic">
            <Row>
              <EmptyCell
                footerLabel="DisplayKey.get(&quot;Web.ClaimSnapshot.ClaimSnapshotPropertyContentsIncident.ScheduledItem.Total&quot;)"
                id="ScheduledItemTotal"/>
              <TextCell
                id="ScheduledItemDescription"
                label="DisplayKey.get(&quot;Web.ClaimSnapshot.ClaimSnapshotPropertyContentsIncident.ScheduledItem.Name&quot;)"
                value="scheduledItem.PropertyItem.Description"
                valueType="dynamic.Dynamic"/>
              <TextCell
                footerSumValue="scheduledItem.PropertyItem.AppraisedValue"
                id="ScheduledItemValue"
                label="DisplayKey.get(&quot;Web.ClaimSnapshot.ClaimSnapshotPropertyContentsIncident.ScheduledItem.Value&quot;)"
                value="scheduledItem.PropertyItem.AppraisedValue"
                valueType="dynamic.Dynamic"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
      <PanelRef>
        <TitleBar
          id="LineItemsTitle"
          title="DisplayKey.get(&quot;Web.ClaimSnapshot.ClaimSnapshotPropertyContentsIncident.LineItem&quot;)"/>
        <Toolbar/>
        <ListViewPanel
          id="PropertyContentsLineItemsLV">
          <RowIterator
            editable="false"
            elementName="item"
            hideCheckBoxesIfReadOnly="true"
            id="PropertyContentsLineItems"
            value="incident.ContentItemLine"
            valueType="dynamic.Dynamic">
            <Row>
              <TextCell
                footerLabel="DisplayKey.get(&quot;Web.ClaimSnapshot.ClaimSnapshotPropertyContentsIncident.LineItem.Total&quot;)"
                formatType="exactNumber"
                id="LineItemQuantity"
                label="DisplayKey.get(&quot;Web.ClaimSnapshot.ClaimSnapshotPropertyContentsIncident.LineItem.Quantity&quot;)"
                numCols="4"
                printWidth="0.4"
                value="item.NumberOfItems"
                valueType="dynamic.Dynamic"/>
              <TextCell
                id="LineItemName"
                label="DisplayKey.get(&quot;Web.ClaimSnapshot.ClaimSnapshotPropertyContentsIncident.LineItem.Name&quot;)"
                numCols="20"
                printWidth="2"
                required="true"
                value="item.Description"
                valueType="dynamic.Dynamic"/>
              <TextCell
                id="LineItemCategory"
                label="DisplayKey.get(&quot;Web.ClaimSnapshot.ClaimSnapshotPropertyContentsIncident.LineItem.Category&quot;)"
                printWidth="1.5"
                value="item.ContentCategory"
                valueType="dynamic.Dynamic"/>
              <TextCell
                enableSort="false"
                id="LineItemOriginalCost"
                label="DisplayKey.get(&quot;Web.ClaimSnapshot.ClaimSnapshotPropertyContentsIncident.LineItem.OriginalCost&quot;)"
                numCols="9"
                printWidth="0.3"
                value="item.PurchaseCost"
                valueType="dynamic.Dynamic"
                visible="InEditMode"
                wrapLabel="true"/>
              <TextCell
                id="LineItemPurchaseDate"
                label="DisplayKey.get(&quot;Web.ClaimSnapshot.ClaimSnapshotPropertyContentsIncident.LineItem.PurchaseDate&quot;)"
                value="item.DateAcquired"
                valueType="dynamic.Dynamic"
                visible="InEditMode"/>
              <TextCell
                id="LineItemAge"
                label="DisplayKey.get(&quot;Web.ClaimSnapshot.ClaimSnapshotPropertyContentsIncident.LineItem.Age&quot;)"
                numCols="4"
                printWidth="0.3"
                value="item.Age"
                valueType="dynamic.Dynamic"/>
              <TextCell
                enableSort="false"
                id="LineItemDepreciationPercentage"
                label="DisplayKey.get(&quot;Web.ClaimSnapshot.ClaimSnapshotPropertyContentsIncident.LineItem.DepreciationPercentage&quot;)"
                numCols="4"
                printWidth="0.3"
                value="item.DepreciationPercentage"
                valueType="dynamic.Dynamic"
                visible="InEditMode"
                wrapLabel="true"/>
              <TextCell
                enableSort="false"
                footerSumValue="item.ReplacementValue.Amount"
                formatType="currency"
                id="LineItemReplacementValue"
                label="DisplayKey.get(&quot;Web.ClaimSnapshot.ClaimSnapshotPropertyContentsIncident.LineItem.ReplacementValue&quot;)"
                numCols="9"
                value="item.ReplacementValue"
                valueType="dynamic.Dynamic"
                wrapLabel="true"/>
              <TextCell
                enableSort="false"
                footerSumValue="item.ActualCashValue.Amount"
                formatType="currency"
                id="LineItemTotalACV"
                label="DisplayKey.get(&quot;Web.ClaimSnapshot.ClaimSnapshotPropertyContentsIncident.LineItem.TotalACV&quot;)"
                numCols="9"
                value="item.ActualCashValue"
                valueType="dynamic.Dynamic"
                wrapLabel="true"/>
              <TextCell
                enableSort="false"
                footerSumValue="item.AmountAfterLimit.Amount"
                formatType="currency"
                id="LineItemAmountAfterLimit"
                label="DisplayKey.get(&quot;Web.ClaimSnapshot.ClaimSnapshotPropertyContentsIncident.LineItem.AmountAfterLimit&quot;)"
                numCols="9"
                value="item.AmountAfterLimit "
                valueType="dynamic.Dynamic"
                wrapLabel="true"/>
              <TextCell
                id="LineItemNotes"
                label="DisplayKey.get(&quot;Web.ClaimSnapshot.ClaimSnapshotPropertyContentsIncident.LineItem.Notes&quot;)"
                printWidth="3.5"
                value="item.ItemComment"
                valueType="dynamic.Dynamic"
                visible="!InEditMode || (gw.api.print.PrintUtil.isPrintingPDF() || gw.api.print.PrintUtil.isPrintingCSV())"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
    </Screen>
  </Popup>
</PCF>
