<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Worksheet
    id="ExistingAccountRefWorksheet"
    tabLabel="DisplayKey.get(&quot;Web.Admin.Account.Number.ChangeWarning.Tab&quot;)"
    title="DisplayKey.get(&quot;Web.Admin.Account.Number.ChangeWarning.Title&quot;)">
    <LocationEntryPoint
      signature="ExistingAccountRefWorksheet(account:Account, policies:java.util.List&lt;Policy&gt;)"/>
    <Scope
      location="AccountDetail(account)"/>
    <Variable
      name="account"
      type="Account"/>
    <Variable
      name="policies"
      type="java.util.List&lt;Policy&gt;"/>
    <Screen>
      <Toolbar>
        <ToolbarButton
          action="CurrentLocation.cancel()"
          id="CloseButton"
          label="DisplayKey.get(&quot;Button.Close&quot;)"
          showConfirmMessage="false"/>
      </Toolbar>
      <ListViewPanel>
        <RowIterator
          canPick="false"
          editable="false"
          elementName="policy"
          value="policies"
          valueType="java.util.List&lt;entity.Policy&gt;">
          <Row>
            <TextCell
              id="PolicyNumber"
              label="DisplayKey.get(&quot;Web.Admin.Account.Number.ChangeWarning.Policy.PolicyNumber&quot;)"
              value="policy.PolicyNumber"/>
            <TextCell
              id="InsuredName"
              label="DisplayKey.get(&quot;Web.Admin.Account.Number.ChangeWarning.Policy.Insured&quot;)"
              value="policy.insured"
              valueType="entity.Contact"/>
            <DateCell
              id="EffectiveDate"
              label="DisplayKey.get(&quot;Web.Admin.Account.Number.ChangeWarning.Policy.EffectiveDate&quot;)"
              value="policy.EffectiveDate"/>
            <DateCell
              id="ExpirationDate"
              label="DisplayKey.get(&quot;Web.Admin.Account.Number.ChangeWarning.Policy.ExpirationDate&quot;)"
              value="policy.ExpirationDate"/>
            <TypeKeyCell
              id="PolicyType"
              label="DisplayKey.get(&quot;Web.Admin.Account.Number.ChangeWarning.Policy.PolicyType&quot;)"
              value="policy.PolicyType"
              valueType="typekey.PolicyType"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </Screen>
  </Worksheet>
</PCF>