<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canVisit="perm.User.viewedbpdfin and gw.api.financials.FinancialsUtil.isEditableFinancialsVersion()"
    id="DashboardPeriodFinancials"
    title="DisplayKey.get(&quot;Java.Dashboard.Title&quot;, DisplayKey.get(&quot;Java.Dashboard.PeriodFinancials.Title&quot;, gw.api.dashboard.DashboardUtil.getHelper().Period))">
    <LocationEntryPoint
      signature="DashboardPeriodFinancials(GroupInfo : gw.api.dashboard.DashboardTreeGroupInfo)"/>
    <Variable
      name="GroupInfo"
      type="gw.api.dashboard.DashboardTreeGroupInfo"/>
    <Variable
      initialValue="gw.api.dashboard.DashboardUtil.getHelper()"
      name="Stats"
      type="gw.api.dashboard.DashboardStatsHelper"/>
    <Screen
      id="DashboardPeriodFinancialsScreen">
      <Toolbar>
        <PrintToolbarButton
          available="perm.User.printlistviews"
          id="PrintButton"
          label="DisplayKey.get(&quot;Button.Print&quot;)"/>
        <ToolbarDivider/>
        <ToolbarInput
          boldLabel="true"
          id="label"
          label="DisplayKey.get(&quot;Java.Dashboard.AsOf&quot;)"
          value="Stats.WhenLastCalculatedString"
          valueType="java.lang.String"/>
        <ToolbarInput
          id="dollarTip"
          value="DisplayKey.get(&quot;Java.Dashboard.DollarsInThousands&quot;)"
          valueType="java.lang.String"/>
      </Toolbar>
      <PanelRef
        def="PeriodFinancialsByOrgLevelLV(Stats.getOrgStatsAsArray(GroupInfo.AllGroups?.toTypedArray()))"/>
      <PanelRef
        def="PeriodFinancialsByLOBLV(Stats.LOBStats?.toTypedArray())"
        visible="GroupInfo.isRoot() &amp;&amp; gw.api.dashboard.DashboardUtil.isShowByLineOrLoss()">
        <Toolbar/>
      </PanelRef>
      <PanelRef
        def="PeriodFinancialsByLossTypeLV(Stats.LossTypeStats?.toTypedArray())"
        visible="GroupInfo.isRoot() &amp;&amp; gw.api.dashboard.DashboardUtil.isShowByLineOrLoss()">
        <Toolbar/>
      </PanelRef>
      <PanelRef
        def="PeriodFinancialsByCoverageTypeLV(Stats.CoverageTypeStats?.toTypedArray())"
        visible="GroupInfo.isRoot() &amp;&amp; gw.api.dashboard.DashboardUtil.isShowByCoverage()">
        <Toolbar/>
      </PanelRef>
    </Screen>
  </Page>
</PCF>