<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="WCPDWeeksAndLimitsLV">
    <ExposeIterator
      valueType="entity.ref_WC_PD_WeeksAndLimits"
      widget="WCPDWeeksAndLimitsLV"/>
    <Require
      name="ref_WC_PD_WeeksAndLimitsList"
      type="gw.api.database.IQueryBeanResult&lt;ref_WC_PD_WeeksAndLimits&gt;"/>
    <RowIterator
      editable="true"
      elementName="ref_WC_PD_WeeksAndLimits"
      hasCheckBoxes="true"
      numEntriesToAdd="1"
      toCreateAndAdd="new ref_WC_PD_WeeksAndLimits()"
      toRemove="ref_WC_PD_WeeksAndLimits.remove()"
      value="ref_WC_PD_WeeksAndLimitsList"
      valueType="gw.api.database.IQueryBeanResult&lt;entity.ref_WC_PD_WeeksAndLimits&gt;">
      <Row>
        <TypeKeyCell
          editable="true"
          filter="VALUE.hasCategory(JurisdictionType.TC_INSURANCE)"
          id="JurisdictionState"
          label="DisplayKey.get(&quot;LV.Admin.ref_WC_PD_WeeksAndLimits.JurisdictionState&quot;)"
          required="true"
          sortOrder="1"
          value="ref_WC_PD_WeeksAndLimits.JurisdictionState"
          valueType="typekey.Jurisdiction"
          wrapLabel="true"/>
        <DateCell
          editable="true"
          id="PD_BenefitStartDate"
          label="DisplayKey.get(&quot;LV.Admin.ref_WC_PD_WeeksAndLimits.PD_BenefitStartDate&quot;)"
          required="true"
          sortOrder="2"
          validationExpression="(ref_WC_PD_WeeksAndLimits.PD_BenefitStartDate &gt; ref_WC_PD_WeeksAndLimits.PD_BenefitEndDate ? DisplayKey.get(&quot;Rules.Validation.Admin.EffDateGTExpiryDate&quot;) : null)"
          value="ref_WC_PD_WeeksAndLimits.PD_BenefitStartDate"
          wrapLabel="true"/>
        <DateCell
          editable="true"
          id="PD_BenefitEndDate"
          label="DisplayKey.get(&quot;LV.Admin.ref_WC_PD_WeeksAndLimits.PD_BenefitEndDate&quot;)"
          required="true"
          sortOrder="3"
          validationExpression="(ref_WC_PD_WeeksAndLimits.PD_BenefitStartDate &gt; ref_WC_PD_WeeksAndLimits.PD_BenefitEndDate ? DisplayKey.get(&quot;Rules.Validation.Admin.EffDateGTExpiryDate&quot;) : null)"
          value="ref_WC_PD_WeeksAndLimits.PD_BenefitEndDate"
          wrapLabel="true"/>
        <TextCell
          editable="true"
          id="DisabilityPercent"
          label="DisplayKey.get(&quot;LV.Admin.ref_WC_PD_WeeksAndLimits.DisabilityPercent&quot;)"
          required="true"
          sortOrder="4"
          value="ref_WC_PD_WeeksAndLimits.DisabilityPercent"
          valueType="java.math.BigDecimal"
          wrapLabel="true"/>
        <TextCell
          editable="true"
          formatType="general"
          id="PD_NumWeeks"
          label="DisplayKey.get(&quot;LV.Admin.ref_WC_PD_WeeksAndLimits.PD_NumWeeks&quot;)"
          required="true"
          sortOrder="5"
          value="ref_WC_PD_WeeksAndLimits.PD_NumWeeks"
          valueType="java.math.BigDecimal"
          wrapLabel="true"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>