<!DOCTYPE html>
<html>
<head>
  <title>
    <%= title %>
  </title>
  <%= base %>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <!-- Force IE to use highest (native) browser mode -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link href="theme.css?ver=<%= AppVersion %>" rel="stylesheet" type="text/css" >
  <%= theme_ext %>

  <link rel="shortcut icon" href="<%= resourcesURL %>images/app/favicon.ico">

  <script type="text/javascript" src="../all.js?ver=<%= AppVersion %>"></script>
  <%= customer_js %>
</head>
<body onbeforeunload="return gw.app.beforeUnloadHandler()">
<!-- History and util frames-->
<form id="history-form" class="x-hidden-display">
    <!--0x0 does NOT hide iframes in FF-->
    <iframe name="spellcheck_frame" id="spellcheck_frame"
            src="<%= topFrame %><%= frameParam %>=<%= spellCheckFrame %>&r=<%= randParam %>&__navigator_index=<%= navigatorIndex %>" width="0" height="0"></iframe>

    <input type="hidden" id="x-history-field"/>
    <iframe id="x-history-frame"></iframe>
</form>
<%= inlineScript %>
</body>
</html>
