<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    id="ClaimSnapshotGeneral700PanelSet"
    mode="wc">
    <Require
      name="Claim"
      type="Claim"/>
    <Require
      name="Snapshot"
      type="dynamic.Dynamic"/>
    <DetailViewPanel
      id="ClaimSnapshotGeneral700DV">
      <InputColumn>
        <Label
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.General&quot;)"/>
        <TextInput
          id="LossType"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.LossType&quot;)"
          value="Snapshot.LossType"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="LOBCode"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.LOBCode&quot;)"
          value="Snapshot.LOBCode"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="LocationCode"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.LocationCode&quot;)"
          value="util.Snapshot.renderValue(Snapshot.LocationCode)"/>
        <TextInput
          id="Catastrophe"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.Catastrophe&quot;)"
          value="Snapshot.Catastrophe.DisplayName"
          valueType="dynamic.Dynamic"/>
        <InputDivider/>
        <Label
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.Description&quot;)"/>
        <TextAreaInput
          id="Description"
          numCols="30"
          numRows="3"
          value="Snapshot.Description"
          valueType="dynamic.Dynamic"/>
        <InputDivider/>
        <Label
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.Loss&quot;)"/>
        <DateInput
          dateFormat="short"
          id="DateOfInjury"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.DateOfInjury&quot;)"
          timeFormat="short"
          value="Snapshot.LossDate"
          valueType="dynamic.Dynamic"/>
        <InputSetRef
          def="AddressSnapshot700InputSet(Snapshot.LossLocation, Snapshot)"
          editable="false"/>
        <TextInput
          id="LocationDescription"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.LocationDescription&quot;)"
          value="Snapshot.LossLocation.Description"
          valueType="dynamic.Dynamic"/>
        <BooleanRadioInput
          id="InsuredPremises"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.InsuredPremises&quot;)"
          value="Snapshot.InsuredPremises"
          valueType="dynamic.Dynamic"/>
        <BooleanRadioInput
          id="EmploymentInjury"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.EmploymentInjury&quot;)"
          value="Snapshot.EmploymentInjury"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="JurisdictionState"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.JurisdictionState&quot;)"
          value="Snapshot.JurisdictionState"
          valueType="dynamic.Dynamic"/>
        <InputDivider/>
        <Label
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.Injury&quot;)"/>
        <BooleanRadioInput
          id="IncidentReport"
          label="DisplayKey.get(&quot;NVV.Claim.SubView.NewQuickClaimClaimWC.Claim.InjurySeverity.IncidentReport&quot;)"
          value="Snapshot.IncidentReport"
          valueType="dynamic.Dynamic"/>
        <BooleanRadioInput
          id="MedicalReport"
          label="DisplayKey.get(&quot;NVV.Claim.SubView.NewQuickClaimClaimWC.Claim.InjurySeverity.MedicalReport&quot;)"
          value="Snapshot.MedicalReport"
          valueType="dynamic.Dynamic"/>
        <BooleanRadioInput
          id="TimeLossReport"
          label="DisplayKey.get(&quot;NVV.Claim.SubView.NewQuickClaimClaimWC.Claim.InjurySeverity.TimeLossReport&quot;)"
          value="Snapshot.TimeLossReport"
          valueType="dynamic.Dynamic"/>
        <BooleanRadioInput
          id="DeathReport"
          label="DisplayKey.get(&quot;NVV.Claim.SubView.NewQuickClaimClaimWC.Claim.InjurySeverity.DeathReport&quot;)"
          value="Snapshot.DeathReport"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="DeathDate"
          label="DisplayKey.get(&quot;NVV.Claim.SubView.LossDetailsWorkersComp.Claim.DeathDate&quot;)"
          value="Snapshot.DeathDate"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="Severity"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.Severity&quot;)"
          value="Snapshot.ClaimInjuryIncident.Severity"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="LossCause"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.LossCause&quot;)"
          value="Snapshot.LossCause"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="AccidentType"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.AccidentType&quot;)"
          value="Snapshot.AccidentType"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="PrimaryInjury"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.PrimaryInjury&quot;)"
          value="Snapshot.ClaimInjuryIncident.GeneralInjuryType"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="DetailedInjury"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.DetailedInjury&quot;)"
          value="Snapshot.ClaimInjuryIncident.DetailedInjuryType"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="InjuryDescription"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.InjuryDescription&quot;)"
          value="Snapshot.ClaimInjuryIncident.Description"
          valueType="dynamic.Dynamic"/>
        <ListViewInput
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.BodyParts.Title&quot;)"
          labelAbove="true">
          <Toolbar/>
          <ListViewPanel
            id="BodyPartsLV">
            <RowIterator
              editable="false"
              elementName="BodyPart"
              value="Snapshot.ClaimInjuryIncident.BodyParts"
              valueType="dynamic.Dynamic">
              <Row>
                <TextCell
                  id="PrimaryBodyPart"
                  label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.BodyParts.PrimaryBodyPart&quot;)"
                  value="BodyPart.PrimaryBodyPart"
                  valueType="dynamic.Dynamic"/>
                <TextCell
                  id="DetailedBodyPart"
                  label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.BodyParts.DetailedBodyPart&quot;)"
                  value="BodyPart.DetailedBodyPart"
                  valueType="dynamic.Dynamic"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </ListViewInput>
        <InputDivider/>
        <Label
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.First&quot;)"/>
        <TextInput
          id="MedCase_FirstIntakeDoctor"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.MedCase_FirstIntakeDoctor&quot;)"
          value="Snapshot.FirstIntakeDoctor.DisplayName"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="MedCase_MedicalDiagnosis"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.MedCase_MedicalDiagnosis&quot;)"
          value="Snapshot.MedicalDiagnosis"
          valueType="dynamic.Dynamic"/>
        <DateInput
          dateFormat="long"
          id="MedCase_ExaminationDate"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.MedCase_ExaminationDate&quot;)"
          value="Snapshot.ExaminationDate"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="MedCase_MedicalTreatment"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.MedCase_MedicalTreatment&quot;)"
          value="Snapshot.ClaimInjuryIncident.MedicalTreatmentType"
          valueType="dynamic.Dynamic"/>
        <TextAreaInput
          id="MedCase_TreatmentRend"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.MedCase_TreatmentRend&quot;)"
          value="Snapshot.TreatmentRend"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="MedCase_Hospital"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.MedCase_Hospital&quot;)"
          value="Snapshot.Hospital.DisplayName"
          valueType="dynamic.Dynamic"/>
        <DateInput
          dateFormat="short"
          id="MedCase_HospitalDate"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.MedCase_HospitalDate&quot;)"
          value="Snapshot.HospitalDate"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="MedCase_HospitalDays"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.MedCase_HospitalDays&quot;)"
          value="Snapshot.HospitalDays"
          valueType="dynamic.Dynamic"/>
        <InputDivider/>
      </InputColumn>
      <InputColumn>
        <Label
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.Claimant&quot;)"/>
        <TextInput
          id="Claimant"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.Claimant_1&quot;)"
          value="Snapshot.Claimant.DisplayName"
          valueType="dynamic.Dynamic"/>
        <BooleanRadioInput
          id="ContactProhibited"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.ContactProhibited&quot;)"
          value="util.Snapshot.getClaimant(Snapshot, null)[&quot;ContactProhibited&quot;]"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="PrimaryPhone"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.PrimaryPhone&quot;)"
          value="util.Snapshot.getPrimaryPhone(Snapshot.Claimant)"/>
        <TextInput
          id="PrimaryAddress"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.PrimaryAddress&quot;)"
          value="Snapshot.Claimant.PrimaryAddress.DisplayName"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="DateOfBirth"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.DateOfBirth&quot;)"
          value="util.Snapshot.renderDate(Snapshot.Claimant.DateOfBirth)"/>
        <PrivacyInput
          encryptionExpression="gw.api.privacy.EncryptionMaskExpressions.maskTaxId(VALUE as String)"
          id="TaxID"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.TaxID&quot;)"
          value="Snapshot.Claimant.TaxID"
          valueType="dynamic.Dynamic"/>
        <InputDivider/>
        <Label
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.Employment&quot;)"/>
        <TextInput
          id="Occupation"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.Occupation&quot;)"
          value="Snapshot.Claimant.Occupation"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="EmpClass"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.EmpClass&quot;)"
          value="util.Snapshot.renderValue(Snapshot.EmploymentData.ClassCode)"/>
        <DateInput
          dateFormat="short"
          id="HireDate"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.HireDate&quot;)"
          timeFormat="short"
          value="Snapshot.EmploymentData.HireDate"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="HireState"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.HireState&quot;)"
          value="Snapshot.EmploymentData.HireState"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="EmploymentStatus"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.EmploymentStatus&quot;)"
          value="Snapshot.EmploymentData.EmploymentStatus"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="Supervisor"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.Supervisor&quot;)"
          value="Snapshot.Supervisor.DisplayName"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="NumDaysWorked"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.NumDaysWorked&quot;)"
          value="Snapshot.EmploymentData.NumDaysWorked"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="NumHoursWorked"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.NumHoursWorked&quot;)"
          value="Snapshot.EmploymentData.NumHoursWorked"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="WageAmount"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.WageAmount&quot;)"
          value="Snapshot.EmploymentData.WageAmount"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="PayPeriod"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.PayPeriod&quot;)"
          value="Snapshot.EmploymentData.PayPeriod"
          valueType="dynamic.Dynamic"/>
        <DateInput
          dateFormat="short"
          id="InjuryStartDate"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.InjuryStartDate&quot;)"
          value="Snapshot.EmploymentData.InjuryStartTime"
          valueType="dynamic.Dynamic"/>
        <DateInput
          id="InjuryStartTime"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.InjuryStartTime&quot;)"
          timeFormat="short"
          value="Snapshot.EmploymentData.InjuryStartTime"
          valueType="dynamic.Dynamic"/>
        <BooleanRadioInput
          id="PaidFull"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.PaidFull&quot;)"
          value="Snapshot.EmploymentData.PaidFull"
          valueType="dynamic.Dynamic"/>
        <BooleanRadioInput
          id="WagePaymentCont"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.WagePaymentCont&quot;)"
          value="Snapshot.EmploymentData.WagePaymentCont"
          valueType="dynamic.Dynamic"/>
        <BooleanRadioInput
          id="ModifiedDutyAvail"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.ModifiedDutyAvail&quot;)"
          value="Snapshot.ModifiedDutyAvail"
          valueType="dynamic.Dynamic"/>
        <BooleanRadioInput
          id="InjuredRegularJob"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.InjuredRegularJob&quot;)"
          value="Snapshot.InjuredRegularJob"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="EquipmentUsed"
          label="DisplayKey.get(&quot;NVV.Claim.SubView.NewQuickClaimClaimWC.Claim.EquipmentUsed&quot;)"
          value="Snapshot.EquipmentUsed"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="ActivityPerformed"
          label="DisplayKey.get(&quot;NVV.Claim.SubView.NewQuickClaimClaimWC.Claim.ActivityPerformed&quot;)"
          value="Snapshot.ActivityPerformed"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="DrugsInvolved"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.DrugsInvolved&quot;)"
          value="Snapshot.DrugsInvolved"
          valueType="dynamic.Dynamic"/>
        <BooleanRadioInput
          id="SafetyEquipProv"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.SafetyEquipProv&quot;)"
          value="Snapshot.SafetyEquipProv"
          valueType="dynamic.Dynamic"/>
        <BooleanRadioInput
          id="SafetyEquipUsed"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.SafetyEquipUsed&quot;)"
          value="Snapshot.SafetyEquipUsed"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="ConcurrentEmployment"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.ConcurrentEmployment&quot;)"
          value="Snapshot.ConcurrentEmp"
          valueType="dynamic.Dynamic"/>
        <ListViewInput
          boldLabel="true"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.ConcurrentEmploymentArray&quot;)"
          labelAbove="true">
          <Toolbar/>
          <ListViewPanel
            id="ConcurrentEmplLV">
            <RowIterator
              editable="false"
              elementName="ConcurrentEmpl"
              value="Snapshot.ConcurrentEmpl"
              valueType="dynamic.Dynamic">
              <Row>
                <TextCell
                  id="CompanyName"
                  label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.CompanyName&quot;)"
                  value="ConcurrentEmpl.CompanyName"
                  valueType="dynamic.Dynamic"/>
                <TextCell
                  id="StartDate"
                  label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.StartDate&quot;)"
                  value="util.Snapshot.renderValue(ConcurrentEmpl.StartDate)"/>
                <TextCell
                  id="EndDate"
                  label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.EndDate&quot;)"
                  value="util.Snapshot.renderValue(ConcurrentEmpl.EndDate)"/>
                <TextCell
                  id="FullTime"
                  label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.FullTime&quot;)"
                  value="util.Snapshot.renderValue(ConcurrentEmpl.FullTime)"/>
                <TextCell
                  id="WeeklyWage"
                  label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.WeeklyWage&quot;)"
                  value="ConcurrentEmpl.WeeklyWage"
                  valueType="dynamic.Dynamic"/>
                <TextCell
                  id="JobTitle"
                  label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.JobTitle&quot;)"
                  value="ConcurrentEmpl.JobTitle"
                  valueType="dynamic.Dynamic"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </ListViewInput>
        <InputDivider/>
        <ListViewInput
          boldLabel="true"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.Work&quot;)"
          labelAbove="true">
          <Toolbar/>
          <ListViewPanel
            id="WorkStatusChangesLV">
            <RowIterator
              editable="false"
              elementName="WorkStatusChange"
              value="Snapshot.EmploymentData.WorkStatusChanges"
              valueType="dynamic.Dynamic">
              <Row>
                <TextCell
                  id="StatusDate"
                  label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.StatusDate&quot;)"
                  value="util.Snapshot.renderValue(WorkStatusChange.StatusDate)"/>
                <TextCell
                  id="Status"
                  label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.Status&quot;)"
                  value="WorkStatusChange.Status"
                  valueType="dynamic.Dynamic"/>
                <TextCell
                  id="Comments"
                  label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.Comments&quot;)"
                  value="WorkStatusChange.Comments"
                  valueType="dynamic.Dynamic"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </ListViewInput>
        <InputDivider/>
        <Label
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.Notification&quot;)"/>
        <TextInput
          id="Reporter"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.Reporter&quot;)"
          value="Snapshot.Reporter.DisplayName"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="ReportedByType"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.ReportedByType&quot;)"
          value="Snapshot.ReportedByType"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="MainContact"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.MainContact&quot;)"
          value="Snapshot.MainContact.DisplayName"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="MainContactType"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.ReportedByType&quot;)"
          value="Snapshot.MainContactType"
          valueType="dynamic.Dynamic"/>
        <DateInput
          dateFormat="short"
          id="ReportedDate"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.ReportedDate&quot;)"
          timeFormat="short"
          value="Snapshot.ReportedDate"
          valueType="dynamic.Dynamic"/>
        <BooleanRadioInput
          id="FirstNoticeSuit"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.FirstNoticeSuit&quot;)"
          value="Snapshot.FirstNoticeSuit"
          valueType="dynamic.Dynamic"/>
        <DateInput
          dateFormat="short"
          id="DateRptdToEmployer"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.DateRptdToEmployer&quot;)"
          timeFormat="short"
          value="Snapshot.DateRptdToEmployer"
          valueType="dynamic.Dynamic"/>
        <InputDivider/>
        <ListViewInput
          boldLabel="true"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.Officials&quot;)"
          labelAbove="true">
          <Toolbar/>
          <ListViewPanel
            id="OfficialsLV">
            <RowIterator
              editable="false"
              elementName="Official"
              value="Snapshot.Officials"
              valueType="dynamic.Dynamic">
              <Row>
                <TextCell
                  id="Type"
                  label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.Type&quot;)"
                  value="Official.OfficialType"
                  valueType="dynamic.Dynamic"/>
                <TextCell
                  id="Name"
                  label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.Name&quot;)"
                  value="Official.Name"
                  valueType="dynamic.Dynamic"/>
                <TextCell
                  id="ReportNumber"
                  label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.ReportNumber&quot;)"
                  value="Official.ReportNumber"
                  valueType="dynamic.Dynamic"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </ListViewInput>
        <InputDivider/>
        <Label
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.Claim&quot;)"/>
        <DateInput
          id="CreateTime"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.CreateTime&quot;)"
          value="Snapshot.CreateTime"
          valueType="dynamic.Dynamic"/>
        <TextInput
          id="ValidationLevel"
          label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneralDV.Wc.ValidationLevel&quot;)"
          value="Snapshot.ValidationLevel"
          valueType="dynamic.Dynamic"/>
      </InputColumn>
    </DetailViewPanel>
  </PanelSet>
</PCF>
