<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="ClaimSnapshotContact700DV"
    mode="Person|PersonVendor|Adjudicator|UserContact|Doctor|Attorney">
    <Require
      name="ClaimContactParam"
      type="dynamic.Dynamic"/>
    <InputHeaderSection>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotContactDV.Person.Claim&quot;)"/>
      <ListViewInput
        labelAbove="true">
        <Toolbar/>
        <ListViewPanel
          id="ClaimRolesLV">
          <RowIterator
            editable="false"
            elementName="Role"
            value="asClaimContact().Roles"
            valueType="dynamic.Dynamic">
            <Row>
              <TextCell
                id="Role"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotContactDV.Person.Role&quot;)"
                value="Role.Role"
                valueType="dynamic.Dynamic"/>
              <TextCell
                id="Owner"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotContactDV.Person.Owner&quot;)"
                value="util.Snapshot.getRoleOwner(Role)"/>
              <TextCell
                id="Active"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotContactDV.Person.Active&quot;)"
                value="util.Snapshot.renderValue(Role.Active)"/>
              <TextCell
                id="Comments"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotContactDV.Person.Comments&quot;)"
                value="Role.Comments"
                valueType="dynamic.Dynamic"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <InputDivider/>
    </InputHeaderSection>
    <InputColumn>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotContactDV.Person.Name&quot;)"/>
      <TextInput
        id="Contact"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotContactDV.Person.Name&quot;)"
        value="asClaimContact().Contact.DisplayName"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="FormerName"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotContactDV.Person.FormerName&quot;)"
        value="asClaimContact().Contact.FormerName"
        valueType="dynamic.Dynamic"/>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotContactDV.Person.Phone&quot;)"/>
      <TextInput
        id="PrimaryPhone"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotContactDV.Person.PrimaryPhone&quot;)"
        value="asClaimContact().Contact.PrimaryPhone"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="WorkPhone"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotContactDV.Person.WorkPhone&quot;)"
        value="asClaimContact().Contact.WorkPhone"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="HomePhone"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotContactDV.Person.HomePhone&quot;)"
        value="asClaimContact().Contact.HomePhone"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="CellPhone"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotContactDV.Person.CellPhone&quot;)"
        value="asClaimContact().Contact.CellPhone"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="FaxPhone"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotContactDV.Person.FaxPhone&quot;)"
        value="asClaimContact().Contact.FaxPhone"
        valueType="dynamic.Dynamic"/>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotContactDV.Person.Email&quot;)"/>
      <TextInput
        id="EmailAddress1"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotContactDV.Person.EmailAddress1&quot;)"
        value="asClaimContact().Contact.EmailAddress1"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="EmailAddress2"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotContactDV.Person.EmailAddress2&quot;)"
        value="asClaimContact().Contact.EmailAddress2"
        valueType="dynamic.Dynamic"/>
      <InputDivider/>
    </InputColumn>
    <InputColumn>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotContactDV.Person.Primary&quot;)"/>
      <TextInput
        id="PrimaryAddress"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotContactDV.Person.PrimaryAddress&quot;)"
        value="asClaimContact().Contact.PrimaryAddress.DisplayName"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="County"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotContactDV.Person.County&quot;)"
        value="asClaimContact().Contact.PrimaryAddress.County"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="Country"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotContactDV.Person.Country&quot;)"
        value="asClaimContact().Contact.PrimaryAddress.Country"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="AddressType"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotContactDV.Person.AddressType&quot;)"
        value="asClaimContact().Contact.PrimaryAddress.AddressType"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="Description"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotContactDV.Person.Description&quot;)"
        value="asClaimContact().Contact.PrimaryAddress.Description"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="ValidUntil"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotContactDV.Person.ValidUntil&quot;)"
        value="asClaimContact().Contact.PrimaryAddress.ValidUntil"
        valueType="dynamic.Dynamic"/>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotContactDV.Person.Organization&quot;)"/>
      <TextInput
        id="Occupation"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotContactDV.Person.Occupation&quot;)"
        value="asClaimContact().Contact.Occupation"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="Employer"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotContactDV.Person.Employer&quot;)"
        value="util.Snapshot.renderValue(asClaimContact().Contact.Employer)"/>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotContactDV.Person.Additional&quot;)"/>
      <PrivacyInput
        encryptionExpression="gw.api.privacy.EncryptionMaskExpressions.maskTaxId(VALUE as String)"
        id="TaxID"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotContactDV.Person.TaxID&quot;)"
        value="asClaimContact().Contact.TaxID"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="TaxFilingStatus"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotContactDV.Person.TaxFilingStatus&quot;)"
        value="asClaimContact().Contact.TaxFilingStatus"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="DateOfBirth"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotContactDV.Person.DateOfBirth&quot;)"
        value="asClaimContact().Contact.DateOfBirth"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="Guardian"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotContactDV.Person.Guardian&quot;)"
        value="util.Snapshot.renderValue(asClaimContact().Contact.Guardian)"/>
      <TextInput
        id="Gender"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotContactDV.Person.Gender&quot;)"
        value="asClaimContact().Contact.Gender"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="MaritalStatus"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotContactDV.Person.MaritalStatus&quot;)"
        value="asClaimContact().Contact.MaritalStatus"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="PreferredCurrency"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotContactDV.Person.PreferredCurrency&quot;)"
        value="asClaimContact().Contact.PreferredCurrency"
        valueType="dynamic.Dynamic"/>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotContactDV.Person.Drivers&quot;)"/>
      <TextInput
        id="LicenseNumber"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotContactDV.Person.LicenseNumber&quot;)"
        value="asClaimContact().Contact.LicenseNumber"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="LicenseState"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotContactDV.Person.LicenseState&quot;)"
        value="asClaimContact().Contact.LicenseState"
        valueType="dynamic.Dynamic"/>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotContactDV.Person.Notes&quot;)"/>
      <TextAreaInput
        id="Notes"
        numCols="30"
        numRows="3"
        value="asClaimContact().Contact.Notes"
        valueType="dynamic.Dynamic"/>
    </InputColumn>
    <InputFooterSection>
      <InputDivider/>
      <ListViewInput
        boldLabel="true"
        def="ClaimSnapshotContactEFT700LV(asClaimContact().Contact)"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotContactDV.Person.BankData&quot;)"
        labelAbove="true">
        <Toolbar>
          <IteratorButtons
            iterator="ClaimSnapshotContactEFT700LV.ClaimSnapshotContactEFT700LV"/>
        </Toolbar>
      </ListViewInput>
    </InputFooterSection>
    <Code><![CDATA[
      function asClaimContact() : dynamic.Dynamic {
        return ClaimContactParam;
      }
    ]]></Code>
  </DetailViewPanel>
</PCF>
