<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <ListViewPanel
    id="EditablePaymentScheduleLV">
    <ExposeIterator
      valueType="entity.SubroPaymentSchedule"
      widget="EditablePaymentScheduleLV"/>
    <Require
      name="SubroAdverseParty"
      type="SubroAdverseParty"/>
    <RowIterator
      editable="true"
      elementName="SubroPaymentSchedule"
      hideCheckBoxesIfReadOnly="true"
      pageSize="5"
      toAdd="SubroAdverseParty.addToScheduledPayments(SubroPaymentSchedule)"
      toRemove="SubroAdverseParty.removeFromScheduledPayments(SubroPaymentSchedule)"
      value="SubroAdverseParty.ScheduledPayments"
      valueType="entity.SubroPaymentSchedule[]">
      <Row>
        <DateCell
          editable="true"
          id="PaymentExpDate"
          label="DisplayKey.get(&quot;LV.Claim.Subro.PaymentPlan.ScheduledPayments.PaymentExpDate&quot;)"
          required="true"
          sortOrder="1"
          value="SubroPaymentSchedule.PaymentExpDate"/>
        <CurrencyCell
          editable="true"
          footerSumValue="SubroPaymentSchedule.SubroInstallmentAmount"
          formatType="currency"
          id="EstimateAmount"
          label="DisplayKey.get(&quot;LV.Claim.Subro.PaymentPlan.ScheduledPayments.SubroInstallmentAmount&quot;)"
          required="true"
          value="SubroPaymentSchedule.SubroInstallmentAmount"
          visible="true">
          <PostOnChange/>
        </CurrencyCell>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>