<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <meta http-equiv="content-type"
 content="text/html; charset=UTF-8">
  <title>Email created and sent</title>
</head>
<body>
An email has been created and sent automatically about this claim. The contents of
the email were as follows:<br>
<br style="font-weight: bold;">
<table border="1" width="100%" cellpadding="2" cellspacing="2">
  <tbody>
    <tr>
      <td style="font-weight: bold;">Created date:</td>
      <td> <%=DateSent%></td>
    </tr>
    <tr>
      <td style="font-weight: bold;">Claim number:</td>
      <td> <%=Claim.ClaimNumber%></td>
    </tr>
    <tr>
      <td style="font-weight: bold;">Creator:</td>
      <td><%= User.DisplayName %> &lt;<%= User.Credential.UserName %>&gt;</td>
    </tr>
    <tr><th colspan="2">&nbsp;</th></tr>
    <tr>
      <td style="vertical-align: top; font-weight: bold;">Subject:</td>
      <td style="vertical-align: top;"><%=gw.util.GosuEscapeUtil.escapeForHTML(Email.Subject)%><br>
      </td>
    </tr>
    <% var hdr1 = "To address:";for (addr in Email.ToRecipients) { %>
    <tr>
      <td style="font-weight: bold;"><%= hdr1 %></td>
      <td><%= addr.Name != null ? gw.util.GosuEscapeUtil.escapeForHTML(addr.Name) : "" %> &lt;<%= gw.util.GosuEscapeUtil.escapeForHTML(addr.EmailAddress)%>&gt;</td>
    </tr>
    <% hdr1 = ""; } %>
    <tr>
      <td style="font-weight: bold;">From address:</td>
      <td><%= Email.Sender.Name != null ? gw.util.GosuEscapeUtil.escapeForHTML(Email.Sender.Name) : "" %> &lt;<%= gw.util.GosuEscapeUtil.escapeForHTML(Email.Sender.EmailAddress)%>&gt;</td>
    </tr>
    <% var hdr2 = "CC address:";for (addr in Email.CcRecipients) { %>
    <tr>
      <td style="font-weight: bold;"><%= hdr2 %></td>
      <td><%= addr.Name != null ? gw.util.GosuEscapeUtil.escapeForHTML(addr.Name) : "" %> &lt;<%= gw.util.GosuEscapeUtil.escapeForHTML(addr.EmailAddress)%>&gt;</td>
    </tr>
    <% hdr2 = ""; } %>
    <% var hdr3 = "BCC address:";for (addr in Email.BccRecipients) { %>
    <tr>
      <td style="font-weight: bold;"><%= hdr3 %></td>
      <td><%= addr.Name != null ? gw.util.GosuEscapeUtil.escapeForHTML(addr.Name) : "" %> &lt;<%= gw.util.GosuEscapeUtil.escapeForHTML(addr.EmailAddress)%>&gt;</td>
    </tr>
    <% hdr3 = ""; } %>
    <% var hdr4 = "Attachement:";for (doc in Email.Documents) { %>
    <tr>
      <td style="font-weight: bold;"><%= hdr4 %></td>
      <td><%= gw.util.GosuEscapeUtil.escapeForHTML(doc.DisplayName)%></td>
    </tr>
    <% hdr4 = ""; } %>
    <tr>
      <td style="font-weight: bold;">Body:</td>
      <td> <pre><%=gw.util.GosuEscapeUtil.escapeForHTML(Email.Body)%></pre></td>
    </tr>
  </tbody>
</table>
</body>
</html>
