<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="ICDLV">
    <Require
      name="ICDs"
      type="gw.api.database.IQueryBeanResult&lt;ICDCode&gt;"/>
    <RowIterator
      editable="false"
      elementName="ICD_Code"
      hideCheckBoxesIfReadOnly="true"
      id="ICDIterator"
      numEntriesToAdd="1"
      pageSize="60"
      pickLocation="ICDPopup.push()"
      value="ICDs"
      valueType="gw.api.database.IQueryBeanResult&lt;entity.ICDCode&gt;">
      <Row>
        <TextCell
          action="ICDPopup.push(ICD_Code)"
          id="ICDFullCode"
          label="DisplayKey.get(&quot;Web.Admin.ICD.ICDCode&quot;)"
          numCols="6"
          sortOrder="1"
          styleClass="bold"
          value="ICD_Code.Code"/>
        <TextCell
          id="ICDDesc"
          label="DisplayKey.get(&quot;Web.Admin.ICD.CodeDescription&quot;)"
          numCols="30"
          value="ICD_Code.CodeDesc"/>
        <TypeKeyCell
          id="Body_System"
          label="DisplayKey.get(&quot;Web.Admin.ICD.BodySystem&quot;)"
          value="ICD_Code.BodySystem"
          valueType="typekey.ICDBodySystem"/>
        <CheckBoxCell
          id="Chronic"
          label="DisplayKey.get(&quot;Web.Admin.ICD.Chronic&quot;)"
          value="ICD_Code.Chronic"/>
        <DateCell
          dateFormat="short"
          id="Date_Available"
          label="DisplayKey.get(&quot;Web.Admin.ICD.AvailableFrom&quot;)"
          value="ICD_Code.AvailabilityDate"/>
        <DateCell
          dateFormat="short"
          id="Expiry_Date"
          label="DisplayKey.get(&quot;Web.Admin.ICD.ExpiresOn&quot;)"
          value="ICD_Code.ExpiryDate"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>