<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    canEdit="true"
    canVisit="true"
    id="ICDPopup"
    returnType="ICDCode"
    title="DisplayKey.get(&quot;Web.Admin.ICD.ICDPopup&quot;)">
    <LocationEntryPoint
      signature="ICDPopup()"/>
    <LocationEntryPoint
      signature="ICDPopup(anICD: ICDCode)"/>
    <Variable
      initialValue="new ICDCode()"
      name="anICD"
      type="ICDCode"/>
    <Screen
      editable="true"
      id="ICDPopupScreen">
      <Toolbar>
        <EditButtons
          pickValue="anICD"/>
      </Toolbar>
      <PanelRef
        def="ICDDV(anICD, false)"
        editable="true"
        id="ICDDVPanel"/>
      <PanelRef
        def="LocalizedValuesDV(anICD, { &quot;CodeDesc&quot;}, { DisplayKey.get(&quot;Web.Admin.ICD.CodeDescription&quot;) })"/>
    </Screen>
  </Popup>
</PCF>