<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    desc="Provides a reusable panel for displaying a Recovery's details in a ListDetailPanel"
    id="TransactionDetailPanelSet"
    mode="recovery">
    <Require
      name="Transaction"
      type="Transaction"/>
    <PanelRef
      def="TransactionRecoveryDV(Transaction as Recovery)"/>
  </PanelSet>
</PCF>