<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="ClaimSnapshotExposure310DV"
    mode="LossOfUseDamage">
    <Require
      name="Claim"
      type="Claim"/>
    <Require
      name="Exposure"
      type="dynamic.Dynamic"/>
    <InputColumn>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure310DV.Lossofusedamage.General&quot;)"/>
      <TextInput
        id="LossParty"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure310DV.Lossofusedamage.LossParty&quot;)"
        value="Exposure.LossParty"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="PrimaryCoverage"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure310DV.Lossofusedamage.PrimaryCoverage&quot;)"
        value="Exposure.PrimaryCoverage"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="CoverageSubType"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure310DV.Lossofusedamage.CoverageSubType&quot;)"
        value="Exposure.CoverageSubType"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="Coverage"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure310DV.Lossofusedamage.Coverage&quot;)"
        value="util.Snapshot.renderValue(Exposure.Coverage)"/>
      <TextInput
        id="Contact"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure310DV.Lossofusedamage.Contact&quot;)"
        value="Exposure.AssignedUser.Contact"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="State"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure310DV.Lossofusedamage.State&quot;)"
        value="Exposure.State"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="CreateTime"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure310DV.Lossofusedamage.CreateTime&quot;)"
        value="util.Snapshot.renderValue(Exposure.CreateTime)"/>
      <TextInput
        id="CloseDate"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure310DV.Lossofusedamage.CloseDate&quot;)"
        value="util.Snapshot.renderValue(Exposure.CloseDate)"/>
      <TextInput
        id="ReOpenDate"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure310DV.Lossofusedamage.ReOpenDate&quot;)"
        value="util.Snapshot.renderValue(Exposure.ReOpenDate)"/>
      <TextInput
        id="ClosedOutcome"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure310DV.Lossofusedamage.ClosedOutcome&quot;)"
        value="Exposure.ClosedOutcome"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="StatLine"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure310DV.Lossofusedamage.StatLine&quot;)"
        value="util.Snapshot.renderValue(Exposure.StatLine)"/>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure310DV.Lossofusedamage.Claimant&quot;)"/>
      <TextInput
        id="Claimant"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure310DV.Lossofusedamage.Claimant&quot;)"
        value="util.Snapshot.renderValue(Exposure.Claimant)"/>
      <TextInput
        id="ClaimantType"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure310DV.Lossofusedamage.ClaimantType&quot;)"
        value="Exposure.ClaimantType"
        valueType="dynamic.Dynamic"/>
      <BooleanRadioInput
        falseLabel="DisplayKey.get(&quot;Web.ClaimSnapshotExposure310DV.Lossofusedamage.ContactProhibited&quot;)"
        id="ContactProhibited"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure310DV.Lossofusedamage.ContactProhibited_1&quot;)"
        trueLabel="DisplayKey.get(&quot;Web.ClaimSnapshotExposure310DV.Lossofusedamage.ContactProhibited_2&quot;)"
        value="util.Snapshot.getClaimant(Exposure.Claim, Exposure)[&quot;ContactProhibited&quot;]"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="PrimaryPhone"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure310DV.Lossofusedamage.PrimaryPhone&quot;)"
        value="util.Snapshot.getPrimaryPhone(Exposure.Claimant)"/>
      <TextInput
        id="PrimaryAddress"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure310DV.Lossofusedamage.PrimaryAddress&quot;)"
        value="Exposure.Claimant.PrimaryAddress.DisplayName"
        valueType="dynamic.Dynamic"/>
    </InputColumn>
    <InputColumn>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure310DV.Lossofusedamage.Temporary&quot;)"/>
      <TextInput
        id="TempLocation"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure310DV.Lossofusedamage.TempLocation&quot;)"
        value="Exposure.TempLocation.DisplayName"
        valueType="dynamic.Dynamic"/>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure310DV.Lossofusedamage.Damage&quot;)"/>
      <TextAreaInput
        id="Description"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure310DV.Lossofusedamage.Description&quot;)"
        numCols="30"
        numRows="3"
        value="Exposure.Description"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="LossEstimate"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure310DV.Lossofusedamage.LossEstimate&quot;)"
        value="Exposure.LossEstimate"
        valueType="dynamic.Dynamic"/>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure310DV.Lossofusedamage.Coding&quot;)"/>
      <TextInput
        id="Segment"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure310DV.Lossofusedamage.Segment&quot;)"
        value="Exposure.Segment"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="Strategy"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure310DV.Lossofusedamage.Strategy&quot;)"
        value="Exposure.Strategy"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="JurisdictionState"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure310DV.Lossofusedamage.JurisdictionState&quot;)"
        value="Exposure.JurisdictionState"
        valueType="dynamic.Dynamic"/>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure310DV.Lossofusedamage.Other&quot;)"/>
      <BooleanRadioInput
        falseLabel="DisplayKey.get(&quot;Web.ClaimSnapshotExposure310DV.Lossofusedamage.ContactProhibited&quot;)"
        id="OtherCoverage"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure310DV.Lossofusedamage.OtherCoverage_1&quot;)"
        trueLabel="DisplayKey.get(&quot;Web.ClaimSnapshotExposure310DV.Lossofusedamage.ContactProhibited_2&quot;)"
        value="Exposure.OtherCoverage"
        valueType="dynamic.Dynamic"/>
      <ListViewInput
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure310DV.Lossofusedamage.Details&quot;)">
        <Toolbar/>
        <ListViewPanel
          id="OtherCoverageDetLV">
          <RowIterator
            editable="false"
            elementName="OtherCoverageDet"
            value="Exposure.OtherCoverageDet"
            valueType="dynamic.Dynamic">
            <Row>
              <TextCell
                id="Insurer"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure310DV.Lossofusedamage.Insurer&quot;)"
                value="OtherCoverageDet.Insurer"
                valueType="dynamic.Dynamic"/>
              <TextCell
                id="PolicyNumber"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure310DV.Lossofusedamage.PolicyNumber&quot;)"
                value="OtherCoverageDet.PolicyNumber"
                valueType="dynamic.Dynamic"/>
              <TextCell
                id="ContactName"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure310DV.Lossofusedamage.ContactName&quot;)"
                value="OtherCoverageDet.ContactName"
                valueType="dynamic.Dynamic"/>
              <TextCell
                id="ContactPhone"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure310DV.Lossofusedamage.ContactPhone&quot;)"
                value="OtherCoverageDet.ContactPhone"
                valueType="dynamic.Dynamic"/>
              <TextCell
                id="Notes"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure310DV.Lossofusedamage.Notes&quot;)"
                value="OtherCoverageDet.Notes"
                valueType="dynamic.Dynamic"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure310DV.Lossofusedamage.Financials&quot;)"
        visible="perm.Claim.viewtransactiondetails(Claim)"/>
      <TextInput
        id="RemainingReserves"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure310DV.Lossofusedamage.RemainingReserves&quot;)"
        value="Exposure.ExposureRpt.RemainingReserves"
        valueType="dynamic.Dynamic"
        visible="perm.Claim.viewreserves(Claim)"/>
      <TextInput
        id="FuturePayments"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure310DV.Lossofusedamage.FuturePayments&quot;)"
        value="Exposure.ExposureRpt.FuturePayments"
        valueType="dynamic.Dynamic"
        visible="perm.Claim.viewpayments(Claim)"/>
      <TextInput
        id="TotalPayments"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure310DV.Lossofusedamage.TotalPayments&quot;)"
        value="Exposure.ExposureRpt.TotalPayments"
        valueType="dynamic.Dynamic"
        visible="perm.Claim.viewpayments(Claim)"/>
      <TextInput
        id="TotalRecoveries"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure310DV.Lossofusedamage.TotalRecoveries&quot;)"
        value="Exposure.TotalRecoveries"
        valueType="dynamic.Dynamic"
        visible="perm.Claim.viewrecoveries(Claim)"/>
      <TextInput
        id="TotalIncurredNet"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotExposure310DV.Lossofusedamage.TotalIncurredNet&quot;)"
        value="Exposure.ExposureRpt.TotalIncurredNet"
        valueType="dynamic.Dynamic"
        visible="perm.Claim.viewnettotalincurred(Claim)"/>
      <InputDivider/>
    </InputColumn>
  </DetailViewPanel>
</PCF>
