<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="ClaimSnapshotGeneral310DV"
    mode="gl">
    <Require
      name="Claim"
      type="Claim"/>
    <Require
      name="Snapshot"
      type="dynamic.Dynamic"/>
    <InputColumn>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.General&quot;)"/>
      <TextInput
        id="LossType"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.LossType&quot;)"
        value="Snapshot.LossType"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="LOBCode"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.LOBCode&quot;)"
        value="Snapshot.LOBCode"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="Contact"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.Contact&quot;)"
        value="Snapshot.AssignedUser.Contact.DisplayName"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="Catastrophe"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.Catastrophe&quot;)"
        value="util.Snapshot.renderValue(Snapshot.Catastrophe)"/>
      <TextInput
        id="Segment"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.Segment&quot;)"
        value="Snapshot.Segment"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="Strategy"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.Strategy&quot;)"
        value="Snapshot.Strategy"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="PermissionRequired"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.PermissionRequired&quot;)"
        value="Snapshot.PermissionRequired"
        valueType="dynamic.Dynamic"/>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.Description&quot;)"/>
      <TextAreaInput
        id="Description"
        numCols="30"
        numRows="3"
        value="Snapshot.Description"
        valueType="dynamic.Dynamic"/>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.Loss&quot;)"/>
      <TextInput
        id="LossCause"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.LossCause&quot;)"
        value="Snapshot.LossCause"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="LossDate"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.LossDate&quot;)"
        value="util.Snapshot.renderValue(Snapshot.LossDate)"/>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.Loss_1&quot;)"/>
      <TextInput
        id="LossLocation"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.LossLocation&quot;)"
        value="Snapshot.LossLocation.DisplayName"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="County"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.County&quot;)"
        value="Snapshot.LossLocation.County"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="Country"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.Country&quot;)"
        value="Snapshot.LossLocation.Country"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="LossLocationCode"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.LossLocationCode&quot;)"
        value="Snapshot.LossLocationCode"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="JurisdictionState"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.JurisdictionState&quot;)"
        value="Snapshot.JurisdictionState"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="Fault"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.Fault&quot;)"
        value="Snapshot.Fault"
        valueType="dynamic.Dynamic"/>
    </InputColumn>
    <InputColumn>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.Notification&quot;)"/>
      <TextInput
        id="ReportedDate"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.ReportedDate&quot;)"
        value="util.Snapshot.renderValue(Snapshot.ReportedDate)"/>
      <BooleanRadioInput
        falseLabel="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.IncidentReport&quot;)"
        id="FirstNoticeSuit"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.FirstNoticeSuit_1&quot;)"
        trueLabel="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.IncidentReport_2&quot;)"
        value="Snapshot.FirstNoticeSuit"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="HowReported"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.HowReported&quot;)"
        value="Snapshot.HowReported"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="Reporter"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.Reporter&quot;)"
        value="Snapshot.Reporter.DisplayName"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="DriverRelation"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.DriverRelation&quot;)"
        value="Snapshot.DriverRelation"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="MainContact"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.MainContact&quot;)"
        value="Snapshot.MainContact.DisplayName"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="MainContactType"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.DriverRelation&quot;)"
        value="Snapshot.MainContactType"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="DateRptdToAgent"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.DateRptdToAgent&quot;)"
        value="util.Snapshot.renderValue(Snapshot.DateRptdToAgent)"/>
      <TextInput
        id="ManifestationDate"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.ManifestationDate&quot;)"
        value="util.Snapshot.renderValue(Snapshot.ManifestationDate)"/>
      <TextInput
        id="FaultRating"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.FaultRating&quot;)"
        value="Snapshot.Fault"
        valueType="dynamic.Dynamic"/>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.Claim&quot;)"/>
      <TextInput
        id="CreateTime"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.CreateTime&quot;)"
        value="util.Snapshot.renderValue(Snapshot.CreateTime)"/>
      <TextInput
        id="CloseDate"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.CloseDate&quot;)"
        value="util.Snapshot.renderValue(Snapshot.CloseDate)"/>
      <TextInput
        id="ClosedOutcome"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.ClosedOutcome&quot;)"
        value="Snapshot.ClosedOutcome"
        valueType="dynamic.Dynamic"/>
      <BooleanRadioInput
        falseLabel="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.IncidentReport&quot;)"
        id="IncidentReport"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.IncidentReport_1&quot;)"
        trueLabel="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.IncidentReport_2&quot;)"
        value="Snapshot.IncidentReport"
        valueType="dynamic.Dynamic"/>
      <BooleanRadioInput
        falseLabel="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.IncidentReport&quot;)"
        id="CoverageInQuestion"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.CoverageInQuestion_1&quot;)"
        trueLabel="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.IncidentReport_2&quot;)"
        value="Snapshot.CoverageInQuestion"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="DeductibleStatus"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.DeductibleStatus&quot;)"
        value="Snapshot.DeductibleStatus"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="LitigationStatus"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.LitigationStatus&quot;)"
        value="Snapshot.LitigationStatus"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="SubrogationStatus"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.SubrogationStatus&quot;)"
        value="Snapshot.SubrogationStatus"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="SalvageStatus"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.SalvageStatus&quot;)"
        value="Snapshot.SalvageStatus"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="OtherRecovStatus"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.OtherRecovStatus&quot;)"
        value="Snapshot.OtherRecovStatus"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="SIUStatus"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.SIUStatus&quot;)"
        value="Snapshot.SIUStatus"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="ReinsuranceStatus"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.ReinsuranceStatus&quot;)"
        value="Snapshot.ReinsuranceStatus"
        valueType="dynamic.Dynamic"/>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.Flag&quot;)"/>
      <TextInput
        id="Flagged"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.Flagged&quot;)"
        value="Snapshot.Flagged"
        valueType="dynamic.Dynamic"/>
      <TextInput
        id="FlaggedDate"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.FlaggedDate&quot;)"
        value="util.Snapshot.renderValue(Snapshot.FlaggedDate)"/>
      <TextInput
        id="FlaggedReason"
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.FlaggedReason&quot;)"
        value="Snapshot.FlaggedReason"
        valueType="dynamic.Dynamic"/>
      <InputDivider/>
      <Label
        label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.Officials&quot;)"/>
      <ListViewInput
        labelAbove="true">
        <Toolbar/>
        <ListViewPanel
          id="OfficialsLV">
          <RowIterator
            editable="false"
            elementName="Official"
            value="Snapshot.Officials"
            valueType="dynamic.Dynamic">
            <Row>
              <TextCell
                id="Type"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.Type&quot;)"
                value="Official.OfficialType"
                valueType="dynamic.Dynamic"/>
              <TextCell
                id="Name"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.Name&quot;)"
                value="Official.Name"
                valueType="dynamic.Dynamic"/>
              <TextCell
                id="ReportNumber"
                label="DisplayKey.get(&quot;Web.ClaimSnapshotGeneral310DV.Gl.ReportNumber&quot;)"
                value="Official.ReportNumber"
                valueType="dynamic.Dynamic"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
    </InputColumn>
  </DetailViewPanel>
</PCF>
