<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Screen
    id="ClaimSnapshotExposuresScreen"
    mode="310">
    <Require
      name="Claim"
      type="Claim"/>
    <Require
      name="SnapshotParam"
      type="dynamic.Dynamic"/>
    <Toolbar/>
    <ListDetailPanel
      selectionName="SelectedExposure"
      selectionType="dynamic.Dynamic">
      <ListViewPanel
        id="ClaimSnapshotExposuresLV">
        <RowIterator
          editable="false"
          elementName="Exposure"
          value="SnapshotParam.Exposures"
          valueType="dynamic.Dynamic">
          <Row>
            <TextCell
              id="Number"
              label="DisplayKey.get(&quot;Web.ClaimSnapshotExposuresScreen.V310.Number&quot;)"
              sortOrder="1"
              value="Exposure.ClaimOrder"
              valueType="dynamic.Dynamic"/>
            <TextCell
              id="Type"
              label="DisplayKey.get(&quot;Web.ClaimSnapshotExposuresScreen.V310.Type&quot;)"
              value="Exposure.ExposureType"
              valueType="dynamic.Dynamic"/>
            <TextCell
              id="Coverage"
              label="DisplayKey.get(&quot;Web.ClaimSnapshotExposuresScreen.V310.Coverage&quot;)"
              value="Exposure.PrimaryCoverage"
              valueType="dynamic.Dynamic"/>
            <TextCell
              id="Claimant"
              label="DisplayKey.get(&quot;Web.ClaimSnapshotExposuresScreen.V310.Claimant&quot;)"
              value="util.Snapshot.renderValue(Exposure.Claimant)"/>
            <TextCell
              id="Reserves"
              label="DisplayKey.get(&quot;Web.ClaimSnapshotExposuresScreen.V310.Reserves&quot;)"
              value="Exposure.ExposureRpt.RemainingReserves"
              valueType="dynamic.Dynamic"/>
            <TextCell
              id="FuturePayments"
              label="DisplayKey.get(&quot;Web.ClaimSnapshotExposuresScreen.V310.FuturePayments&quot;)"
              value="Exposure.ExposureRpt.FuturePayments"
              valueType="dynamic.Dynamic"/>
            <TextCell
              id="TotalPayments"
              label="DisplayKey.get(&quot;Web.ClaimSnapshotExposuresScreen.V310.TotalPayments&quot;)"
              value="Exposure.ExposureRpt.TotalPayments"
              valueType="dynamic.Dynamic"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
      <CardViewPanel>
        <Card
          id="ClaimSnapshotExposuresCard"
          title="util.Snapshot.renderValue(SelectedExposure)">
          <PanelRef
            def="ClaimSnapshotExposure310DV(Claim, SelectedExposure)"
            mode="SelectedExposure.ExposureType.Code"/>
        </Card>
      </CardViewPanel>
    </ListDetailPanel>
  </Screen>
</PCF>
