<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <InputSet
    id="ExposureCodingFinancialsInputSet">
    <Require
      name="Exposure"
      type="Exposure"/>
    <Label
      label="DisplayKey.get(&quot;NVV.Exposure.SubView.GeneralDamage.Exposure.Coding&quot;)"/>
    <TypeKeyInput
      id="Segment"
      label="DisplayKey.get(&quot;NVV.Exposure.SubView.GeneralDamage.Exposure.Segment&quot;)"
      value="Exposure.Segment"
      valueType="typekey.ClaimSegment"/>
    <TypeKeyInput
      id="Strategy"
      label="DisplayKey.get(&quot;NVV.Exposure.SubView.GeneralDamage.Exposure.Strategy&quot;)"
      value="Exposure.Strategy"
      valueType="typekey.ClaimStrategy"/>
    <TypeKeyInput
      editable="true"
      filter="VALUE.hasCategory(JurisdictionType.TC_INSURANCE)"
      id="JurisdictionState"
      label="DisplayKey.get(&quot;NVV.Exposure.SubView.LivingExpenses.Exposure.JurisdictionState&quot;)"
      value="Exposure.JurisdictionState"
      valueType="typekey.Jurisdiction"/>
    <InputDivider/>
    <Label
      label="DisplayKey.get(&quot;NVV.Exposure.SubView.GeneralDamage.Exposure.Financials&quot;)"
      visible="perm.Claim.viewtransactiondetails(Exposure.Claim)"/>
    <CurrencyInput
      formatType="currency"
      id="RemainingReserves"
      label="DisplayKey.get(&quot;NVV.Exposure.SubView.GeneralDamage.Exposure.RemainingReserves&quot;)"
      value="Exposure.ExposureRpt.RemainingReserves"
      visible="perm.Claim.viewreserves(Exposure.Claim)"/>
    <CurrencyInput
      id="FuturePayments"
      label="DisplayKey.get(&quot;NVV.Exposure.SubView.GeneralDamage.Exposure.FuturePayments&quot;)"
      value="Exposure.ExposureRpt.FuturePayments"
      visible="perm.Claim.viewpayments(Exposure.Claim)"/>
    <CurrencyInput
      id="TotalPayments"
      label="DisplayKey.get(&quot;NVV.Exposure.SubView.GeneralDamage.Exposure.TotalPayments&quot;)"
      value="Exposure.ExposureRpt.TotalPayments"
      visible="perm.Claim.viewpayments(Exposure.Claim)"/>
    <CurrencyInput
      id="TotalRecoveries"
      label="DisplayKey.get(&quot;NVV.Exposure.SubView.GeneralDamage.Exposure.TotalRecoveries&quot;)"
      value="Exposure.ExposureRpt.TotalRecoveries"
      visible="perm.Claim.viewrecoveries(Exposure.Claim)"/>
    <CurrencyInput
      formatType="currency"
      id="TotalIncurredNet"
      label="DisplayKey.get(&quot;NVV.Exposure.SubView.GeneralDamage.Exposure.TotalIncurredNet&quot;)"
      value="Exposure.ExposureRpt.TotalIncurredNet"
      visible="perm.Claim.viewnettotalincurred(Exposure.Claim)"/>
  </InputSet>
</PCF>