<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <InputSet
    id="PIPEmploymentInputSet">
    <Require
      name="Exposure"
      type="Exposure"/>
    <Label
      label="DisplayKey.get(&quot;NVV.Exposure.PIPEmployment.ClaimantEmployment&quot;)"/>
    <ClaimContactInput
      claim="Exposure.Claim"
      id="PIPDamages_Claimant"
      label="DisplayKey.get(&quot;NVV.Exposure.PIPEmployment.PIPDamages.Claimant&quot;)"
      value="Exposure.Claimant"
      valueRange="Exposure.Claim.getRelatedContacts(Exposure.Claim.getContactType(TC_CLAIMANT)) as Person[]"/>
    <TextInput
      id="Person_Occupation"
      label="DisplayKey.get(&quot;NVV.Exposure.PIPSummary.Person.Occupation&quot;)"
      value="(Exposure.Claimant typeis Person) ? Exposure.Claimant.Occupation : &quot;&quot;">
      <Reflect
        triggerIds="PIPDamages_Claimant"
        value="(VALUE typeis Person) ? VALUE.Occupation : &quot;&quot;"/>
    </TextInput>
    <TextInput
      id="Person_Employer"
      label="DisplayKey.get(&quot;NVV.Exposure.PIPSummary.Person.Employer&quot;)"
      value="Exposure.Claimant.ContactCompany.DisplayName"/>
    <TextInput
      id="Company_PrimaryContact"
      label="DisplayKey.get(&quot;NVV.Exposure.PIPSummary.PIPDamages.Claimant.Company.PrimaryContact&quot;)"
      value="Exposure.Claimant.ContactCompany.PrimaryContact.DisplayName"/>
    <DateInput
      dateFormat="short"
      editable="true"
      id="EmploymentData_HireDate"
      label="DisplayKey.get(&quot;NVV.Exposure.PIPSummary.EmploymentData.HireDate&quot;)"
      validationExpression="(Exposure.PriorEmpData.HireDate == null) or (Exposure.PriorEmpData.HireDate &lt; gw.api.util.DateUtil.currentDate()) ? null : DisplayKey.get(&quot;Java.Validation.Date.ForbidFuture&quot;)"
      value="Exposure.PriorEmpData.HireDate"/>
    <TypeKeyInput
      editable="true"
      id="EmploymentData_EmploymentStatus"
      label="DisplayKey.get(&quot;NVV.Exposure.PIPSummary.EmploymentData.EmploymentStatus&quot;)"
      value="Exposure.PriorEmpData.EmploymentStatus"
      valueType="typekey.EmploymentStatusType"/>
    <TextInput
      editable="true"
      id="EmploymentData_NumHoursWorkedPerDay"
      label="DisplayKey.get(&quot;NVV.Exposure.PIPSummary.EmploymentData.NumHoursWorkedPerDay&quot;)"
      value="Exposure.PriorEmpData.NumHoursWorked"
      valueType="java.math.BigDecimal"/>
    <TextInput
      editable="true"
      id="EmploymentData_NumDaysWorkedPerWeek"
      label="DisplayKey.get(&quot;NVV.Exposure.PIPSummary.EmploymentData.NumDaysWorkedPerWeek&quot;)"
      value="Exposure.PriorEmpData.NumDaysWorked"
      valueType="java.math.BigDecimal"/>
    <CurrencyInput
      editable="true"
      id="EmploymentData_WageAmount"
      label="DisplayKey.get(&quot;NVV.Exposure.PIPSummary.EmploymentData.WageAmount&quot;)"
      value="Exposure.PriorEmpData.WageAmount"/>
    <CurrencyInput
      editable="true"
      id="EmploymentData_OvertimeRate"
      label="DisplayKey.get(&quot;NVV.Exposure.PIPSummary.EmploymentData.OvertimeRate&quot;)"
      value="Exposure.PriorEmpData.OvertimeRate"/>
    <CurrencyInput
      editable="true"
      id="EmploymentData_LastYearIncome"
      label="DisplayKey.get(&quot;NVV.Exposure.PIPSummary.EmploymentData.LastYearIncome&quot;)"
      value="Exposure.PriorEmpData.LastYearIncome"/>
    <TypeKeyInput
      editable="true"
      id="EmploymentData_PayPeriod"
      label="DisplayKey.get(&quot;NVV.Exposure.PIPSummary.EmploymentData.PayPeriod&quot;)"
      value="Exposure.PriorEmpData.PayPeriod"
      valueType="typekey.PayPeriodType"/>
    <BooleanRadioInput
      editable="true"
      id="EmploymentData_WagePaymentCont"
      label="DisplayKey.get(&quot;NVV.Exposure.PIPSummary.EmploymentData.WagePaymentCont&quot;)"
      value="Exposure.PriorEmpData.WagePaymentCont"/>
    <DateInput
      dateFormat="short"
      editable="true"
      id="EmploymentData_InjuryStartDate"
      label="DisplayKey.get(&quot;NVV.Exposure.PIPSummary.EmploymentData.InjuryStartDate&quot;)"
      timeFormat="short"
      validationExpression="(Exposure.PriorEmpData.InjuryStartTime == null) or (Exposure.PriorEmpData.InjuryStartTime &lt; gw.api.util.DateUtil.currentDate()) ? null : DisplayKey.get(&quot;Java.Validation.Date.ForbidFuture&quot;)"
      value="Exposure.PriorEmpData.InjuryStartTime"/>
    <DateInput
      dateFormat="short"
      editable="true"
      id="EmploymentData_InjuryStartTime"
      label="DisplayKey.get(&quot;NVV.Exposure.PIPSummary.EmploymentData.InjuryStartTime&quot;)"
      timeFormat="short"
      validationExpression="(Exposure.PriorEmpData.InjuryStartTime == null) or (Exposure.PriorEmpData.InjuryStartTime &lt; gw.api.util.DateUtil.currentDate()) ? null : DisplayKey.get(&quot;Java.Validation.Date.ForbidFuture&quot;)"
      value="Exposure.PriorEmpData.InjuryStartTime"/>
    <TextInput
      editable="true"
      id="EmploymentData_DaysWorkedWeek"
      label="DisplayKey.get(&quot;NVV.Exposure.PIPSummary.EmploymentData.DaysWorkedWeek&quot;)"
      value="Exposure.PriorEmpData.DaysWorkedWeek"/>
    <ListViewInput
      def="EditableWorkStatusChangesLV(Exposure.PriorEmpData)"
      editable="true"
      label="DisplayKey.get(&quot;NVV.Exposure.PIPSummary.EmploymentData.WorkStatusChanges&quot;)">
      <Toolbar>
        <IteratorButtons
          iterator="EditableWorkStatusChangesLV.EditableWorkStatusChangesLV"/>
      </Toolbar>
    </ListViewInput>
    <InputDivider/>
  </InputSet>
</PCF>
