<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <ListViewPanel
    id="EditableRULienholdersLV">
    <Require
      name="RU"
      type="LocationBasedRU"/>
    <Require
      name="Claim"
      type="Claim"/>
    <ExposeIterator
      valueType="entity.PropertyOwner"
      widget="EditableRULienholdersLV"/>
    <RowIterator
      editable="true"
      elementName="PropertyOwner"
      hasCheckBoxes="true"
      hideCheckBoxesIfReadOnly="true"
      id="EditableRULienholdersLV"
      toAdd="RU.addToLienholders(PropertyOwner)"
      toRemove="RU.removeFromLienholders(PropertyOwner)"
      value="RU.Lienholders"
      valueType="entity.PropertyOwner[]">
      <Row>
        <ClaimContactCell
          claim="Claim"
          editable="true"
          id="Lienholder"
          label="DisplayKey.get(&quot;LV.Policy.EditablePropertyLienholders.Lienholder&quot;)"
          onPick="PropertyOwner.Property = RU.PolicyLocation"
          required="true"
          sortOrder="1"
          sortValueRange="false"
          value="PropertyOwner.Lienholder"
          valueRange="Claim.RelatedContacts">
          <PostOnChange
            onChange="PropertyOwner.Property = RU.PolicyLocation"/>
        </ClaimContactCell>
        <TypeKeyCell
          editable="true"
          id="OwnerType"
          label="DisplayKey.get(&quot;LV.Policy.EditablePropertyLienholders.OwnerType&quot;)"
          required="true"
          value="PropertyOwner.OwnerType"
          valueType="typekey.OwnerType"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>