<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <InputSet
    id="CovTermTypeDetailsInputSet"
    mode="Classification">
    <Require
      name="CovTerm"
      type="CovTerm"/>
    <Variable
      initialValue="CovTerm as ClassificationCovTerm"
      name="ClassificationCovTerm"
      type="ClassificationCovTerm"/>
    <TextInput
      editable="true"
      id="Code"
      label="DisplayKey.get(&quot;Web.ClaimPolicy.CovTerm.Code&quot;)"
      value="ClassificationCovTerm.Code"/>
    <TextInput
      editable="true"
      id="Description"
      label="DisplayKey.get(&quot;Web.ClaimPolicy.CovTerm.Description&quot;)"
      value="ClassificationCovTerm.Description"/>
  </InputSet>
</PCF>