<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <InputSet
    id="ECFMessageDetailsSummaryMessageDetailsInputSet"
    mode="default">
    <Require
      name="claimData"
      type="ECFMessageClaimData_Ext"/>
  </InputSet>
</PCF>