<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    id="ECFMessageDetailsPolicyCarrierPanelSet">
    <Require
      name="carrier"
      type="ECFMessageClaimDataCarrier_Ext"/>
    <DetailViewPanel>
      <InputColumn>
        <Label
          id="PolicyDetails"
          label="DisplayKey.get(&quot;Accelerator.IPLM.Web.ECFMessageDetails.Policy.CarrierDetailsTitle&quot;)"/>
        <TextInput
          id="Contact"
          label="DisplayKey.get(&quot;Accelerator.IPLM.Web.ECFMessageDetails.Policy.Carrier.Contact&quot;)"
          desc="Contact"
          editable="false"
          value="carrier.Contact"/>
        <TextInput
          id="Phone"
          label="DisplayKey.get(&quot;Accelerator.IPLM.Web.ECFMessageDetails.Policy.Carrier.Phone&quot;)"
          desc="Phone"
          editable="false"
          value="carrier.Phone"/>
        <TextInput
          id="Email"
          label="DisplayKey.get(&quot;Accelerator.IPLM.Web.ECFMessageDetails.Policy.Carrier.Email&quot;)"
          desc="Email"
          editable="false"
          value="carrier.Email"/>
        <TextInput
          id="Share"
          label="DisplayKey.get(&quot;Accelerator.IPLM.Web.ECFMessageDetails.Policy.Carrier.Share&quot;)"
          desc="Share"
          editable="false"
          value="carrier.Share != null ? carrier.Share.stripTrailingZeros()+&quot;%&quot; : null"/>
        <ListViewInput
          labelAbove="true">
          <Toolbar/>
          <ListViewPanel
            id="InsurerOrReinsurerLV">
            <RowIterator
              editable="true"
              elementName="name"
              value="{'tableActingAsFields'}"
              valueType="java.lang.String[]">
              <Row>
                <TextCell
                  id="CashSettlementAmountLbl"
                  desc="CashSettlementAmount"
                  value="DisplayKey.get(&quot;Accelerator.IPLM.Web.ECFMessageDetails.Policy.Carrier.CashSettlementAmount&quot;)"/>
                <MonetaryAmountCell
                  id="CashSettlementAmount1"
                  value="carrier.MarketFinancialAmounts[0]?.CashSettlementAmount"
                  visible="carrier.MarketFinancialAmounts.length > 0"/>
                <MonetaryAmountCell
                  id="CashSettlementAmount2"
                  value="carrier.MarketFinancialAmounts[1]?.CashSettlementAmount"
                  visible="carrier.MarketFinancialAmounts.length > 1"/>
                <MonetaryAmountCell
                  id="CashSettlementAmount3"
                  value="carrier.MarketFinancialAmounts[2]?.CashSettlementAmount"
                  visible="carrier.MarketFinancialAmounts.length > 2"/>
              </Row>
              <Row>
                <TextCell
                  id="LetterOfCreditAmountLbl"
                  desc="LetterOfCreditAmount"
                  value="DisplayKey.get(&quot;Accelerator.IPLM.Web.ECFMessageDetails.Policy.Carrier.LetterOfCreditAmount&quot;)"/>
                <MonetaryAmountCell
                  id="LetterOfCreditAmount1"
                  value="carrier.MarketFinancialAmounts[0]?.LetterOfCreditAmount"
                  visible="carrier.MarketFinancialAmounts.length > 0"/>
                <MonetaryAmountCell
                  id="LetterOfCreditAmount2"
                  value="carrier.MarketFinancialAmounts[1]?.LetterOfCreditAmount"
                  visible="carrier.MarketFinancialAmounts.length > 1"/>
                <MonetaryAmountCell
                  id="LetterOfCreditAmount3"
                  value="carrier.MarketFinancialAmounts[2]?.LetterOfCreditAmount"
                  visible="carrier.MarketFinancialAmounts.length > 2"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </ListViewInput>
        <TextInput
          id="Reference1"
          label="DisplayKey.get(&quot;Accelerator.IPLM.Web.ECFMessageDetails.Policy.Carrier.Reference1&quot;)"
          desc="Reference1"
          editable="false"
          value="carrier.Reference1"/>
        <TextInput
          id="Reference2"
          label="DisplayKey.get(&quot;Accelerator.IPLM.Web.ECFMessageDetails.Policy.Carrier.Reference2&quot;)"
          desc="Reference2"
          editable="false"
          value="carrier.Reference2"/>
        <TextInput
          id="ClaimLineNumber"
          label="DisplayKey.get(&quot;Accelerator.IPLM.Web.ECFMessageDetails.Policy.Carrier.ClaimLineNumber&quot;)"
          desc="ClaimLineNumber"
          editable="false"
          value="carrier.ClaimLineNumber?.toString()"/>
      </InputColumn>
    </DetailViewPanel>
  </PanelSet>
</PCF>