<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    id="ECFMessageDetailsBulkClaimPanelSet">
    <Require
      name="claimDataMsg"
      type="ECFMessageClaimData_Ext"/>
    <DetailViewPanel>
      <InputColumn>
        <Label
          id="PolicyDetails"
          label="DisplayKey.get(&quot;Accelerator.IPLM.Web.ECFMessageDetails.BulkClaim.BulkClaimTitle&quot;)"/>
        <TextInput
          desc="BulkClaimNoOfItems"
          id="BulkClaimNoOfItems"
          label="DisplayKey.get(&quot;Accelerator.IPLM.Web.ECFMessageDetails.BulkClaim.NumberofBulkClaims&quot;)"
          value="claimDataMsg.BulkClaimNoOfItems?.toString()"/>
        <TextInput
          desc="HeaderUCR"
          id="HeaderUCR"
          label="DisplayKey.get(&quot;Accelerator.IPLM.Web.ECFMessageDetails.BulkClaim.HeaderUCR&quot;)"
          value="claimDataMsg.BulkClaimHeaderUCR"/>
        <TextInput
          desc="HeaderTR"
          id="HeaderTR"
          label="DisplayKey.get(&quot;Accelerator.IPLM.Web.ECFMessageDetails.BulkClaim.HeaderTR&quot;)"
          value="claimDataMsg.BulkClaimHeaderTR"/>
      </InputColumn>
    </DetailViewPanel>
    <ListDetailPanel
      id="selectBulkClaimLDP"
      selectionName="selectedBulkClaim"
      selectionType="ECFMessageBulkClaim_Ext">
      <PanelRef
        id="BulkClaimsLVPanel">
        <Toolbar/>
        <ListViewPanel
          id="BulkClaimsLV">
          <RowIterator
            editable="false"
            elementName="bc"
            pageSize="0"
            value="claimDataMsg.BulkClaims"
            valueType="ECFMessageBulkClaim_Ext[]">
            <Row>
              <TextCell
                id="LossName"
                label="DisplayKey.get(&quot;Accelerator.IPLM.Web.ECFMessageDetails.BulkClaim.LossName&quot;)"
                editable="false"
                desc="LossName"
                value="bc.LossName"/>
              <DateCell
                id="LossDate"
                label="DisplayKey.get(&quot;Accelerator.IPLM.Web.ECFMessageDetails.BulkClaim.LossDate&quot;)"
                editable="false"
                desc="LossDate"
                value="bc.LossDate"/>
              <TextCell
                id="UCR"
                label="DisplayKey.get(&quot;Accelerator.IPLM.Web.ECFMessageDetails.BulkClaim.UCR&quot;)"
                editable="false"
                desc="UCR"
                value="bc.UCR"/>
              <TextCell
                id="TR"
                label="DisplayKey.get(&quot;Accelerator.IPLM.Web.ECFMessageDetails.BulkClaim.TR&quot;)"
                editable="false"
                desc="TR"
                value="bc.TR"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
      <CardViewPanel>
        <Card
          id="BulkClaimsLVCard"
          title="DisplayKey.get(&quot;Accelerator.IPLM.Web.ECFMessageDetails.BulkClaim.BulkClaimDetailTitle&quot;)">
          <PanelRef
            def="ECFMessageDetailsBulkClaimDetailPanelSet(selectedBulkClaim)"/>
        </Card>
      </CardViewPanel>
    </ListDetailPanel>
  </PanelSet>
</PCF>