<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Forward
    id="ClaimDocumentsForward">
    <LocationEntryPoint
      signature="ClaimDocumentsForward(ClaimInfo : ClaimInfo)"/>
    <Variable
      name="ClaimInfo"
      type="ClaimInfo"/>
    <ForwardCondition
      action="pcf.ArchivedClaim.go(ClaimInfo)"
      condition="ClaimInfo.ArchiveState != null"/>
    <ForwardCondition
      action="pcf.ClaimDocuments.go(ClaimInfo.Claim)"
      condition="ClaimInfo.ArchiveState == null"/>
  </Forward>
</PCF>