<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="AuthorityLimitProfileDV">
    <Require
      name="AuthorityLimitProfile"
      type="AuthorityLimitProfile"/>
    <InputColumn>
      <TextInput
        editable="true"
        id="Name"
        label="DisplayKey.get(&quot;NVV.Admin.AuthorityLimitProfileBasics.Name&quot;)"
        required="true"
        value="AuthorityLimitProfile.Name"/>
      <TextInput
        editable="true"
        id="Description"
        label="DisplayKey.get(&quot;NVV.Admin.AuthorityLimitProfileBasics.Description&quot;)"
        value="AuthorityLimitProfile.Description"/>
      <TypeKeyInput
        editable="true"
        id="Currency"
        label="DisplayKey.get(&quot;NVV.Admin.AuthorityLimitProfileBasics.Currency&quot;)"
        required="true"
        value="AuthorityLimitProfile.Currency"
        valueType="typekey.Currency"
        visible="gw.api.util.CurrencyUtil.isMultiCurrencyMode()">
        <PostOnChange/>
      </TypeKeyInput>
      <ListViewInput
        editable="true"
        label="DisplayKey.get(&quot;NVV.Admin.AuthorityLimitProfileBasics.Limits&quot;)"
        validationExpression="!gw.plugin.authoritylimits.AuthorityLimitsConfiguration.resolveAuthorityLimits(AuthorityLimitProfile) ? gw.plugin.authoritylimits.AuthorityLimitsConfiguration.ErrorString : null">
        <Toolbar>
          <IteratorButtons
            iterator="EditAuthorityLimitsLV"
            removeShortcut="E"/>
        </Toolbar>
        <ListViewPanel
          id="EditAuthorityLimitsLV">
          <RowIterator
            editable="true"
            elementName="AuthorityLimit"
            hideCheckBoxesIfReadOnly="true"
            toAdd="AuthorityLimitProfile.addToLimits(AuthorityLimit)"
            toRemove="AuthorityLimitProfile.removeFromLimits(AuthorityLimit)"
            value="AuthorityLimitProfile.Limits"
            valueType="entity.AuthorityLimit[]">
            <Row>
              <TypeKeyCell
                editable="true"
                id="LimitType"
                label="DisplayKey.get(&quot;LV.Admin.EditableAuthorityLimits.LimitType&quot;)"
                required="true"
                value="AuthorityLimit.LimitType"
                valueType="typekey.AuthorityLimitType"/>
              <TypeKeyCell
                editable="true"
                id="PolicyType"
                label="DisplayKey.get(&quot;LV.Admin.EditableAuthorityLimits.PolicyType&quot;)"
                value="AuthorityLimit.PolicyType"
                valueType="typekey.PolicyType">
                <PostOnChange
                  onChange="gw.plugin.authoritylimits.AuthorityLimitsConfiguration.validateTypecodeHierarchy(AuthorityLimit)"
                  target="DATA_ONLY"/>
              </TypeKeyCell>
              <TypeKeyCell
                editable="true"
                id="CoverageType"
                label="DisplayKey.get(&quot;LV.Admin.EditableAuthorityLimits.CoverageType&quot;)"
                value="AuthorityLimit.CoverageType"
                valueType="typekey.CoverageType">
                <PostOnChange
                  onChange="gw.plugin.authoritylimits.AuthorityLimitsConfiguration.validateTypecodeHierarchy(AuthorityLimit)"
                  target="DATA_ONLY"/>
              </TypeKeyCell>
              <TypeKeyCell
                editable="true"
                id="CostType"
                label="DisplayKey.get(&quot;LV.Admin.EditableAuthorityLimits.CostType&quot;)"
                value="AuthorityLimit.CostType"
                valueType="typekey.CostType"/>
              <CurrencyCell
                editable="true"
                id="LimitAmount"
                label="DisplayKey.get(&quot;LV.Admin.EditableAuthorityLimits.LimitAmount&quot;)"
                required="true"
                value="AuthorityLimit.LimitAmount"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
    </InputColumn>
  </DetailViewPanel>
</PCF>