<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="UserSearchResultsLV">
    <ExposeIterator
      flags="User"
      valueType="entity.User"
      widget="UserSearchResultsLV"/>
    <Require
      name="searchResults"
      type="gw.api.database.IQueryBeanResult&lt;User&gt;"/>
    <Require
      name="EnablePick"
      type="boolean"/>
    <Require
      name="pageHelper"
      type="gw.api.contact.ProximitySearchPageHelper"/>
    <Require
      name="searchCriteria"
      type="UserSearchCriteria"/>
    <Require
      name="EnableCheckbox"
      type="boolean"/>
    <Variable
      initialValue="pageHelper.getDrivingDirectionsCache()"
      name="directions"
      type="gw.api.contact.DrivingDirectionsCache"/>
    <RowIterator
      canPick="EnablePick"
      checkBoxVisible="EnableCheckbox"
      editable="false"
      elementName="user"
      hasCheckBoxes="true"
      pickValue="user"
      value="searchResults"
      valueType="gw.api.database.IQueryBeanResult&lt;entity.User&gt;">
      <ToolbarFlag
        name="User"/>
      <Row>
        <TextCell
          action="UserDetailPage.go(user)"
          available="not EnablePick"
          id="DisplayName"
          label="DisplayKey.get(&quot;Web.UserSearchResults.DisplayName&quot;)"
          sortBy="user"
          sortOrder="1"
          value="user.DisplayName"/>
        <TextCell
          id="Username"
          label="DisplayKey.get(&quot;Web.UserSearchResults.Username&quot;)"
          value="user.Credential.UserName"/>
        <TextCell
          enableSort="false"
          id="GroupName"
          label="DisplayKey.get(&quot;Web.UserSearchResults.GroupName&quot;)"
          numCols="100"
          numEntries="5"
          value="user.AllGroups"
          valueType="java.util.Set&lt;java.lang.Object&gt;"/>
        <TextCell
          enableSort="false"
          id="GCDistance"
          label="DisplayKey.get(&quot;Web.AddressBook.Search.Result.ProximateDistance&quot;)"
          sortOrder="1"
          value="user.Contact.PrimaryAddress.getDistanceFromAsString(searchCriteria.Contact.ProximitySearchCenter)"
          valueVisible="user.Contact.PrimaryAddress.hasLocationInformation()"
          visible="searchCriteria.Contact.isProximitySearch()"/>
        <TextCell
          enableSort="false"
          id="DrivingDistance"
          label="DisplayKey.get(&quot;Web.AddressBook.Search.Result.DrivingDistance&quot;)"
          value="directions.getCached(searchCriteria.getContact().ProximitySearchCenter, user.Contact.PrimaryAddress).getTotalDistanceString()"
          valueVisible="directions.haveCached(searchCriteria.getContact().ProximitySearchCenter, user.Contact.PrimaryAddress)"
          visible="pageHelper.displayDirectionsColumns(searchCriteria.getContact())"/>
        <TextCell
          enableSort="false"
          id="DrivingTime"
          label="DisplayKey.get(&quot;Web.AddressBook.Search.Result.DrivingTime&quot;)"
          value="directions.getCached(searchCriteria.getContact().ProximitySearchCenter, user.Contact.PrimaryAddress).getTotalTimeInMinutes()"
          valueVisible="directions.haveCached(searchCriteria.getContact().ProximitySearchCenter, user.Contact.PrimaryAddress)"
          visible="pageHelper.displayDirectionsColumns(searchCriteria.getContact())"/>
        <TextCell
          action="AddressBookDirectionsPopup.push(directions.getCached(searchCriteria.getContact().ProximitySearchCenter, user.Contact.PrimaryAddress))"
          enableSort="false"
          id="Directions"
          label="DisplayKey.get(&quot;Web.AddressBook.Search.Result.Directions&quot;)"
          value="DisplayKey.get(&quot;Web.AddressBook.Search.Result.Directions&quot;)"
          valueVisible="directions.haveCached(searchCriteria.getContact().ProximitySearchCenter, user.Contact.PrimaryAddress)"
          visible="pageHelper.displayDirectionsColumns(searchCriteria.getContact())"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>