<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <ListViewPanel
    id="EditableAssessmentLinesLV">
    <ExposeIterator
      valueType="entity.AssessmentLine"
      widget="EditableAssessmentLinesLV"/>
    <Require
      name="AssessmentSource"
      type="AssessmentSource"/>
    <RowIterator
      editable="true"
      elementName="AssessmentLine"
      hideCheckBoxesIfReadOnly="true"
      toAdd="AssessmentSource.addToStatusLine(AssessmentLine)"
      toRemove="AssessmentSource.removeFromStatusLine(AssessmentLine)"
      value="AssessmentSource.StatusLine"
      valueType="entity.AssessmentLine[]">
      <Row>
        <DateCell
          dateFormat="short"
          editable="true"
          id="AssessmentStatusDate"
          label="DisplayKey.get(&quot;Web.Incident.Assessment.AssessmentSource.AssessmentLine.Date&quot;)"
          sortOrder="1"
          timeFormat="short"
          value="AssessmentLine.StatusDate"/>
        <TypeKeyCell
          editable="true"
          id="Type"
          label="DisplayKey.get(&quot;Web.Incident.Assessment.AssessmentSource.AssessmentLine.Event&quot;)"
          value="AssessmentLine.Event"
          valueType="typekey.AssessmentEvent"/>
        <TextCell
          editable="true"
          id="Notes"
          label="DisplayKey.get(&quot;Web.Incident.Assessment.AssessmentSource.AssessmentLine.Notes&quot;)"
          value="AssessmentLine.Note"
          width="400"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>